/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.MqAccount
import ai.hanzo.sdk.models.MqError
import ai.hanzo.sdk.models.MqListAccountConnections200Response
import ai.hanzo.sdk.models.MqListAccounts200Response

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class AccountsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * GET /v1/mq/accounts/{id}
     * Get account info
     * Returns account details including connection count, subscription count, data throughput, and slow consumer metrics. 
     * @param id Account ID (maps to IAM org_id).
     * @return MqAccount
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun mqGetAccount(id: kotlin.String) : MqAccount = withContext(Dispatchers.IO) {
        val localVarResponse = mqGetAccountWithHttpInfo(id = id)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MqAccount
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/mq/accounts/{id}
     * Get account info
     * Returns account details including connection count, subscription count, data throughput, and slow consumer metrics. 
     * @param id Account ID (maps to IAM org_id).
     * @return ApiResponse<MqAccount?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun mqGetAccountWithHttpInfo(id: kotlin.String) : ApiResponse<MqAccount?> = withContext(Dispatchers.IO) {
        val localVariableConfig = mqGetAccountRequestConfig(id = id)

        return@withContext request<Unit, MqAccount>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation mqGetAccount
     *
     * @param id Account ID (maps to IAM org_id).
     * @return RequestConfig
     */
    fun mqGetAccountRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/mq/accounts/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/mq/accounts/{id}/connections
     * List account connections
     * Returns all active connections for the account.
     * @param id Account ID (maps to IAM org_id).
     * @param limit Maximum number of items to return. (optional, default to 100)
     * @param offset Number of items to skip. (optional, default to 0)
     * @return MqListAccountConnections200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun mqListAccountConnections(id: kotlin.String, limit: kotlin.Int? = 100, offset: kotlin.Int? = 0) : MqListAccountConnections200Response = withContext(Dispatchers.IO) {
        val localVarResponse = mqListAccountConnectionsWithHttpInfo(id = id, limit = limit, offset = offset)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MqListAccountConnections200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/mq/accounts/{id}/connections
     * List account connections
     * Returns all active connections for the account.
     * @param id Account ID (maps to IAM org_id).
     * @param limit Maximum number of items to return. (optional, default to 100)
     * @param offset Number of items to skip. (optional, default to 0)
     * @return ApiResponse<MqListAccountConnections200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun mqListAccountConnectionsWithHttpInfo(id: kotlin.String, limit: kotlin.Int?, offset: kotlin.Int?) : ApiResponse<MqListAccountConnections200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = mqListAccountConnectionsRequestConfig(id = id, limit = limit, offset = offset)

        return@withContext request<Unit, MqListAccountConnections200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation mqListAccountConnections
     *
     * @param id Account ID (maps to IAM org_id).
     * @param limit Maximum number of items to return. (optional, default to 100)
     * @param offset Number of items to skip. (optional, default to 0)
     * @return RequestConfig
     */
    fun mqListAccountConnectionsRequestConfig(id: kotlin.String, limit: kotlin.Int?, offset: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (offset != null) {
                    put("offset", listOf(offset.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/mq/accounts/{id}/connections".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/mq/accounts
     * List accounts
     * Returns all MQ accounts visible to the authenticated user. Each account maps to a Hanzo IAM organization. 
     * @param limit Maximum number of items to return. (optional, default to 100)
     * @param offset Number of items to skip. (optional, default to 0)
     * @return MqListAccounts200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun mqListAccounts(limit: kotlin.Int? = 100, offset: kotlin.Int? = 0) : MqListAccounts200Response = withContext(Dispatchers.IO) {
        val localVarResponse = mqListAccountsWithHttpInfo(limit = limit, offset = offset)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MqListAccounts200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/mq/accounts
     * List accounts
     * Returns all MQ accounts visible to the authenticated user. Each account maps to a Hanzo IAM organization. 
     * @param limit Maximum number of items to return. (optional, default to 100)
     * @param offset Number of items to skip. (optional, default to 0)
     * @return ApiResponse<MqListAccounts200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun mqListAccountsWithHttpInfo(limit: kotlin.Int?, offset: kotlin.Int?) : ApiResponse<MqListAccounts200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = mqListAccountsRequestConfig(limit = limit, offset = offset)

        return@withContext request<Unit, MqListAccounts200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation mqListAccounts
     *
     * @param limit Maximum number of items to return. (optional, default to 100)
     * @param offset Number of items to skip. (optional, default to 0)
     * @return RequestConfig
     */
    fun mqListAccountsRequestConfig(limit: kotlin.Int?, offset: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (offset != null) {
                    put("offset", listOf(offset.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/mq/accounts",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
