/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.AffiliatesAdminAffiliateEnvelope
import ai.hanzo.sdk.models.AffiliatesAdminListEnvelope
import ai.hanzo.sdk.models.AffiliatesAdminPayoutEnvelope
import ai.hanzo.sdk.models.AffiliatesAdminSweepEnvelope
import ai.hanzo.sdk.models.AffiliatesApproveRequest
import ai.hanzo.sdk.models.AffiliatesError
import ai.hanzo.sdk.models.AffiliatesPayoutRequest
import ai.hanzo.sdk.models.AnalyticsAdminListUsers200ResponseInner
import ai.hanzo.sdk.models.AnalyticsWebsite
import ai.hanzo.sdk.models.AuthorsAdminAuthorEnvelope
import ai.hanzo.sdk.models.AuthorsAdminListEnvelope
import ai.hanzo.sdk.models.AuthorsAdminPayoutEnvelope
import ai.hanzo.sdk.models.AuthorsAdminSweepEnvelope
import ai.hanzo.sdk.models.AuthorsApproveRequest
import ai.hanzo.sdk.models.AuthorsError
import ai.hanzo.sdk.models.AuthorsPayoutRequest
import ai.hanzo.sdk.models.KmsGetServerConfig200Response
import ai.hanzo.sdk.models.KmsUpdateServerConfigRequest
import ai.hanzo.sdk.models.ReferralsAdminListEnvelope
import ai.hanzo.sdk.models.ReferralsAdminSweepEnvelope
import ai.hanzo.sdk.models.ReferralsError
import ai.hanzo.sdk.models.S3AdminInfo200Response
import ai.hanzo.sdk.models.S3CreateServiceAccountRequest
import ai.hanzo.sdk.models.S3ListServiceAccounts200Response
import ai.hanzo.sdk.models.S3ServiceAccount
import ai.hanzo.sdk.models.S3UsageInfo

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class AdminApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * POST /v1/admin/affiliates/{id}/approve
     * Approve an affiliate and mint its code
     * Approves the affiliate and mints its code. The body may carry an explicit &#x60;code&#x60; override; else the requested vanity code; else a derived slug. Global-admin only. 
     * @param id The affiliate id (e.g. &#x60;aff_&lt;hex&gt;&#x60;).
     * @param affiliatesApproveRequest  (optional)
     * @return AffiliatesAdminAffiliateEnvelope
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun affiliatesAdminApproveAffiliate(id: kotlin.String, affiliatesApproveRequest: AffiliatesApproveRequest? = null) : AffiliatesAdminAffiliateEnvelope = withContext(Dispatchers.IO) {
        val localVarResponse = affiliatesAdminApproveAffiliateWithHttpInfo(id = id, affiliatesApproveRequest = affiliatesApproveRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AffiliatesAdminAffiliateEnvelope
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/admin/affiliates/{id}/approve
     * Approve an affiliate and mint its code
     * Approves the affiliate and mints its code. The body may carry an explicit &#x60;code&#x60; override; else the requested vanity code; else a derived slug. Global-admin only. 
     * @param id The affiliate id (e.g. &#x60;aff_&lt;hex&gt;&#x60;).
     * @param affiliatesApproveRequest  (optional)
     * @return ApiResponse<AffiliatesAdminAffiliateEnvelope?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun affiliatesAdminApproveAffiliateWithHttpInfo(id: kotlin.String, affiliatesApproveRequest: AffiliatesApproveRequest?) : ApiResponse<AffiliatesAdminAffiliateEnvelope?> = withContext(Dispatchers.IO) {
        val localVariableConfig = affiliatesAdminApproveAffiliateRequestConfig(id = id, affiliatesApproveRequest = affiliatesApproveRequest)

        return@withContext request<AffiliatesApproveRequest, AffiliatesAdminAffiliateEnvelope>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation affiliatesAdminApproveAffiliate
     *
     * @param id The affiliate id (e.g. &#x60;aff_&lt;hex&gt;&#x60;).
     * @param affiliatesApproveRequest  (optional)
     * @return RequestConfig
     */
    fun affiliatesAdminApproveAffiliateRequestConfig(id: kotlin.String, affiliatesApproveRequest: AffiliatesApproveRequest?) : RequestConfig<AffiliatesApproveRequest> {
        val localVariableBody = affiliatesApproveRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/admin/affiliates/{id}/approve".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/admin/affiliates
     * List all affiliates
     * Returns every affiliate (org exposed) plus a fleet summary. Global-admin only. Wrapped in the admin &#x60;{ status, msg, data }&#x60; envelope. 
     * @param limit Max rows to return (default 500, max 1000). (optional, default to 500)
     * @return AffiliatesAdminListEnvelope
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun affiliatesAdminListAffiliates(limit: kotlin.Int? = 500) : AffiliatesAdminListEnvelope = withContext(Dispatchers.IO) {
        val localVarResponse = affiliatesAdminListAffiliatesWithHttpInfo(limit = limit)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AffiliatesAdminListEnvelope
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/admin/affiliates
     * List all affiliates
     * Returns every affiliate (org exposed) plus a fleet summary. Global-admin only. Wrapped in the admin &#x60;{ status, msg, data }&#x60; envelope. 
     * @param limit Max rows to return (default 500, max 1000). (optional, default to 500)
     * @return ApiResponse<AffiliatesAdminListEnvelope?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun affiliatesAdminListAffiliatesWithHttpInfo(limit: kotlin.Int?) : ApiResponse<AffiliatesAdminListEnvelope?> = withContext(Dispatchers.IO) {
        val localVariableConfig = affiliatesAdminListAffiliatesRequestConfig(limit = limit)

        return@withContext request<Unit, AffiliatesAdminListEnvelope>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation affiliatesAdminListAffiliates
     *
     * @param limit Max rows to return (default 500, max 1000). (optional, default to 500)
     * @return RequestConfig
     */
    fun affiliatesAdminListAffiliatesRequestConfig(limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/admin/affiliates",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/admin/affiliates/{id}/payout
     * Record a payout
     * Records a payout of accrued commission. A &#x60;credits&#x60; method issues a commerce grant into the affiliate&#39;s wallet; a cash method (wire/paypal/…) is record-only. The amount can never exceed pending (accrued − paid), reserved atomically before any grant. Global-admin only. 
     * @param id The affiliate id (e.g. &#x60;aff_&lt;hex&gt;&#x60;).
     * @param affiliatesPayoutRequest 
     * @return AffiliatesAdminPayoutEnvelope
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun affiliatesAdminPayoutAffiliate(id: kotlin.String, affiliatesPayoutRequest: AffiliatesPayoutRequest) : AffiliatesAdminPayoutEnvelope = withContext(Dispatchers.IO) {
        val localVarResponse = affiliatesAdminPayoutAffiliateWithHttpInfo(id = id, affiliatesPayoutRequest = affiliatesPayoutRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AffiliatesAdminPayoutEnvelope
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/admin/affiliates/{id}/payout
     * Record a payout
     * Records a payout of accrued commission. A &#x60;credits&#x60; method issues a commerce grant into the affiliate&#39;s wallet; a cash method (wire/paypal/…) is record-only. The amount can never exceed pending (accrued − paid), reserved atomically before any grant. Global-admin only. 
     * @param id The affiliate id (e.g. &#x60;aff_&lt;hex&gt;&#x60;).
     * @param affiliatesPayoutRequest 
     * @return ApiResponse<AffiliatesAdminPayoutEnvelope?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun affiliatesAdminPayoutAffiliateWithHttpInfo(id: kotlin.String, affiliatesPayoutRequest: AffiliatesPayoutRequest) : ApiResponse<AffiliatesAdminPayoutEnvelope?> = withContext(Dispatchers.IO) {
        val localVariableConfig = affiliatesAdminPayoutAffiliateRequestConfig(id = id, affiliatesPayoutRequest = affiliatesPayoutRequest)

        return@withContext request<AffiliatesPayoutRequest, AffiliatesAdminPayoutEnvelope>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation affiliatesAdminPayoutAffiliate
     *
     * @param id The affiliate id (e.g. &#x60;aff_&lt;hex&gt;&#x60;).
     * @param affiliatesPayoutRequest 
     * @return RequestConfig
     */
    fun affiliatesAdminPayoutAffiliateRequestConfig(id: kotlin.String, affiliatesPayoutRequest: AffiliatesPayoutRequest) : RequestConfig<AffiliatesPayoutRequest> {
        val localVariableBody = affiliatesPayoutRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/admin/affiliates/{id}/payout".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/admin/affiliates/{id}/suspend
     * Suspend an affiliate
     * Suspends the affiliate. Global-admin only.
     * @param id The affiliate id (e.g. &#x60;aff_&lt;hex&gt;&#x60;).
     * @return AffiliatesAdminAffiliateEnvelope
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun affiliatesAdminSuspendAffiliate(id: kotlin.String) : AffiliatesAdminAffiliateEnvelope = withContext(Dispatchers.IO) {
        val localVarResponse = affiliatesAdminSuspendAffiliateWithHttpInfo(id = id)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AffiliatesAdminAffiliateEnvelope
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/admin/affiliates/{id}/suspend
     * Suspend an affiliate
     * Suspends the affiliate. Global-admin only.
     * @param id The affiliate id (e.g. &#x60;aff_&lt;hex&gt;&#x60;).
     * @return ApiResponse<AffiliatesAdminAffiliateEnvelope?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun affiliatesAdminSuspendAffiliateWithHttpInfo(id: kotlin.String) : ApiResponse<AffiliatesAdminAffiliateEnvelope?> = withContext(Dispatchers.IO) {
        val localVariableConfig = affiliatesAdminSuspendAffiliateRequestConfig(id = id)

        return@withContext request<Unit, AffiliatesAdminAffiliateEnvelope>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation affiliatesAdminSuspendAffiliate
     *
     * @param id The affiliate id (e.g. &#x60;aff_&lt;hex&gt;&#x60;).
     * @return RequestConfig
     */
    fun affiliatesAdminSuspendAffiliateRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/admin/affiliates/{id}/suspend".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/admin/affiliates/sweep
     * Run the accrual sweep
     * The periodic accrual path (cron/o11y hits it, or an operator on demand). It folds over every approved affiliate&#39;s referred orgs and accrues this period&#39;s commission, at-most-once per period. Global-admin only. 
     * @return AffiliatesAdminSweepEnvelope
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun affiliatesAdminSweepAffiliates() : AffiliatesAdminSweepEnvelope = withContext(Dispatchers.IO) {
        val localVarResponse = affiliatesAdminSweepAffiliatesWithHttpInfo()

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AffiliatesAdminSweepEnvelope
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/admin/affiliates/sweep
     * Run the accrual sweep
     * The periodic accrual path (cron/o11y hits it, or an operator on demand). It folds over every approved affiliate&#39;s referred orgs and accrues this period&#39;s commission, at-most-once per period. Global-admin only. 
     * @return ApiResponse<AffiliatesAdminSweepEnvelope?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun affiliatesAdminSweepAffiliatesWithHttpInfo() : ApiResponse<AffiliatesAdminSweepEnvelope?> = withContext(Dispatchers.IO) {
        val localVariableConfig = affiliatesAdminSweepAffiliatesRequestConfig()

        return@withContext request<Unit, AffiliatesAdminSweepEnvelope>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation affiliatesAdminSweepAffiliates
     *
     * @return RequestConfig
     */
    fun affiliatesAdminSweepAffiliatesRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/admin/affiliates/sweep",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/analytics/admin/users
     * List all users (admin only)
     * 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderBy  (optional)
     * @param search  (optional)
     * @return kotlin.collections.List<AnalyticsAdminListUsers200ResponseInner>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsAdminListUsers(page: kotlin.Int? = null, pageSize: kotlin.Int? = null, orderBy: kotlin.String? = null, search: kotlin.String? = null) : kotlin.collections.List<AnalyticsAdminListUsers200ResponseInner> = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsAdminListUsersWithHttpInfo(page = page, pageSize = pageSize, orderBy = orderBy, search = search)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<AnalyticsAdminListUsers200ResponseInner>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/analytics/admin/users
     * List all users (admin only)
     * 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderBy  (optional)
     * @param search  (optional)
     * @return ApiResponse<kotlin.collections.List<AnalyticsAdminListUsers200ResponseInner>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsAdminListUsersWithHttpInfo(page: kotlin.Int?, pageSize: kotlin.Int?, orderBy: kotlin.String?, search: kotlin.String?) : ApiResponse<kotlin.collections.List<AnalyticsAdminListUsers200ResponseInner>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsAdminListUsersRequestConfig(page = page, pageSize = pageSize, orderBy = orderBy, search = search)

        return@withContext request<Unit, kotlin.collections.List<AnalyticsAdminListUsers200ResponseInner>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsAdminListUsers
     *
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderBy  (optional)
     * @param search  (optional)
     * @return RequestConfig
     */
    fun analyticsAdminListUsersRequestConfig(page: kotlin.Int?, pageSize: kotlin.Int?, orderBy: kotlin.String?, search: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("pageSize", listOf(pageSize.toString()))
                }
                if (orderBy != null) {
                    put("orderBy", listOf(orderBy.toString()))
                }
                if (search != null) {
                    put("search", listOf(search.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/analytics/admin/users",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/analytics/admin/websites
     * List all websites for a user (admin only)
     * 
     * @param userId 
     * @param includeOwnedTeams  (optional)
     * @param includeAllTeams  (optional)
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderBy  (optional)
     * @param search  (optional)
     * @return kotlin.collections.List<AnalyticsWebsite>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsAdminListWebsites(userId: java.util.UUID, includeOwnedTeams: kotlin.String? = null, includeAllTeams: kotlin.String? = null, page: kotlin.Int? = null, pageSize: kotlin.Int? = null, orderBy: kotlin.String? = null, search: kotlin.String? = null) : kotlin.collections.List<AnalyticsWebsite> = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsAdminListWebsitesWithHttpInfo(userId = userId, includeOwnedTeams = includeOwnedTeams, includeAllTeams = includeAllTeams, page = page, pageSize = pageSize, orderBy = orderBy, search = search)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<AnalyticsWebsite>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/analytics/admin/websites
     * List all websites for a user (admin only)
     * 
     * @param userId 
     * @param includeOwnedTeams  (optional)
     * @param includeAllTeams  (optional)
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderBy  (optional)
     * @param search  (optional)
     * @return ApiResponse<kotlin.collections.List<AnalyticsWebsite>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsAdminListWebsitesWithHttpInfo(userId: java.util.UUID, includeOwnedTeams: kotlin.String?, includeAllTeams: kotlin.String?, page: kotlin.Int?, pageSize: kotlin.Int?, orderBy: kotlin.String?, search: kotlin.String?) : ApiResponse<kotlin.collections.List<AnalyticsWebsite>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsAdminListWebsitesRequestConfig(userId = userId, includeOwnedTeams = includeOwnedTeams, includeAllTeams = includeAllTeams, page = page, pageSize = pageSize, orderBy = orderBy, search = search)

        return@withContext request<Unit, kotlin.collections.List<AnalyticsWebsite>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsAdminListWebsites
     *
     * @param userId 
     * @param includeOwnedTeams  (optional)
     * @param includeAllTeams  (optional)
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderBy  (optional)
     * @param search  (optional)
     * @return RequestConfig
     */
    fun analyticsAdminListWebsitesRequestConfig(userId: java.util.UUID, includeOwnedTeams: kotlin.String?, includeAllTeams: kotlin.String?, page: kotlin.Int?, pageSize: kotlin.Int?, orderBy: kotlin.String?, search: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("userId", listOf(userId.toString()))
                if (includeOwnedTeams != null) {
                    put("includeOwnedTeams", listOf(includeOwnedTeams.toString()))
                }
                if (includeAllTeams != null) {
                    put("includeAllTeams", listOf(includeAllTeams.toString()))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("pageSize", listOf(pageSize.toString()))
                }
                if (orderBy != null) {
                    put("orderBy", listOf(orderBy.toString()))
                }
                if (search != null) {
                    put("search", listOf(search.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/analytics/admin/websites",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/admin/authors/{id}/approve
     * Approve an author
     * Admits an author to earning. An optional &#x60;{shareBps}&#x60; body overrides the royalty share (0–10000 basis points). Global-admin only. 
     * @param id Author id (e.g. aut_...).
     * @param authorsApproveRequest  (optional)
     * @return AuthorsAdminAuthorEnvelope
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun authorsAdminApproveAuthor(id: kotlin.String, authorsApproveRequest: AuthorsApproveRequest? = null) : AuthorsAdminAuthorEnvelope = withContext(Dispatchers.IO) {
        val localVarResponse = authorsAdminApproveAuthorWithHttpInfo(id = id, authorsApproveRequest = authorsApproveRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AuthorsAdminAuthorEnvelope
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/admin/authors/{id}/approve
     * Approve an author
     * Admits an author to earning. An optional &#x60;{shareBps}&#x60; body overrides the royalty share (0–10000 basis points). Global-admin only. 
     * @param id Author id (e.g. aut_...).
     * @param authorsApproveRequest  (optional)
     * @return ApiResponse<AuthorsAdminAuthorEnvelope?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun authorsAdminApproveAuthorWithHttpInfo(id: kotlin.String, authorsApproveRequest: AuthorsApproveRequest?) : ApiResponse<AuthorsAdminAuthorEnvelope?> = withContext(Dispatchers.IO) {
        val localVariableConfig = authorsAdminApproveAuthorRequestConfig(id = id, authorsApproveRequest = authorsApproveRequest)

        return@withContext request<AuthorsApproveRequest, AuthorsAdminAuthorEnvelope>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation authorsAdminApproveAuthor
     *
     * @param id Author id (e.g. aut_...).
     * @param authorsApproveRequest  (optional)
     * @return RequestConfig
     */
    fun authorsAdminApproveAuthorRequestConfig(id: kotlin.String, authorsApproveRequest: AuthorsApproveRequest?) : RequestConfig<AuthorsApproveRequest> {
        val localVariableBody = authorsApproveRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/admin/authors/{id}/approve".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/admin/authors
     * List all authors
     * Every author (org exposed) plus a fleet summary. Global-admin only.
     * @param limit Max rows (default 500, capped at 1000). (optional, default to 500)
     * @return AuthorsAdminListEnvelope
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun authorsAdminListAuthors(limit: kotlin.Int? = 500) : AuthorsAdminListEnvelope = withContext(Dispatchers.IO) {
        val localVarResponse = authorsAdminListAuthorsWithHttpInfo(limit = limit)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AuthorsAdminListEnvelope
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/admin/authors
     * List all authors
     * Every author (org exposed) plus a fleet summary. Global-admin only.
     * @param limit Max rows (default 500, capped at 1000). (optional, default to 500)
     * @return ApiResponse<AuthorsAdminListEnvelope?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun authorsAdminListAuthorsWithHttpInfo(limit: kotlin.Int?) : ApiResponse<AuthorsAdminListEnvelope?> = withContext(Dispatchers.IO) {
        val localVariableConfig = authorsAdminListAuthorsRequestConfig(limit = limit)

        return@withContext request<Unit, AuthorsAdminListEnvelope>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation authorsAdminListAuthors
     *
     * @param limit Max rows (default 500, capped at 1000). (optional, default to 500)
     * @return RequestConfig
     */
    fun authorsAdminListAuthorsRequestConfig(limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/admin/authors",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/admin/authors/{id}/payout
     * Record a payout
     * Records a payout of accrued royalty. A &#x60;credits&#x60; method issues a commerce grant into the author&#39;s wallet; a cash method (wire, paypal, check, …) is record-only. The amount can never exceed pending (accrued − paid), reserved atomically before any grant. Global-admin only. 
     * @param id Author id (e.g. aut_...).
     * @param authorsPayoutRequest 
     * @return AuthorsAdminPayoutEnvelope
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun authorsAdminPayoutAuthor(id: kotlin.String, authorsPayoutRequest: AuthorsPayoutRequest) : AuthorsAdminPayoutEnvelope = withContext(Dispatchers.IO) {
        val localVarResponse = authorsAdminPayoutAuthorWithHttpInfo(id = id, authorsPayoutRequest = authorsPayoutRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AuthorsAdminPayoutEnvelope
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/admin/authors/{id}/payout
     * Record a payout
     * Records a payout of accrued royalty. A &#x60;credits&#x60; method issues a commerce grant into the author&#39;s wallet; a cash method (wire, paypal, check, …) is record-only. The amount can never exceed pending (accrued − paid), reserved atomically before any grant. Global-admin only. 
     * @param id Author id (e.g. aut_...).
     * @param authorsPayoutRequest 
     * @return ApiResponse<AuthorsAdminPayoutEnvelope?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun authorsAdminPayoutAuthorWithHttpInfo(id: kotlin.String, authorsPayoutRequest: AuthorsPayoutRequest) : ApiResponse<AuthorsAdminPayoutEnvelope?> = withContext(Dispatchers.IO) {
        val localVariableConfig = authorsAdminPayoutAuthorRequestConfig(id = id, authorsPayoutRequest = authorsPayoutRequest)

        return@withContext request<AuthorsPayoutRequest, AuthorsAdminPayoutEnvelope>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation authorsAdminPayoutAuthor
     *
     * @param id Author id (e.g. aut_...).
     * @param authorsPayoutRequest 
     * @return RequestConfig
     */
    fun authorsAdminPayoutAuthorRequestConfig(id: kotlin.String, authorsPayoutRequest: AuthorsPayoutRequest) : RequestConfig<AuthorsPayoutRequest> {
        val localVariableBody = authorsPayoutRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/admin/authors/{id}/payout".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/admin/authors/{id}/suspend
     * Suspend an author
     * Suspends an author. Global-admin only.
     * @param id Author id (e.g. aut_...).
     * @return AuthorsAdminAuthorEnvelope
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun authorsAdminSuspendAuthor(id: kotlin.String) : AuthorsAdminAuthorEnvelope = withContext(Dispatchers.IO) {
        val localVarResponse = authorsAdminSuspendAuthorWithHttpInfo(id = id)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AuthorsAdminAuthorEnvelope
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/admin/authors/{id}/suspend
     * Suspend an author
     * Suspends an author. Global-admin only.
     * @param id Author id (e.g. aut_...).
     * @return ApiResponse<AuthorsAdminAuthorEnvelope?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun authorsAdminSuspendAuthorWithHttpInfo(id: kotlin.String) : ApiResponse<AuthorsAdminAuthorEnvelope?> = withContext(Dispatchers.IO) {
        val localVariableConfig = authorsAdminSuspendAuthorRequestConfig(id = id)

        return@withContext request<Unit, AuthorsAdminAuthorEnvelope>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation authorsAdminSuspendAuthor
     *
     * @param id Author id (e.g. aut_...).
     * @return RequestConfig
     */
    fun authorsAdminSuspendAuthorRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/admin/authors/{id}/suspend".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/admin/authors/sweep
     * Run accrual sweep
     * The periodic accrual path. Folds over every approved author&#39;s distinct deploying orgs and accrues this period&#39;s royalty, at-most-once per period. Global-admin only. 
     * @return AuthorsAdminSweepEnvelope
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun authorsAdminSweepAuthors() : AuthorsAdminSweepEnvelope = withContext(Dispatchers.IO) {
        val localVarResponse = authorsAdminSweepAuthorsWithHttpInfo()

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AuthorsAdminSweepEnvelope
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/admin/authors/sweep
     * Run accrual sweep
     * The periodic accrual path. Folds over every approved author&#39;s distinct deploying orgs and accrues this period&#39;s royalty, at-most-once per period. Global-admin only. 
     * @return ApiResponse<AuthorsAdminSweepEnvelope?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun authorsAdminSweepAuthorsWithHttpInfo() : ApiResponse<AuthorsAdminSweepEnvelope?> = withContext(Dispatchers.IO) {
        val localVariableConfig = authorsAdminSweepAuthorsRequestConfig()

        return@withContext request<Unit, AuthorsAdminSweepEnvelope>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation authorsAdminSweepAuthors
     *
     * @return RequestConfig
     */
    fun authorsAdminSweepAuthorsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/admin/authors/sweep",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/kms/admin/config
     * Get server configuration
     * 
     * @return KmsGetServerConfig200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun kmsGetServerConfig() : KmsGetServerConfig200Response = withContext(Dispatchers.IO) {
        val localVarResponse = kmsGetServerConfigWithHttpInfo()

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as KmsGetServerConfig200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/kms/admin/config
     * Get server configuration
     * 
     * @return ApiResponse<KmsGetServerConfig200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun kmsGetServerConfigWithHttpInfo() : ApiResponse<KmsGetServerConfig200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = kmsGetServerConfigRequestConfig()

        return@withContext request<Unit, KmsGetServerConfig200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation kmsGetServerConfig
     *
     * @return RequestConfig
     */
    fun kmsGetServerConfigRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/kms/admin/config",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /v1/kms/admin/config
     * Update server configuration
     * 
     * @param kmsUpdateServerConfigRequest 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun kmsUpdateServerConfig(kmsUpdateServerConfigRequest: KmsUpdateServerConfigRequest) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = kmsUpdateServerConfigWithHttpInfo(kmsUpdateServerConfigRequest = kmsUpdateServerConfigRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /v1/kms/admin/config
     * Update server configuration
     * 
     * @param kmsUpdateServerConfigRequest 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun kmsUpdateServerConfigWithHttpInfo(kmsUpdateServerConfigRequest: KmsUpdateServerConfigRequest) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = kmsUpdateServerConfigRequestConfig(kmsUpdateServerConfigRequest = kmsUpdateServerConfigRequest)

        return@withContext request<KmsUpdateServerConfigRequest, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation kmsUpdateServerConfig
     *
     * @param kmsUpdateServerConfigRequest 
     * @return RequestConfig
     */
    fun kmsUpdateServerConfigRequestConfig(kmsUpdateServerConfigRequest: KmsUpdateServerConfigRequest) : RequestConfig<KmsUpdateServerConfigRequest> {
        val localVariableBody = kmsUpdateServerConfigRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/v1/kms/admin/config",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/admin/referrals
     * List every referral with a fleet summary (global-admin)
     * Returns every referral (both orgs exposed) plus a fleet summary. Global-admin only. Wrapped in the &#x60;{ status, msg, data }&#x60; admin envelope. 
     * @param limit Max rows to return. Defaults to 500 when absent/invalid/&lt;&#x3D;0; capped at 1000.  (optional, default to 500)
     * @return ReferralsAdminListEnvelope
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun referralsAdminListReferrals(limit: kotlin.Int? = 500) : ReferralsAdminListEnvelope = withContext(Dispatchers.IO) {
        val localVarResponse = referralsAdminListReferralsWithHttpInfo(limit = limit)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ReferralsAdminListEnvelope
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/admin/referrals
     * List every referral with a fleet summary (global-admin)
     * Returns every referral (both orgs exposed) plus a fleet summary. Global-admin only. Wrapped in the &#x60;{ status, msg, data }&#x60; admin envelope. 
     * @param limit Max rows to return. Defaults to 500 when absent/invalid/&lt;&#x3D;0; capped at 1000.  (optional, default to 500)
     * @return ApiResponse<ReferralsAdminListEnvelope?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun referralsAdminListReferralsWithHttpInfo(limit: kotlin.Int?) : ApiResponse<ReferralsAdminListEnvelope?> = withContext(Dispatchers.IO) {
        val localVariableConfig = referralsAdminListReferralsRequestConfig(limit = limit)

        return@withContext request<Unit, ReferralsAdminListEnvelope>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation referralsAdminListReferrals
     *
     * @param limit Max rows to return. Defaults to 500 when absent/invalid/&lt;&#x3D;0; capped at 1000.  (optional, default to 500)
     * @return RequestConfig
     */
    fun referralsAdminListReferralsRequestConfig(limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/admin/referrals",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/admin/referrals/sweep
     * Qualify-check every pending referral (global-admin)
     * The periodic qualify path (cron/operator on demand). Qualify-checks every pending referral (bounded to 500 per sweep) and grants the ones that now qualify. Global-admin only. Returns counts in the admin envelope. 
     * @return ReferralsAdminSweepEnvelope
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun referralsAdminSweepReferrals() : ReferralsAdminSweepEnvelope = withContext(Dispatchers.IO) {
        val localVarResponse = referralsAdminSweepReferralsWithHttpInfo()

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ReferralsAdminSweepEnvelope
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/admin/referrals/sweep
     * Qualify-check every pending referral (global-admin)
     * The periodic qualify path (cron/operator on demand). Qualify-checks every pending referral (bounded to 500 per sweep) and grants the ones that now qualify. Global-admin only. Returns counts in the admin envelope. 
     * @return ApiResponse<ReferralsAdminSweepEnvelope?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun referralsAdminSweepReferralsWithHttpInfo() : ApiResponse<ReferralsAdminSweepEnvelope?> = withContext(Dispatchers.IO) {
        val localVariableConfig = referralsAdminSweepReferralsRequestConfig()

        return@withContext request<Unit, ReferralsAdminSweepEnvelope>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation referralsAdminSweepReferrals
     *
     * @return RequestConfig
     */
    fun referralsAdminSweepReferralsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/admin/referrals/sweep",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/s3/admin/info
     * Server information
     * Returns server version, storage capacity, and cluster status.
     * @return S3AdminInfo200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun s3AdminInfo() : S3AdminInfo200Response = withContext(Dispatchers.IO) {
        val localVarResponse = s3AdminInfoWithHttpInfo()

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as S3AdminInfo200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/s3/admin/info
     * Server information
     * Returns server version, storage capacity, and cluster status.
     * @return ApiResponse<S3AdminInfo200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun s3AdminInfoWithHttpInfo() : ApiResponse<S3AdminInfo200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = s3AdminInfoRequestConfig()

        return@withContext request<Unit, S3AdminInfo200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation s3AdminInfo
     *
     * @return RequestConfig
     */
    fun s3AdminInfoRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/s3/admin/info",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/s3/admin/usage
     * Storage usage
     * Returns aggregate storage usage across all buckets.
     * @return S3UsageInfo
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun s3AdminUsage() : S3UsageInfo = withContext(Dispatchers.IO) {
        val localVarResponse = s3AdminUsageWithHttpInfo()

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as S3UsageInfo
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/s3/admin/usage
     * Storage usage
     * Returns aggregate storage usage across all buckets.
     * @return ApiResponse<S3UsageInfo?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun s3AdminUsageWithHttpInfo() : ApiResponse<S3UsageInfo?> = withContext(Dispatchers.IO) {
        val localVariableConfig = s3AdminUsageRequestConfig()

        return@withContext request<Unit, S3UsageInfo>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation s3AdminUsage
     *
     * @return RequestConfig
     */
    fun s3AdminUsageRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/s3/admin/usage",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/s3/admin/service-accounts
     * Create a service account
     * Create a service account with specific bucket access policies.
     * @param s3CreateServiceAccountRequest 
     * @return S3ServiceAccount
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun s3CreateServiceAccount(s3CreateServiceAccountRequest: S3CreateServiceAccountRequest) : S3ServiceAccount = withContext(Dispatchers.IO) {
        val localVarResponse = s3CreateServiceAccountWithHttpInfo(s3CreateServiceAccountRequest = s3CreateServiceAccountRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as S3ServiceAccount
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/s3/admin/service-accounts
     * Create a service account
     * Create a service account with specific bucket access policies.
     * @param s3CreateServiceAccountRequest 
     * @return ApiResponse<S3ServiceAccount?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun s3CreateServiceAccountWithHttpInfo(s3CreateServiceAccountRequest: S3CreateServiceAccountRequest) : ApiResponse<S3ServiceAccount?> = withContext(Dispatchers.IO) {
        val localVariableConfig = s3CreateServiceAccountRequestConfig(s3CreateServiceAccountRequest = s3CreateServiceAccountRequest)

        return@withContext request<S3CreateServiceAccountRequest, S3ServiceAccount>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation s3CreateServiceAccount
     *
     * @param s3CreateServiceAccountRequest 
     * @return RequestConfig
     */
    fun s3CreateServiceAccountRequestConfig(s3CreateServiceAccountRequest: S3CreateServiceAccountRequest) : RequestConfig<S3CreateServiceAccountRequest> {
        val localVariableBody = s3CreateServiceAccountRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/s3/admin/service-accounts",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/s3/admin/service-accounts
     * List service accounts
     * 
     * @return S3ListServiceAccounts200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun s3ListServiceAccounts() : S3ListServiceAccounts200Response = withContext(Dispatchers.IO) {
        val localVarResponse = s3ListServiceAccountsWithHttpInfo()

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as S3ListServiceAccounts200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/s3/admin/service-accounts
     * List service accounts
     * 
     * @return ApiResponse<S3ListServiceAccounts200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun s3ListServiceAccountsWithHttpInfo() : ApiResponse<S3ListServiceAccounts200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = s3ListServiceAccountsRequestConfig()

        return@withContext request<Unit, S3ListServiceAccounts200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation s3ListServiceAccounts
     *
     * @return RequestConfig
     */
    fun s3ListServiceAccountsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/s3/admin/service-accounts",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
