/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.AffiliatesApplyRequest
import ai.hanzo.sdk.models.AffiliatesApplyResponse
import ai.hanzo.sdk.models.AffiliatesAttributeRequest
import ai.hanzo.sdk.models.AffiliatesAttributeResponse
import ai.hanzo.sdk.models.AffiliatesError
import ai.hanzo.sdk.models.AffiliatesGetMyAffiliate200Response

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class AffiliateApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * POST /v1/affiliates/apply
     * Apply to the affiliate program
     * Enrolls the caller org as an affiliate at &#x60;status&#x3D;applied&#x60;. Idempotent (one affiliate per org, first apply wins). A malformed vanity code is refused. Returns &#x60;201&#x60; on first creation, &#x60;200&#x60; if the org was already enrolled. 
     * @param affiliatesApplyRequest  (optional)
     * @return AffiliatesApplyResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun affiliatesApplyAffiliate(affiliatesApplyRequest: AffiliatesApplyRequest? = null) : AffiliatesApplyResponse = withContext(Dispatchers.IO) {
        val localVarResponse = affiliatesApplyAffiliateWithHttpInfo(affiliatesApplyRequest = affiliatesApplyRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AffiliatesApplyResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/affiliates/apply
     * Apply to the affiliate program
     * Enrolls the caller org as an affiliate at &#x60;status&#x3D;applied&#x60;. Idempotent (one affiliate per org, first apply wins). A malformed vanity code is refused. Returns &#x60;201&#x60; on first creation, &#x60;200&#x60; if the org was already enrolled. 
     * @param affiliatesApplyRequest  (optional)
     * @return ApiResponse<AffiliatesApplyResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun affiliatesApplyAffiliateWithHttpInfo(affiliatesApplyRequest: AffiliatesApplyRequest?) : ApiResponse<AffiliatesApplyResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = affiliatesApplyAffiliateRequestConfig(affiliatesApplyRequest = affiliatesApplyRequest)

        return@withContext request<AffiliatesApplyRequest, AffiliatesApplyResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation affiliatesApplyAffiliate
     *
     * @param affiliatesApplyRequest  (optional)
     * @return RequestConfig
     */
    fun affiliatesApplyAffiliateRequestConfig(affiliatesApplyRequest: AffiliatesApplyRequest?) : RequestConfig<AffiliatesApplyRequest> {
        val localVariableBody = affiliatesApplyRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/affiliates/apply",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/affiliates/attribute
     * Record affiliate attribution
     * Records an affiliate↔referred-org edge. The REFERRED org is the validated caller (never client-supplied); the affiliate is resolved from &#x60;code&#x60; (approved affiliates only). Idempotent (one per referred org, first-touch wins); self-attribution is blocked; an unknown code is rejected. Returns &#x60;201&#x60; on first attribution, &#x60;200&#x60; if already attributed. 
     * @param affiliatesAttributeRequest 
     * @return AffiliatesAttributeResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun affiliatesAttributeAffiliate(affiliatesAttributeRequest: AffiliatesAttributeRequest) : AffiliatesAttributeResponse = withContext(Dispatchers.IO) {
        val localVarResponse = affiliatesAttributeAffiliateWithHttpInfo(affiliatesAttributeRequest = affiliatesAttributeRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AffiliatesAttributeResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/affiliates/attribute
     * Record affiliate attribution
     * Records an affiliate↔referred-org edge. The REFERRED org is the validated caller (never client-supplied); the affiliate is resolved from &#x60;code&#x60; (approved affiliates only). Idempotent (one per referred org, first-touch wins); self-attribution is blocked; an unknown code is rejected. Returns &#x60;201&#x60; on first attribution, &#x60;200&#x60; if already attributed. 
     * @param affiliatesAttributeRequest 
     * @return ApiResponse<AffiliatesAttributeResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun affiliatesAttributeAffiliateWithHttpInfo(affiliatesAttributeRequest: AffiliatesAttributeRequest) : ApiResponse<AffiliatesAttributeResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = affiliatesAttributeAffiliateRequestConfig(affiliatesAttributeRequest = affiliatesAttributeRequest)

        return@withContext request<AffiliatesAttributeRequest, AffiliatesAttributeResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation affiliatesAttributeAffiliate
     *
     * @param affiliatesAttributeRequest 
     * @return RequestConfig
     */
    fun affiliatesAttributeAffiliateRequestConfig(affiliatesAttributeRequest: AffiliatesAttributeRequest) : RequestConfig<AffiliatesAttributeRequest> {
        val localVariableBody = affiliatesAttributeRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/affiliates/attribute",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/affiliates
     * Get my affiliate status
     * Returns the caller org&#39;s affiliate dashboard. If the org is not enrolled, returns an honest \&quot;not enrolled\&quot; shape (&#x60;isAffiliate: false&#x60;) so the console can show the apply form. For an APPROVED affiliate it also opportunistically runs the accrual sweep over the org&#39;s own referred orgs (bounded, best-effort), so the dashboard is self-updating. 
     * @return AffiliatesGetMyAffiliate200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun affiliatesGetMyAffiliate() : AffiliatesGetMyAffiliate200Response = withContext(Dispatchers.IO) {
        val localVarResponse = affiliatesGetMyAffiliateWithHttpInfo()

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AffiliatesGetMyAffiliate200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/affiliates
     * Get my affiliate status
     * Returns the caller org&#39;s affiliate dashboard. If the org is not enrolled, returns an honest \&quot;not enrolled\&quot; shape (&#x60;isAffiliate: false&#x60;) so the console can show the apply form. For an APPROVED affiliate it also opportunistically runs the accrual sweep over the org&#39;s own referred orgs (bounded, best-effort), so the dashboard is self-updating. 
     * @return ApiResponse<AffiliatesGetMyAffiliate200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun affiliatesGetMyAffiliateWithHttpInfo() : ApiResponse<AffiliatesGetMyAffiliate200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = affiliatesGetMyAffiliateRequestConfig()

        return@withContext request<Unit, AffiliatesGetMyAffiliate200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation affiliatesGetMyAffiliate
     *
     * @return RequestConfig
     */
    fun affiliatesGetMyAffiliateRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/affiliates",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
