/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.AgentsPatchSessionRequest
import ai.hanzo.sdk.models.AgentsRegisterSessionRequest
import ai.hanzo.sdk.models.CloudAgentSessionsControllerList200Response
import ai.hanzo.sdk.models.CloudAgentsControlRequest
import ai.hanzo.sdk.models.CloudAgentsControlResult
import ai.hanzo.sdk.models.CloudAgentsEvent
import ai.hanzo.sdk.models.CloudAgentsEventRequest
import ai.hanzo.sdk.models.CloudAgentsSession
import ai.hanzo.sdk.models.CloudAgentsSessionDetail
import ai.hanzo.sdk.models.CloudAgentsTreeNode

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class AgentSessionsAPIApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * POST /v1/agents/sessions/{id}/events
     * 
     * Append one event to a session&#39;s ordered log (a model message, tool call, subagent spawn, free log line, status change, or control command). Seq is allocated monotonically per session. The payload is an opaque, size-bounded, well-formed JSON blob.
     * @param id The session id (sess_...).
     * @param cloudAgentsEventRequest 
     * @return CloudAgentsEvent
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun cloudAgentSessionsControllerAppendEvent(id: kotlin.String, cloudAgentsEventRequest: CloudAgentsEventRequest) : CloudAgentsEvent = withContext(Dispatchers.IO) {
        val localVarResponse = cloudAgentSessionsControllerAppendEventWithHttpInfo(id = id, cloudAgentsEventRequest = cloudAgentsEventRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudAgentsEvent
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/agents/sessions/{id}/events
     * 
     * Append one event to a session&#39;s ordered log (a model message, tool call, subagent spawn, free log line, status change, or control command). Seq is allocated monotonically per session. The payload is an opaque, size-bounded, well-formed JSON blob.
     * @param id The session id (sess_...).
     * @param cloudAgentsEventRequest 
     * @return ApiResponse<CloudAgentsEvent?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun cloudAgentSessionsControllerAppendEventWithHttpInfo(id: kotlin.String, cloudAgentsEventRequest: CloudAgentsEventRequest) : ApiResponse<CloudAgentsEvent?> = withContext(Dispatchers.IO) {
        val localVariableConfig = cloudAgentSessionsControllerAppendEventRequestConfig(id = id, cloudAgentsEventRequest = cloudAgentsEventRequest)

        return@withContext request<CloudAgentsEventRequest, CloudAgentsEvent>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudAgentSessionsControllerAppendEvent
     *
     * @param id The session id (sess_...).
     * @param cloudAgentsEventRequest 
     * @return RequestConfig
     */
    fun cloudAgentSessionsControllerAppendEventRequestConfig(id: kotlin.String, cloudAgentsEventRequest: CloudAgentsEventRequest) : RequestConfig<CloudAgentsEventRequest> {
        val localVariableBody = cloudAgentsEventRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/agents/sessions/{id}/events".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/agents/sessions/{id}
     * 
     * Session detail — the session, its direct child sessions, and up to 50 recent events.
     * @param id The session id (sess_...).
     * @return CloudAgentsSessionDetail
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun cloudAgentSessionsControllerGet(id: kotlin.String) : CloudAgentsSessionDetail = withContext(Dispatchers.IO) {
        val localVarResponse = cloudAgentSessionsControllerGetWithHttpInfo(id = id)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudAgentsSessionDetail
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/agents/sessions/{id}
     * 
     * Session detail — the session, its direct child sessions, and up to 50 recent events.
     * @param id The session id (sess_...).
     * @return ApiResponse<CloudAgentsSessionDetail?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun cloudAgentSessionsControllerGetWithHttpInfo(id: kotlin.String) : ApiResponse<CloudAgentsSessionDetail?> = withContext(Dispatchers.IO) {
        val localVariableConfig = cloudAgentSessionsControllerGetRequestConfig(id = id)

        return@withContext request<Unit, CloudAgentsSessionDetail>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudAgentSessionsControllerGet
     *
     * @param id The session id (sess_...).
     * @return RequestConfig
     */
    fun cloudAgentSessionsControllerGetRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/agents/sessions/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter status
     */
     enum class StatusCloudAgentSessionsControllerList(val value: kotlin.String) {
         @Json(name = "running") running("running"),
         @Json(name = "paused") paused("paused"),
         @Json(name = "done") done("done"),
         @Json(name = "error") error("error");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /v1/agents/sessions
     * 
     * List the org&#39;s live sessions, newest first. With no filter only roots (the outer-agent view) are returned; root scopes to one tree, parent to a session&#39;s direct children.
     * @param root Return every session in this tree (rootSessionId &#x3D;&#x3D; root). (optional)
     * @param parent Return the direct children of this session. (optional)
     * @param status Filter by status. (optional)
     * @param limit Max sessions to return (default 100, max 500). (optional)
     * @return CloudAgentSessionsControllerList200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun cloudAgentSessionsControllerList(root: kotlin.String? = null, parent: kotlin.String? = null, status: StatusCloudAgentSessionsControllerList? = null, limit: kotlin.Int? = null) : CloudAgentSessionsControllerList200Response = withContext(Dispatchers.IO) {
        val localVarResponse = cloudAgentSessionsControllerListWithHttpInfo(root = root, parent = parent, status = status, limit = limit)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudAgentSessionsControllerList200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/agents/sessions
     * 
     * List the org&#39;s live sessions, newest first. With no filter only roots (the outer-agent view) are returned; root scopes to one tree, parent to a session&#39;s direct children.
     * @param root Return every session in this tree (rootSessionId &#x3D;&#x3D; root). (optional)
     * @param parent Return the direct children of this session. (optional)
     * @param status Filter by status. (optional)
     * @param limit Max sessions to return (default 100, max 500). (optional)
     * @return ApiResponse<CloudAgentSessionsControllerList200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun cloudAgentSessionsControllerListWithHttpInfo(root: kotlin.String?, parent: kotlin.String?, status: StatusCloudAgentSessionsControllerList?, limit: kotlin.Int?) : ApiResponse<CloudAgentSessionsControllerList200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = cloudAgentSessionsControllerListRequestConfig(root = root, parent = parent, status = status, limit = limit)

        return@withContext request<Unit, CloudAgentSessionsControllerList200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudAgentSessionsControllerList
     *
     * @param root Return every session in this tree (rootSessionId &#x3D;&#x3D; root). (optional)
     * @param parent Return the direct children of this session. (optional)
     * @param status Filter by status. (optional)
     * @param limit Max sessions to return (default 100, max 500). (optional)
     * @return RequestConfig
     */
    fun cloudAgentSessionsControllerListRequestConfig(root: kotlin.String?, parent: kotlin.String?, status: StatusCloudAgentSessionsControllerList?, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (root != null) {
                    put("root", listOf(root.toString()))
                }
                if (parent != null) {
                    put("parent", listOf(parent.toString()))
                }
                if (status != null) {
                    put("status", listOf(status.value))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/agents/sessions",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/agents/sessions/{id}/message
     * 
     * Send a steering message to a live session. Requires a &#39;message&#39; or &#39;payload&#39;. Records a durable control event and forwards to the tasks engine when the session is task-backed.
     * @param id The session id (sess_...).
     * @param cloudAgentsControlRequest 
     * @return CloudAgentsControlResult
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun cloudAgentSessionsControllerMessage(id: kotlin.String, cloudAgentsControlRequest: CloudAgentsControlRequest) : CloudAgentsControlResult = withContext(Dispatchers.IO) {
        val localVarResponse = cloudAgentSessionsControllerMessageWithHttpInfo(id = id, cloudAgentsControlRequest = cloudAgentsControlRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudAgentsControlResult
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/agents/sessions/{id}/message
     * 
     * Send a steering message to a live session. Requires a &#39;message&#39; or &#39;payload&#39;. Records a durable control event and forwards to the tasks engine when the session is task-backed.
     * @param id The session id (sess_...).
     * @param cloudAgentsControlRequest 
     * @return ApiResponse<CloudAgentsControlResult?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun cloudAgentSessionsControllerMessageWithHttpInfo(id: kotlin.String, cloudAgentsControlRequest: CloudAgentsControlRequest) : ApiResponse<CloudAgentsControlResult?> = withContext(Dispatchers.IO) {
        val localVariableConfig = cloudAgentSessionsControllerMessageRequestConfig(id = id, cloudAgentsControlRequest = cloudAgentsControlRequest)

        return@withContext request<CloudAgentsControlRequest, CloudAgentsControlResult>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudAgentSessionsControllerMessage
     *
     * @param id The session id (sess_...).
     * @param cloudAgentsControlRequest 
     * @return RequestConfig
     */
    fun cloudAgentSessionsControllerMessageRequestConfig(id: kotlin.String, cloudAgentsControlRequest: CloudAgentsControlRequest) : RequestConfig<CloudAgentsControlRequest> {
        val localVariableBody = cloudAgentsControlRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/agents/sessions/{id}/message".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /v1/agents/sessions/{id}
     * 
     * Update a session&#39;s status and/or title. A terminal session (done/error) is monotonic — it cannot be reopened.
     * @param id The session id (sess_...).
     * @param agentsPatchSessionRequest 
     * @return CloudAgentsSession
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun cloudAgentSessionsControllerPatch(id: kotlin.String, agentsPatchSessionRequest: AgentsPatchSessionRequest) : CloudAgentsSession = withContext(Dispatchers.IO) {
        val localVarResponse = cloudAgentSessionsControllerPatchWithHttpInfo(id = id, agentsPatchSessionRequest = agentsPatchSessionRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudAgentsSession
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /v1/agents/sessions/{id}
     * 
     * Update a session&#39;s status and/or title. A terminal session (done/error) is monotonic — it cannot be reopened.
     * @param id The session id (sess_...).
     * @param agentsPatchSessionRequest 
     * @return ApiResponse<CloudAgentsSession?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun cloudAgentSessionsControllerPatchWithHttpInfo(id: kotlin.String, agentsPatchSessionRequest: AgentsPatchSessionRequest) : ApiResponse<CloudAgentsSession?> = withContext(Dispatchers.IO) {
        val localVariableConfig = cloudAgentSessionsControllerPatchRequestConfig(id = id, agentsPatchSessionRequest = agentsPatchSessionRequest)

        return@withContext request<AgentsPatchSessionRequest, CloudAgentsSession>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudAgentSessionsControllerPatch
     *
     * @param id The session id (sess_...).
     * @param agentsPatchSessionRequest 
     * @return RequestConfig
     */
    fun cloudAgentSessionsControllerPatchRequestConfig(id: kotlin.String, agentsPatchSessionRequest: AgentsPatchSessionRequest) : RequestConfig<AgentsPatchSessionRequest> {
        val localVariableBody = agentsPatchSessionRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/v1/agents/sessions/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/agents/sessions/{id}/pause
     * 
     * Pause a live session. Records a durable control event and, when the session is backed by a hanzoai/tasks workflow and a tasks backend is wired, forwards the command to the engine&#39;s signal API.
     * @param id The session id (sess_...).
     * @param cloudAgentsControlRequest  (optional)
     * @return CloudAgentsControlResult
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun cloudAgentSessionsControllerPause(id: kotlin.String, cloudAgentsControlRequest: CloudAgentsControlRequest? = null) : CloudAgentsControlResult = withContext(Dispatchers.IO) {
        val localVarResponse = cloudAgentSessionsControllerPauseWithHttpInfo(id = id, cloudAgentsControlRequest = cloudAgentsControlRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudAgentsControlResult
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/agents/sessions/{id}/pause
     * 
     * Pause a live session. Records a durable control event and, when the session is backed by a hanzoai/tasks workflow and a tasks backend is wired, forwards the command to the engine&#39;s signal API.
     * @param id The session id (sess_...).
     * @param cloudAgentsControlRequest  (optional)
     * @return ApiResponse<CloudAgentsControlResult?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun cloudAgentSessionsControllerPauseWithHttpInfo(id: kotlin.String, cloudAgentsControlRequest: CloudAgentsControlRequest?) : ApiResponse<CloudAgentsControlResult?> = withContext(Dispatchers.IO) {
        val localVariableConfig = cloudAgentSessionsControllerPauseRequestConfig(id = id, cloudAgentsControlRequest = cloudAgentsControlRequest)

        return@withContext request<CloudAgentsControlRequest, CloudAgentsControlResult>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudAgentSessionsControllerPause
     *
     * @param id The session id (sess_...).
     * @param cloudAgentsControlRequest  (optional)
     * @return RequestConfig
     */
    fun cloudAgentSessionsControllerPauseRequestConfig(id: kotlin.String, cloudAgentsControlRequest: CloudAgentsControlRequest?) : RequestConfig<CloudAgentsControlRequest> {
        val localVariableBody = cloudAgentsControlRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/agents/sessions/{id}/pause".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/agents/sessions
     * 
     * Register a live agent session. With no parentSessionId the session is a root (the outer agent); with one it is a subagent child of that parent (which must exist in the same org) and inherits its rootSessionId — the tree key every node in one flow shares.
     * @param agentsRegisterSessionRequest 
     * @return CloudAgentsSession
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun cloudAgentSessionsControllerRegister(agentsRegisterSessionRequest: AgentsRegisterSessionRequest) : CloudAgentsSession = withContext(Dispatchers.IO) {
        val localVarResponse = cloudAgentSessionsControllerRegisterWithHttpInfo(agentsRegisterSessionRequest = agentsRegisterSessionRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudAgentsSession
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/agents/sessions
     * 
     * Register a live agent session. With no parentSessionId the session is a root (the outer agent); with one it is a subagent child of that parent (which must exist in the same org) and inherits its rootSessionId — the tree key every node in one flow shares.
     * @param agentsRegisterSessionRequest 
     * @return ApiResponse<CloudAgentsSession?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun cloudAgentSessionsControllerRegisterWithHttpInfo(agentsRegisterSessionRequest: AgentsRegisterSessionRequest) : ApiResponse<CloudAgentsSession?> = withContext(Dispatchers.IO) {
        val localVariableConfig = cloudAgentSessionsControllerRegisterRequestConfig(agentsRegisterSessionRequest = agentsRegisterSessionRequest)

        return@withContext request<AgentsRegisterSessionRequest, CloudAgentsSession>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudAgentSessionsControllerRegister
     *
     * @param agentsRegisterSessionRequest 
     * @return RequestConfig
     */
    fun cloudAgentSessionsControllerRegisterRequestConfig(agentsRegisterSessionRequest: AgentsRegisterSessionRequest) : RequestConfig<AgentsRegisterSessionRequest> {
        val localVariableBody = agentsRegisterSessionRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/agents/sessions",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/agents/sessions/{id}/resume
     * 
     * Resume a paused session. Records a durable control event and forwards to the tasks engine when the session is task-backed.
     * @param id The session id (sess_...).
     * @param cloudAgentsControlRequest  (optional)
     * @return CloudAgentsControlResult
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun cloudAgentSessionsControllerResume(id: kotlin.String, cloudAgentsControlRequest: CloudAgentsControlRequest? = null) : CloudAgentsControlResult = withContext(Dispatchers.IO) {
        val localVarResponse = cloudAgentSessionsControllerResumeWithHttpInfo(id = id, cloudAgentsControlRequest = cloudAgentsControlRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudAgentsControlResult
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/agents/sessions/{id}/resume
     * 
     * Resume a paused session. Records a durable control event and forwards to the tasks engine when the session is task-backed.
     * @param id The session id (sess_...).
     * @param cloudAgentsControlRequest  (optional)
     * @return ApiResponse<CloudAgentsControlResult?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun cloudAgentSessionsControllerResumeWithHttpInfo(id: kotlin.String, cloudAgentsControlRequest: CloudAgentsControlRequest?) : ApiResponse<CloudAgentsControlResult?> = withContext(Dispatchers.IO) {
        val localVariableConfig = cloudAgentSessionsControllerResumeRequestConfig(id = id, cloudAgentsControlRequest = cloudAgentsControlRequest)

        return@withContext request<CloudAgentsControlRequest, CloudAgentsControlResult>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudAgentSessionsControllerResume
     *
     * @param id The session id (sess_...).
     * @param cloudAgentsControlRequest  (optional)
     * @return RequestConfig
     */
    fun cloudAgentSessionsControllerResumeRequestConfig(id: kotlin.String, cloudAgentsControlRequest: CloudAgentsControlRequest?) : RequestConfig<CloudAgentsControlRequest> {
        val localVariableBody = cloudAgentsControlRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/agents/sessions/{id}/resume".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/agents/sessions/{id}/stop
     * 
     * Stop a session. Records a durable control event and, when task-backed, cancels the underlying hanzoai/tasks workflow.
     * @param id The session id (sess_...).
     * @param cloudAgentsControlRequest  (optional)
     * @return CloudAgentsControlResult
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun cloudAgentSessionsControllerStop(id: kotlin.String, cloudAgentsControlRequest: CloudAgentsControlRequest? = null) : CloudAgentsControlResult = withContext(Dispatchers.IO) {
        val localVarResponse = cloudAgentSessionsControllerStopWithHttpInfo(id = id, cloudAgentsControlRequest = cloudAgentsControlRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudAgentsControlResult
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/agents/sessions/{id}/stop
     * 
     * Stop a session. Records a durable control event and, when task-backed, cancels the underlying hanzoai/tasks workflow.
     * @param id The session id (sess_...).
     * @param cloudAgentsControlRequest  (optional)
     * @return ApiResponse<CloudAgentsControlResult?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun cloudAgentSessionsControllerStopWithHttpInfo(id: kotlin.String, cloudAgentsControlRequest: CloudAgentsControlRequest?) : ApiResponse<CloudAgentsControlResult?> = withContext(Dispatchers.IO) {
        val localVariableConfig = cloudAgentSessionsControllerStopRequestConfig(id = id, cloudAgentsControlRequest = cloudAgentsControlRequest)

        return@withContext request<CloudAgentsControlRequest, CloudAgentsControlResult>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudAgentSessionsControllerStop
     *
     * @param id The session id (sess_...).
     * @param cloudAgentsControlRequest  (optional)
     * @return RequestConfig
     */
    fun cloudAgentSessionsControllerStopRequestConfig(id: kotlin.String, cloudAgentsControlRequest: CloudAgentsControlRequest?) : RequestConfig<CloudAgentsControlRequest> {
        val localVariableBody = cloudAgentsControlRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/agents/sessions/{id}/stop".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/agents/sessions/stream
     * 
     * Server-Sent Events feed of live session + event updates for the caller&#39;s org (streams natively over the ZAP machine transport as well). Optional ?root scopes the feed to one subagent tree. Each frame carries an event type (session or event) and a JSON data line; the GET list/detail/tree endpoints remain the source of truth, the stream is a live hint.
     * @param root Scope the feed to one subagent tree (rootSessionId). (optional)
     * @return kotlin.String
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun cloudAgentSessionsControllerStream(root: kotlin.String? = null) : kotlin.String = withContext(Dispatchers.IO) {
        val localVarResponse = cloudAgentSessionsControllerStreamWithHttpInfo(root = root)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.String
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/agents/sessions/stream
     * 
     * Server-Sent Events feed of live session + event updates for the caller&#39;s org (streams natively over the ZAP machine transport as well). Optional ?root scopes the feed to one subagent tree. Each frame carries an event type (session or event) and a JSON data line; the GET list/detail/tree endpoints remain the source of truth, the stream is a live hint.
     * @param root Scope the feed to one subagent tree (rootSessionId). (optional)
     * @return ApiResponse<kotlin.String?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun cloudAgentSessionsControllerStreamWithHttpInfo(root: kotlin.String?) : ApiResponse<kotlin.String?> = withContext(Dispatchers.IO) {
        val localVariableConfig = cloudAgentSessionsControllerStreamRequestConfig(root = root)

        return@withContext request<Unit, kotlin.String>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudAgentSessionsControllerStream
     *
     * @param root Scope the feed to one subagent tree (rootSessionId). (optional)
     * @return RequestConfig
     */
    fun cloudAgentSessionsControllerStreamRequestConfig(root: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (root != null) {
                    put("root", listOf(root.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/agents/sessions/stream",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/agents/sessions/{id}/tree
     * 
     * The full subagent-flow graph rooted at this session&#39;s tree — each node is a session plus its children, recursively, with real per-node event and fan-out counts.
     * @param id The session id (sess_...).
     * @return CloudAgentsTreeNode
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun cloudAgentSessionsControllerTree(id: kotlin.String) : CloudAgentsTreeNode = withContext(Dispatchers.IO) {
        val localVarResponse = cloudAgentSessionsControllerTreeWithHttpInfo(id = id)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudAgentsTreeNode
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/agents/sessions/{id}/tree
     * 
     * The full subagent-flow graph rooted at this session&#39;s tree — each node is a session plus its children, recursively, with real per-node event and fan-out counts.
     * @param id The session id (sess_...).
     * @return ApiResponse<CloudAgentsTreeNode?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun cloudAgentSessionsControllerTreeWithHttpInfo(id: kotlin.String) : ApiResponse<CloudAgentsTreeNode?> = withContext(Dispatchers.IO) {
        val localVariableConfig = cloudAgentSessionsControllerTreeRequestConfig(id = id)

        return@withContext request<Unit, CloudAgentsTreeNode>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudAgentSessionsControllerTree
     *
     * @param id The session id (sess_...).
     * @return RequestConfig
     */
    fun cloudAgentSessionsControllerTreeRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/agents/sessions/{id}/tree".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
