/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.ChatAgent
import ai.hanzo.sdk.models.ChatAgentChatRequest
import ai.hanzo.sdk.models.ChatAgentCreateParams
import ai.hanzo.sdk.models.ChatAgentListResponse
import ai.hanzo.sdk.models.ChatGetAgentsChatActive200Response
import ai.hanzo.sdk.models.ChatGetAgentsChatStatusByconversationid200Response
import ai.hanzo.sdk.models.ChatGetAgentsToolsBytoolidAuth200Response
import ai.hanzo.sdk.models.ChatPostAgentsByidRevertRequest
import ai.hanzo.sdk.models.ChatPostAgentsChatAbort200Response
import ai.hanzo.sdk.models.ChatPostAgentsChatAbortRequest
import ai.hanzo.sdk.models.ChatTool

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class AgentsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * DELETE /v1/chat/agents/{id}
     * Delete an agent
     * 
     * @param id 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatDeleteAgentsByid(id: kotlin.String) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = chatDeleteAgentsByidWithHttpInfo(id = id)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/chat/agents/{id}
     * Delete an agent
     * 
     * @param id 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatDeleteAgentsByidWithHttpInfo(id: kotlin.String) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatDeleteAgentsByidRequestConfig(id = id)

        return@withContext request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatDeleteAgentsByid
     *
     * @param id 
     * @return RequestConfig
     */
    fun chatDeleteAgentsByidRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/chat/agents/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/chat/agents
     * List agents
     * 
     * @param limit  (optional)
     * @param after  (optional)
     * @param sortBy  (optional)
     * @param sortDirection  (optional)
     * @return ChatAgentListResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatGetAgents(limit: kotlin.Int? = null, after: kotlin.String? = null, sortBy: kotlin.String? = null, sortDirection: kotlin.String? = null) : ChatAgentListResponse = withContext(Dispatchers.IO) {
        val localVarResponse = chatGetAgentsWithHttpInfo(limit = limit, after = after, sortBy = sortBy, sortDirection = sortDirection)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ChatAgentListResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/chat/agents
     * List agents
     * 
     * @param limit  (optional)
     * @param after  (optional)
     * @param sortBy  (optional)
     * @param sortDirection  (optional)
     * @return ApiResponse<ChatAgentListResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatGetAgentsWithHttpInfo(limit: kotlin.Int?, after: kotlin.String?, sortBy: kotlin.String?, sortDirection: kotlin.String?) : ApiResponse<ChatAgentListResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatGetAgentsRequestConfig(limit = limit, after = after, sortBy = sortBy, sortDirection = sortDirection)

        return@withContext request<Unit, ChatAgentListResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatGetAgents
     *
     * @param limit  (optional)
     * @param after  (optional)
     * @param sortBy  (optional)
     * @param sortDirection  (optional)
     * @return RequestConfig
     */
    fun chatGetAgentsRequestConfig(limit: kotlin.Int?, after: kotlin.String?, sortBy: kotlin.String?, sortDirection: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (after != null) {
                    put("after", listOf(after.toString()))
                }
                if (sortBy != null) {
                    put("sortBy", listOf(sortBy.toString()))
                }
                if (sortDirection != null) {
                    put("sortDirection", listOf(sortDirection.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/chat/agents",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/chat/agents/{id}
     * Get an agent (basic info)
     * 
     * @param id 
     * @return ChatAgent
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatGetAgentsByid(id: kotlin.String) : ChatAgent = withContext(Dispatchers.IO) {
        val localVarResponse = chatGetAgentsByidWithHttpInfo(id = id)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ChatAgent
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/chat/agents/{id}
     * Get an agent (basic info)
     * 
     * @param id 
     * @return ApiResponse<ChatAgent?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatGetAgentsByidWithHttpInfo(id: kotlin.String) : ApiResponse<ChatAgent?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatGetAgentsByidRequestConfig(id = id)

        return@withContext request<Unit, ChatAgent>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatGetAgentsByid
     *
     * @param id 
     * @return RequestConfig
     */
    fun chatGetAgentsByidRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/chat/agents/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/chat/agents/{id}/expanded
     * Get agent with full configuration details
     * Returns complete agent data including sensitive config (EDIT permission required).
     * @param id 
     * @return ChatAgent
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatGetAgentsByidExpanded(id: kotlin.String) : ChatAgent = withContext(Dispatchers.IO) {
        val localVarResponse = chatGetAgentsByidExpandedWithHttpInfo(id = id)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ChatAgent
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/chat/agents/{id}/expanded
     * Get agent with full configuration details
     * Returns complete agent data including sensitive config (EDIT permission required).
     * @param id 
     * @return ApiResponse<ChatAgent?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatGetAgentsByidExpandedWithHttpInfo(id: kotlin.String) : ApiResponse<ChatAgent?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatGetAgentsByidExpandedRequestConfig(id = id)

        return@withContext request<Unit, ChatAgent>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatGetAgentsByidExpanded
     *
     * @param id 
     * @return RequestConfig
     */
    fun chatGetAgentsByidExpandedRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/chat/agents/{id}/expanded".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/chat/agents/categories
     * Get agent categories with counts
     * 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatGetAgentsCategories() : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = chatGetAgentsCategoriesWithHttpInfo()

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/chat/agents/categories
     * Get agent categories with counts
     * 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatGetAgentsCategoriesWithHttpInfo() : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatGetAgentsCategoriesRequestConfig()

        return@withContext request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatGetAgentsCategories
     *
     * @return RequestConfig
     */
    fun chatGetAgentsCategoriesRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/chat/agents/categories",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/chat/agents/chat/active
     * Get active generation job IDs
     * 
     * @return ChatGetAgentsChatActive200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatGetAgentsChatActive() : ChatGetAgentsChatActive200Response = withContext(Dispatchers.IO) {
        val localVarResponse = chatGetAgentsChatActiveWithHttpInfo()

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ChatGetAgentsChatActive200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/chat/agents/chat/active
     * Get active generation job IDs
     * 
     * @return ApiResponse<ChatGetAgentsChatActive200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatGetAgentsChatActiveWithHttpInfo() : ApiResponse<ChatGetAgentsChatActive200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatGetAgentsChatActiveRequestConfig()

        return@withContext request<Unit, ChatGetAgentsChatActive200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatGetAgentsChatActive
     *
     * @return RequestConfig
     */
    fun chatGetAgentsChatActiveRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/chat/agents/chat/active",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/chat/agents/chat/status/{conversationId}
     * Check generation status for a conversation
     * 
     * @param conversationId 
     * @return ChatGetAgentsChatStatusByconversationid200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatGetAgentsChatStatusByconversationid(conversationId: kotlin.String) : ChatGetAgentsChatStatusByconversationid200Response = withContext(Dispatchers.IO) {
        val localVarResponse = chatGetAgentsChatStatusByconversationidWithHttpInfo(conversationId = conversationId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ChatGetAgentsChatStatusByconversationid200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/chat/agents/chat/status/{conversationId}
     * Check generation status for a conversation
     * 
     * @param conversationId 
     * @return ApiResponse<ChatGetAgentsChatStatusByconversationid200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatGetAgentsChatStatusByconversationidWithHttpInfo(conversationId: kotlin.String) : ApiResponse<ChatGetAgentsChatStatusByconversationid200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatGetAgentsChatStatusByconversationidRequestConfig(conversationId = conversationId)

        return@withContext request<Unit, ChatGetAgentsChatStatusByconversationid200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatGetAgentsChatStatusByconversationid
     *
     * @param conversationId 
     * @return RequestConfig
     */
    fun chatGetAgentsChatStatusByconversationidRequestConfig(conversationId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/chat/agents/chat/status/{conversationId}".replace("{"+"conversationId"+"}", encodeURIComponent(conversationId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter resume
     */
     enum class ResumeChatGetAgentsChatStreamBystreamid(val value: kotlin.String) {
         @Json(name = "true") `true`("true");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /v1/chat/agents/chat/stream/{streamId}
     * Subscribe to a generation stream
     * SSE endpoint for live or replay streaming of agent output.
     * @param streamId 
     * @param resume  (optional)
     * @return kotlin.String
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatGetAgentsChatStreamBystreamid(streamId: kotlin.String, resume: ResumeChatGetAgentsChatStreamBystreamid? = null) : kotlin.String = withContext(Dispatchers.IO) {
        val localVarResponse = chatGetAgentsChatStreamBystreamidWithHttpInfo(streamId = streamId, resume = resume)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.String
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/chat/agents/chat/stream/{streamId}
     * Subscribe to a generation stream
     * SSE endpoint for live or replay streaming of agent output.
     * @param streamId 
     * @param resume  (optional)
     * @return ApiResponse<kotlin.String?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatGetAgentsChatStreamBystreamidWithHttpInfo(streamId: kotlin.String, resume: ResumeChatGetAgentsChatStreamBystreamid?) : ApiResponse<kotlin.String?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatGetAgentsChatStreamBystreamidRequestConfig(streamId = streamId, resume = resume)

        return@withContext request<Unit, kotlin.String>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatGetAgentsChatStreamBystreamid
     *
     * @param streamId 
     * @param resume  (optional)
     * @return RequestConfig
     */
    fun chatGetAgentsChatStreamBystreamidRequestConfig(streamId: kotlin.String, resume: ResumeChatGetAgentsChatStreamBystreamid?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (resume != null) {
                    put("resume", listOf(resume.value))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/chat/agents/chat/stream/{streamId}".replace("{"+"streamId"+"}", encodeURIComponent(streamId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/chat/agents/tools
     * List available agent tools
     * 
     * @return kotlin.collections.List<ChatTool>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatGetAgentsTools() : kotlin.collections.List<ChatTool> = withContext(Dispatchers.IO) {
        val localVarResponse = chatGetAgentsToolsWithHttpInfo()

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<ChatTool>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/chat/agents/tools
     * List available agent tools
     * 
     * @return ApiResponse<kotlin.collections.List<ChatTool>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatGetAgentsToolsWithHttpInfo() : ApiResponse<kotlin.collections.List<ChatTool>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatGetAgentsToolsRequestConfig()

        return@withContext request<Unit, kotlin.collections.List<ChatTool>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatGetAgentsTools
     *
     * @return RequestConfig
     */
    fun chatGetAgentsToolsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/chat/agents/tools",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/chat/agents/tools/{toolId}/auth
     * Verify tool authentication
     * 
     * @param toolId 
     * @return ChatGetAgentsToolsBytoolidAuth200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatGetAgentsToolsBytoolidAuth(toolId: kotlin.String) : ChatGetAgentsToolsBytoolidAuth200Response = withContext(Dispatchers.IO) {
        val localVarResponse = chatGetAgentsToolsBytoolidAuthWithHttpInfo(toolId = toolId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ChatGetAgentsToolsBytoolidAuth200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/chat/agents/tools/{toolId}/auth
     * Verify tool authentication
     * 
     * @param toolId 
     * @return ApiResponse<ChatGetAgentsToolsBytoolidAuth200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatGetAgentsToolsBytoolidAuthWithHttpInfo(toolId: kotlin.String) : ApiResponse<ChatGetAgentsToolsBytoolidAuth200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatGetAgentsToolsBytoolidAuthRequestConfig(toolId = toolId)

        return@withContext request<Unit, ChatGetAgentsToolsBytoolidAuth200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatGetAgentsToolsBytoolidAuth
     *
     * @param toolId 
     * @return RequestConfig
     */
    fun chatGetAgentsToolsBytoolidAuthRequestConfig(toolId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/chat/agents/tools/{toolId}/auth".replace("{"+"toolId"+"}", encodeURIComponent(toolId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/chat/agents/tools/calls
     * Get tool call history
     * 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatGetAgentsToolsCalls() : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = chatGetAgentsToolsCallsWithHttpInfo()

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/chat/agents/tools/calls
     * Get tool call history
     * 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatGetAgentsToolsCallsWithHttpInfo() : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatGetAgentsToolsCallsRequestConfig()

        return@withContext request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatGetAgentsToolsCalls
     *
     * @return RequestConfig
     */
    fun chatGetAgentsToolsCallsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/chat/agents/tools/calls",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /v1/chat/agents/{id}
     * Update an agent
     * 
     * @param id 
     * @param chatAgentCreateParams 
     * @return ChatAgent
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatPatchAgentsByid(id: kotlin.String, chatAgentCreateParams: ChatAgentCreateParams) : ChatAgent = withContext(Dispatchers.IO) {
        val localVarResponse = chatPatchAgentsByidWithHttpInfo(id = id, chatAgentCreateParams = chatAgentCreateParams)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ChatAgent
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /v1/chat/agents/{id}
     * Update an agent
     * 
     * @param id 
     * @param chatAgentCreateParams 
     * @return ApiResponse<ChatAgent?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatPatchAgentsByidWithHttpInfo(id: kotlin.String, chatAgentCreateParams: ChatAgentCreateParams) : ApiResponse<ChatAgent?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatPatchAgentsByidRequestConfig(id = id, chatAgentCreateParams = chatAgentCreateParams)

        return@withContext request<ChatAgentCreateParams, ChatAgent>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatPatchAgentsByid
     *
     * @param id 
     * @param chatAgentCreateParams 
     * @return RequestConfig
     */
    fun chatPatchAgentsByidRequestConfig(id: kotlin.String, chatAgentCreateParams: ChatAgentCreateParams) : RequestConfig<ChatAgentCreateParams> {
        val localVariableBody = chatAgentCreateParams
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/v1/chat/agents/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/chat/agents
     * Create an agent
     * 
     * @param chatAgentCreateParams 
     * @return ChatAgent
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatPostAgents(chatAgentCreateParams: ChatAgentCreateParams) : ChatAgent = withContext(Dispatchers.IO) {
        val localVarResponse = chatPostAgentsWithHttpInfo(chatAgentCreateParams = chatAgentCreateParams)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ChatAgent
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/chat/agents
     * Create an agent
     * 
     * @param chatAgentCreateParams 
     * @return ApiResponse<ChatAgent?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatPostAgentsWithHttpInfo(chatAgentCreateParams: ChatAgentCreateParams) : ApiResponse<ChatAgent?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatPostAgentsRequestConfig(chatAgentCreateParams = chatAgentCreateParams)

        return@withContext request<ChatAgentCreateParams, ChatAgent>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatPostAgents
     *
     * @param chatAgentCreateParams 
     * @return RequestConfig
     */
    fun chatPostAgentsRequestConfig(chatAgentCreateParams: ChatAgentCreateParams) : RequestConfig<ChatAgentCreateParams> {
        val localVariableBody = chatAgentCreateParams
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/chat/agents",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/chat/agents/{id}/duplicate
     * Duplicate an agent
     * 
     * @param id 
     * @return ChatAgent
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatPostAgentsByidDuplicate(id: kotlin.String) : ChatAgent = withContext(Dispatchers.IO) {
        val localVarResponse = chatPostAgentsByidDuplicateWithHttpInfo(id = id)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ChatAgent
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/chat/agents/{id}/duplicate
     * Duplicate an agent
     * 
     * @param id 
     * @return ApiResponse<ChatAgent?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatPostAgentsByidDuplicateWithHttpInfo(id: kotlin.String) : ApiResponse<ChatAgent?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatPostAgentsByidDuplicateRequestConfig(id = id)

        return@withContext request<Unit, ChatAgent>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatPostAgentsByidDuplicate
     *
     * @param id 
     * @return RequestConfig
     */
    fun chatPostAgentsByidDuplicateRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/chat/agents/{id}/duplicate".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/chat/agents/{id}/revert
     * Revert agent to a previous version
     * 
     * @param id 
     * @param chatPostAgentsByidRevertRequest 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatPostAgentsByidRevert(id: kotlin.String, chatPostAgentsByidRevertRequest: ChatPostAgentsByidRevertRequest) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = chatPostAgentsByidRevertWithHttpInfo(id = id, chatPostAgentsByidRevertRequest = chatPostAgentsByidRevertRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/chat/agents/{id}/revert
     * Revert agent to a previous version
     * 
     * @param id 
     * @param chatPostAgentsByidRevertRequest 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatPostAgentsByidRevertWithHttpInfo(id: kotlin.String, chatPostAgentsByidRevertRequest: ChatPostAgentsByidRevertRequest) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatPostAgentsByidRevertRequestConfig(id = id, chatPostAgentsByidRevertRequest = chatPostAgentsByidRevertRequest)

        return@withContext request<ChatPostAgentsByidRevertRequest, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatPostAgentsByidRevert
     *
     * @param id 
     * @param chatPostAgentsByidRevertRequest 
     * @return RequestConfig
     */
    fun chatPostAgentsByidRevertRequestConfig(id: kotlin.String, chatPostAgentsByidRevertRequest: ChatPostAgentsByidRevertRequest) : RequestConfig<ChatPostAgentsByidRevertRequest> {
        val localVariableBody = chatPostAgentsByidRevertRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/chat/agents/{id}/revert".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/chat/agents/chat
     * Chat with an agent
     * Send a message to an agent and receive a streaming SSE response.
     * @param chatAgentChatRequest 
     * @return kotlin.String
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatPostAgentsChat(chatAgentChatRequest: ChatAgentChatRequest) : kotlin.String = withContext(Dispatchers.IO) {
        val localVarResponse = chatPostAgentsChatWithHttpInfo(chatAgentChatRequest = chatAgentChatRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.String
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/chat/agents/chat
     * Chat with an agent
     * Send a message to an agent and receive a streaming SSE response.
     * @param chatAgentChatRequest 
     * @return ApiResponse<kotlin.String?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatPostAgentsChatWithHttpInfo(chatAgentChatRequest: ChatAgentChatRequest) : ApiResponse<kotlin.String?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatPostAgentsChatRequestConfig(chatAgentChatRequest = chatAgentChatRequest)

        return@withContext request<ChatAgentChatRequest, kotlin.String>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatPostAgentsChat
     *
     * @param chatAgentChatRequest 
     * @return RequestConfig
     */
    fun chatPostAgentsChatRequestConfig(chatAgentChatRequest: ChatAgentChatRequest) : RequestConfig<ChatAgentChatRequest> {
        val localVariableBody = chatAgentChatRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/chat/agents/chat",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/chat/agents/chat/abort
     * Abort an ongoing agent generation
     * 
     * @param chatPostAgentsChatAbortRequest 
     * @return ChatPostAgentsChatAbort200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatPostAgentsChatAbort(chatPostAgentsChatAbortRequest: ChatPostAgentsChatAbortRequest) : ChatPostAgentsChatAbort200Response = withContext(Dispatchers.IO) {
        val localVarResponse = chatPostAgentsChatAbortWithHttpInfo(chatPostAgentsChatAbortRequest = chatPostAgentsChatAbortRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ChatPostAgentsChatAbort200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/chat/agents/chat/abort
     * Abort an ongoing agent generation
     * 
     * @param chatPostAgentsChatAbortRequest 
     * @return ApiResponse<ChatPostAgentsChatAbort200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatPostAgentsChatAbortWithHttpInfo(chatPostAgentsChatAbortRequest: ChatPostAgentsChatAbortRequest) : ApiResponse<ChatPostAgentsChatAbort200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatPostAgentsChatAbortRequestConfig(chatPostAgentsChatAbortRequest = chatPostAgentsChatAbortRequest)

        return@withContext request<ChatPostAgentsChatAbortRequest, ChatPostAgentsChatAbort200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatPostAgentsChatAbort
     *
     * @param chatPostAgentsChatAbortRequest 
     * @return RequestConfig
     */
    fun chatPostAgentsChatAbortRequestConfig(chatPostAgentsChatAbortRequest: ChatPostAgentsChatAbortRequest) : RequestConfig<ChatPostAgentsChatAbortRequest> {
        val localVariableBody = chatPostAgentsChatAbortRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/chat/agents/chat/abort",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/chat/agents/chat/{endpoint}
     * Chat with an ephemeral agent
     * 
     * @param endpoint 
     * @param chatAgentChatRequest 
     * @return kotlin.String
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatPostAgentsChatByendpoint(endpoint: kotlin.String, chatAgentChatRequest: ChatAgentChatRequest) : kotlin.String = withContext(Dispatchers.IO) {
        val localVarResponse = chatPostAgentsChatByendpointWithHttpInfo(endpoint = endpoint, chatAgentChatRequest = chatAgentChatRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.String
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/chat/agents/chat/{endpoint}
     * Chat with an ephemeral agent
     * 
     * @param endpoint 
     * @param chatAgentChatRequest 
     * @return ApiResponse<kotlin.String?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatPostAgentsChatByendpointWithHttpInfo(endpoint: kotlin.String, chatAgentChatRequest: ChatAgentChatRequest) : ApiResponse<kotlin.String?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatPostAgentsChatByendpointRequestConfig(endpoint = endpoint, chatAgentChatRequest = chatAgentChatRequest)

        return@withContext request<ChatAgentChatRequest, kotlin.String>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatPostAgentsChatByendpoint
     *
     * @param endpoint 
     * @param chatAgentChatRequest 
     * @return RequestConfig
     */
    fun chatPostAgentsChatByendpointRequestConfig(endpoint: kotlin.String, chatAgentChatRequest: ChatAgentChatRequest) : RequestConfig<ChatAgentChatRequest> {
        val localVariableBody = chatAgentChatRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/chat/agents/chat/{endpoint}".replace("{"+"endpoint"+"}", encodeURIComponent(endpoint.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/chat/agents/tools/{toolId}/call
     * Execute a tool call
     * 
     * @param toolId 
     * @param body 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatPostAgentsToolsBytoolidCall(toolId: kotlin.String, body: kotlin.Any) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = chatPostAgentsToolsBytoolidCallWithHttpInfo(toolId = toolId, body = body)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/chat/agents/tools/{toolId}/call
     * Execute a tool call
     * 
     * @param toolId 
     * @param body 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatPostAgentsToolsBytoolidCallWithHttpInfo(toolId: kotlin.String, body: kotlin.Any) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatPostAgentsToolsBytoolidCallRequestConfig(toolId = toolId, body = body)

        return@withContext request<kotlin.Any, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatPostAgentsToolsBytoolidCall
     *
     * @param toolId 
     * @param body 
     * @return RequestConfig
     */
    fun chatPostAgentsToolsBytoolidCallRequestConfig(toolId: kotlin.String, body: kotlin.Any) : RequestConfig<kotlin.Any> {
        val localVariableBody = body
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/chat/agents/tools/{toolId}/call".replace("{"+"toolId"+"}", encodeURIComponent(toolId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
