/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.AutoAppConnection
import ai.hanzo.sdk.models.AutoListAppConnections200Response
import ai.hanzo.sdk.models.AutoUpdateAppConnectionRequest
import ai.hanzo.sdk.models.AutoUpsertAppConnectionRequest
import ai.hanzo.sdk.models.FlowAppConnection
import ai.hanzo.sdk.models.FlowListAppConnections200Response
import ai.hanzo.sdk.models.FlowReplaceAppConnectionsRequest
import ai.hanzo.sdk.models.FlowSeekPage
import ai.hanzo.sdk.models.FlowUpdateAppConnectionRequest
import ai.hanzo.sdk.models.FlowUpsertAppConnectionRequest
import ai.hanzo.sdk.models.KmsCreateAppConnection200Response
import ai.hanzo.sdk.models.KmsCreateAppConnectionRequest
import ai.hanzo.sdk.models.KmsListAppConnections200Response
import ai.hanzo.sdk.models.KmsUpdateAppConnectionRequest

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class AppConnectionsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * DELETE /v1/auto/app-connections/{id}
     * Delete an app connection
     * 
     * @param id 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun autoDeleteAppConnection(id: kotlin.String) : Unit = withContext(Dispatchers.IO) {
        val localVarResponse = autoDeleteAppConnectionWithHttpInfo(id = id)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/auto/app-connections/{id}
     * Delete an app connection
     * 
     * @param id 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun autoDeleteAppConnectionWithHttpInfo(id: kotlin.String) : ApiResponse<Unit?> = withContext(Dispatchers.IO) {
        val localVariableConfig = autoDeleteAppConnectionRequestConfig(id = id)

        return@withContext request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation autoDeleteAppConnection
     *
     * @param id 
     * @return RequestConfig
     */
    fun autoDeleteAppConnectionRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/auto/app-connections/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter status
     */
     enum class StatusAutoListAppConnections(val value: kotlin.String) {
         @Json(name = "ACTIVE") ACTIVE("ACTIVE"),
         @Json(name = "ERROR") ERROR("ERROR"),
         @Json(name = "MISSING_PERMISSIONS") MISSING_PERMISSIONS("MISSING_PERMISSIONS");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /v1/auto/app-connections
     * List app connections
     * 
     * @param pieceName  (optional)
     * @param displayName  (optional)
     * @param status  (optional)
     * @param cursor  (optional)
     * @param limit  (optional, default to 10)
     * @return AutoListAppConnections200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun autoListAppConnections(pieceName: kotlin.String? = null, displayName: kotlin.String? = null, status: kotlin.collections.List<StatusAutoListAppConnections>? = null, cursor: kotlin.String? = null, limit: kotlin.Int? = 10) : AutoListAppConnections200Response = withContext(Dispatchers.IO) {
        val localVarResponse = autoListAppConnectionsWithHttpInfo(pieceName = pieceName, displayName = displayName, status = status, cursor = cursor, limit = limit)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AutoListAppConnections200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/auto/app-connections
     * List app connections
     * 
     * @param pieceName  (optional)
     * @param displayName  (optional)
     * @param status  (optional)
     * @param cursor  (optional)
     * @param limit  (optional, default to 10)
     * @return ApiResponse<AutoListAppConnections200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun autoListAppConnectionsWithHttpInfo(pieceName: kotlin.String?, displayName: kotlin.String?, status: kotlin.collections.List<StatusAutoListAppConnections>?, cursor: kotlin.String?, limit: kotlin.Int?) : ApiResponse<AutoListAppConnections200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = autoListAppConnectionsRequestConfig(pieceName = pieceName, displayName = displayName, status = status, cursor = cursor, limit = limit)

        return@withContext request<Unit, AutoListAppConnections200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation autoListAppConnections
     *
     * @param pieceName  (optional)
     * @param displayName  (optional)
     * @param status  (optional)
     * @param cursor  (optional)
     * @param limit  (optional, default to 10)
     * @return RequestConfig
     */
    fun autoListAppConnectionsRequestConfig(pieceName: kotlin.String?, displayName: kotlin.String?, status: kotlin.collections.List<StatusAutoListAppConnections>?, cursor: kotlin.String?, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (pieceName != null) {
                    put("pieceName", listOf(pieceName.toString()))
                }
                if (displayName != null) {
                    put("displayName", listOf(displayName.toString()))
                }
                if (status != null) {
                    put("status", toMultiValue(status.toList(), "multi"))
                }
                if (cursor != null) {
                    put("cursor", listOf(cursor.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/auto/app-connections",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/auto/app-connections/{id}
     * Update an app connection
     * 
     * @param id 
     * @param autoUpdateAppConnectionRequest 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun autoUpdateAppConnection(id: kotlin.String, autoUpdateAppConnectionRequest: AutoUpdateAppConnectionRequest) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = autoUpdateAppConnectionWithHttpInfo(id = id, autoUpdateAppConnectionRequest = autoUpdateAppConnectionRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/auto/app-connections/{id}
     * Update an app connection
     * 
     * @param id 
     * @param autoUpdateAppConnectionRequest 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun autoUpdateAppConnectionWithHttpInfo(id: kotlin.String, autoUpdateAppConnectionRequest: AutoUpdateAppConnectionRequest) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = autoUpdateAppConnectionRequestConfig(id = id, autoUpdateAppConnectionRequest = autoUpdateAppConnectionRequest)

        return@withContext request<AutoUpdateAppConnectionRequest, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation autoUpdateAppConnection
     *
     * @param id 
     * @param autoUpdateAppConnectionRequest 
     * @return RequestConfig
     */
    fun autoUpdateAppConnectionRequestConfig(id: kotlin.String, autoUpdateAppConnectionRequest: AutoUpdateAppConnectionRequest) : RequestConfig<AutoUpdateAppConnectionRequest> {
        val localVariableBody = autoUpdateAppConnectionRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/auto/app-connections/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/auto/app-connections
     * Upsert an app connection
     * 
     * @param autoUpsertAppConnectionRequest 
     * @return AutoAppConnection
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun autoUpsertAppConnection(autoUpsertAppConnectionRequest: AutoUpsertAppConnectionRequest) : AutoAppConnection = withContext(Dispatchers.IO) {
        val localVarResponse = autoUpsertAppConnectionWithHttpInfo(autoUpsertAppConnectionRequest = autoUpsertAppConnectionRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AutoAppConnection
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/auto/app-connections
     * Upsert an app connection
     * 
     * @param autoUpsertAppConnectionRequest 
     * @return ApiResponse<AutoAppConnection?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun autoUpsertAppConnectionWithHttpInfo(autoUpsertAppConnectionRequest: AutoUpsertAppConnectionRequest) : ApiResponse<AutoAppConnection?> = withContext(Dispatchers.IO) {
        val localVariableConfig = autoUpsertAppConnectionRequestConfig(autoUpsertAppConnectionRequest = autoUpsertAppConnectionRequest)

        return@withContext request<AutoUpsertAppConnectionRequest, AutoAppConnection>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation autoUpsertAppConnection
     *
     * @param autoUpsertAppConnectionRequest 
     * @return RequestConfig
     */
    fun autoUpsertAppConnectionRequestConfig(autoUpsertAppConnectionRequest: AutoUpsertAppConnectionRequest) : RequestConfig<AutoUpsertAppConnectionRequest> {
        val localVariableBody = autoUpsertAppConnectionRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/auto/app-connections",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/flow/app-connections/{id}
     * Delete an app connection
     * 
     * @param id 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun flowDeleteAppConnection(id: kotlin.String) : Unit = withContext(Dispatchers.IO) {
        val localVarResponse = flowDeleteAppConnectionWithHttpInfo(id = id)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/flow/app-connections/{id}
     * Delete an app connection
     * 
     * @param id 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun flowDeleteAppConnectionWithHttpInfo(id: kotlin.String) : ApiResponse<Unit?> = withContext(Dispatchers.IO) {
        val localVariableConfig = flowDeleteAppConnectionRequestConfig(id = id)

        return@withContext request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation flowDeleteAppConnection
     *
     * @param id 
     * @return RequestConfig
     */
    fun flowDeleteAppConnectionRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/flow/app-connections/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/flow/app-connections/owners
     * List app connection owners
     * 
     * @return FlowSeekPage
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun flowListAppConnectionOwners() : FlowSeekPage = withContext(Dispatchers.IO) {
        val localVarResponse = flowListAppConnectionOwnersWithHttpInfo()

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as FlowSeekPage
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/flow/app-connections/owners
     * List app connection owners
     * 
     * @return ApiResponse<FlowSeekPage?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun flowListAppConnectionOwnersWithHttpInfo() : ApiResponse<FlowSeekPage?> = withContext(Dispatchers.IO) {
        val localVariableConfig = flowListAppConnectionOwnersRequestConfig()

        return@withContext request<Unit, FlowSeekPage>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation flowListAppConnectionOwners
     *
     * @return RequestConfig
     */
    fun flowListAppConnectionOwnersRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/flow/app-connections/owners",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter status
     */
     enum class StatusFlowListAppConnections(val value: kotlin.String) {
         @Json(name = "ACTIVE") ACTIVE("ACTIVE"),
         @Json(name = "ERROR") ERROR("ERROR"),
         @Json(name = "MISSING_PERMISSIONS") MISSING_PERMISSIONS("MISSING_PERMISSIONS");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /v1/flow/app-connections
     * List app connections
     * 
     * @param pieceName  (optional)
     * @param displayName  (optional)
     * @param status  (optional)
     * @param cursor  (optional)
     * @param limit  (optional, default to 10)
     * @return FlowListAppConnections200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun flowListAppConnections(pieceName: kotlin.String? = null, displayName: kotlin.String? = null, status: kotlin.collections.List<StatusFlowListAppConnections>? = null, cursor: kotlin.String? = null, limit: kotlin.Int? = 10) : FlowListAppConnections200Response = withContext(Dispatchers.IO) {
        val localVarResponse = flowListAppConnectionsWithHttpInfo(pieceName = pieceName, displayName = displayName, status = status, cursor = cursor, limit = limit)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as FlowListAppConnections200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/flow/app-connections
     * List app connections
     * 
     * @param pieceName  (optional)
     * @param displayName  (optional)
     * @param status  (optional)
     * @param cursor  (optional)
     * @param limit  (optional, default to 10)
     * @return ApiResponse<FlowListAppConnections200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun flowListAppConnectionsWithHttpInfo(pieceName: kotlin.String?, displayName: kotlin.String?, status: kotlin.collections.List<StatusFlowListAppConnections>?, cursor: kotlin.String?, limit: kotlin.Int?) : ApiResponse<FlowListAppConnections200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = flowListAppConnectionsRequestConfig(pieceName = pieceName, displayName = displayName, status = status, cursor = cursor, limit = limit)

        return@withContext request<Unit, FlowListAppConnections200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation flowListAppConnections
     *
     * @param pieceName  (optional)
     * @param displayName  (optional)
     * @param status  (optional)
     * @param cursor  (optional)
     * @param limit  (optional, default to 10)
     * @return RequestConfig
     */
    fun flowListAppConnectionsRequestConfig(pieceName: kotlin.String?, displayName: kotlin.String?, status: kotlin.collections.List<StatusFlowListAppConnections>?, cursor: kotlin.String?, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (pieceName != null) {
                    put("pieceName", listOf(pieceName.toString()))
                }
                if (displayName != null) {
                    put("displayName", listOf(displayName.toString()))
                }
                if (status != null) {
                    put("status", toMultiValue(status.toList(), "multi"))
                }
                if (cursor != null) {
                    put("cursor", listOf(cursor.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/flow/app-connections",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/flow/app-connections/replace
     * Replace one connection with another across all flows
     * 
     * @param flowReplaceAppConnectionsRequest 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun flowReplaceAppConnections(flowReplaceAppConnectionsRequest: FlowReplaceAppConnectionsRequest) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = flowReplaceAppConnectionsWithHttpInfo(flowReplaceAppConnectionsRequest = flowReplaceAppConnectionsRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/flow/app-connections/replace
     * Replace one connection with another across all flows
     * 
     * @param flowReplaceAppConnectionsRequest 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun flowReplaceAppConnectionsWithHttpInfo(flowReplaceAppConnectionsRequest: FlowReplaceAppConnectionsRequest) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = flowReplaceAppConnectionsRequestConfig(flowReplaceAppConnectionsRequest = flowReplaceAppConnectionsRequest)

        return@withContext request<FlowReplaceAppConnectionsRequest, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation flowReplaceAppConnections
     *
     * @param flowReplaceAppConnectionsRequest 
     * @return RequestConfig
     */
    fun flowReplaceAppConnectionsRequestConfig(flowReplaceAppConnectionsRequest: FlowReplaceAppConnectionsRequest) : RequestConfig<FlowReplaceAppConnectionsRequest> {
        val localVariableBody = flowReplaceAppConnectionsRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/flow/app-connections/replace",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/flow/app-connections/{id}
     * Update an app connection
     * 
     * @param id 
     * @param flowUpdateAppConnectionRequest 
     * @return FlowAppConnection
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun flowUpdateAppConnection(id: kotlin.String, flowUpdateAppConnectionRequest: FlowUpdateAppConnectionRequest) : FlowAppConnection = withContext(Dispatchers.IO) {
        val localVarResponse = flowUpdateAppConnectionWithHttpInfo(id = id, flowUpdateAppConnectionRequest = flowUpdateAppConnectionRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as FlowAppConnection
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/flow/app-connections/{id}
     * Update an app connection
     * 
     * @param id 
     * @param flowUpdateAppConnectionRequest 
     * @return ApiResponse<FlowAppConnection?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun flowUpdateAppConnectionWithHttpInfo(id: kotlin.String, flowUpdateAppConnectionRequest: FlowUpdateAppConnectionRequest) : ApiResponse<FlowAppConnection?> = withContext(Dispatchers.IO) {
        val localVariableConfig = flowUpdateAppConnectionRequestConfig(id = id, flowUpdateAppConnectionRequest = flowUpdateAppConnectionRequest)

        return@withContext request<FlowUpdateAppConnectionRequest, FlowAppConnection>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation flowUpdateAppConnection
     *
     * @param id 
     * @param flowUpdateAppConnectionRequest 
     * @return RequestConfig
     */
    fun flowUpdateAppConnectionRequestConfig(id: kotlin.String, flowUpdateAppConnectionRequest: FlowUpdateAppConnectionRequest) : RequestConfig<FlowUpdateAppConnectionRequest> {
        val localVariableBody = flowUpdateAppConnectionRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/flow/app-connections/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/flow/app-connections
     * Upsert an app connection
     * 
     * @param flowUpsertAppConnectionRequest 
     * @return FlowAppConnection
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun flowUpsertAppConnection(flowUpsertAppConnectionRequest: FlowUpsertAppConnectionRequest) : FlowAppConnection = withContext(Dispatchers.IO) {
        val localVarResponse = flowUpsertAppConnectionWithHttpInfo(flowUpsertAppConnectionRequest = flowUpsertAppConnectionRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as FlowAppConnection
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/flow/app-connections
     * Upsert an app connection
     * 
     * @param flowUpsertAppConnectionRequest 
     * @return ApiResponse<FlowAppConnection?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun flowUpsertAppConnectionWithHttpInfo(flowUpsertAppConnectionRequest: FlowUpsertAppConnectionRequest) : ApiResponse<FlowAppConnection?> = withContext(Dispatchers.IO) {
        val localVariableConfig = flowUpsertAppConnectionRequestConfig(flowUpsertAppConnectionRequest = flowUpsertAppConnectionRequest)

        return@withContext request<FlowUpsertAppConnectionRequest, FlowAppConnection>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation flowUpsertAppConnection
     *
     * @param flowUpsertAppConnectionRequest 
     * @return RequestConfig
     */
    fun flowUpsertAppConnectionRequestConfig(flowUpsertAppConnectionRequest: FlowUpsertAppConnectionRequest) : RequestConfig<FlowUpsertAppConnectionRequest> {
        val localVariableBody = flowUpsertAppConnectionRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/flow/app-connections",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/kms/app-connections
     * Create an app connection
     * 
     * @param kmsCreateAppConnectionRequest 
     * @return KmsCreateAppConnection200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun kmsCreateAppConnection(kmsCreateAppConnectionRequest: KmsCreateAppConnectionRequest) : KmsCreateAppConnection200Response = withContext(Dispatchers.IO) {
        val localVarResponse = kmsCreateAppConnectionWithHttpInfo(kmsCreateAppConnectionRequest = kmsCreateAppConnectionRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as KmsCreateAppConnection200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/kms/app-connections
     * Create an app connection
     * 
     * @param kmsCreateAppConnectionRequest 
     * @return ApiResponse<KmsCreateAppConnection200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun kmsCreateAppConnectionWithHttpInfo(kmsCreateAppConnectionRequest: KmsCreateAppConnectionRequest) : ApiResponse<KmsCreateAppConnection200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = kmsCreateAppConnectionRequestConfig(kmsCreateAppConnectionRequest = kmsCreateAppConnectionRequest)

        return@withContext request<KmsCreateAppConnectionRequest, KmsCreateAppConnection200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation kmsCreateAppConnection
     *
     * @param kmsCreateAppConnectionRequest 
     * @return RequestConfig
     */
    fun kmsCreateAppConnectionRequestConfig(kmsCreateAppConnectionRequest: KmsCreateAppConnectionRequest) : RequestConfig<KmsCreateAppConnectionRequest> {
        val localVariableBody = kmsCreateAppConnectionRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/kms/app-connections",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/kms/app-connections/{connectionId}
     * Delete an app connection
     * 
     * @param connectionId 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun kmsDeleteAppConnection(connectionId: java.util.UUID) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = kmsDeleteAppConnectionWithHttpInfo(connectionId = connectionId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/kms/app-connections/{connectionId}
     * Delete an app connection
     * 
     * @param connectionId 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun kmsDeleteAppConnectionWithHttpInfo(connectionId: java.util.UUID) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = kmsDeleteAppConnectionRequestConfig(connectionId = connectionId)

        return@withContext request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation kmsDeleteAppConnection
     *
     * @param connectionId 
     * @return RequestConfig
     */
    fun kmsDeleteAppConnectionRequestConfig(connectionId: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/kms/app-connections/{connectionId}".replace("{"+"connectionId"+"}", encodeURIComponent(connectionId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/kms/app-connections/{connectionId}
     * Get an app connection by ID
     * 
     * @param connectionId 
     * @return KmsCreateAppConnection200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun kmsGetAppConnection(connectionId: java.util.UUID) : KmsCreateAppConnection200Response = withContext(Dispatchers.IO) {
        val localVarResponse = kmsGetAppConnectionWithHttpInfo(connectionId = connectionId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as KmsCreateAppConnection200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/kms/app-connections/{connectionId}
     * Get an app connection by ID
     * 
     * @param connectionId 
     * @return ApiResponse<KmsCreateAppConnection200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun kmsGetAppConnectionWithHttpInfo(connectionId: java.util.UUID) : ApiResponse<KmsCreateAppConnection200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = kmsGetAppConnectionRequestConfig(connectionId = connectionId)

        return@withContext request<Unit, KmsCreateAppConnection200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation kmsGetAppConnection
     *
     * @param connectionId 
     * @return RequestConfig
     */
    fun kmsGetAppConnectionRequestConfig(connectionId: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/kms/app-connections/{connectionId}".replace("{"+"connectionId"+"}", encodeURIComponent(connectionId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/kms/app-connections
     * List app connections
     * 
     * @param orgId 
     * @return KmsListAppConnections200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun kmsListAppConnections(orgId: java.util.UUID) : KmsListAppConnections200Response = withContext(Dispatchers.IO) {
        val localVarResponse = kmsListAppConnectionsWithHttpInfo(orgId = orgId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as KmsListAppConnections200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/kms/app-connections
     * List app connections
     * 
     * @param orgId 
     * @return ApiResponse<KmsListAppConnections200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun kmsListAppConnectionsWithHttpInfo(orgId: java.util.UUID) : ApiResponse<KmsListAppConnections200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = kmsListAppConnectionsRequestConfig(orgId = orgId)

        return@withContext request<Unit, KmsListAppConnections200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation kmsListAppConnections
     *
     * @param orgId 
     * @return RequestConfig
     */
    fun kmsListAppConnectionsRequestConfig(orgId: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("orgId", listOf(orgId.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/kms/app-connections",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /v1/kms/app-connections/{connectionId}
     * Update an app connection
     * 
     * @param connectionId 
     * @param kmsUpdateAppConnectionRequest 
     * @return KmsCreateAppConnection200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun kmsUpdateAppConnection(connectionId: java.util.UUID, kmsUpdateAppConnectionRequest: KmsUpdateAppConnectionRequest) : KmsCreateAppConnection200Response = withContext(Dispatchers.IO) {
        val localVarResponse = kmsUpdateAppConnectionWithHttpInfo(connectionId = connectionId, kmsUpdateAppConnectionRequest = kmsUpdateAppConnectionRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as KmsCreateAppConnection200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /v1/kms/app-connections/{connectionId}
     * Update an app connection
     * 
     * @param connectionId 
     * @param kmsUpdateAppConnectionRequest 
     * @return ApiResponse<KmsCreateAppConnection200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun kmsUpdateAppConnectionWithHttpInfo(connectionId: java.util.UUID, kmsUpdateAppConnectionRequest: KmsUpdateAppConnectionRequest) : ApiResponse<KmsCreateAppConnection200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = kmsUpdateAppConnectionRequestConfig(connectionId = connectionId, kmsUpdateAppConnectionRequest = kmsUpdateAppConnectionRequest)

        return@withContext request<KmsUpdateAppConnectionRequest, KmsCreateAppConnection200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation kmsUpdateAppConnection
     *
     * @param connectionId 
     * @param kmsUpdateAppConnectionRequest 
     * @return RequestConfig
     */
    fun kmsUpdateAppConnectionRequestConfig(connectionId: java.util.UUID, kmsUpdateAppConnectionRequest: KmsUpdateAppConnectionRequest) : RequestConfig<KmsUpdateAppConnectionRequest> {
        val localVariableBody = kmsUpdateAppConnectionRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/v1/kms/app-connections/{connectionId}".replace("{"+"connectionId"+"}", encodeURIComponent(connectionId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
