/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.KmsCreateChangeApprovalPolicy200Response
import ai.hanzo.sdk.models.KmsCreateChangeApprovalPolicyRequest
import ai.hanzo.sdk.models.KmsListChangeApprovalPolicies200Response

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class ApprovalPoliciesApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * POST /v1/kms/approval-policies/change
     * Create a secret change approval policy
     * 
     * @param kmsCreateChangeApprovalPolicyRequest 
     * @return KmsCreateChangeApprovalPolicy200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun kmsCreateChangeApprovalPolicy(kmsCreateChangeApprovalPolicyRequest: KmsCreateChangeApprovalPolicyRequest) : KmsCreateChangeApprovalPolicy200Response = withContext(Dispatchers.IO) {
        val localVarResponse = kmsCreateChangeApprovalPolicyWithHttpInfo(kmsCreateChangeApprovalPolicyRequest = kmsCreateChangeApprovalPolicyRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as KmsCreateChangeApprovalPolicy200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/kms/approval-policies/change
     * Create a secret change approval policy
     * 
     * @param kmsCreateChangeApprovalPolicyRequest 
     * @return ApiResponse<KmsCreateChangeApprovalPolicy200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun kmsCreateChangeApprovalPolicyWithHttpInfo(kmsCreateChangeApprovalPolicyRequest: KmsCreateChangeApprovalPolicyRequest) : ApiResponse<KmsCreateChangeApprovalPolicy200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = kmsCreateChangeApprovalPolicyRequestConfig(kmsCreateChangeApprovalPolicyRequest = kmsCreateChangeApprovalPolicyRequest)

        return@withContext request<KmsCreateChangeApprovalPolicyRequest, KmsCreateChangeApprovalPolicy200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation kmsCreateChangeApprovalPolicy
     *
     * @param kmsCreateChangeApprovalPolicyRequest 
     * @return RequestConfig
     */
    fun kmsCreateChangeApprovalPolicyRequestConfig(kmsCreateChangeApprovalPolicyRequest: KmsCreateChangeApprovalPolicyRequest) : RequestConfig<KmsCreateChangeApprovalPolicyRequest> {
        val localVariableBody = kmsCreateChangeApprovalPolicyRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/kms/approval-policies/change",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/kms/approval-policies/change
     * List secret change approval policies
     * 
     * @param workspaceId 
     * @return KmsListChangeApprovalPolicies200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun kmsListChangeApprovalPolicies(workspaceId: java.util.UUID) : KmsListChangeApprovalPolicies200Response = withContext(Dispatchers.IO) {
        val localVarResponse = kmsListChangeApprovalPoliciesWithHttpInfo(workspaceId = workspaceId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as KmsListChangeApprovalPolicies200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/kms/approval-policies/change
     * List secret change approval policies
     * 
     * @param workspaceId 
     * @return ApiResponse<KmsListChangeApprovalPolicies200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun kmsListChangeApprovalPoliciesWithHttpInfo(workspaceId: java.util.UUID) : ApiResponse<KmsListChangeApprovalPolicies200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = kmsListChangeApprovalPoliciesRequestConfig(workspaceId = workspaceId)

        return@withContext request<Unit, KmsListChangeApprovalPolicies200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation kmsListChangeApprovalPolicies
     *
     * @param workspaceId 
     * @return RequestConfig
     */
    fun kmsListChangeApprovalPoliciesRequestConfig(workspaceId: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("workspaceId", listOf(workspaceId.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/kms/approval-policies/change",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
