/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.RegistryArtifact
import ai.hanzo.sdk.models.RegistryError
import ai.hanzo.sdk.models.RegistryTag

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class ArtifactsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * POST /v1/registry/projects/{name}/repositories/{repo}/artifacts/{digest}/tags/{tag}
     * Create tag
     * 
     * @param name 
     * @param repo 
     * @param digest 
     * @param tag 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun registryCreateTag(name: kotlin.String, repo: kotlin.String, digest: kotlin.String, tag: kotlin.String) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = registryCreateTagWithHttpInfo(name = name, repo = repo, digest = digest, tag = tag)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/registry/projects/{name}/repositories/{repo}/artifacts/{digest}/tags/{tag}
     * Create tag
     * 
     * @param name 
     * @param repo 
     * @param digest 
     * @param tag 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun registryCreateTagWithHttpInfo(name: kotlin.String, repo: kotlin.String, digest: kotlin.String, tag: kotlin.String) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = registryCreateTagRequestConfig(name = name, repo = repo, digest = digest, tag = tag)

        return@withContext request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation registryCreateTag
     *
     * @param name 
     * @param repo 
     * @param digest 
     * @param tag 
     * @return RequestConfig
     */
    fun registryCreateTagRequestConfig(name: kotlin.String, repo: kotlin.String, digest: kotlin.String, tag: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/registry/projects/{name}/repositories/{repo}/artifacts/{digest}/tags/{tag}".replace("{"+"name"+"}", encodeURIComponent(name.toString())).replace("{"+"repo"+"}", encodeURIComponent(repo.toString())).replace("{"+"digest"+"}", encodeURIComponent(digest.toString())).replace("{"+"tag"+"}", encodeURIComponent(tag.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/registry/projects/{name}/repositories/{repo}/artifacts/{digest}
     * Delete artifact
     * 
     * @param name 
     * @param repo 
     * @param digest 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun registryDeleteArtifact(name: kotlin.String, repo: kotlin.String, digest: kotlin.String) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = registryDeleteArtifactWithHttpInfo(name = name, repo = repo, digest = digest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/registry/projects/{name}/repositories/{repo}/artifacts/{digest}
     * Delete artifact
     * 
     * @param name 
     * @param repo 
     * @param digest 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun registryDeleteArtifactWithHttpInfo(name: kotlin.String, repo: kotlin.String, digest: kotlin.String) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = registryDeleteArtifactRequestConfig(name = name, repo = repo, digest = digest)

        return@withContext request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation registryDeleteArtifact
     *
     * @param name 
     * @param repo 
     * @param digest 
     * @return RequestConfig
     */
    fun registryDeleteArtifactRequestConfig(name: kotlin.String, repo: kotlin.String, digest: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/registry/projects/{name}/repositories/{repo}/artifacts/{digest}".replace("{"+"name"+"}", encodeURIComponent(name.toString())).replace("{"+"repo"+"}", encodeURIComponent(repo.toString())).replace("{"+"digest"+"}", encodeURIComponent(digest.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/registry/projects/{name}/repositories/{repo}/artifacts/{digest}/tags/{tag}
     * Delete tag
     * 
     * @param name 
     * @param repo 
     * @param digest 
     * @param tag 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun registryDeleteTag(name: kotlin.String, repo: kotlin.String, digest: kotlin.String, tag: kotlin.String) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = registryDeleteTagWithHttpInfo(name = name, repo = repo, digest = digest, tag = tag)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/registry/projects/{name}/repositories/{repo}/artifacts/{digest}/tags/{tag}
     * Delete tag
     * 
     * @param name 
     * @param repo 
     * @param digest 
     * @param tag 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun registryDeleteTagWithHttpInfo(name: kotlin.String, repo: kotlin.String, digest: kotlin.String, tag: kotlin.String) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = registryDeleteTagRequestConfig(name = name, repo = repo, digest = digest, tag = tag)

        return@withContext request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation registryDeleteTag
     *
     * @param name 
     * @param repo 
     * @param digest 
     * @param tag 
     * @return RequestConfig
     */
    fun registryDeleteTagRequestConfig(name: kotlin.String, repo: kotlin.String, digest: kotlin.String, tag: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/registry/projects/{name}/repositories/{repo}/artifacts/{digest}/tags/{tag}".replace("{"+"name"+"}", encodeURIComponent(name.toString())).replace("{"+"repo"+"}", encodeURIComponent(repo.toString())).replace("{"+"digest"+"}", encodeURIComponent(digest.toString())).replace("{"+"tag"+"}", encodeURIComponent(tag.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/registry/projects/{name}/repositories/{repo}/artifacts/{digest}
     * Get artifact
     * 
     * @param name 
     * @param repo 
     * @param digest Artifact digest (sha256:...)
     * @param withScanOverview  (optional, default to false)
     * @return RegistryArtifact
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun registryGetArtifact(name: kotlin.String, repo: kotlin.String, digest: kotlin.String, withScanOverview: kotlin.Boolean? = false) : RegistryArtifact = withContext(Dispatchers.IO) {
        val localVarResponse = registryGetArtifactWithHttpInfo(name = name, repo = repo, digest = digest, withScanOverview = withScanOverview)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RegistryArtifact
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/registry/projects/{name}/repositories/{repo}/artifacts/{digest}
     * Get artifact
     * 
     * @param name 
     * @param repo 
     * @param digest Artifact digest (sha256:...)
     * @param withScanOverview  (optional, default to false)
     * @return ApiResponse<RegistryArtifact?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun registryGetArtifactWithHttpInfo(name: kotlin.String, repo: kotlin.String, digest: kotlin.String, withScanOverview: kotlin.Boolean?) : ApiResponse<RegistryArtifact?> = withContext(Dispatchers.IO) {
        val localVariableConfig = registryGetArtifactRequestConfig(name = name, repo = repo, digest = digest, withScanOverview = withScanOverview)

        return@withContext request<Unit, RegistryArtifact>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation registryGetArtifact
     *
     * @param name 
     * @param repo 
     * @param digest Artifact digest (sha256:...)
     * @param withScanOverview  (optional, default to false)
     * @return RequestConfig
     */
    fun registryGetArtifactRequestConfig(name: kotlin.String, repo: kotlin.String, digest: kotlin.String, withScanOverview: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (withScanOverview != null) {
                    put("with_scan_overview", listOf(withScanOverview.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/registry/projects/{name}/repositories/{repo}/artifacts/{digest}".replace("{"+"name"+"}", encodeURIComponent(name.toString())).replace("{"+"repo"+"}", encodeURIComponent(repo.toString())).replace("{"+"digest"+"}", encodeURIComponent(digest.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter type
     */
     enum class TypeRegistryListArtifacts(val value: kotlin.String) {
         @Json(name = "IMAGE") IMAGE("IMAGE"),
         @Json(name = "CHART") CHART("CHART"),
         @Json(name = "WASM") WASM("WASM");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /v1/registry/projects/{name}/repositories/{repo}/artifacts
     * List artifacts
     * 
     * @param name 
     * @param repo 
     * @param type Filter by artifact type (optional)
     * @param withTag  (optional, default to true)
     * @param withScanOverview  (optional, default to false)
     * @param page  (optional, default to 1)
     * @param pageSize  (optional, default to 10)
     * @return kotlin.collections.List<RegistryArtifact>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun registryListArtifacts(name: kotlin.String, repo: kotlin.String, type: TypeRegistryListArtifacts? = null, withTag: kotlin.Boolean? = true, withScanOverview: kotlin.Boolean? = false, page: kotlin.Int? = 1, pageSize: kotlin.Int? = 10) : kotlin.collections.List<RegistryArtifact> = withContext(Dispatchers.IO) {
        val localVarResponse = registryListArtifactsWithHttpInfo(name = name, repo = repo, type = type, withTag = withTag, withScanOverview = withScanOverview, page = page, pageSize = pageSize)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<RegistryArtifact>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/registry/projects/{name}/repositories/{repo}/artifacts
     * List artifacts
     * 
     * @param name 
     * @param repo 
     * @param type Filter by artifact type (optional)
     * @param withTag  (optional, default to true)
     * @param withScanOverview  (optional, default to false)
     * @param page  (optional, default to 1)
     * @param pageSize  (optional, default to 10)
     * @return ApiResponse<kotlin.collections.List<RegistryArtifact>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun registryListArtifactsWithHttpInfo(name: kotlin.String, repo: kotlin.String, type: TypeRegistryListArtifacts?, withTag: kotlin.Boolean?, withScanOverview: kotlin.Boolean?, page: kotlin.Int?, pageSize: kotlin.Int?) : ApiResponse<kotlin.collections.List<RegistryArtifact>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = registryListArtifactsRequestConfig(name = name, repo = repo, type = type, withTag = withTag, withScanOverview = withScanOverview, page = page, pageSize = pageSize)

        return@withContext request<Unit, kotlin.collections.List<RegistryArtifact>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation registryListArtifacts
     *
     * @param name 
     * @param repo 
     * @param type Filter by artifact type (optional)
     * @param withTag  (optional, default to true)
     * @param withScanOverview  (optional, default to false)
     * @param page  (optional, default to 1)
     * @param pageSize  (optional, default to 10)
     * @return RequestConfig
     */
    fun registryListArtifactsRequestConfig(name: kotlin.String, repo: kotlin.String, type: TypeRegistryListArtifacts?, withTag: kotlin.Boolean?, withScanOverview: kotlin.Boolean?, page: kotlin.Int?, pageSize: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (type != null) {
                    put("type", listOf(type.value))
                }
                if (withTag != null) {
                    put("with_tag", listOf(withTag.toString()))
                }
                if (withScanOverview != null) {
                    put("with_scan_overview", listOf(withScanOverview.toString()))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("page_size", listOf(pageSize.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/registry/projects/{name}/repositories/{repo}/artifacts".replace("{"+"name"+"}", encodeURIComponent(name.toString())).replace("{"+"repo"+"}", encodeURIComponent(repo.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/registry/projects/{name}/repositories/{repo}/artifacts/{digest}/tags
     * List tags
     * 
     * @param name 
     * @param repo 
     * @param digest 
     * @param page  (optional, default to 1)
     * @param pageSize  (optional, default to 10)
     * @return kotlin.collections.List<RegistryTag>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun registryListTags(name: kotlin.String, repo: kotlin.String, digest: kotlin.String, page: kotlin.Int? = 1, pageSize: kotlin.Int? = 10) : kotlin.collections.List<RegistryTag> = withContext(Dispatchers.IO) {
        val localVarResponse = registryListTagsWithHttpInfo(name = name, repo = repo, digest = digest, page = page, pageSize = pageSize)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<RegistryTag>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/registry/projects/{name}/repositories/{repo}/artifacts/{digest}/tags
     * List tags
     * 
     * @param name 
     * @param repo 
     * @param digest 
     * @param page  (optional, default to 1)
     * @param pageSize  (optional, default to 10)
     * @return ApiResponse<kotlin.collections.List<RegistryTag>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun registryListTagsWithHttpInfo(name: kotlin.String, repo: kotlin.String, digest: kotlin.String, page: kotlin.Int?, pageSize: kotlin.Int?) : ApiResponse<kotlin.collections.List<RegistryTag>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = registryListTagsRequestConfig(name = name, repo = repo, digest = digest, page = page, pageSize = pageSize)

        return@withContext request<Unit, kotlin.collections.List<RegistryTag>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation registryListTags
     *
     * @param name 
     * @param repo 
     * @param digest 
     * @param page  (optional, default to 1)
     * @param pageSize  (optional, default to 10)
     * @return RequestConfig
     */
    fun registryListTagsRequestConfig(name: kotlin.String, repo: kotlin.String, digest: kotlin.String, page: kotlin.Int?, pageSize: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("page_size", listOf(pageSize.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/registry/projects/{name}/repositories/{repo}/artifacts/{digest}/tags".replace("{"+"name"+"}", encodeURIComponent(name.toString())).replace("{"+"repo"+"}", encodeURIComponent(repo.toString())).replace("{"+"digest"+"}", encodeURIComponent(digest.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
