/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.BillingBalance
import ai.hanzo.sdk.models.BillingBillingGpuCharge402Response
import ai.hanzo.sdk.models.BillingGpuChargeRequest
import ai.hanzo.sdk.models.BillingGpuEligibility
import ai.hanzo.sdk.models.BillingPaymentMethods
import ai.hanzo.sdk.models.BillingUsageLedger
import ai.hanzo.sdk.models.InlineObject
import ai.hanzo.sdk.models.PlatformTRPCResult

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class BillingApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * GET /v1/billing/balance
     * Prepaid credit balance
     * The org&#39;s prepaid credit balance in USD cents — the same wallet the gateway debits.
     * @param currency Optional currency filter (default usd) (optional)
     * @return BillingBalance
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun billingBillingBalance(currency: kotlin.String? = null) : BillingBalance = withContext(Dispatchers.IO) {
        val localVarResponse = billingBillingBalanceWithHttpInfo(currency = currency)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as BillingBalance
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/billing/balance
     * Prepaid credit balance
     * The org&#39;s prepaid credit balance in USD cents — the same wallet the gateway debits.
     * @param currency Optional currency filter (default usd) (optional)
     * @return ApiResponse<BillingBalance?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun billingBillingBalanceWithHttpInfo(currency: kotlin.String?) : ApiResponse<BillingBalance?> = withContext(Dispatchers.IO) {
        val localVariableConfig = billingBillingBalanceRequestConfig(currency = currency)

        return@withContext request<Unit, BillingBalance>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation billingBillingBalance
     *
     * @param currency Optional currency filter (default usd) (optional)
     * @return RequestConfig
     */
    fun billingBillingBalanceRequestConfig(currency: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (currency != null) {
                    put("currency", listOf(currency.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/billing/balance",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/billing/gpu-charge
     * Prepay-only GPU charge
     * The prepay-only, card-required GPU debit against the caller&#39;s own org wallet. Commerce enforces both gates server-side; the subject is pinned server-side, so only the charge params ride the body. Commerce&#39;s status is forwarded verbatim. 
     * @param billingGpuChargeRequest 
     * @return kotlin.collections.Map<kotlin.String, kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun billingBillingGpuCharge(billingGpuChargeRequest: BillingGpuChargeRequest) : kotlin.collections.Map<kotlin.String, kotlin.Any> = withContext(Dispatchers.IO) {
        val localVarResponse = billingBillingGpuChargeWithHttpInfo(billingGpuChargeRequest = billingGpuChargeRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Map<kotlin.String, kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/billing/gpu-charge
     * Prepay-only GPU charge
     * The prepay-only, card-required GPU debit against the caller&#39;s own org wallet. Commerce enforces both gates server-side; the subject is pinned server-side, so only the charge params ride the body. Commerce&#39;s status is forwarded verbatim. 
     * @param billingGpuChargeRequest 
     * @return ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun billingBillingGpuChargeWithHttpInfo(billingGpuChargeRequest: BillingGpuChargeRequest) : ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = billingBillingGpuChargeRequestConfig(billingGpuChargeRequest = billingGpuChargeRequest)

        return@withContext request<BillingGpuChargeRequest, kotlin.collections.Map<kotlin.String, kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation billingBillingGpuCharge
     *
     * @param billingGpuChargeRequest 
     * @return RequestConfig
     */
    fun billingBillingGpuChargeRequestConfig(billingGpuChargeRequest: BillingGpuChargeRequest) : RequestConfig<BillingGpuChargeRequest> {
        val localVariableBody = billingGpuChargeRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/billing/gpu-charge",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/billing/gpu-eligibility
     * GPU launch eligibility gate
     * Read-only launch gate — reports prepaid availability and card-on-file so the launch UI can show the exact remedy.
     * @param amountCents Immediate charge to test against (optional)
     * @param minPrepaidCents 24h-minimum prepaid floor (optional)
     * @param currency  (optional)
     * @return BillingGpuEligibility
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun billingBillingGpuEligibility(amountCents: kotlin.Long? = null, minPrepaidCents: kotlin.Long? = null, currency: kotlin.String? = null) : BillingGpuEligibility = withContext(Dispatchers.IO) {
        val localVarResponse = billingBillingGpuEligibilityWithHttpInfo(amountCents = amountCents, minPrepaidCents = minPrepaidCents, currency = currency)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as BillingGpuEligibility
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/billing/gpu-eligibility
     * GPU launch eligibility gate
     * Read-only launch gate — reports prepaid availability and card-on-file so the launch UI can show the exact remedy.
     * @param amountCents Immediate charge to test against (optional)
     * @param minPrepaidCents 24h-minimum prepaid floor (optional)
     * @param currency  (optional)
     * @return ApiResponse<BillingGpuEligibility?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun billingBillingGpuEligibilityWithHttpInfo(amountCents: kotlin.Long?, minPrepaidCents: kotlin.Long?, currency: kotlin.String?) : ApiResponse<BillingGpuEligibility?> = withContext(Dispatchers.IO) {
        val localVariableConfig = billingBillingGpuEligibilityRequestConfig(amountCents = amountCents, minPrepaidCents = minPrepaidCents, currency = currency)

        return@withContext request<Unit, BillingGpuEligibility>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation billingBillingGpuEligibility
     *
     * @param amountCents Immediate charge to test against (optional)
     * @param minPrepaidCents 24h-minimum prepaid floor (optional)
     * @param currency  (optional)
     * @return RequestConfig
     */
    fun billingBillingGpuEligibilityRequestConfig(amountCents: kotlin.Long?, minPrepaidCents: kotlin.Long?, currency: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (amountCents != null) {
                    put("amountCents", listOf(amountCents.toString()))
                }
                if (minPrepaidCents != null) {
                    put("minPrepaidCents", listOf(minPrepaidCents.toString()))
                }
                if (currency != null) {
                    put("currency", listOf(currency.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/billing/gpu-eligibility",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/billing/payment-methods
     * Saved payment methods (masked)
     * The org&#39;s saved cards as commerce&#39;s masked descriptor (brand + last4 + expiry) — never a PAN/CVV/token.
     * @return BillingPaymentMethods
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun billingBillingPaymentMethods() : BillingPaymentMethods = withContext(Dispatchers.IO) {
        val localVarResponse = billingBillingPaymentMethodsWithHttpInfo()

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as BillingPaymentMethods
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/billing/payment-methods
     * Saved payment methods (masked)
     * The org&#39;s saved cards as commerce&#39;s masked descriptor (brand + last4 + expiry) — never a PAN/CVV/token.
     * @return ApiResponse<BillingPaymentMethods?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun billingBillingPaymentMethodsWithHttpInfo() : ApiResponse<BillingPaymentMethods?> = withContext(Dispatchers.IO) {
        val localVariableConfig = billingBillingPaymentMethodsRequestConfig()

        return@withContext request<Unit, BillingPaymentMethods>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation billingBillingPaymentMethods
     *
     * @return RequestConfig
     */
    fun billingBillingPaymentMethodsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/billing/payment-methods",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/billing/usage
     * Per-request usage ledger
     * The raw per-request billing ledger (one row per billed call) for the caller&#39;s own org.
     * @param start Optional server-side window start (optional)
     * @param end Optional server-side window end (optional)
     * @return BillingUsageLedger
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun billingBillingUsage(start: kotlin.String? = null, end: kotlin.String? = null) : BillingUsageLedger = withContext(Dispatchers.IO) {
        val localVarResponse = billingBillingUsageWithHttpInfo(start = start, end = end)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as BillingUsageLedger
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/billing/usage
     * Per-request usage ledger
     * The raw per-request billing ledger (one row per billed call) for the caller&#39;s own org.
     * @param start Optional server-side window start (optional)
     * @param end Optional server-side window end (optional)
     * @return ApiResponse<BillingUsageLedger?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun billingBillingUsageWithHttpInfo(start: kotlin.String?, end: kotlin.String?) : ApiResponse<BillingUsageLedger?> = withContext(Dispatchers.IO) {
        val localVariableConfig = billingBillingUsageRequestConfig(start = start, end = end)

        return@withContext request<Unit, BillingUsageLedger>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation billingBillingUsage
     *
     * @param start Optional server-side window start (optional)
     * @param end Optional server-side window end (optional)
     * @return RequestConfig
     */
    fun billingBillingUsageRequestConfig(start: kotlin.String?, end: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (start != null) {
                    put("start", listOf(start.toString()))
                }
                if (end != null) {
                    put("end", listOf(end.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/billing/usage",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/platform/billing/getBalance
     * Get account balance
     * 
     * @return PlatformTRPCResult
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun platformBillingGetBalance() : PlatformTRPCResult = withContext(Dispatchers.IO) {
        val localVarResponse = platformBillingGetBalanceWithHttpInfo()

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PlatformTRPCResult
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/platform/billing/getBalance
     * Get account balance
     * 
     * @return ApiResponse<PlatformTRPCResult?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun platformBillingGetBalanceWithHttpInfo() : ApiResponse<PlatformTRPCResult?> = withContext(Dispatchers.IO) {
        val localVariableConfig = platformBillingGetBalanceRequestConfig()

        return@withContext request<Unit, PlatformTRPCResult>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation platformBillingGetBalance
     *
     * @return RequestConfig
     */
    fun platformBillingGetBalanceRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/platform/billing/getBalance",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/platform/billing/getPlans
     * List subscription plans
     * 
     * @return PlatformTRPCResult
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun platformBillingGetPlans() : PlatformTRPCResult = withContext(Dispatchers.IO) {
        val localVarResponse = platformBillingGetPlansWithHttpInfo()

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PlatformTRPCResult
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/platform/billing/getPlans
     * List subscription plans
     * 
     * @return ApiResponse<PlatformTRPCResult?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun platformBillingGetPlansWithHttpInfo() : ApiResponse<PlatformTRPCResult?> = withContext(Dispatchers.IO) {
        val localVariableConfig = platformBillingGetPlansRequestConfig()

        return@withContext request<Unit, PlatformTRPCResult>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation platformBillingGetPlans
     *
     * @return RequestConfig
     */
    fun platformBillingGetPlansRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/platform/billing/getPlans",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
