/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.ConsoleComment
import ai.hanzo.sdk.models.ConsoleCreateComment200Response
import ai.hanzo.sdk.models.ConsoleCreateCommentRequest
import ai.hanzo.sdk.models.ConsoleListComments200Response

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class CommentsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * POST /v1/console/comments
     * Create a comment
     * 
     * @param consoleCreateCommentRequest 
     * @return ConsoleCreateComment200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun consoleCreateComment(consoleCreateCommentRequest: ConsoleCreateCommentRequest) : ConsoleCreateComment200Response = withContext(Dispatchers.IO) {
        val localVarResponse = consoleCreateCommentWithHttpInfo(consoleCreateCommentRequest = consoleCreateCommentRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ConsoleCreateComment200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/console/comments
     * Create a comment
     * 
     * @param consoleCreateCommentRequest 
     * @return ApiResponse<ConsoleCreateComment200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun consoleCreateCommentWithHttpInfo(consoleCreateCommentRequest: ConsoleCreateCommentRequest) : ApiResponse<ConsoleCreateComment200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = consoleCreateCommentRequestConfig(consoleCreateCommentRequest = consoleCreateCommentRequest)

        return@withContext request<ConsoleCreateCommentRequest, ConsoleCreateComment200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation consoleCreateComment
     *
     * @param consoleCreateCommentRequest 
     * @return RequestConfig
     */
    fun consoleCreateCommentRequestConfig(consoleCreateCommentRequest: ConsoleCreateCommentRequest) : RequestConfig<ConsoleCreateCommentRequest> {
        val localVariableBody = consoleCreateCommentRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/console/comments",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/console/comments/{commentId}
     * Get a comment by ID
     * 
     * @param commentId 
     * @return ConsoleComment
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun consoleGetComment(commentId: kotlin.String) : ConsoleComment = withContext(Dispatchers.IO) {
        val localVarResponse = consoleGetCommentWithHttpInfo(commentId = commentId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ConsoleComment
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/console/comments/{commentId}
     * Get a comment by ID
     * 
     * @param commentId 
     * @return ApiResponse<ConsoleComment?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun consoleGetCommentWithHttpInfo(commentId: kotlin.String) : ApiResponse<ConsoleComment?> = withContext(Dispatchers.IO) {
        val localVariableConfig = consoleGetCommentRequestConfig(commentId = commentId)

        return@withContext request<Unit, ConsoleComment>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation consoleGetComment
     *
     * @param commentId 
     * @return RequestConfig
     */
    fun consoleGetCommentRequestConfig(commentId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/console/comments/{commentId}".replace("{"+"commentId"+"}", encodeURIComponent(commentId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/console/comments
     * Get all comments
     * 
     * @param page  (optional)
     * @param limit  (optional)
     * @param objectType Filter by object type (trace, observation, session, prompt) (optional)
     * @param objectId  (optional)
     * @param authorUserId  (optional)
     * @return ConsoleListComments200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun consoleListComments(page: kotlin.Int? = null, limit: kotlin.Int? = null, objectType: kotlin.String? = null, objectId: kotlin.String? = null, authorUserId: kotlin.String? = null) : ConsoleListComments200Response = withContext(Dispatchers.IO) {
        val localVarResponse = consoleListCommentsWithHttpInfo(page = page, limit = limit, objectType = objectType, objectId = objectId, authorUserId = authorUserId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ConsoleListComments200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/console/comments
     * Get all comments
     * 
     * @param page  (optional)
     * @param limit  (optional)
     * @param objectType Filter by object type (trace, observation, session, prompt) (optional)
     * @param objectId  (optional)
     * @param authorUserId  (optional)
     * @return ApiResponse<ConsoleListComments200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun consoleListCommentsWithHttpInfo(page: kotlin.Int?, limit: kotlin.Int?, objectType: kotlin.String?, objectId: kotlin.String?, authorUserId: kotlin.String?) : ApiResponse<ConsoleListComments200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = consoleListCommentsRequestConfig(page = page, limit = limit, objectType = objectType, objectId = objectId, authorUserId = authorUserId)

        return@withContext request<Unit, ConsoleListComments200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation consoleListComments
     *
     * @param page  (optional)
     * @param limit  (optional)
     * @param objectType Filter by object type (trace, observation, session, prompt) (optional)
     * @param objectId  (optional)
     * @param authorUserId  (optional)
     * @return RequestConfig
     */
    fun consoleListCommentsRequestConfig(page: kotlin.Int?, limit: kotlin.Int?, objectType: kotlin.String?, objectId: kotlin.String?, authorUserId: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (objectType != null) {
                    put("objectType", listOf(objectType.toString()))
                }
                if (objectId != null) {
                    put("objectId", listOf(objectId.toString()))
                }
                if (authorUserId != null) {
                    put("authorUserId", listOf(authorUserId.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/console/comments",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
