/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.ChatConversation
import ai.hanzo.sdk.models.ChatConversationListResponse
import ai.hanzo.sdk.models.ChatDeleteConvosRequest
import ai.hanzo.sdk.models.ChatGetConvosGenTitleByconversationid200Response
import ai.hanzo.sdk.models.ChatPostConvosArchiveRequest
import ai.hanzo.sdk.models.ChatPostConvosDuplicateRequest
import ai.hanzo.sdk.models.ChatPostConvosFork200Response
import ai.hanzo.sdk.models.ChatPostConvosForkRequest
import ai.hanzo.sdk.models.ChatPostConvosUpdateRequest

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class ConversationsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * DELETE /v1/chat/convos
     * Delete a conversation
     * 
     * @param chatDeleteConvosRequest 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatDeleteConvos(chatDeleteConvosRequest: ChatDeleteConvosRequest) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = chatDeleteConvosWithHttpInfo(chatDeleteConvosRequest = chatDeleteConvosRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/chat/convos
     * Delete a conversation
     * 
     * @param chatDeleteConvosRequest 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatDeleteConvosWithHttpInfo(chatDeleteConvosRequest: ChatDeleteConvosRequest) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatDeleteConvosRequestConfig(chatDeleteConvosRequest = chatDeleteConvosRequest)

        return@withContext request<ChatDeleteConvosRequest, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatDeleteConvos
     *
     * @param chatDeleteConvosRequest 
     * @return RequestConfig
     */
    fun chatDeleteConvosRequestConfig(chatDeleteConvosRequest: ChatDeleteConvosRequest) : RequestConfig<ChatDeleteConvosRequest> {
        val localVariableBody = chatDeleteConvosRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/chat/convos",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/chat/convos/all
     * Delete all conversations
     * 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatDeleteConvosAll() : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = chatDeleteConvosAllWithHttpInfo()

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/chat/convos/all
     * Delete all conversations
     * 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatDeleteConvosAllWithHttpInfo() : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatDeleteConvosAllRequestConfig()

        return@withContext request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatDeleteConvosAll
     *
     * @return RequestConfig
     */
    fun chatDeleteConvosAllRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/chat/convos/all",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/chat/convos
     * List conversations
     * 
     * @param limit  (optional, default to 25)
     * @param cursor  (optional)
     * @param isArchived  (optional)
     * @param tags  (optional)
     * @param search  (optional)
     * @param sortBy  (optional, default to "updatedAt")
     * @param sortDirection  (optional, default to "desc")
     * @return ChatConversationListResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatGetConvos(limit: kotlin.Int? = 25, cursor: kotlin.String? = null, isArchived: kotlin.String? = null, tags: kotlin.collections.List<kotlin.String>? = null, search: kotlin.String? = null, sortBy: kotlin.String? = "updatedAt", sortDirection: kotlin.String? = "desc") : ChatConversationListResponse = withContext(Dispatchers.IO) {
        val localVarResponse = chatGetConvosWithHttpInfo(limit = limit, cursor = cursor, isArchived = isArchived, tags = tags, search = search, sortBy = sortBy, sortDirection = sortDirection)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ChatConversationListResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/chat/convos
     * List conversations
     * 
     * @param limit  (optional, default to 25)
     * @param cursor  (optional)
     * @param isArchived  (optional)
     * @param tags  (optional)
     * @param search  (optional)
     * @param sortBy  (optional, default to "updatedAt")
     * @param sortDirection  (optional, default to "desc")
     * @return ApiResponse<ChatConversationListResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatGetConvosWithHttpInfo(limit: kotlin.Int?, cursor: kotlin.String?, isArchived: kotlin.String?, tags: kotlin.collections.List<kotlin.String>?, search: kotlin.String?, sortBy: kotlin.String?, sortDirection: kotlin.String?) : ApiResponse<ChatConversationListResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatGetConvosRequestConfig(limit = limit, cursor = cursor, isArchived = isArchived, tags = tags, search = search, sortBy = sortBy, sortDirection = sortDirection)

        return@withContext request<Unit, ChatConversationListResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatGetConvos
     *
     * @param limit  (optional, default to 25)
     * @param cursor  (optional)
     * @param isArchived  (optional)
     * @param tags  (optional)
     * @param search  (optional)
     * @param sortBy  (optional, default to "updatedAt")
     * @param sortDirection  (optional, default to "desc")
     * @return RequestConfig
     */
    fun chatGetConvosRequestConfig(limit: kotlin.Int?, cursor: kotlin.String?, isArchived: kotlin.String?, tags: kotlin.collections.List<kotlin.String>?, search: kotlin.String?, sortBy: kotlin.String?, sortDirection: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (cursor != null) {
                    put("cursor", listOf(cursor.toString()))
                }
                if (isArchived != null) {
                    put("isArchived", listOf(isArchived.toString()))
                }
                if (tags != null) {
                    put("tags", toMultiValue(tags.toList(), "multi"))
                }
                if (search != null) {
                    put("search", listOf(search.toString()))
                }
                if (sortBy != null) {
                    put("sortBy", listOf(sortBy.toString()))
                }
                if (sortDirection != null) {
                    put("sortDirection", listOf(sortDirection.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/chat/convos",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/chat/convos/{conversationId}
     * Get a conversation
     * 
     * @param conversationId 
     * @return ChatConversation
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatGetConvosByconversationid(conversationId: kotlin.String) : ChatConversation = withContext(Dispatchers.IO) {
        val localVarResponse = chatGetConvosByconversationidWithHttpInfo(conversationId = conversationId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ChatConversation
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/chat/convos/{conversationId}
     * Get a conversation
     * 
     * @param conversationId 
     * @return ApiResponse<ChatConversation?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatGetConvosByconversationidWithHttpInfo(conversationId: kotlin.String) : ApiResponse<ChatConversation?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatGetConvosByconversationidRequestConfig(conversationId = conversationId)

        return@withContext request<Unit, ChatConversation>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatGetConvosByconversationid
     *
     * @param conversationId 
     * @return RequestConfig
     */
    fun chatGetConvosByconversationidRequestConfig(conversationId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/chat/convos/{conversationId}".replace("{"+"conversationId"+"}", encodeURIComponent(conversationId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/chat/convos/gen_title/{conversationId}
     * Get generated title for conversation
     * Polls for an AI-generated title. Uses exponential backoff.
     * @param conversationId 
     * @return ChatGetConvosGenTitleByconversationid200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatGetConvosGenTitleByconversationid(conversationId: kotlin.String) : ChatGetConvosGenTitleByconversationid200Response = withContext(Dispatchers.IO) {
        val localVarResponse = chatGetConvosGenTitleByconversationidWithHttpInfo(conversationId = conversationId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ChatGetConvosGenTitleByconversationid200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/chat/convos/gen_title/{conversationId}
     * Get generated title for conversation
     * Polls for an AI-generated title. Uses exponential backoff.
     * @param conversationId 
     * @return ApiResponse<ChatGetConvosGenTitleByconversationid200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatGetConvosGenTitleByconversationidWithHttpInfo(conversationId: kotlin.String) : ApiResponse<ChatGetConvosGenTitleByconversationid200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatGetConvosGenTitleByconversationidRequestConfig(conversationId = conversationId)

        return@withContext request<Unit, ChatGetConvosGenTitleByconversationid200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatGetConvosGenTitleByconversationid
     *
     * @param conversationId 
     * @return RequestConfig
     */
    fun chatGetConvosGenTitleByconversationidRequestConfig(conversationId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/chat/convos/gen_title/{conversationId}".replace("{"+"conversationId"+"}", encodeURIComponent(conversationId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/chat/convos/archive
     * Archive or unarchive a conversation
     * 
     * @param chatPostConvosArchiveRequest 
     * @return ChatConversation
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatPostConvosArchive(chatPostConvosArchiveRequest: ChatPostConvosArchiveRequest) : ChatConversation = withContext(Dispatchers.IO) {
        val localVarResponse = chatPostConvosArchiveWithHttpInfo(chatPostConvosArchiveRequest = chatPostConvosArchiveRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ChatConversation
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/chat/convos/archive
     * Archive or unarchive a conversation
     * 
     * @param chatPostConvosArchiveRequest 
     * @return ApiResponse<ChatConversation?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatPostConvosArchiveWithHttpInfo(chatPostConvosArchiveRequest: ChatPostConvosArchiveRequest) : ApiResponse<ChatConversation?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatPostConvosArchiveRequestConfig(chatPostConvosArchiveRequest = chatPostConvosArchiveRequest)

        return@withContext request<ChatPostConvosArchiveRequest, ChatConversation>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatPostConvosArchive
     *
     * @param chatPostConvosArchiveRequest 
     * @return RequestConfig
     */
    fun chatPostConvosArchiveRequestConfig(chatPostConvosArchiveRequest: ChatPostConvosArchiveRequest) : RequestConfig<ChatPostConvosArchiveRequest> {
        val localVariableBody = chatPostConvosArchiveRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/chat/convos/archive",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/chat/convos/duplicate
     * Duplicate a conversation
     * 
     * @param chatPostConvosDuplicateRequest 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatPostConvosDuplicate(chatPostConvosDuplicateRequest: ChatPostConvosDuplicateRequest) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = chatPostConvosDuplicateWithHttpInfo(chatPostConvosDuplicateRequest = chatPostConvosDuplicateRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/chat/convos/duplicate
     * Duplicate a conversation
     * 
     * @param chatPostConvosDuplicateRequest 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatPostConvosDuplicateWithHttpInfo(chatPostConvosDuplicateRequest: ChatPostConvosDuplicateRequest) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatPostConvosDuplicateRequestConfig(chatPostConvosDuplicateRequest = chatPostConvosDuplicateRequest)

        return@withContext request<ChatPostConvosDuplicateRequest, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatPostConvosDuplicate
     *
     * @param chatPostConvosDuplicateRequest 
     * @return RequestConfig
     */
    fun chatPostConvosDuplicateRequestConfig(chatPostConvosDuplicateRequest: ChatPostConvosDuplicateRequest) : RequestConfig<ChatPostConvosDuplicateRequest> {
        val localVariableBody = chatPostConvosDuplicateRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/chat/convos/duplicate",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/chat/convos/fork
     * Fork a conversation
     * 
     * @param chatPostConvosForkRequest 
     * @return ChatPostConvosFork200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatPostConvosFork(chatPostConvosForkRequest: ChatPostConvosForkRequest) : ChatPostConvosFork200Response = withContext(Dispatchers.IO) {
        val localVarResponse = chatPostConvosForkWithHttpInfo(chatPostConvosForkRequest = chatPostConvosForkRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ChatPostConvosFork200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/chat/convos/fork
     * Fork a conversation
     * 
     * @param chatPostConvosForkRequest 
     * @return ApiResponse<ChatPostConvosFork200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatPostConvosForkWithHttpInfo(chatPostConvosForkRequest: ChatPostConvosForkRequest) : ApiResponse<ChatPostConvosFork200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatPostConvosForkRequestConfig(chatPostConvosForkRequest = chatPostConvosForkRequest)

        return@withContext request<ChatPostConvosForkRequest, ChatPostConvosFork200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatPostConvosFork
     *
     * @param chatPostConvosForkRequest 
     * @return RequestConfig
     */
    fun chatPostConvosForkRequestConfig(chatPostConvosForkRequest: ChatPostConvosForkRequest) : RequestConfig<ChatPostConvosForkRequest> {
        val localVariableBody = chatPostConvosForkRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/chat/convos/fork",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/chat/convos/import
     * Import conversations from JSON file
     * 
     * @param file  (optional)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatPostConvosImport(file: java.io.File? = null) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = chatPostConvosImportWithHttpInfo(file = file)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/chat/convos/import
     * Import conversations from JSON file
     * 
     * @param file  (optional)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatPostConvosImportWithHttpInfo(file: java.io.File?) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatPostConvosImportRequestConfig(file = file)

        return@withContext request<Map<String, PartConfig<*>>, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatPostConvosImport
     *
     * @param file  (optional)
     * @return RequestConfig
     */
    fun chatPostConvosImportRequestConfig(file: java.io.File?) : RequestConfig<Map<String, PartConfig<*>>> {
        val localVariableBody = mapOf(
            "file" to PartConfig(body = file, headers = mutableMapOf()),)
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "multipart/form-data")
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/chat/convos/import",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/chat/convos/update
     * Update a conversation title
     * 
     * @param chatPostConvosUpdateRequest 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatPostConvosUpdate(chatPostConvosUpdateRequest: ChatPostConvosUpdateRequest) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = chatPostConvosUpdateWithHttpInfo(chatPostConvosUpdateRequest = chatPostConvosUpdateRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/chat/convos/update
     * Update a conversation title
     * 
     * @param chatPostConvosUpdateRequest 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatPostConvosUpdateWithHttpInfo(chatPostConvosUpdateRequest: ChatPostConvosUpdateRequest) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatPostConvosUpdateRequestConfig(chatPostConvosUpdateRequest = chatPostConvosUpdateRequest)

        return@withContext request<ChatPostConvosUpdateRequest, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatPostConvosUpdate
     *
     * @param chatPostConvosUpdateRequest 
     * @return RequestConfig
     */
    fun chatPostConvosUpdateRequestConfig(chatPostConvosUpdateRequest: ChatPostConvosUpdateRequest) : RequestConfig<ChatPostConvosUpdateRequest> {
        val localVariableBody = chatPostConvosUpdateRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/chat/convos/update",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
