/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.ConsoleCreateDatasetItemRequest
import ai.hanzo.sdk.models.ConsoleDatasetItem
import ai.hanzo.sdk.models.ConsoleDeleteDatasetItem200Response
import ai.hanzo.sdk.models.ConsoleListDatasetItems200Response

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class DatasetItemsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * POST /v1/console/dataset-items
     * Create or upsert a dataset item
     * 
     * @param consoleCreateDatasetItemRequest 
     * @return ConsoleDatasetItem
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun consoleCreateDatasetItem(consoleCreateDatasetItemRequest: ConsoleCreateDatasetItemRequest) : ConsoleDatasetItem = withContext(Dispatchers.IO) {
        val localVarResponse = consoleCreateDatasetItemWithHttpInfo(consoleCreateDatasetItemRequest = consoleCreateDatasetItemRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ConsoleDatasetItem
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/console/dataset-items
     * Create or upsert a dataset item
     * 
     * @param consoleCreateDatasetItemRequest 
     * @return ApiResponse<ConsoleDatasetItem?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun consoleCreateDatasetItemWithHttpInfo(consoleCreateDatasetItemRequest: ConsoleCreateDatasetItemRequest) : ApiResponse<ConsoleDatasetItem?> = withContext(Dispatchers.IO) {
        val localVariableConfig = consoleCreateDatasetItemRequestConfig(consoleCreateDatasetItemRequest = consoleCreateDatasetItemRequest)

        return@withContext request<ConsoleCreateDatasetItemRequest, ConsoleDatasetItem>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation consoleCreateDatasetItem
     *
     * @param consoleCreateDatasetItemRequest 
     * @return RequestConfig
     */
    fun consoleCreateDatasetItemRequestConfig(consoleCreateDatasetItemRequest: ConsoleCreateDatasetItemRequest) : RequestConfig<ConsoleCreateDatasetItemRequest> {
        val localVariableBody = consoleCreateDatasetItemRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/console/dataset-items",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/console/dataset-items/{id}
     * Delete a dataset item
     * 
     * @param id 
     * @return ConsoleDeleteDatasetItem200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun consoleDeleteDatasetItem(id: kotlin.String) : ConsoleDeleteDatasetItem200Response = withContext(Dispatchers.IO) {
        val localVarResponse = consoleDeleteDatasetItemWithHttpInfo(id = id)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ConsoleDeleteDatasetItem200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/console/dataset-items/{id}
     * Delete a dataset item
     * 
     * @param id 
     * @return ApiResponse<ConsoleDeleteDatasetItem200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun consoleDeleteDatasetItemWithHttpInfo(id: kotlin.String) : ApiResponse<ConsoleDeleteDatasetItem200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = consoleDeleteDatasetItemRequestConfig(id = id)

        return@withContext request<Unit, ConsoleDeleteDatasetItem200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation consoleDeleteDatasetItem
     *
     * @param id 
     * @return RequestConfig
     */
    fun consoleDeleteDatasetItemRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/console/dataset-items/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/console/dataset-items/{id}
     * Get a dataset item
     * 
     * @param id 
     * @return ConsoleDatasetItem
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun consoleGetDatasetItem(id: kotlin.String) : ConsoleDatasetItem = withContext(Dispatchers.IO) {
        val localVarResponse = consoleGetDatasetItemWithHttpInfo(id = id)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ConsoleDatasetItem
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/console/dataset-items/{id}
     * Get a dataset item
     * 
     * @param id 
     * @return ApiResponse<ConsoleDatasetItem?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun consoleGetDatasetItemWithHttpInfo(id: kotlin.String) : ApiResponse<ConsoleDatasetItem?> = withContext(Dispatchers.IO) {
        val localVariableConfig = consoleGetDatasetItemRequestConfig(id = id)

        return@withContext request<Unit, ConsoleDatasetItem>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation consoleGetDatasetItem
     *
     * @param id 
     * @return RequestConfig
     */
    fun consoleGetDatasetItemRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/console/dataset-items/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/console/dataset-items
     * Get dataset items
     * 
     * @param datasetName  (optional)
     * @param sourceTraceId  (optional)
     * @param sourceObservationId  (optional)
     * @param version ISO 8601 timestamp. Returns state of dataset at this time. (optional)
     * @param page  (optional)
     * @param limit  (optional)
     * @return ConsoleListDatasetItems200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun consoleListDatasetItems(datasetName: kotlin.String? = null, sourceTraceId: kotlin.String? = null, sourceObservationId: kotlin.String? = null, version: java.time.OffsetDateTime? = null, page: kotlin.Int? = null, limit: kotlin.Int? = null) : ConsoleListDatasetItems200Response = withContext(Dispatchers.IO) {
        val localVarResponse = consoleListDatasetItemsWithHttpInfo(datasetName = datasetName, sourceTraceId = sourceTraceId, sourceObservationId = sourceObservationId, version = version, page = page, limit = limit)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ConsoleListDatasetItems200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/console/dataset-items
     * Get dataset items
     * 
     * @param datasetName  (optional)
     * @param sourceTraceId  (optional)
     * @param sourceObservationId  (optional)
     * @param version ISO 8601 timestamp. Returns state of dataset at this time. (optional)
     * @param page  (optional)
     * @param limit  (optional)
     * @return ApiResponse<ConsoleListDatasetItems200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun consoleListDatasetItemsWithHttpInfo(datasetName: kotlin.String?, sourceTraceId: kotlin.String?, sourceObservationId: kotlin.String?, version: java.time.OffsetDateTime?, page: kotlin.Int?, limit: kotlin.Int?) : ApiResponse<ConsoleListDatasetItems200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = consoleListDatasetItemsRequestConfig(datasetName = datasetName, sourceTraceId = sourceTraceId, sourceObservationId = sourceObservationId, version = version, page = page, limit = limit)

        return@withContext request<Unit, ConsoleListDatasetItems200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation consoleListDatasetItems
     *
     * @param datasetName  (optional)
     * @param sourceTraceId  (optional)
     * @param sourceObservationId  (optional)
     * @param version ISO 8601 timestamp. Returns state of dataset at this time. (optional)
     * @param page  (optional)
     * @param limit  (optional)
     * @return RequestConfig
     */
    fun consoleListDatasetItemsRequestConfig(datasetName: kotlin.String?, sourceTraceId: kotlin.String?, sourceObservationId: kotlin.String?, version: java.time.OffsetDateTime?, page: kotlin.Int?, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (datasetName != null) {
                    put("datasetName", listOf(datasetName.toString()))
                }
                if (sourceTraceId != null) {
                    put("sourceTraceId", listOf(sourceTraceId.toString()))
                }
                if (sourceObservationId != null) {
                    put("sourceObservationId", listOf(sourceObservationId.toString()))
                }
                if (version != null) {
                    put("version", listOf(parseDateToQueryString<java.time.OffsetDateTime>(version)))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/console/dataset-items",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
