/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.PlatformCancelDeploymentJob
import ai.hanzo.sdk.models.PlatformDeployJob
import ai.hanzo.sdk.models.PlatformDeployWorkerCancelDeployment200Response
import ai.hanzo.sdk.models.PlatformDeployWorkerDeploy200Response

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class DeployWorkerApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * POST /v1/platform/cancel-deployment
     * Cancel an in-progress worker deployment
     * 
     * @param platformCancelDeploymentJob 
     * @return PlatformDeployWorkerCancelDeployment200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun platformDeployWorkerCancelDeployment(platformCancelDeploymentJob: PlatformCancelDeploymentJob) : PlatformDeployWorkerCancelDeployment200Response = withContext(Dispatchers.IO) {
        val localVarResponse = platformDeployWorkerCancelDeploymentWithHttpInfo(platformCancelDeploymentJob = platformCancelDeploymentJob)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PlatformDeployWorkerCancelDeployment200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/platform/cancel-deployment
     * Cancel an in-progress worker deployment
     * 
     * @param platformCancelDeploymentJob 
     * @return ApiResponse<PlatformDeployWorkerCancelDeployment200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun platformDeployWorkerCancelDeploymentWithHttpInfo(platformCancelDeploymentJob: PlatformCancelDeploymentJob) : ApiResponse<PlatformDeployWorkerCancelDeployment200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = platformDeployWorkerCancelDeploymentRequestConfig(platformCancelDeploymentJob = platformCancelDeploymentJob)

        return@withContext request<PlatformCancelDeploymentJob, PlatformDeployWorkerCancelDeployment200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation platformDeployWorkerCancelDeployment
     *
     * @param platformCancelDeploymentJob 
     * @return RequestConfig
     */
    fun platformDeployWorkerCancelDeploymentRequestConfig(platformCancelDeploymentJob: PlatformCancelDeploymentJob) : RequestConfig<PlatformCancelDeploymentJob> {
        val localVariableBody = platformCancelDeploymentJob
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/platform/cancel-deployment",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/platform/deploy
     * Submit deployment job to worker queue
     * 
     * @param platformDeployJob 
     * @return PlatformDeployWorkerDeploy200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun platformDeployWorkerDeploy(platformDeployJob: PlatformDeployJob) : PlatformDeployWorkerDeploy200Response = withContext(Dispatchers.IO) {
        val localVarResponse = platformDeployWorkerDeployWithHttpInfo(platformDeployJob = platformDeployJob)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PlatformDeployWorkerDeploy200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/platform/deploy
     * Submit deployment job to worker queue
     * 
     * @param platformDeployJob 
     * @return ApiResponse<PlatformDeployWorkerDeploy200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun platformDeployWorkerDeployWithHttpInfo(platformDeployJob: PlatformDeployJob) : ApiResponse<PlatformDeployWorkerDeploy200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = platformDeployWorkerDeployRequestConfig(platformDeployJob = platformDeployJob)

        return@withContext request<PlatformDeployJob, PlatformDeployWorkerDeploy200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation platformDeployWorkerDeploy
     *
     * @param platformDeployJob 
     * @return RequestConfig
     */
    fun platformDeployWorkerDeployRequestConfig(platformDeployJob: PlatformDeployJob) : RequestConfig<PlatformDeployJob> {
        val localVariableBody = platformDeployJob
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/platform/deploy",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
