/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.FrameworkDocument
import ai.hanzo.sdk.models.FrameworkListDocuments200Response
import ai.hanzo.sdk.models.InlineObject
import ai.hanzo.sdk.models.SearchDeleteDocumentsByFilterRequest
import ai.hanzo.sdk.models.SearchEditDocumentsByFunctionRequest
import ai.hanzo.sdk.models.SearchPaginatedDocuments
import ai.hanzo.sdk.models.SearchResponseError
import ai.hanzo.sdk.models.SearchSummarizedTaskView

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class DocumentsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * POST /v1/framework/{doctype}/{name}/cancel
     * Cancel a submitted document (docstatus 1→2)
     * 
     * @param doctype 
     * @param name 
     * @return FrameworkDocument
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun frameworkCancelDocument(doctype: kotlin.String, name: kotlin.String) : FrameworkDocument = withContext(Dispatchers.IO) {
        val localVarResponse = frameworkCancelDocumentWithHttpInfo(doctype = doctype, name = name)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as FrameworkDocument
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/framework/{doctype}/{name}/cancel
     * Cancel a submitted document (docstatus 1→2)
     * 
     * @param doctype 
     * @param name 
     * @return ApiResponse<FrameworkDocument?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun frameworkCancelDocumentWithHttpInfo(doctype: kotlin.String, name: kotlin.String) : ApiResponse<FrameworkDocument?> = withContext(Dispatchers.IO) {
        val localVariableConfig = frameworkCancelDocumentRequestConfig(doctype = doctype, name = name)

        return@withContext request<Unit, FrameworkDocument>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation frameworkCancelDocument
     *
     * @param doctype 
     * @param name 
     * @return RequestConfig
     */
    fun frameworkCancelDocumentRequestConfig(doctype: kotlin.String, name: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/framework/{doctype}/{name}/cancel".replace("{"+"doctype"+"}", encodeURIComponent(doctype.toString())).replace("{"+"name"+"}", encodeURIComponent(name.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/framework/{doctype}
     * Create a document
     * 
     * @param doctype 
     * @param frameworkDocument 
     * @return FrameworkDocument
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun frameworkCreateDocument(doctype: kotlin.String, frameworkDocument: FrameworkDocument) : FrameworkDocument = withContext(Dispatchers.IO) {
        val localVarResponse = frameworkCreateDocumentWithHttpInfo(doctype = doctype, frameworkDocument = frameworkDocument)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as FrameworkDocument
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/framework/{doctype}
     * Create a document
     * 
     * @param doctype 
     * @param frameworkDocument 
     * @return ApiResponse<FrameworkDocument?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun frameworkCreateDocumentWithHttpInfo(doctype: kotlin.String, frameworkDocument: FrameworkDocument) : ApiResponse<FrameworkDocument?> = withContext(Dispatchers.IO) {
        val localVariableConfig = frameworkCreateDocumentRequestConfig(doctype = doctype, frameworkDocument = frameworkDocument)

        return@withContext request<FrameworkDocument, FrameworkDocument>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation frameworkCreateDocument
     *
     * @param doctype 
     * @param frameworkDocument 
     * @return RequestConfig
     */
    fun frameworkCreateDocumentRequestConfig(doctype: kotlin.String, frameworkDocument: FrameworkDocument) : RequestConfig<FrameworkDocument> {
        val localVariableBody = frameworkDocument
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/framework/{doctype}".replace("{"+"doctype"+"}", encodeURIComponent(doctype.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/framework/{doctype}/{name}
     * Delete a document
     * 
     * @param doctype 
     * @param name 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun frameworkDeleteDocument(doctype: kotlin.String, name: kotlin.String) : Unit = withContext(Dispatchers.IO) {
        val localVarResponse = frameworkDeleteDocumentWithHttpInfo(doctype = doctype, name = name)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/framework/{doctype}/{name}
     * Delete a document
     * 
     * @param doctype 
     * @param name 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun frameworkDeleteDocumentWithHttpInfo(doctype: kotlin.String, name: kotlin.String) : ApiResponse<Unit?> = withContext(Dispatchers.IO) {
        val localVariableConfig = frameworkDeleteDocumentRequestConfig(doctype = doctype, name = name)

        return@withContext request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation frameworkDeleteDocument
     *
     * @param doctype 
     * @param name 
     * @return RequestConfig
     */
    fun frameworkDeleteDocumentRequestConfig(doctype: kotlin.String, name: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/framework/{doctype}/{name}".replace("{"+"doctype"+"}", encodeURIComponent(doctype.toString())).replace("{"+"name"+"}", encodeURIComponent(name.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/framework/{doctype}/{name}
     * Get a document
     * 
     * @param doctype 
     * @param name 
     * @return FrameworkDocument
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun frameworkGetDocument(doctype: kotlin.String, name: kotlin.String) : FrameworkDocument = withContext(Dispatchers.IO) {
        val localVarResponse = frameworkGetDocumentWithHttpInfo(doctype = doctype, name = name)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as FrameworkDocument
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/framework/{doctype}/{name}
     * Get a document
     * 
     * @param doctype 
     * @param name 
     * @return ApiResponse<FrameworkDocument?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun frameworkGetDocumentWithHttpInfo(doctype: kotlin.String, name: kotlin.String) : ApiResponse<FrameworkDocument?> = withContext(Dispatchers.IO) {
        val localVariableConfig = frameworkGetDocumentRequestConfig(doctype = doctype, name = name)

        return@withContext request<Unit, FrameworkDocument>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation frameworkGetDocument
     *
     * @param doctype 
     * @param name 
     * @return RequestConfig
     */
    fun frameworkGetDocumentRequestConfig(doctype: kotlin.String, name: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/framework/{doctype}/{name}".replace("{"+"doctype"+"}", encodeURIComponent(doctype.toString())).replace("{"+"name"+"}", encodeURIComponent(name.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/framework/{doctype}
     * List documents of a DocType
     * 
     * @param doctype 
     * @param filters &#39;JSON object of field→value filters (declared fields, name, or docstatus)&#39; (optional)
     * @param fields Comma list or JSON array of field names to project (optional)
     * @param orderBy field [asc|desc] (optional)
     * @param limit  (optional, default to 100)
     * @return FrameworkListDocuments200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun frameworkListDocuments(doctype: kotlin.String, filters: kotlin.String? = null, fields: kotlin.String? = null, orderBy: kotlin.String? = null, limit: kotlin.Int? = 100) : FrameworkListDocuments200Response = withContext(Dispatchers.IO) {
        val localVarResponse = frameworkListDocumentsWithHttpInfo(doctype = doctype, filters = filters, fields = fields, orderBy = orderBy, limit = limit)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as FrameworkListDocuments200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/framework/{doctype}
     * List documents of a DocType
     * 
     * @param doctype 
     * @param filters &#39;JSON object of field→value filters (declared fields, name, or docstatus)&#39; (optional)
     * @param fields Comma list or JSON array of field names to project (optional)
     * @param orderBy field [asc|desc] (optional)
     * @param limit  (optional, default to 100)
     * @return ApiResponse<FrameworkListDocuments200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun frameworkListDocumentsWithHttpInfo(doctype: kotlin.String, filters: kotlin.String?, fields: kotlin.String?, orderBy: kotlin.String?, limit: kotlin.Int?) : ApiResponse<FrameworkListDocuments200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = frameworkListDocumentsRequestConfig(doctype = doctype, filters = filters, fields = fields, orderBy = orderBy, limit = limit)

        return@withContext request<Unit, FrameworkListDocuments200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation frameworkListDocuments
     *
     * @param doctype 
     * @param filters &#39;JSON object of field→value filters (declared fields, name, or docstatus)&#39; (optional)
     * @param fields Comma list or JSON array of field names to project (optional)
     * @param orderBy field [asc|desc] (optional)
     * @param limit  (optional, default to 100)
     * @return RequestConfig
     */
    fun frameworkListDocumentsRequestConfig(doctype: kotlin.String, filters: kotlin.String?, fields: kotlin.String?, orderBy: kotlin.String?, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (filters != null) {
                    put("filters", listOf(filters.toString()))
                }
                if (fields != null) {
                    put("fields", listOf(fields.toString()))
                }
                if (orderBy != null) {
                    put("order_by", listOf(orderBy.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/framework/{doctype}".replace("{"+"doctype"+"}", encodeURIComponent(doctype.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/framework/{doctype}/{name}/submit
     * Submit a document (docstatus 0→1)
     * 
     * @param doctype 
     * @param name 
     * @return FrameworkDocument
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun frameworkSubmitDocument(doctype: kotlin.String, name: kotlin.String) : FrameworkDocument = withContext(Dispatchers.IO) {
        val localVarResponse = frameworkSubmitDocumentWithHttpInfo(doctype = doctype, name = name)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as FrameworkDocument
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/framework/{doctype}/{name}/submit
     * Submit a document (docstatus 0→1)
     * 
     * @param doctype 
     * @param name 
     * @return ApiResponse<FrameworkDocument?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun frameworkSubmitDocumentWithHttpInfo(doctype: kotlin.String, name: kotlin.String) : ApiResponse<FrameworkDocument?> = withContext(Dispatchers.IO) {
        val localVariableConfig = frameworkSubmitDocumentRequestConfig(doctype = doctype, name = name)

        return@withContext request<Unit, FrameworkDocument>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation frameworkSubmitDocument
     *
     * @param doctype 
     * @param name 
     * @return RequestConfig
     */
    fun frameworkSubmitDocumentRequestConfig(doctype: kotlin.String, name: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/framework/{doctype}/{name}/submit".replace("{"+"doctype"+"}", encodeURIComponent(doctype.toString())).replace("{"+"name"+"}", encodeURIComponent(name.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /v1/framework/{doctype}/{name}
     * Update a draft document
     * 
     * @param doctype 
     * @param name 
     * @param frameworkDocument 
     * @return FrameworkDocument
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun frameworkUpdateDocument(doctype: kotlin.String, name: kotlin.String, frameworkDocument: FrameworkDocument) : FrameworkDocument = withContext(Dispatchers.IO) {
        val localVarResponse = frameworkUpdateDocumentWithHttpInfo(doctype = doctype, name = name, frameworkDocument = frameworkDocument)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as FrameworkDocument
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /v1/framework/{doctype}/{name}
     * Update a draft document
     * 
     * @param doctype 
     * @param name 
     * @param frameworkDocument 
     * @return ApiResponse<FrameworkDocument?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun frameworkUpdateDocumentWithHttpInfo(doctype: kotlin.String, name: kotlin.String, frameworkDocument: FrameworkDocument) : ApiResponse<FrameworkDocument?> = withContext(Dispatchers.IO) {
        val localVariableConfig = frameworkUpdateDocumentRequestConfig(doctype = doctype, name = name, frameworkDocument = frameworkDocument)

        return@withContext request<FrameworkDocument, FrameworkDocument>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation frameworkUpdateDocument
     *
     * @param doctype 
     * @param name 
     * @param frameworkDocument 
     * @return RequestConfig
     */
    fun frameworkUpdateDocumentRequestConfig(doctype: kotlin.String, name: kotlin.String, frameworkDocument: FrameworkDocument) : RequestConfig<FrameworkDocument> {
        val localVariableBody = frameworkDocument
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/v1/framework/{doctype}/{name}".replace("{"+"doctype"+"}", encodeURIComponent(doctype.toString())).replace("{"+"name"+"}", encodeURIComponent(name.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/search/indexes/{indexUid}/documents
     * Add or replace documents
     * 
     * @param indexUid Unique index identifier
     * @param requestBody 
     * @param primaryKey Primary key field name (optional)
     * @return SearchSummarizedTaskView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun searchAddOrReplaceDocuments(indexUid: kotlin.String, requestBody: kotlin.collections.List<kotlin.Any>, primaryKey: kotlin.String? = null) : SearchSummarizedTaskView = withContext(Dispatchers.IO) {
        val localVarResponse = searchAddOrReplaceDocumentsWithHttpInfo(indexUid = indexUid, requestBody = requestBody, primaryKey = primaryKey)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SearchSummarizedTaskView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/search/indexes/{indexUid}/documents
     * Add or replace documents
     * 
     * @param indexUid Unique index identifier
     * @param requestBody 
     * @param primaryKey Primary key field name (optional)
     * @return ApiResponse<SearchSummarizedTaskView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun searchAddOrReplaceDocumentsWithHttpInfo(indexUid: kotlin.String, requestBody: kotlin.collections.List<kotlin.Any>, primaryKey: kotlin.String?) : ApiResponse<SearchSummarizedTaskView?> = withContext(Dispatchers.IO) {
        val localVariableConfig = searchAddOrReplaceDocumentsRequestConfig(indexUid = indexUid, requestBody = requestBody, primaryKey = primaryKey)

        return@withContext request<kotlin.collections.List<kotlin.Any>, SearchSummarizedTaskView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation searchAddOrReplaceDocuments
     *
     * @param indexUid Unique index identifier
     * @param requestBody 
     * @param primaryKey Primary key field name (optional)
     * @return RequestConfig
     */
    fun searchAddOrReplaceDocumentsRequestConfig(indexUid: kotlin.String, requestBody: kotlin.collections.List<kotlin.Any>, primaryKey: kotlin.String?) : RequestConfig<kotlin.collections.List<kotlin.Any>> {
        val localVariableBody = requestBody
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (primaryKey != null) {
                    put("primaryKey", listOf(primaryKey.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/search/indexes/{indexUid}/documents".replace("{"+"indexUid"+"}", encodeURIComponent(indexUid.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /v1/search/indexes/{indexUid}/documents
     * Add or update documents (partial)
     * 
     * @param indexUid Unique index identifier
     * @param requestBody 
     * @param primaryKey  (optional)
     * @return SearchSummarizedTaskView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun searchAddOrUpdateDocuments(indexUid: kotlin.String, requestBody: kotlin.collections.List<kotlin.Any>, primaryKey: kotlin.String? = null) : SearchSummarizedTaskView = withContext(Dispatchers.IO) {
        val localVarResponse = searchAddOrUpdateDocumentsWithHttpInfo(indexUid = indexUid, requestBody = requestBody, primaryKey = primaryKey)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SearchSummarizedTaskView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /v1/search/indexes/{indexUid}/documents
     * Add or update documents (partial)
     * 
     * @param indexUid Unique index identifier
     * @param requestBody 
     * @param primaryKey  (optional)
     * @return ApiResponse<SearchSummarizedTaskView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun searchAddOrUpdateDocumentsWithHttpInfo(indexUid: kotlin.String, requestBody: kotlin.collections.List<kotlin.Any>, primaryKey: kotlin.String?) : ApiResponse<SearchSummarizedTaskView?> = withContext(Dispatchers.IO) {
        val localVariableConfig = searchAddOrUpdateDocumentsRequestConfig(indexUid = indexUid, requestBody = requestBody, primaryKey = primaryKey)

        return@withContext request<kotlin.collections.List<kotlin.Any>, SearchSummarizedTaskView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation searchAddOrUpdateDocuments
     *
     * @param indexUid Unique index identifier
     * @param requestBody 
     * @param primaryKey  (optional)
     * @return RequestConfig
     */
    fun searchAddOrUpdateDocumentsRequestConfig(indexUid: kotlin.String, requestBody: kotlin.collections.List<kotlin.Any>, primaryKey: kotlin.String?) : RequestConfig<kotlin.collections.List<kotlin.Any>> {
        val localVariableBody = requestBody
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (primaryKey != null) {
                    put("primaryKey", listOf(primaryKey.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/v1/search/indexes/{indexUid}/documents".replace("{"+"indexUid"+"}", encodeURIComponent(indexUid.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/search/indexes/{indexUid}/documents
     * Delete all documents in the index
     * 
     * @param indexUid Unique index identifier
     * @return SearchSummarizedTaskView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun searchDeleteAllDocuments(indexUid: kotlin.String) : SearchSummarizedTaskView = withContext(Dispatchers.IO) {
        val localVarResponse = searchDeleteAllDocumentsWithHttpInfo(indexUid = indexUid)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SearchSummarizedTaskView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/search/indexes/{indexUid}/documents
     * Delete all documents in the index
     * 
     * @param indexUid Unique index identifier
     * @return ApiResponse<SearchSummarizedTaskView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun searchDeleteAllDocumentsWithHttpInfo(indexUid: kotlin.String) : ApiResponse<SearchSummarizedTaskView?> = withContext(Dispatchers.IO) {
        val localVariableConfig = searchDeleteAllDocumentsRequestConfig(indexUid = indexUid)

        return@withContext request<Unit, SearchSummarizedTaskView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation searchDeleteAllDocuments
     *
     * @param indexUid Unique index identifier
     * @return RequestConfig
     */
    fun searchDeleteAllDocumentsRequestConfig(indexUid: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/search/indexes/{indexUid}/documents".replace("{"+"indexUid"+"}", encodeURIComponent(indexUid.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/search/indexes/{indexUid}/documents/{documentId}
     * Delete a single document
     * 
     * @param indexUid Unique index identifier
     * @param documentId 
     * @return SearchSummarizedTaskView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun searchDeleteDocument(indexUid: kotlin.String, documentId: kotlin.String) : SearchSummarizedTaskView = withContext(Dispatchers.IO) {
        val localVarResponse = searchDeleteDocumentWithHttpInfo(indexUid = indexUid, documentId = documentId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SearchSummarizedTaskView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/search/indexes/{indexUid}/documents/{documentId}
     * Delete a single document
     * 
     * @param indexUid Unique index identifier
     * @param documentId 
     * @return ApiResponse<SearchSummarizedTaskView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun searchDeleteDocumentWithHttpInfo(indexUid: kotlin.String, documentId: kotlin.String) : ApiResponse<SearchSummarizedTaskView?> = withContext(Dispatchers.IO) {
        val localVariableConfig = searchDeleteDocumentRequestConfig(indexUid = indexUid, documentId = documentId)

        return@withContext request<Unit, SearchSummarizedTaskView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation searchDeleteDocument
     *
     * @param indexUid Unique index identifier
     * @param documentId 
     * @return RequestConfig
     */
    fun searchDeleteDocumentRequestConfig(indexUid: kotlin.String, documentId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/search/indexes/{indexUid}/documents/{documentId}".replace("{"+"indexUid"+"}", encodeURIComponent(indexUid.toString())).replace("{"+"documentId"+"}", encodeURIComponent(documentId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/search/indexes/{indexUid}/documents/delete-batch
     * Delete documents by IDs
     * 
     * @param indexUid Unique index identifier
     * @param requestBody 
     * @return SearchSummarizedTaskView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun searchDeleteDocumentsBatch(indexUid: kotlin.String, requestBody: kotlin.collections.List<kotlin.String>) : SearchSummarizedTaskView = withContext(Dispatchers.IO) {
        val localVarResponse = searchDeleteDocumentsBatchWithHttpInfo(indexUid = indexUid, requestBody = requestBody)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SearchSummarizedTaskView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/search/indexes/{indexUid}/documents/delete-batch
     * Delete documents by IDs
     * 
     * @param indexUid Unique index identifier
     * @param requestBody 
     * @return ApiResponse<SearchSummarizedTaskView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun searchDeleteDocumentsBatchWithHttpInfo(indexUid: kotlin.String, requestBody: kotlin.collections.List<kotlin.String>) : ApiResponse<SearchSummarizedTaskView?> = withContext(Dispatchers.IO) {
        val localVariableConfig = searchDeleteDocumentsBatchRequestConfig(indexUid = indexUid, requestBody = requestBody)

        return@withContext request<kotlin.collections.List<kotlin.String>, SearchSummarizedTaskView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation searchDeleteDocumentsBatch
     *
     * @param indexUid Unique index identifier
     * @param requestBody 
     * @return RequestConfig
     */
    fun searchDeleteDocumentsBatchRequestConfig(indexUid: kotlin.String, requestBody: kotlin.collections.List<kotlin.String>) : RequestConfig<kotlin.collections.List<kotlin.String>> {
        val localVariableBody = requestBody
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/search/indexes/{indexUid}/documents/delete-batch".replace("{"+"indexUid"+"}", encodeURIComponent(indexUid.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/search/indexes/{indexUid}/documents/delete
     * Delete documents by filter
     * 
     * @param indexUid Unique index identifier
     * @param searchDeleteDocumentsByFilterRequest 
     * @return SearchSummarizedTaskView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun searchDeleteDocumentsByFilter(indexUid: kotlin.String, searchDeleteDocumentsByFilterRequest: SearchDeleteDocumentsByFilterRequest) : SearchSummarizedTaskView = withContext(Dispatchers.IO) {
        val localVarResponse = searchDeleteDocumentsByFilterWithHttpInfo(indexUid = indexUid, searchDeleteDocumentsByFilterRequest = searchDeleteDocumentsByFilterRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SearchSummarizedTaskView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/search/indexes/{indexUid}/documents/delete
     * Delete documents by filter
     * 
     * @param indexUid Unique index identifier
     * @param searchDeleteDocumentsByFilterRequest 
     * @return ApiResponse<SearchSummarizedTaskView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun searchDeleteDocumentsByFilterWithHttpInfo(indexUid: kotlin.String, searchDeleteDocumentsByFilterRequest: SearchDeleteDocumentsByFilterRequest) : ApiResponse<SearchSummarizedTaskView?> = withContext(Dispatchers.IO) {
        val localVariableConfig = searchDeleteDocumentsByFilterRequestConfig(indexUid = indexUid, searchDeleteDocumentsByFilterRequest = searchDeleteDocumentsByFilterRequest)

        return@withContext request<SearchDeleteDocumentsByFilterRequest, SearchSummarizedTaskView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation searchDeleteDocumentsByFilter
     *
     * @param indexUid Unique index identifier
     * @param searchDeleteDocumentsByFilterRequest 
     * @return RequestConfig
     */
    fun searchDeleteDocumentsByFilterRequestConfig(indexUid: kotlin.String, searchDeleteDocumentsByFilterRequest: SearchDeleteDocumentsByFilterRequest) : RequestConfig<SearchDeleteDocumentsByFilterRequest> {
        val localVariableBody = searchDeleteDocumentsByFilterRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/search/indexes/{indexUid}/documents/delete".replace("{"+"indexUid"+"}", encodeURIComponent(indexUid.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/search/indexes/{indexUid}/documents/edit
     * Edit documents using a function
     * 
     * @param indexUid Unique index identifier
     * @param searchEditDocumentsByFunctionRequest 
     * @return SearchSummarizedTaskView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun searchEditDocumentsByFunction(indexUid: kotlin.String, searchEditDocumentsByFunctionRequest: SearchEditDocumentsByFunctionRequest) : SearchSummarizedTaskView = withContext(Dispatchers.IO) {
        val localVarResponse = searchEditDocumentsByFunctionWithHttpInfo(indexUid = indexUid, searchEditDocumentsByFunctionRequest = searchEditDocumentsByFunctionRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SearchSummarizedTaskView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/search/indexes/{indexUid}/documents/edit
     * Edit documents using a function
     * 
     * @param indexUid Unique index identifier
     * @param searchEditDocumentsByFunctionRequest 
     * @return ApiResponse<SearchSummarizedTaskView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun searchEditDocumentsByFunctionWithHttpInfo(indexUid: kotlin.String, searchEditDocumentsByFunctionRequest: SearchEditDocumentsByFunctionRequest) : ApiResponse<SearchSummarizedTaskView?> = withContext(Dispatchers.IO) {
        val localVariableConfig = searchEditDocumentsByFunctionRequestConfig(indexUid = indexUid, searchEditDocumentsByFunctionRequest = searchEditDocumentsByFunctionRequest)

        return@withContext request<SearchEditDocumentsByFunctionRequest, SearchSummarizedTaskView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation searchEditDocumentsByFunction
     *
     * @param indexUid Unique index identifier
     * @param searchEditDocumentsByFunctionRequest 
     * @return RequestConfig
     */
    fun searchEditDocumentsByFunctionRequestConfig(indexUid: kotlin.String, searchEditDocumentsByFunctionRequest: SearchEditDocumentsByFunctionRequest) : RequestConfig<SearchEditDocumentsByFunctionRequest> {
        val localVariableBody = searchEditDocumentsByFunctionRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/search/indexes/{indexUid}/documents/edit".replace("{"+"indexUid"+"}", encodeURIComponent(indexUid.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/search/indexes/{indexUid}/documents/{documentId}
     * Get a single document
     * 
     * @param indexUid Unique index identifier
     * @param documentId 
     * @param fields  (optional)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun searchGetDocument(indexUid: kotlin.String, documentId: kotlin.String, fields: kotlin.String? = null) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = searchGetDocumentWithHttpInfo(indexUid = indexUid, documentId = documentId, fields = fields)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/search/indexes/{indexUid}/documents/{documentId}
     * Get a single document
     * 
     * @param indexUid Unique index identifier
     * @param documentId 
     * @param fields  (optional)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun searchGetDocumentWithHttpInfo(indexUid: kotlin.String, documentId: kotlin.String, fields: kotlin.String?) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = searchGetDocumentRequestConfig(indexUid = indexUid, documentId = documentId, fields = fields)

        return@withContext request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation searchGetDocument
     *
     * @param indexUid Unique index identifier
     * @param documentId 
     * @param fields  (optional)
     * @return RequestConfig
     */
    fun searchGetDocumentRequestConfig(indexUid: kotlin.String, documentId: kotlin.String, fields: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (fields != null) {
                    put("fields", listOf(fields.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/search/indexes/{indexUid}/documents/{documentId}".replace("{"+"indexUid"+"}", encodeURIComponent(indexUid.toString())).replace("{"+"documentId"+"}", encodeURIComponent(documentId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/search/indexes/{indexUid}/documents
     * Browse documents
     * 
     * @param indexUid Unique index identifier
     * @param offset  (optional, default to 0)
     * @param limit  (optional, default to 20)
     * @param fields Comma-separated fields to return (optional)
     * @param filter  (optional)
     * @return SearchPaginatedDocuments
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun searchGetDocuments(indexUid: kotlin.String, offset: kotlin.Int? = 0, limit: kotlin.Int? = 20, fields: kotlin.String? = null, filter: kotlin.String? = null) : SearchPaginatedDocuments = withContext(Dispatchers.IO) {
        val localVarResponse = searchGetDocumentsWithHttpInfo(indexUid = indexUid, offset = offset, limit = limit, fields = fields, filter = filter)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SearchPaginatedDocuments
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/search/indexes/{indexUid}/documents
     * Browse documents
     * 
     * @param indexUid Unique index identifier
     * @param offset  (optional, default to 0)
     * @param limit  (optional, default to 20)
     * @param fields Comma-separated fields to return (optional)
     * @param filter  (optional)
     * @return ApiResponse<SearchPaginatedDocuments?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun searchGetDocumentsWithHttpInfo(indexUid: kotlin.String, offset: kotlin.Int?, limit: kotlin.Int?, fields: kotlin.String?, filter: kotlin.String?) : ApiResponse<SearchPaginatedDocuments?> = withContext(Dispatchers.IO) {
        val localVariableConfig = searchGetDocumentsRequestConfig(indexUid = indexUid, offset = offset, limit = limit, fields = fields, filter = filter)

        return@withContext request<Unit, SearchPaginatedDocuments>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation searchGetDocuments
     *
     * @param indexUid Unique index identifier
     * @param offset  (optional, default to 0)
     * @param limit  (optional, default to 20)
     * @param fields Comma-separated fields to return (optional)
     * @param filter  (optional)
     * @return RequestConfig
     */
    fun searchGetDocumentsRequestConfig(indexUid: kotlin.String, offset: kotlin.Int?, limit: kotlin.Int?, fields: kotlin.String?, filter: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (offset != null) {
                    put("offset", listOf(offset.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (fields != null) {
                    put("fields", listOf(fields.toString()))
                }
                if (filter != null) {
                    put("filter", listOf(filter.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/search/indexes/{indexUid}/documents".replace("{"+"indexUid"+"}", encodeURIComponent(indexUid.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
