/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.AnalyticsGetEventDataFields200ResponseInner
import ai.hanzo.sdk.models.AnalyticsPageviewSeries
import ai.hanzo.sdk.models.S3GetBucketNotification200Response

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class EventsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/event-data/events
     * Get event data grouped by event name
     * 
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @param event  (optional)
     * @return kotlin.collections.List<kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsGetEventDataEvents(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long, event: kotlin.String? = null) : kotlin.collections.List<kotlin.Any> = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsGetEventDataEventsWithHttpInfo(websiteId = websiteId, startAt = startAt, endAt = endAt, event = event)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/event-data/events
     * Get event data grouped by event name
     * 
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @param event  (optional)
     * @return ApiResponse<kotlin.collections.List<kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsGetEventDataEventsWithHttpInfo(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long, event: kotlin.String?) : ApiResponse<kotlin.collections.List<kotlin.Any>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsGetEventDataEventsRequestConfig(websiteId = websiteId, startAt = startAt, endAt = endAt, event = event)

        return@withContext request<Unit, kotlin.collections.List<kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsGetEventDataEvents
     *
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @param event  (optional)
     * @return RequestConfig
     */
    fun analyticsGetEventDataEventsRequestConfig(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long, event: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("startAt", listOf(startAt.toString()))
                put("endAt", listOf(endAt.toString()))
                if (event != null) {
                    put("event", listOf(event.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/analytics/websites/{websiteId}/event-data/events".replace("{"+"websiteId"+"}", encodeURIComponent(websiteId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/event-data/fields
     * Get event data fields
     * 
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @return kotlin.collections.List<AnalyticsGetEventDataFields200ResponseInner>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsGetEventDataFields(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long) : kotlin.collections.List<AnalyticsGetEventDataFields200ResponseInner> = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsGetEventDataFieldsWithHttpInfo(websiteId = websiteId, startAt = startAt, endAt = endAt)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<AnalyticsGetEventDataFields200ResponseInner>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/event-data/fields
     * Get event data fields
     * 
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @return ApiResponse<kotlin.collections.List<AnalyticsGetEventDataFields200ResponseInner>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsGetEventDataFieldsWithHttpInfo(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long) : ApiResponse<kotlin.collections.List<AnalyticsGetEventDataFields200ResponseInner>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsGetEventDataFieldsRequestConfig(websiteId = websiteId, startAt = startAt, endAt = endAt)

        return@withContext request<Unit, kotlin.collections.List<AnalyticsGetEventDataFields200ResponseInner>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsGetEventDataFields
     *
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @return RequestConfig
     */
    fun analyticsGetEventDataFieldsRequestConfig(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("startAt", listOf(startAt.toString()))
                put("endAt", listOf(endAt.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/analytics/websites/{websiteId}/event-data/fields".replace("{"+"websiteId"+"}", encodeURIComponent(websiteId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/event-data/properties
     * Get event data properties
     * 
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @param propertyName  (optional)
     * @return kotlin.collections.List<kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsGetEventDataProperties(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long, propertyName: kotlin.String? = null) : kotlin.collections.List<kotlin.Any> = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsGetEventDataPropertiesWithHttpInfo(websiteId = websiteId, startAt = startAt, endAt = endAt, propertyName = propertyName)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/event-data/properties
     * Get event data properties
     * 
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @param propertyName  (optional)
     * @return ApiResponse<kotlin.collections.List<kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsGetEventDataPropertiesWithHttpInfo(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long, propertyName: kotlin.String?) : ApiResponse<kotlin.collections.List<kotlin.Any>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsGetEventDataPropertiesRequestConfig(websiteId = websiteId, startAt = startAt, endAt = endAt, propertyName = propertyName)

        return@withContext request<Unit, kotlin.collections.List<kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsGetEventDataProperties
     *
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @param propertyName  (optional)
     * @return RequestConfig
     */
    fun analyticsGetEventDataPropertiesRequestConfig(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long, propertyName: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("startAt", listOf(startAt.toString()))
                put("endAt", listOf(endAt.toString()))
                if (propertyName != null) {
                    put("propertyName", listOf(propertyName.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/analytics/websites/{websiteId}/event-data/properties".replace("{"+"websiteId"+"}", encodeURIComponent(websiteId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/event-data/stats
     * Get event data aggregate stats
     * 
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @param propertyName  (optional)
     * @return kotlin.collections.List<kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsGetEventDataStats(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long, propertyName: kotlin.String? = null) : kotlin.collections.List<kotlin.Any> = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsGetEventDataStatsWithHttpInfo(websiteId = websiteId, startAt = startAt, endAt = endAt, propertyName = propertyName)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/event-data/stats
     * Get event data aggregate stats
     * 
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @param propertyName  (optional)
     * @return ApiResponse<kotlin.collections.List<kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsGetEventDataStatsWithHttpInfo(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long, propertyName: kotlin.String?) : ApiResponse<kotlin.collections.List<kotlin.Any>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsGetEventDataStatsRequestConfig(websiteId = websiteId, startAt = startAt, endAt = endAt, propertyName = propertyName)

        return@withContext request<Unit, kotlin.collections.List<kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsGetEventDataStats
     *
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @param propertyName  (optional)
     * @return RequestConfig
     */
    fun analyticsGetEventDataStatsRequestConfig(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long, propertyName: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("startAt", listOf(startAt.toString()))
                put("endAt", listOf(endAt.toString()))
                if (propertyName != null) {
                    put("propertyName", listOf(propertyName.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/analytics/websites/{websiteId}/event-data/stats".replace("{"+"websiteId"+"}", encodeURIComponent(websiteId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/event-data/values
     * Get event data values for a property
     * 
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @param eventName  (optional)
     * @param propertyName  (optional)
     * @return kotlin.collections.List<kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsGetEventDataValues(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long, eventName: kotlin.String? = null, propertyName: kotlin.String? = null) : kotlin.collections.List<kotlin.Any> = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsGetEventDataValuesWithHttpInfo(websiteId = websiteId, startAt = startAt, endAt = endAt, eventName = eventName, propertyName = propertyName)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/event-data/values
     * Get event data values for a property
     * 
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @param eventName  (optional)
     * @param propertyName  (optional)
     * @return ApiResponse<kotlin.collections.List<kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsGetEventDataValuesWithHttpInfo(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long, eventName: kotlin.String?, propertyName: kotlin.String?) : ApiResponse<kotlin.collections.List<kotlin.Any>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsGetEventDataValuesRequestConfig(websiteId = websiteId, startAt = startAt, endAt = endAt, eventName = eventName, propertyName = propertyName)

        return@withContext request<Unit, kotlin.collections.List<kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsGetEventDataValues
     *
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @param eventName  (optional)
     * @param propertyName  (optional)
     * @return RequestConfig
     */
    fun analyticsGetEventDataValuesRequestConfig(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long, eventName: kotlin.String?, propertyName: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("startAt", listOf(startAt.toString()))
                put("endAt", listOf(endAt.toString()))
                if (eventName != null) {
                    put("eventName", listOf(eventName.toString()))
                }
                if (propertyName != null) {
                    put("propertyName", listOf(propertyName.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/analytics/websites/{websiteId}/event-data/values".replace("{"+"websiteId"+"}", encodeURIComponent(websiteId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter unit
     */
     enum class UnitAnalyticsGetEventSeries(val value: kotlin.String) {
         @Json(name = "minute") minute("minute"),
         @Json(name = "hour") hour("hour"),
         @Json(name = "day") day("day"),
         @Json(name = "week") week("week"),
         @Json(name = "month") month("month"),
         @Json(name = "year") year("year");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /v1/analytics/websites/{websiteId}/events/series
     * Get event metrics as a time series
     * 
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @param unit  (optional)
     * @param timezone  (optional)
     * @param url  (optional)
     * @param referrer  (optional)
     * @param title  (optional)
     * @param os  (optional)
     * @param browser  (optional)
     * @param device  (optional)
     * @param country  (optional)
     * @param region  (optional)
     * @param city  (optional)
     * @param tag  (optional)
     * @param host  (optional)
     * @param language  (optional)
     * @param event  (optional)
     * @return kotlin.collections.List<AnalyticsPageviewSeries>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsGetEventSeries(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long, unit: UnitAnalyticsGetEventSeries? = null, timezone: kotlin.String? = null, url: kotlin.String? = null, referrer: kotlin.String? = null, title: kotlin.String? = null, os: kotlin.String? = null, browser: kotlin.String? = null, device: kotlin.String? = null, country: kotlin.String? = null, region: kotlin.String? = null, city: kotlin.String? = null, tag: kotlin.String? = null, host: kotlin.String? = null, language: kotlin.String? = null, event: kotlin.String? = null) : kotlin.collections.List<AnalyticsPageviewSeries> = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsGetEventSeriesWithHttpInfo(websiteId = websiteId, startAt = startAt, endAt = endAt, unit = unit, timezone = timezone, url = url, referrer = referrer, title = title, os = os, browser = browser, device = device, country = country, region = region, city = city, tag = tag, host = host, language = language, event = event)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<AnalyticsPageviewSeries>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/events/series
     * Get event metrics as a time series
     * 
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @param unit  (optional)
     * @param timezone  (optional)
     * @param url  (optional)
     * @param referrer  (optional)
     * @param title  (optional)
     * @param os  (optional)
     * @param browser  (optional)
     * @param device  (optional)
     * @param country  (optional)
     * @param region  (optional)
     * @param city  (optional)
     * @param tag  (optional)
     * @param host  (optional)
     * @param language  (optional)
     * @param event  (optional)
     * @return ApiResponse<kotlin.collections.List<AnalyticsPageviewSeries>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsGetEventSeriesWithHttpInfo(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long, unit: UnitAnalyticsGetEventSeries?, timezone: kotlin.String?, url: kotlin.String?, referrer: kotlin.String?, title: kotlin.String?, os: kotlin.String?, browser: kotlin.String?, device: kotlin.String?, country: kotlin.String?, region: kotlin.String?, city: kotlin.String?, tag: kotlin.String?, host: kotlin.String?, language: kotlin.String?, event: kotlin.String?) : ApiResponse<kotlin.collections.List<AnalyticsPageviewSeries>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsGetEventSeriesRequestConfig(websiteId = websiteId, startAt = startAt, endAt = endAt, unit = unit, timezone = timezone, url = url, referrer = referrer, title = title, os = os, browser = browser, device = device, country = country, region = region, city = city, tag = tag, host = host, language = language, event = event)

        return@withContext request<Unit, kotlin.collections.List<AnalyticsPageviewSeries>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsGetEventSeries
     *
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @param unit  (optional)
     * @param timezone  (optional)
     * @param url  (optional)
     * @param referrer  (optional)
     * @param title  (optional)
     * @param os  (optional)
     * @param browser  (optional)
     * @param device  (optional)
     * @param country  (optional)
     * @param region  (optional)
     * @param city  (optional)
     * @param tag  (optional)
     * @param host  (optional)
     * @param language  (optional)
     * @param event  (optional)
     * @return RequestConfig
     */
    fun analyticsGetEventSeriesRequestConfig(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long, unit: UnitAnalyticsGetEventSeries?, timezone: kotlin.String?, url: kotlin.String?, referrer: kotlin.String?, title: kotlin.String?, os: kotlin.String?, browser: kotlin.String?, device: kotlin.String?, country: kotlin.String?, region: kotlin.String?, city: kotlin.String?, tag: kotlin.String?, host: kotlin.String?, language: kotlin.String?, event: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("startAt", listOf(startAt.toString()))
                put("endAt", listOf(endAt.toString()))
                if (unit != null) {
                    put("unit", listOf(unit.value))
                }
                if (timezone != null) {
                    put("timezone", listOf(timezone.toString()))
                }
                if (url != null) {
                    put("url", listOf(url.toString()))
                }
                if (referrer != null) {
                    put("referrer", listOf(referrer.toString()))
                }
                if (title != null) {
                    put("title", listOf(title.toString()))
                }
                if (os != null) {
                    put("os", listOf(os.toString()))
                }
                if (browser != null) {
                    put("browser", listOf(browser.toString()))
                }
                if (device != null) {
                    put("device", listOf(device.toString()))
                }
                if (country != null) {
                    put("country", listOf(country.toString()))
                }
                if (region != null) {
                    put("region", listOf(region.toString()))
                }
                if (city != null) {
                    put("city", listOf(city.toString()))
                }
                if (tag != null) {
                    put("tag", listOf(tag.toString()))
                }
                if (host != null) {
                    put("host", listOf(host.toString()))
                }
                if (language != null) {
                    put("language", listOf(language.toString()))
                }
                if (event != null) {
                    put("event", listOf(event.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/analytics/websites/{websiteId}/events/series".replace("{"+"websiteId"+"}", encodeURIComponent(websiteId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/events
     * Get paginated list of events
     * 
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderBy  (optional)
     * @param search  (optional)
     * @return kotlin.collections.List<kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsGetEvents(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long, page: kotlin.Int? = null, pageSize: kotlin.Int? = null, orderBy: kotlin.String? = null, search: kotlin.String? = null) : kotlin.collections.List<kotlin.Any> = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsGetEventsWithHttpInfo(websiteId = websiteId, startAt = startAt, endAt = endAt, page = page, pageSize = pageSize, orderBy = orderBy, search = search)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/events
     * Get paginated list of events
     * 
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderBy  (optional)
     * @param search  (optional)
     * @return ApiResponse<kotlin.collections.List<kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsGetEventsWithHttpInfo(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long, page: kotlin.Int?, pageSize: kotlin.Int?, orderBy: kotlin.String?, search: kotlin.String?) : ApiResponse<kotlin.collections.List<kotlin.Any>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsGetEventsRequestConfig(websiteId = websiteId, startAt = startAt, endAt = endAt, page = page, pageSize = pageSize, orderBy = orderBy, search = search)

        return@withContext request<Unit, kotlin.collections.List<kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsGetEvents
     *
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderBy  (optional)
     * @param search  (optional)
     * @return RequestConfig
     */
    fun analyticsGetEventsRequestConfig(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long, page: kotlin.Int?, pageSize: kotlin.Int?, orderBy: kotlin.String?, search: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("startAt", listOf(startAt.toString()))
                put("endAt", listOf(endAt.toString()))
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("pageSize", listOf(pageSize.toString()))
                }
                if (orderBy != null) {
                    put("orderBy", listOf(orderBy.toString()))
                }
                if (search != null) {
                    put("search", listOf(search.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/analytics/websites/{websiteId}/events".replace("{"+"websiteId"+"}", encodeURIComponent(websiteId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/s3/{bucket}?notification
     * Get event notification config
     * 
     * @param bucket 
     * @return S3GetBucketNotification200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun s3GetBucketNotification(bucket: kotlin.String) : S3GetBucketNotification200Response = withContext(Dispatchers.IO) {
        val localVarResponse = s3GetBucketNotificationWithHttpInfo(bucket = bucket)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as S3GetBucketNotification200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/s3/{bucket}?notification
     * Get event notification config
     * 
     * @param bucket 
     * @return ApiResponse<S3GetBucketNotification200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun s3GetBucketNotificationWithHttpInfo(bucket: kotlin.String) : ApiResponse<S3GetBucketNotification200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = s3GetBucketNotificationRequestConfig(bucket = bucket)

        return@withContext request<Unit, S3GetBucketNotification200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation s3GetBucketNotification
     *
     * @param bucket 
     * @return RequestConfig
     */
    fun s3GetBucketNotificationRequestConfig(bucket: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/s3/{bucket}?notification".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /v1/s3/{bucket}?notification
     * Set event notification config
     * 
     * @param bucket 
     * @param s3GetBucketNotification200Response 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun s3PutBucketNotification(bucket: kotlin.String, s3GetBucketNotification200Response: S3GetBucketNotification200Response) : Unit = withContext(Dispatchers.IO) {
        val localVarResponse = s3PutBucketNotificationWithHttpInfo(bucket = bucket, s3GetBucketNotification200Response = s3GetBucketNotification200Response)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /v1/s3/{bucket}?notification
     * Set event notification config
     * 
     * @param bucket 
     * @param s3GetBucketNotification200Response 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun s3PutBucketNotificationWithHttpInfo(bucket: kotlin.String, s3GetBucketNotification200Response: S3GetBucketNotification200Response) : ApiResponse<Unit?> = withContext(Dispatchers.IO) {
        val localVariableConfig = s3PutBucketNotificationRequestConfig(bucket = bucket, s3GetBucketNotification200Response = s3GetBucketNotification200Response)

        return@withContext request<S3GetBucketNotification200Response, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation s3PutBucketNotification
     *
     * @param bucket 
     * @param s3GetBucketNotification200Response 
     * @return RequestConfig
     */
    fun s3PutBucketNotificationRequestConfig(bucket: kotlin.String, s3GetBucketNotification200Response: S3GetBucketNotification200Response) : RequestConfig<S3GetBucketNotification200Response> {
        val localVariableBody = s3GetBucketNotification200Response
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        
        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/v1/s3/{bucket}?notification".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
