/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.CloudControllersResponse
import ai.hanzo.sdk.models.CloudObjectFile
import ai.hanzo.sdk.models.NexusFile
import ai.hanzo.sdk.models.NexusResponse

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class FileAPIApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * POST /v1/cloud/activate-file
     * Api Controller Activate File
     * activate file
     * @param key The key of the file
     * @param filename The name of the file
     * @return CloudControllersResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun cloudApiControllerActivateFile(key: kotlin.String, filename: kotlin.String) : CloudControllersResponse = withContext(Dispatchers.IO) {
        val localVarResponse = cloudApiControllerActivateFileWithHttpInfo(key = key, filename = filename)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudControllersResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/cloud/activate-file
     * Api Controller Activate File
     * activate file
     * @param key The key of the file
     * @param filename The name of the file
     * @return ApiResponse<CloudControllersResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun cloudApiControllerActivateFileWithHttpInfo(key: kotlin.String, filename: kotlin.String) : ApiResponse<CloudControllersResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = cloudApiControllerActivateFileRequestConfig(key = key, filename = filename)

        return@withContext request<Unit, CloudControllersResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudApiControllerActivateFile
     *
     * @param key The key of the file
     * @param filename The name of the file
     * @return RequestConfig
     */
    fun cloudApiControllerActivateFileRequestConfig(key: kotlin.String, filename: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("key", listOf(key.toString()))
                put("filename", listOf(filename.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/cloud/activate-file",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/cloud/add-file
     * Api Controller Add File
     * add file
     * @param store The store of the file
     * @param key The key of the file
     * @param isLeaf if is leaf
     * @param filename The name of the file
     * @return CloudControllersResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun cloudApiControllerAddFile(store: kotlin.String, key: kotlin.String, isLeaf: kotlin.String, filename: kotlin.String) : CloudControllersResponse = withContext(Dispatchers.IO) {
        val localVarResponse = cloudApiControllerAddFileWithHttpInfo(store = store, key = key, isLeaf = isLeaf, filename = filename)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudControllersResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/cloud/add-file
     * Api Controller Add File
     * add file
     * @param store The store of the file
     * @param key The key of the file
     * @param isLeaf if is leaf
     * @param filename The name of the file
     * @return ApiResponse<CloudControllersResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun cloudApiControllerAddFileWithHttpInfo(store: kotlin.String, key: kotlin.String, isLeaf: kotlin.String, filename: kotlin.String) : ApiResponse<CloudControllersResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = cloudApiControllerAddFileRequestConfig(store = store, key = key, isLeaf = isLeaf, filename = filename)

        return@withContext request<Unit, CloudControllersResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudApiControllerAddFile
     *
     * @param store The store of the file
     * @param key The key of the file
     * @param isLeaf if is leaf
     * @param filename The name of the file
     * @return RequestConfig
     */
    fun cloudApiControllerAddFileRequestConfig(store: kotlin.String, key: kotlin.String, isLeaf: kotlin.String, filename: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("store", listOf(store.toString()))
                put("key", listOf(key.toString()))
                put("isLeaf", listOf(isLeaf.toString()))
                put("filename", listOf(filename.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/cloud/add-file",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/cloud/delete-file
     * Api Controller Delete File
     * delete file
     * @param store The store of the file
     * @param key The key of the file
     * @param isLeaf if is leaf
     * @return CloudControllersResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun cloudApiControllerDeleteFile(store: kotlin.String, key: kotlin.String, isLeaf: kotlin.String) : CloudControllersResponse = withContext(Dispatchers.IO) {
        val localVarResponse = cloudApiControllerDeleteFileWithHttpInfo(store = store, key = key, isLeaf = isLeaf)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudControllersResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/cloud/delete-file
     * Api Controller Delete File
     * delete file
     * @param store The store of the file
     * @param key The key of the file
     * @param isLeaf if is leaf
     * @return ApiResponse<CloudControllersResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun cloudApiControllerDeleteFileWithHttpInfo(store: kotlin.String, key: kotlin.String, isLeaf: kotlin.String) : ApiResponse<CloudControllersResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = cloudApiControllerDeleteFileRequestConfig(store = store, key = key, isLeaf = isLeaf)

        return@withContext request<Unit, CloudControllersResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudApiControllerDeleteFile
     *
     * @param store The store of the file
     * @param key The key of the file
     * @param isLeaf if is leaf
     * @return RequestConfig
     */
    fun cloudApiControllerDeleteFileRequestConfig(store: kotlin.String, key: kotlin.String, isLeaf: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("store", listOf(store.toString()))
                put("key", listOf(key.toString()))
                put("isLeaf", listOf(isLeaf.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/cloud/delete-file",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/cloud/get-active-file
     * Api Controller Get Active File
     * get active file
     * @param prefix The prefix of the file
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun cloudApiControllerGetActiveFile(prefix: kotlin.String) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = cloudApiControllerGetActiveFileWithHttpInfo(prefix = prefix)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/cloud/get-active-file
     * Api Controller Get Active File
     * get active file
     * @param prefix The prefix of the file
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun cloudApiControllerGetActiveFileWithHttpInfo(prefix: kotlin.String) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = cloudApiControllerGetActiveFileRequestConfig(prefix = prefix)

        return@withContext request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudApiControllerGetActiveFile
     *
     * @param prefix The prefix of the file
     * @return RequestConfig
     */
    fun cloudApiControllerGetActiveFileRequestConfig(prefix: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("prefix", listOf(prefix.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/cloud/get-active-file",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/cloud/update-file
     * Api Controller Update File
     * update file
     * @param storeId The store id of the file
     * @param key The key of the file
     * @param cloudObjectFile The details of the File
     * @return CloudControllersResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun cloudApiControllerUpdateFile(storeId: kotlin.String, key: kotlin.String, cloudObjectFile: CloudObjectFile) : CloudControllersResponse = withContext(Dispatchers.IO) {
        val localVarResponse = cloudApiControllerUpdateFileWithHttpInfo(storeId = storeId, key = key, cloudObjectFile = cloudObjectFile)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudControllersResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/cloud/update-file
     * Api Controller Update File
     * update file
     * @param storeId The store id of the file
     * @param key The key of the file
     * @param cloudObjectFile The details of the File
     * @return ApiResponse<CloudControllersResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun cloudApiControllerUpdateFileWithHttpInfo(storeId: kotlin.String, key: kotlin.String, cloudObjectFile: CloudObjectFile) : ApiResponse<CloudControllersResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = cloudApiControllerUpdateFileRequestConfig(storeId = storeId, key = key, cloudObjectFile = cloudObjectFile)

        return@withContext request<CloudObjectFile, CloudControllersResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudApiControllerUpdateFile
     *
     * @param storeId The store id of the file
     * @param key The key of the file
     * @param cloudObjectFile The details of the File
     * @return RequestConfig
     */
    fun cloudApiControllerUpdateFileRequestConfig(storeId: kotlin.String, key: kotlin.String, cloudObjectFile: CloudObjectFile) : RequestConfig<CloudObjectFile> {
        val localVariableBody = cloudObjectFile
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("storeId", listOf(storeId.toString()))
                put("key", listOf(key.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/cloud/update-file",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/cloud/upload-file
     * Api Controller Upload File
     * upload file to IAM storage
     * @param file The base64 encoded file data
     * @param type The file type/extension
     * @param name The file name
     * @return CloudControllersResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun cloudApiControllerUploadFile(file: kotlin.String, type: kotlin.String, name: kotlin.String) : CloudControllersResponse = withContext(Dispatchers.IO) {
        val localVarResponse = cloudApiControllerUploadFileWithHttpInfo(file = file, type = type, name = name)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudControllersResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/cloud/upload-file
     * Api Controller Upload File
     * upload file to IAM storage
     * @param file The base64 encoded file data
     * @param type The file type/extension
     * @param name The file name
     * @return ApiResponse<CloudControllersResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun cloudApiControllerUploadFileWithHttpInfo(file: kotlin.String, type: kotlin.String, name: kotlin.String) : ApiResponse<CloudControllersResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = cloudApiControllerUploadFileRequestConfig(file = file, type = type, name = name)

        return@withContext request<Map<String, PartConfig<*>>, CloudControllersResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudApiControllerUploadFile
     *
     * @param file The base64 encoded file data
     * @param type The file type/extension
     * @param name The file name
     * @return RequestConfig
     */
    fun cloudApiControllerUploadFileRequestConfig(file: kotlin.String, type: kotlin.String, name: kotlin.String) : RequestConfig<Map<String, PartConfig<*>>> {
        val localVariableBody = mapOf(
            "file" to PartConfig(body = file, headers = mutableMapOf()),
            "type" to PartConfig(body = type, headers = mutableMapOf()),
            "name" to PartConfig(body = name, headers = mutableMapOf()),)
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "multipart/form-data")
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/cloud/upload-file",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/nexus/activate-file
     * activate File
     * Activate a file for processing
     * @param key The key of the file
     * @param filename The name of the file
     * @return NexusResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun nexusActivateFile(key: kotlin.String, filename: kotlin.String) : NexusResponse = withContext(Dispatchers.IO) {
        val localVarResponse = nexusActivateFileWithHttpInfo(key = key, filename = filename)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as NexusResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/nexus/activate-file
     * activate File
     * Activate a file for processing
     * @param key The key of the file
     * @param filename The name of the file
     * @return ApiResponse<NexusResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun nexusActivateFileWithHttpInfo(key: kotlin.String, filename: kotlin.String) : ApiResponse<NexusResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = nexusActivateFileRequestConfig(key = key, filename = filename)

        return@withContext request<Unit, NexusResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation nexusActivateFile
     *
     * @param key The key of the file
     * @param filename The name of the file
     * @return RequestConfig
     */
    fun nexusActivateFileRequestConfig(key: kotlin.String, filename: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("key", listOf(key.toString()))
                put("filename", listOf(filename.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/nexus/activate-file",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/nexus/add-file
     * add File
     * Add a file to a knowledge store
     * @param store The store of the file
     * @param key The key of the file
     * @param isLeaf Whether the file is a leaf node
     * @param filename The name of the file
     * @return NexusResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun nexusAddFile(store: kotlin.String, key: kotlin.String, isLeaf: kotlin.String, filename: kotlin.String) : NexusResponse = withContext(Dispatchers.IO) {
        val localVarResponse = nexusAddFileWithHttpInfo(store = store, key = key, isLeaf = isLeaf, filename = filename)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as NexusResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/nexus/add-file
     * add File
     * Add a file to a knowledge store
     * @param store The store of the file
     * @param key The key of the file
     * @param isLeaf Whether the file is a leaf node
     * @param filename The name of the file
     * @return ApiResponse<NexusResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun nexusAddFileWithHttpInfo(store: kotlin.String, key: kotlin.String, isLeaf: kotlin.String, filename: kotlin.String) : ApiResponse<NexusResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = nexusAddFileRequestConfig(store = store, key = key, isLeaf = isLeaf, filename = filename)

        return@withContext request<Unit, NexusResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation nexusAddFile
     *
     * @param store The store of the file
     * @param key The key of the file
     * @param isLeaf Whether the file is a leaf node
     * @param filename The name of the file
     * @return RequestConfig
     */
    fun nexusAddFileRequestConfig(store: kotlin.String, key: kotlin.String, isLeaf: kotlin.String, filename: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("store", listOf(store.toString()))
                put("key", listOf(key.toString()))
                put("isLeaf", listOf(isLeaf.toString()))
                put("filename", listOf(filename.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/nexus/add-file",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/nexus/delete-file
     * delete File
     * Delete a file
     * @param store The store of the file
     * @param key The key of the file
     * @param isLeaf Whether the file is a leaf node
     * @return NexusResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun nexusDeleteFile(store: kotlin.String, key: kotlin.String, isLeaf: kotlin.String) : NexusResponse = withContext(Dispatchers.IO) {
        val localVarResponse = nexusDeleteFileWithHttpInfo(store = store, key = key, isLeaf = isLeaf)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as NexusResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/nexus/delete-file
     * delete File
     * Delete a file
     * @param store The store of the file
     * @param key The key of the file
     * @param isLeaf Whether the file is a leaf node
     * @return ApiResponse<NexusResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun nexusDeleteFileWithHttpInfo(store: kotlin.String, key: kotlin.String, isLeaf: kotlin.String) : ApiResponse<NexusResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = nexusDeleteFileRequestConfig(store = store, key = key, isLeaf = isLeaf)

        return@withContext request<Unit, NexusResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation nexusDeleteFile
     *
     * @param store The store of the file
     * @param key The key of the file
     * @param isLeaf Whether the file is a leaf node
     * @return RequestConfig
     */
    fun nexusDeleteFileRequestConfig(store: kotlin.String, key: kotlin.String, isLeaf: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("store", listOf(store.toString()))
                put("key", listOf(key.toString()))
                put("isLeaf", listOf(isLeaf.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/nexus/delete-file",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/nexus/get-active-file
     * get Active File
     * Get the active file
     * @param prefix The prefix of the file
     * @return kotlin.String
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun nexusGetActiveFile(prefix: kotlin.String) : kotlin.String = withContext(Dispatchers.IO) {
        val localVarResponse = nexusGetActiveFileWithHttpInfo(prefix = prefix)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.String
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/nexus/get-active-file
     * get Active File
     * Get the active file
     * @param prefix The prefix of the file
     * @return ApiResponse<kotlin.String?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun nexusGetActiveFileWithHttpInfo(prefix: kotlin.String) : ApiResponse<kotlin.String?> = withContext(Dispatchers.IO) {
        val localVariableConfig = nexusGetActiveFileRequestConfig(prefix = prefix)

        return@withContext request<Unit, kotlin.String>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation nexusGetActiveFile
     *
     * @param prefix The prefix of the file
     * @return RequestConfig
     */
    fun nexusGetActiveFileRequestConfig(prefix: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("prefix", listOf(prefix.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/nexus/get-active-file",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/nexus/update-file
     * update File
     * Update a file
     * @param storeId The store id of the file
     * @param key The key of the file
     * @param nexusFile The details of the file
     * @return NexusResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun nexusUpdateFile(storeId: kotlin.String, key: kotlin.String, nexusFile: NexusFile) : NexusResponse = withContext(Dispatchers.IO) {
        val localVarResponse = nexusUpdateFileWithHttpInfo(storeId = storeId, key = key, nexusFile = nexusFile)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as NexusResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/nexus/update-file
     * update File
     * Update a file
     * @param storeId The store id of the file
     * @param key The key of the file
     * @param nexusFile The details of the file
     * @return ApiResponse<NexusResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun nexusUpdateFileWithHttpInfo(storeId: kotlin.String, key: kotlin.String, nexusFile: NexusFile) : ApiResponse<NexusResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = nexusUpdateFileRequestConfig(storeId = storeId, key = key, nexusFile = nexusFile)

        return@withContext request<NexusFile, NexusResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation nexusUpdateFile
     *
     * @param storeId The store id of the file
     * @param key The key of the file
     * @param nexusFile The details of the file
     * @return RequestConfig
     */
    fun nexusUpdateFileRequestConfig(storeId: kotlin.String, key: kotlin.String, nexusFile: NexusFile) : RequestConfig<NexusFile> {
        val localVariableBody = nexusFile
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("storeId", listOf(storeId.toString()))
                put("key", listOf(key.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/nexus/update-file",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/nexus/upload-file
     * upload File
     * Upload a file to storage
     * @param file The base64 encoded file data
     * @param type The file type/extension
     * @param name The file name
     * @return NexusResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun nexusUploadFile(file: kotlin.String, type: kotlin.String, name: kotlin.String) : NexusResponse = withContext(Dispatchers.IO) {
        val localVarResponse = nexusUploadFileWithHttpInfo(file = file, type = type, name = name)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as NexusResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/nexus/upload-file
     * upload File
     * Upload a file to storage
     * @param file The base64 encoded file data
     * @param type The file type/extension
     * @param name The file name
     * @return ApiResponse<NexusResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun nexusUploadFileWithHttpInfo(file: kotlin.String, type: kotlin.String, name: kotlin.String) : ApiResponse<NexusResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = nexusUploadFileRequestConfig(file = file, type = type, name = name)

        return@withContext request<Map<String, PartConfig<*>>, NexusResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation nexusUploadFile
     *
     * @param file The base64 encoded file data
     * @param type The file type/extension
     * @param name The file name
     * @return RequestConfig
     */
    fun nexusUploadFileRequestConfig(file: kotlin.String, type: kotlin.String, name: kotlin.String) : RequestConfig<Map<String, PartConfig<*>>> {
        val localVariableBody = mapOf(
            "file" to PartConfig(body = file, headers = mutableMapOf()),
            "type" to PartConfig(body = type, headers = mutableMapOf()),
            "name" to PartConfig(body = name, headers = mutableMapOf()),)
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "multipart/form-data")
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/nexus/upload-file",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
