/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.AutoFlowRun
import ai.hanzo.sdk.models.AutoListFlowRuns200Response
import ai.hanzo.sdk.models.FlowBulkCancelFlowRunsRequest
import ai.hanzo.sdk.models.FlowFlowRun
import ai.hanzo.sdk.models.FlowListFlowRuns200Response
import ai.hanzo.sdk.models.FlowRetryFlowRunRequest

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class FlowRunsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * GET /v1/auto/flow-runs/{id}
     * Get a flow run by id
     * 
     * @param id 
     * @return AutoFlowRun
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun autoGetFlowRun(id: kotlin.String) : AutoFlowRun = withContext(Dispatchers.IO) {
        val localVarResponse = autoGetFlowRunWithHttpInfo(id = id)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AutoFlowRun
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/auto/flow-runs/{id}
     * Get a flow run by id
     * 
     * @param id 
     * @return ApiResponse<AutoFlowRun?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun autoGetFlowRunWithHttpInfo(id: kotlin.String) : ApiResponse<AutoFlowRun?> = withContext(Dispatchers.IO) {
        val localVariableConfig = autoGetFlowRunRequestConfig(id = id)

        return@withContext request<Unit, AutoFlowRun>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation autoGetFlowRun
     *
     * @param id 
     * @return RequestConfig
     */
    fun autoGetFlowRunRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/auto/flow-runs/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter status
     */
     enum class StatusAutoListFlowRuns(val value: kotlin.String) {
         @Json(name = "RUNNING") RUNNING("RUNNING"),
         @Json(name = "SUCCEEDED") SUCCEEDED("SUCCEEDED"),
         @Json(name = "FAILED") FAILED("FAILED"),
         @Json(name = "TIMEOUT") TIMEOUT("TIMEOUT"),
         @Json(name = "PAUSED") PAUSED("PAUSED"),
         @Json(name = "STOPPED") STOPPED("STOPPED");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /v1/auto/flow-runs
     * List flow runs
     * 
     * @param flowId  (optional)
     * @param status  (optional)
     * @param cursor  (optional)
     * @param limit  (optional, default to 10)
     * @param createdAfter  (optional)
     * @param createdBefore  (optional)
     * @return AutoListFlowRuns200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun autoListFlowRuns(flowId: kotlin.String? = null, status: kotlin.collections.List<StatusAutoListFlowRuns>? = null, cursor: kotlin.String? = null, limit: kotlin.Int? = 10, createdAfter: java.time.OffsetDateTime? = null, createdBefore: java.time.OffsetDateTime? = null) : AutoListFlowRuns200Response = withContext(Dispatchers.IO) {
        val localVarResponse = autoListFlowRunsWithHttpInfo(flowId = flowId, status = status, cursor = cursor, limit = limit, createdAfter = createdAfter, createdBefore = createdBefore)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AutoListFlowRuns200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/auto/flow-runs
     * List flow runs
     * 
     * @param flowId  (optional)
     * @param status  (optional)
     * @param cursor  (optional)
     * @param limit  (optional, default to 10)
     * @param createdAfter  (optional)
     * @param createdBefore  (optional)
     * @return ApiResponse<AutoListFlowRuns200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun autoListFlowRunsWithHttpInfo(flowId: kotlin.String?, status: kotlin.collections.List<StatusAutoListFlowRuns>?, cursor: kotlin.String?, limit: kotlin.Int?, createdAfter: java.time.OffsetDateTime?, createdBefore: java.time.OffsetDateTime?) : ApiResponse<AutoListFlowRuns200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = autoListFlowRunsRequestConfig(flowId = flowId, status = status, cursor = cursor, limit = limit, createdAfter = createdAfter, createdBefore = createdBefore)

        return@withContext request<Unit, AutoListFlowRuns200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation autoListFlowRuns
     *
     * @param flowId  (optional)
     * @param status  (optional)
     * @param cursor  (optional)
     * @param limit  (optional, default to 10)
     * @param createdAfter  (optional)
     * @param createdBefore  (optional)
     * @return RequestConfig
     */
    fun autoListFlowRunsRequestConfig(flowId: kotlin.String?, status: kotlin.collections.List<StatusAutoListFlowRuns>?, cursor: kotlin.String?, limit: kotlin.Int?, createdAfter: java.time.OffsetDateTime?, createdBefore: java.time.OffsetDateTime?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (flowId != null) {
                    put("flowId", listOf(flowId.toString()))
                }
                if (status != null) {
                    put("status", toMultiValue(status.toList(), "multi"))
                }
                if (cursor != null) {
                    put("cursor", listOf(cursor.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (createdAfter != null) {
                    put("createdAfter", listOf(parseDateToQueryString<java.time.OffsetDateTime>(createdAfter)))
                }
                if (createdBefore != null) {
                    put("createdBefore", listOf(parseDateToQueryString<java.time.OffsetDateTime>(createdBefore)))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/auto/flow-runs",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/auto/flow-runs/{id}/requests/{requestId}
     * Resume a paused flow run with human input
     * 
     * @param id 
     * @param requestId 
     * @param body  (optional)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun autoResumeFlowRun(id: kotlin.String, requestId: kotlin.String, body: kotlin.Any? = null) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = autoResumeFlowRunWithHttpInfo(id = id, requestId = requestId, body = body)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/auto/flow-runs/{id}/requests/{requestId}
     * Resume a paused flow run with human input
     * 
     * @param id 
     * @param requestId 
     * @param body  (optional)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun autoResumeFlowRunWithHttpInfo(id: kotlin.String, requestId: kotlin.String, body: kotlin.Any?) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = autoResumeFlowRunRequestConfig(id = id, requestId = requestId, body = body)

        return@withContext request<kotlin.Any, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation autoResumeFlowRun
     *
     * @param id 
     * @param requestId 
     * @param body  (optional)
     * @return RequestConfig
     */
    fun autoResumeFlowRunRequestConfig(id: kotlin.String, requestId: kotlin.String, body: kotlin.Any?) : RequestConfig<kotlin.Any> {
        val localVariableBody = body
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/auto/flow-runs/{id}/requests/{requestId}".replace("{"+"id"+"}", encodeURIComponent(id.toString())).replace("{"+"requestId"+"}", encodeURIComponent(requestId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/auto/flow-runs/{id}/retry
     * Retry a failed flow run
     * 
     * @param id 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun autoRetryFlowRun(id: kotlin.String) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = autoRetryFlowRunWithHttpInfo(id = id)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/auto/flow-runs/{id}/retry
     * Retry a failed flow run
     * 
     * @param id 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun autoRetryFlowRunWithHttpInfo(id: kotlin.String) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = autoRetryFlowRunRequestConfig(id = id)

        return@withContext request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation autoRetryFlowRun
     *
     * @param id 
     * @return RequestConfig
     */
    fun autoRetryFlowRunRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/auto/flow-runs/{id}/retry".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/flow/flow-runs/bulk/cancel
     * Bulk cancel running flow runs
     * 
     * @param flowBulkCancelFlowRunsRequest 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun flowBulkCancelFlowRuns(flowBulkCancelFlowRunsRequest: FlowBulkCancelFlowRunsRequest) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = flowBulkCancelFlowRunsWithHttpInfo(flowBulkCancelFlowRunsRequest = flowBulkCancelFlowRunsRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/flow/flow-runs/bulk/cancel
     * Bulk cancel running flow runs
     * 
     * @param flowBulkCancelFlowRunsRequest 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun flowBulkCancelFlowRunsWithHttpInfo(flowBulkCancelFlowRunsRequest: FlowBulkCancelFlowRunsRequest) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = flowBulkCancelFlowRunsRequestConfig(flowBulkCancelFlowRunsRequest = flowBulkCancelFlowRunsRequest)

        return@withContext request<FlowBulkCancelFlowRunsRequest, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation flowBulkCancelFlowRuns
     *
     * @param flowBulkCancelFlowRunsRequest 
     * @return RequestConfig
     */
    fun flowBulkCancelFlowRunsRequestConfig(flowBulkCancelFlowRunsRequest: FlowBulkCancelFlowRunsRequest) : RequestConfig<FlowBulkCancelFlowRunsRequest> {
        val localVariableBody = flowBulkCancelFlowRunsRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/flow/flow-runs/bulk/cancel",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/flow/flow-runs/{id}
     * Get a flow run by id
     * 
     * @param id 
     * @return FlowFlowRun
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun flowGetFlowRun(id: kotlin.String) : FlowFlowRun = withContext(Dispatchers.IO) {
        val localVarResponse = flowGetFlowRunWithHttpInfo(id = id)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as FlowFlowRun
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/flow/flow-runs/{id}
     * Get a flow run by id
     * 
     * @param id 
     * @return ApiResponse<FlowFlowRun?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun flowGetFlowRunWithHttpInfo(id: kotlin.String) : ApiResponse<FlowFlowRun?> = withContext(Dispatchers.IO) {
        val localVariableConfig = flowGetFlowRunRequestConfig(id = id)

        return@withContext request<Unit, FlowFlowRun>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation flowGetFlowRun
     *
     * @param id 
     * @return RequestConfig
     */
    fun flowGetFlowRunRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/flow/flow-runs/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter status
     */
     enum class StatusFlowListFlowRuns(val value: kotlin.String) {
         @Json(name = "RUNNING") RUNNING("RUNNING"),
         @Json(name = "SUCCEEDED") SUCCEEDED("SUCCEEDED"),
         @Json(name = "FAILED") FAILED("FAILED"),
         @Json(name = "TIMEOUT") TIMEOUT("TIMEOUT"),
         @Json(name = "PAUSED") PAUSED("PAUSED"),
         @Json(name = "STOPPED") STOPPED("STOPPED");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /v1/flow/flow-runs
     * List flow runs
     * 
     * @param flowId  (optional)
     * @param status  (optional)
     * @param tags  (optional)
     * @param cursor  (optional)
     * @param limit  (optional, default to 10)
     * @param createdAfter  (optional)
     * @param createdBefore  (optional)
     * @return FlowListFlowRuns200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun flowListFlowRuns(flowId: kotlin.String? = null, status: kotlin.collections.List<StatusFlowListFlowRuns>? = null, tags: kotlin.collections.List<kotlin.String>? = null, cursor: kotlin.String? = null, limit: kotlin.Int? = 10, createdAfter: java.time.OffsetDateTime? = null, createdBefore: java.time.OffsetDateTime? = null) : FlowListFlowRuns200Response = withContext(Dispatchers.IO) {
        val localVarResponse = flowListFlowRunsWithHttpInfo(flowId = flowId, status = status, tags = tags, cursor = cursor, limit = limit, createdAfter = createdAfter, createdBefore = createdBefore)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as FlowListFlowRuns200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/flow/flow-runs
     * List flow runs
     * 
     * @param flowId  (optional)
     * @param status  (optional)
     * @param tags  (optional)
     * @param cursor  (optional)
     * @param limit  (optional, default to 10)
     * @param createdAfter  (optional)
     * @param createdBefore  (optional)
     * @return ApiResponse<FlowListFlowRuns200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun flowListFlowRunsWithHttpInfo(flowId: kotlin.String?, status: kotlin.collections.List<StatusFlowListFlowRuns>?, tags: kotlin.collections.List<kotlin.String>?, cursor: kotlin.String?, limit: kotlin.Int?, createdAfter: java.time.OffsetDateTime?, createdBefore: java.time.OffsetDateTime?) : ApiResponse<FlowListFlowRuns200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = flowListFlowRunsRequestConfig(flowId = flowId, status = status, tags = tags, cursor = cursor, limit = limit, createdAfter = createdAfter, createdBefore = createdBefore)

        return@withContext request<Unit, FlowListFlowRuns200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation flowListFlowRuns
     *
     * @param flowId  (optional)
     * @param status  (optional)
     * @param tags  (optional)
     * @param cursor  (optional)
     * @param limit  (optional, default to 10)
     * @param createdAfter  (optional)
     * @param createdBefore  (optional)
     * @return RequestConfig
     */
    fun flowListFlowRunsRequestConfig(flowId: kotlin.String?, status: kotlin.collections.List<StatusFlowListFlowRuns>?, tags: kotlin.collections.List<kotlin.String>?, cursor: kotlin.String?, limit: kotlin.Int?, createdAfter: java.time.OffsetDateTime?, createdBefore: java.time.OffsetDateTime?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (flowId != null) {
                    put("flowId", listOf(flowId.toString()))
                }
                if (status != null) {
                    put("status", toMultiValue(status.toList(), "multi"))
                }
                if (tags != null) {
                    put("tags", toMultiValue(tags.toList(), "multi"))
                }
                if (cursor != null) {
                    put("cursor", listOf(cursor.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (createdAfter != null) {
                    put("createdAfter", listOf(parseDateToQueryString<java.time.OffsetDateTime>(createdAfter)))
                }
                if (createdBefore != null) {
                    put("createdBefore", listOf(parseDateToQueryString<java.time.OffsetDateTime>(createdBefore)))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/flow/flow-runs",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/flow/flow-runs/{id}/requests/{requestId}
     * Resume a paused flow run with human input
     * 
     * @param id 
     * @param requestId 
     * @param body  (optional)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun flowResumeFlowRun(id: kotlin.String, requestId: kotlin.String, body: kotlin.Any? = null) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = flowResumeFlowRunWithHttpInfo(id = id, requestId = requestId, body = body)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/flow/flow-runs/{id}/requests/{requestId}
     * Resume a paused flow run with human input
     * 
     * @param id 
     * @param requestId 
     * @param body  (optional)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun flowResumeFlowRunWithHttpInfo(id: kotlin.String, requestId: kotlin.String, body: kotlin.Any?) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = flowResumeFlowRunRequestConfig(id = id, requestId = requestId, body = body)

        return@withContext request<kotlin.Any, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation flowResumeFlowRun
     *
     * @param id 
     * @param requestId 
     * @param body  (optional)
     * @return RequestConfig
     */
    fun flowResumeFlowRunRequestConfig(id: kotlin.String, requestId: kotlin.String, body: kotlin.Any?) : RequestConfig<kotlin.Any> {
        val localVariableBody = body
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/flow/flow-runs/{id}/requests/{requestId}".replace("{"+"id"+"}", encodeURIComponent(id.toString())).replace("{"+"requestId"+"}", encodeURIComponent(requestId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/flow/flow-runs/{id}/retry
     * Retry a failed flow run
     * 
     * @param id 
     * @param flowRetryFlowRunRequest  (optional)
     * @return FlowFlowRun
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun flowRetryFlowRun(id: kotlin.String, flowRetryFlowRunRequest: FlowRetryFlowRunRequest? = null) : FlowFlowRun = withContext(Dispatchers.IO) {
        val localVarResponse = flowRetryFlowRunWithHttpInfo(id = id, flowRetryFlowRunRequest = flowRetryFlowRunRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as FlowFlowRun
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/flow/flow-runs/{id}/retry
     * Retry a failed flow run
     * 
     * @param id 
     * @param flowRetryFlowRunRequest  (optional)
     * @return ApiResponse<FlowFlowRun?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun flowRetryFlowRunWithHttpInfo(id: kotlin.String, flowRetryFlowRunRequest: FlowRetryFlowRunRequest?) : ApiResponse<FlowFlowRun?> = withContext(Dispatchers.IO) {
        val localVariableConfig = flowRetryFlowRunRequestConfig(id = id, flowRetryFlowRunRequest = flowRetryFlowRunRequest)

        return@withContext request<FlowRetryFlowRunRequest, FlowFlowRun>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation flowRetryFlowRun
     *
     * @param id 
     * @param flowRetryFlowRunRequest  (optional)
     * @return RequestConfig
     */
    fun flowRetryFlowRunRequestConfig(id: kotlin.String, flowRetryFlowRunRequest: FlowRetryFlowRunRequest?) : RequestConfig<FlowRetryFlowRunRequest> {
        val localVariableBody = flowRetryFlowRunRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/flow/flow-runs/{id}/retry".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
