/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.ChatPostConvosImportRequest
import ai.hanzo.sdk.models.EdgeError
import ai.hanzo.sdk.models.EdgeFunction
import ai.hanzo.sdk.models.EdgeFunctionCreate
import ai.hanzo.sdk.models.EdgeFunctionMetrics
import ai.hanzo.sdk.models.EdgeFunctionUpdate
import ai.hanzo.sdk.models.FunctionsCreateFunctionRequest
import ai.hanzo.sdk.models.FunctionsFunction
import ai.hanzo.sdk.models.FunctionsFunctionDetail
import ai.hanzo.sdk.models.FunctionsGetFunctionLogs200Response
import ai.hanzo.sdk.models.FunctionsInvocation
import ai.hanzo.sdk.models.FunctionsInvokeRequest
import ai.hanzo.sdk.models.FunctionsListFunctionSecrets200Response
import ai.hanzo.sdk.models.FunctionsListFunctions200Response
import ai.hanzo.sdk.models.FunctionsListInvocations200Response
import ai.hanzo.sdk.models.FunctionsListTriggers200Response
import ai.hanzo.sdk.models.InlineObject

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class FunctionsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * POST /v1/edge/functions
     * Create function
     * 
     * @param edgeFunctionCreate 
     * @return EdgeFunction
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun edgeCreateFunction(edgeFunctionCreate: EdgeFunctionCreate) : EdgeFunction = withContext(Dispatchers.IO) {
        val localVarResponse = edgeCreateFunctionWithHttpInfo(edgeFunctionCreate = edgeFunctionCreate)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as EdgeFunction
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/edge/functions
     * Create function
     * 
     * @param edgeFunctionCreate 
     * @return ApiResponse<EdgeFunction?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun edgeCreateFunctionWithHttpInfo(edgeFunctionCreate: EdgeFunctionCreate) : ApiResponse<EdgeFunction?> = withContext(Dispatchers.IO) {
        val localVariableConfig = edgeCreateFunctionRequestConfig(edgeFunctionCreate = edgeFunctionCreate)

        return@withContext request<EdgeFunctionCreate, EdgeFunction>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation edgeCreateFunction
     *
     * @param edgeFunctionCreate 
     * @return RequestConfig
     */
    fun edgeCreateFunctionRequestConfig(edgeFunctionCreate: EdgeFunctionCreate) : RequestConfig<EdgeFunctionCreate> {
        val localVariableBody = edgeFunctionCreate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/edge/functions",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/edge/functions/{slug}
     * Delete function
     * 
     * @param slug 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun edgeDeleteFunction(slug: kotlin.String) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = edgeDeleteFunctionWithHttpInfo(slug = slug)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/edge/functions/{slug}
     * Delete function
     * 
     * @param slug 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun edgeDeleteFunctionWithHttpInfo(slug: kotlin.String) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = edgeDeleteFunctionRequestConfig(slug = slug)

        return@withContext request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation edgeDeleteFunction
     *
     * @param slug 
     * @return RequestConfig
     */
    fun edgeDeleteFunctionRequestConfig(slug: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/edge/functions/{slug}".replace("{"+"slug"+"}", encodeURIComponent(slug.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/edge/functions/{slug}/deploy
     * Deploy function
     * Deploy function source code. Upload a tarball or zip containing the function source. Creates a new version on success. 
     * @param slug 
     * @param body 
     * @return EdgeFunction
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun edgeDeployFunction(slug: kotlin.String, body: java.io.File) : EdgeFunction = withContext(Dispatchers.IO) {
        val localVarResponse = edgeDeployFunctionWithHttpInfo(slug = slug, body = body)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as EdgeFunction
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/edge/functions/{slug}/deploy
     * Deploy function
     * Deploy function source code. Upload a tarball or zip containing the function source. Creates a new version on success. 
     * @param slug 
     * @param body 
     * @return ApiResponse<EdgeFunction?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun edgeDeployFunctionWithHttpInfo(slug: kotlin.String, body: java.io.File) : ApiResponse<EdgeFunction?> = withContext(Dispatchers.IO) {
        val localVariableConfig = edgeDeployFunctionRequestConfig(slug = slug, body = body)

        return@withContext request<java.io.File, EdgeFunction>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation edgeDeployFunction
     *
     * @param slug 
     * @param body 
     * @return RequestConfig
     */
    fun edgeDeployFunctionRequestConfig(slug: kotlin.String, body: java.io.File) : RequestConfig<java.io.File> {
        val localVariableBody = body
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/octet-stream"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/edge/functions/{slug}/deploy".replace("{"+"slug"+"}", encodeURIComponent(slug.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/edge/functions/{slug}
     * Get function
     * 
     * @param slug 
     * @return EdgeFunction
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun edgeGetFunction(slug: kotlin.String) : EdgeFunction = withContext(Dispatchers.IO) {
        val localVarResponse = edgeGetFunctionWithHttpInfo(slug = slug)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as EdgeFunction
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/edge/functions/{slug}
     * Get function
     * 
     * @param slug 
     * @return ApiResponse<EdgeFunction?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun edgeGetFunctionWithHttpInfo(slug: kotlin.String) : ApiResponse<EdgeFunction?> = withContext(Dispatchers.IO) {
        val localVariableConfig = edgeGetFunctionRequestConfig(slug = slug)

        return@withContext request<Unit, EdgeFunction>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation edgeGetFunction
     *
     * @param slug 
     * @return RequestConfig
     */
    fun edgeGetFunctionRequestConfig(slug: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/edge/functions/{slug}".replace("{"+"slug"+"}", encodeURIComponent(slug.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter granularity
     */
     enum class GranularityEdgeGetFunctionMetrics(val value: kotlin.String) {
         @Json(name = "minute") minute("minute"),
         @Json(name = "hour") hour("hour"),
         @Json(name = "day") day("day");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /v1/edge/functions/{slug}/metrics
     * Get function metrics
     * 
     * @param slug 
     * @param from  (optional)
     * @param to  (optional)
     * @param granularity  (optional, default to Granularity.hour)
     * @return kotlin.collections.List<EdgeFunctionMetrics>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun edgeGetFunctionMetrics(slug: kotlin.String, from: java.time.OffsetDateTime? = null, to: java.time.OffsetDateTime? = null, granularity: GranularityEdgeGetFunctionMetrics? = GranularityEdgeGetFunctionMetrics.hour) : kotlin.collections.List<EdgeFunctionMetrics> = withContext(Dispatchers.IO) {
        val localVarResponse = edgeGetFunctionMetricsWithHttpInfo(slug = slug, from = from, to = to, granularity = granularity)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<EdgeFunctionMetrics>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/edge/functions/{slug}/metrics
     * Get function metrics
     * 
     * @param slug 
     * @param from  (optional)
     * @param to  (optional)
     * @param granularity  (optional, default to Granularity.hour)
     * @return ApiResponse<kotlin.collections.List<EdgeFunctionMetrics>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun edgeGetFunctionMetricsWithHttpInfo(slug: kotlin.String, from: java.time.OffsetDateTime?, to: java.time.OffsetDateTime?, granularity: GranularityEdgeGetFunctionMetrics?) : ApiResponse<kotlin.collections.List<EdgeFunctionMetrics>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = edgeGetFunctionMetricsRequestConfig(slug = slug, from = from, to = to, granularity = granularity)

        return@withContext request<Unit, kotlin.collections.List<EdgeFunctionMetrics>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation edgeGetFunctionMetrics
     *
     * @param slug 
     * @param from  (optional)
     * @param to  (optional)
     * @param granularity  (optional, default to Granularity.hour)
     * @return RequestConfig
     */
    fun edgeGetFunctionMetricsRequestConfig(slug: kotlin.String, from: java.time.OffsetDateTime?, to: java.time.OffsetDateTime?, granularity: GranularityEdgeGetFunctionMetrics?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (from != null) {
                    put("from", listOf(parseDateToQueryString<java.time.OffsetDateTime>(from)))
                }
                if (to != null) {
                    put("to", listOf(parseDateToQueryString<java.time.OffsetDateTime>(to)))
                }
                if (granularity != null) {
                    put("granularity", listOf(granularity.value))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/edge/functions/{slug}/metrics".replace("{"+"slug"+"}", encodeURIComponent(slug.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/edge/functions/{slug}/invoke
     * Invoke function
     * Invoke an edge function directly. The request body is passed through to the function handler. 
     * @param slug 
     * @param requestBody  (optional)
     * @return kotlin.collections.Map<kotlin.String, kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun edgeInvokeFunction(slug: kotlin.String, requestBody: kotlin.collections.Map<kotlin.String, kotlin.Any>? = null) : kotlin.collections.Map<kotlin.String, kotlin.Any> = withContext(Dispatchers.IO) {
        val localVarResponse = edgeInvokeFunctionWithHttpInfo(slug = slug, requestBody = requestBody)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Map<kotlin.String, kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/edge/functions/{slug}/invoke
     * Invoke function
     * Invoke an edge function directly. The request body is passed through to the function handler. 
     * @param slug 
     * @param requestBody  (optional)
     * @return ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun edgeInvokeFunctionWithHttpInfo(slug: kotlin.String, requestBody: kotlin.collections.Map<kotlin.String, kotlin.Any>?) : ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = edgeInvokeFunctionRequestConfig(slug = slug, requestBody = requestBody)

        return@withContext request<kotlin.collections.Map<kotlin.String, kotlin.Any>, kotlin.collections.Map<kotlin.String, kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation edgeInvokeFunction
     *
     * @param slug 
     * @param requestBody  (optional)
     * @return RequestConfig
     */
    fun edgeInvokeFunctionRequestConfig(slug: kotlin.String, requestBody: kotlin.collections.Map<kotlin.String, kotlin.Any>?) : RequestConfig<kotlin.collections.Map<kotlin.String, kotlin.Any>> {
        val localVariableBody = requestBody
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json, text/plain"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/edge/functions/{slug}/invoke".replace("{"+"slug"+"}", encodeURIComponent(slug.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter status
     */
     enum class StatusEdgeListFunctions(val value: kotlin.String) {
         @Json(name = "active") active("active"),
         @Json(name = "inactive") inactive("inactive"),
         @Json(name = "deploying") deploying("deploying"),
         @Json(name = "failed") failed("failed");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /v1/edge/functions
     * List functions
     * 
     * @param page  (optional, default to 1)
     * @param pageSize  (optional, default to 20)
     * @param status  (optional)
     * @return kotlin.collections.List<EdgeFunction>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun edgeListFunctions(page: kotlin.Int? = 1, pageSize: kotlin.Int? = 20, status: StatusEdgeListFunctions? = null) : kotlin.collections.List<EdgeFunction> = withContext(Dispatchers.IO) {
        val localVarResponse = edgeListFunctionsWithHttpInfo(page = page, pageSize = pageSize, status = status)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<EdgeFunction>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/edge/functions
     * List functions
     * 
     * @param page  (optional, default to 1)
     * @param pageSize  (optional, default to 20)
     * @param status  (optional)
     * @return ApiResponse<kotlin.collections.List<EdgeFunction>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun edgeListFunctionsWithHttpInfo(page: kotlin.Int?, pageSize: kotlin.Int?, status: StatusEdgeListFunctions?) : ApiResponse<kotlin.collections.List<EdgeFunction>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = edgeListFunctionsRequestConfig(page = page, pageSize = pageSize, status = status)

        return@withContext request<Unit, kotlin.collections.List<EdgeFunction>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation edgeListFunctions
     *
     * @param page  (optional, default to 1)
     * @param pageSize  (optional, default to 20)
     * @param status  (optional)
     * @return RequestConfig
     */
    fun edgeListFunctionsRequestConfig(page: kotlin.Int?, pageSize: kotlin.Int?, status: StatusEdgeListFunctions?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("page_size", listOf(pageSize.toString()))
                }
                if (status != null) {
                    put("status", listOf(status.value))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/edge/functions",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /v1/edge/functions/{slug}
     * Update function
     * 
     * @param slug 
     * @param edgeFunctionUpdate 
     * @return EdgeFunction
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun edgeUpdateFunction(slug: kotlin.String, edgeFunctionUpdate: EdgeFunctionUpdate) : EdgeFunction = withContext(Dispatchers.IO) {
        val localVarResponse = edgeUpdateFunctionWithHttpInfo(slug = slug, edgeFunctionUpdate = edgeFunctionUpdate)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as EdgeFunction
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /v1/edge/functions/{slug}
     * Update function
     * 
     * @param slug 
     * @param edgeFunctionUpdate 
     * @return ApiResponse<EdgeFunction?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun edgeUpdateFunctionWithHttpInfo(slug: kotlin.String, edgeFunctionUpdate: EdgeFunctionUpdate) : ApiResponse<EdgeFunction?> = withContext(Dispatchers.IO) {
        val localVariableConfig = edgeUpdateFunctionRequestConfig(slug = slug, edgeFunctionUpdate = edgeFunctionUpdate)

        return@withContext request<EdgeFunctionUpdate, EdgeFunction>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation edgeUpdateFunction
     *
     * @param slug 
     * @param edgeFunctionUpdate 
     * @return RequestConfig
     */
    fun edgeUpdateFunctionRequestConfig(slug: kotlin.String, edgeFunctionUpdate: EdgeFunctionUpdate) : RequestConfig<EdgeFunctionUpdate> {
        val localVariableBody = edgeFunctionUpdate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/v1/edge/functions/{slug}".replace("{"+"slug"+"}", encodeURIComponent(slug.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/functions
     * Create a function
     * 
     * @param functionsCreateFunctionRequest 
     * @return FunctionsFunction
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun functionsCreateFunction(functionsCreateFunctionRequest: FunctionsCreateFunctionRequest) : FunctionsFunction = withContext(Dispatchers.IO) {
        val localVarResponse = functionsCreateFunctionWithHttpInfo(functionsCreateFunctionRequest = functionsCreateFunctionRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as FunctionsFunction
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/functions
     * Create a function
     * 
     * @param functionsCreateFunctionRequest 
     * @return ApiResponse<FunctionsFunction?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun functionsCreateFunctionWithHttpInfo(functionsCreateFunctionRequest: FunctionsCreateFunctionRequest) : ApiResponse<FunctionsFunction?> = withContext(Dispatchers.IO) {
        val localVariableConfig = functionsCreateFunctionRequestConfig(functionsCreateFunctionRequest = functionsCreateFunctionRequest)

        return@withContext request<FunctionsCreateFunctionRequest, FunctionsFunction>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation functionsCreateFunction
     *
     * @param functionsCreateFunctionRequest 
     * @return RequestConfig
     */
    fun functionsCreateFunctionRequestConfig(functionsCreateFunctionRequest: FunctionsCreateFunctionRequest) : RequestConfig<FunctionsCreateFunctionRequest> {
        val localVariableBody = functionsCreateFunctionRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/functions",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/functions/{name}
     * Delete a function
     * 
     * @param name 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun functionsDeleteFunction(name: kotlin.String) : Unit = withContext(Dispatchers.IO) {
        val localVarResponse = functionsDeleteFunctionWithHttpInfo(name = name)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/functions/{name}
     * Delete a function
     * 
     * @param name 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun functionsDeleteFunctionWithHttpInfo(name: kotlin.String) : ApiResponse<Unit?> = withContext(Dispatchers.IO) {
        val localVariableConfig = functionsDeleteFunctionRequestConfig(name = name)

        return@withContext request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation functionsDeleteFunction
     *
     * @param name 
     * @return RequestConfig
     */
    fun functionsDeleteFunctionRequestConfig(name: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/functions/{name}".replace("{"+"name"+"}", encodeURIComponent(name.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/functions/{name}
     * Get a function (with triggers, recent invocations, secrets)
     * 
     * @param name 
     * @return FunctionsFunctionDetail
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun functionsGetFunction(name: kotlin.String) : FunctionsFunctionDetail = withContext(Dispatchers.IO) {
        val localVarResponse = functionsGetFunctionWithHttpInfo(name = name)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as FunctionsFunctionDetail
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/functions/{name}
     * Get a function (with triggers, recent invocations, secrets)
     * 
     * @param name 
     * @return ApiResponse<FunctionsFunctionDetail?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun functionsGetFunctionWithHttpInfo(name: kotlin.String) : ApiResponse<FunctionsFunctionDetail?> = withContext(Dispatchers.IO) {
        val localVariableConfig = functionsGetFunctionRequestConfig(name = name)

        return@withContext request<Unit, FunctionsFunctionDetail>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation functionsGetFunction
     *
     * @param name 
     * @return RequestConfig
     */
    fun functionsGetFunctionRequestConfig(name: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/functions/{name}".replace("{"+"name"+"}", encodeURIComponent(name.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/functions/{name}/logs
     * Get the latest invocation logs
     * 
     * @param name 
     * @return FunctionsGetFunctionLogs200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun functionsGetFunctionLogs(name: kotlin.String) : FunctionsGetFunctionLogs200Response = withContext(Dispatchers.IO) {
        val localVarResponse = functionsGetFunctionLogsWithHttpInfo(name = name)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as FunctionsGetFunctionLogs200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/functions/{name}/logs
     * Get the latest invocation logs
     * 
     * @param name 
     * @return ApiResponse<FunctionsGetFunctionLogs200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun functionsGetFunctionLogsWithHttpInfo(name: kotlin.String) : ApiResponse<FunctionsGetFunctionLogs200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = functionsGetFunctionLogsRequestConfig(name = name)

        return@withContext request<Unit, FunctionsGetFunctionLogs200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation functionsGetFunctionLogs
     *
     * @param name 
     * @return RequestConfig
     */
    fun functionsGetFunctionLogsRequestConfig(name: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/functions/{name}/logs".replace("{"+"name"+"}", encodeURIComponent(name.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/functions/{name}/invoke
     * Invoke a function (metered compute)
     * 
     * @param name 
     * @param functionsInvokeRequest  (optional)
     * @return FunctionsInvocation
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun functionsInvokeFunction(name: kotlin.String, functionsInvokeRequest: FunctionsInvokeRequest? = null) : FunctionsInvocation = withContext(Dispatchers.IO) {
        val localVarResponse = functionsInvokeFunctionWithHttpInfo(name = name, functionsInvokeRequest = functionsInvokeRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as FunctionsInvocation
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/functions/{name}/invoke
     * Invoke a function (metered compute)
     * 
     * @param name 
     * @param functionsInvokeRequest  (optional)
     * @return ApiResponse<FunctionsInvocation?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun functionsInvokeFunctionWithHttpInfo(name: kotlin.String, functionsInvokeRequest: FunctionsInvokeRequest?) : ApiResponse<FunctionsInvocation?> = withContext(Dispatchers.IO) {
        val localVariableConfig = functionsInvokeFunctionRequestConfig(name = name, functionsInvokeRequest = functionsInvokeRequest)

        return@withContext request<FunctionsInvokeRequest, FunctionsInvocation>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation functionsInvokeFunction
     *
     * @param name 
     * @param functionsInvokeRequest  (optional)
     * @return RequestConfig
     */
    fun functionsInvokeFunctionRequestConfig(name: kotlin.String, functionsInvokeRequest: FunctionsInvokeRequest?) : RequestConfig<FunctionsInvokeRequest> {
        val localVariableBody = functionsInvokeRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/functions/{name}/invoke".replace("{"+"name"+"}", encodeURIComponent(name.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/functions/deployments
     * List deployed functions
     * 
     * @return FunctionsListFunctions200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun functionsListDeployments() : FunctionsListFunctions200Response = withContext(Dispatchers.IO) {
        val localVarResponse = functionsListDeploymentsWithHttpInfo()

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as FunctionsListFunctions200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/functions/deployments
     * List deployed functions
     * 
     * @return ApiResponse<FunctionsListFunctions200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun functionsListDeploymentsWithHttpInfo() : ApiResponse<FunctionsListFunctions200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = functionsListDeploymentsRequestConfig()

        return@withContext request<Unit, FunctionsListFunctions200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation functionsListDeployments
     *
     * @return RequestConfig
     */
    fun functionsListDeploymentsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/functions/deployments",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/functions/secrets
     * List function secrets (names only)
     * 
     * @return FunctionsListFunctionSecrets200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun functionsListFunctionSecrets() : FunctionsListFunctionSecrets200Response = withContext(Dispatchers.IO) {
        val localVarResponse = functionsListFunctionSecretsWithHttpInfo()

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as FunctionsListFunctionSecrets200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/functions/secrets
     * List function secrets (names only)
     * 
     * @return ApiResponse<FunctionsListFunctionSecrets200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun functionsListFunctionSecretsWithHttpInfo() : ApiResponse<FunctionsListFunctionSecrets200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = functionsListFunctionSecretsRequestConfig()

        return@withContext request<Unit, FunctionsListFunctionSecrets200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation functionsListFunctionSecrets
     *
     * @return RequestConfig
     */
    fun functionsListFunctionSecretsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/functions/secrets",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/functions
     * List functions
     * 
     * @return FunctionsListFunctions200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun functionsListFunctions() : FunctionsListFunctions200Response = withContext(Dispatchers.IO) {
        val localVarResponse = functionsListFunctionsWithHttpInfo()

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as FunctionsListFunctions200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/functions
     * List functions
     * 
     * @return ApiResponse<FunctionsListFunctions200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun functionsListFunctionsWithHttpInfo() : ApiResponse<FunctionsListFunctions200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = functionsListFunctionsRequestConfig()

        return@withContext request<Unit, FunctionsListFunctions200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation functionsListFunctions
     *
     * @return RequestConfig
     */
    fun functionsListFunctionsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/functions",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/functions/{name}/invocations
     * List a function&#39;s invocations
     * 
     * @param name 
     * @param limit  (optional)
     * @return FunctionsListInvocations200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun functionsListInvocations(name: kotlin.String, limit: kotlin.Int? = null) : FunctionsListInvocations200Response = withContext(Dispatchers.IO) {
        val localVarResponse = functionsListInvocationsWithHttpInfo(name = name, limit = limit)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as FunctionsListInvocations200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/functions/{name}/invocations
     * List a function&#39;s invocations
     * 
     * @param name 
     * @param limit  (optional)
     * @return ApiResponse<FunctionsListInvocations200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun functionsListInvocationsWithHttpInfo(name: kotlin.String, limit: kotlin.Int?) : ApiResponse<FunctionsListInvocations200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = functionsListInvocationsRequestConfig(name = name, limit = limit)

        return@withContext request<Unit, FunctionsListInvocations200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation functionsListInvocations
     *
     * @param name 
     * @param limit  (optional)
     * @return RequestConfig
     */
    fun functionsListInvocationsRequestConfig(name: kotlin.String, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/functions/{name}/invocations".replace("{"+"name"+"}", encodeURIComponent(name.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/functions/triggers
     * List triggers across functions
     * 
     * @return FunctionsListTriggers200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun functionsListTriggers() : FunctionsListTriggers200Response = withContext(Dispatchers.IO) {
        val localVarResponse = functionsListTriggersWithHttpInfo()

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as FunctionsListTriggers200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/functions/triggers
     * List triggers across functions
     * 
     * @return ApiResponse<FunctionsListTriggers200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun functionsListTriggersWithHttpInfo() : ApiResponse<FunctionsListTriggers200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = functionsListTriggersRequestConfig()

        return@withContext request<Unit, FunctionsListTriggers200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation functionsListTriggers
     *
     * @return RequestConfig
     */
    fun functionsListTriggersRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/functions/triggers",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
