/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.AdminAdminMe200Response
import ai.hanzo.sdk.models.AdminOrgList
import ai.hanzo.sdk.models.AdminRawList
import ai.hanzo.sdk.models.AdminUserList
import ai.hanzo.sdk.models.InlineObject

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class IdentityApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * GET /v1/admin/applications
     * IAM applications (verbatim passthrough)
     * 
     * @param owner  (optional)
     * @param p  (optional)
     * @param pageSize  (optional)
     * @return AdminRawList
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun adminAdminListApplications(owner: kotlin.String? = null, p: kotlin.Int? = null, pageSize: kotlin.Int? = null) : AdminRawList = withContext(Dispatchers.IO) {
        val localVarResponse = adminAdminListApplicationsWithHttpInfo(owner = owner, p = p, pageSize = pageSize)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AdminRawList
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/admin/applications
     * IAM applications (verbatim passthrough)
     * 
     * @param owner  (optional)
     * @param p  (optional)
     * @param pageSize  (optional)
     * @return ApiResponse<AdminRawList?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun adminAdminListApplicationsWithHttpInfo(owner: kotlin.String?, p: kotlin.Int?, pageSize: kotlin.Int?) : ApiResponse<AdminRawList?> = withContext(Dispatchers.IO) {
        val localVariableConfig = adminAdminListApplicationsRequestConfig(owner = owner, p = p, pageSize = pageSize)

        return@withContext request<Unit, AdminRawList>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation adminAdminListApplications
     *
     * @param owner  (optional)
     * @param p  (optional)
     * @param pageSize  (optional)
     * @return RequestConfig
     */
    fun adminAdminListApplicationsRequestConfig(owner: kotlin.String?, p: kotlin.Int?, pageSize: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (owner != null) {
                    put("owner", listOf(owner.toString()))
                }
                if (p != null) {
                    put("p", listOf(p.toString()))
                }
                if (pageSize != null) {
                    put("pageSize", listOf(pageSize.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/admin/applications",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/admin/orgs
     * Tenant directory
     * 
     * @return AdminOrgList
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun adminAdminListOrgs() : AdminOrgList = withContext(Dispatchers.IO) {
        val localVarResponse = adminAdminListOrgsWithHttpInfo()

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AdminOrgList
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/admin/orgs
     * Tenant directory
     * 
     * @return ApiResponse<AdminOrgList?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun adminAdminListOrgsWithHttpInfo() : ApiResponse<AdminOrgList?> = withContext(Dispatchers.IO) {
        val localVariableConfig = adminAdminListOrgsRequestConfig()

        return@withContext request<Unit, AdminOrgList>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation adminAdminListOrgs
     *
     * @return RequestConfig
     */
    fun adminAdminListOrgsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/admin/orgs",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/admin/roles
     * IAM roles (verbatim passthrough)
     * 
     * @param owner  (optional)
     * @param p  (optional)
     * @param pageSize  (optional)
     * @return AdminRawList
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun adminAdminListRoles(owner: kotlin.String? = null, p: kotlin.Int? = null, pageSize: kotlin.Int? = null) : AdminRawList = withContext(Dispatchers.IO) {
        val localVarResponse = adminAdminListRolesWithHttpInfo(owner = owner, p = p, pageSize = pageSize)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AdminRawList
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/admin/roles
     * IAM roles (verbatim passthrough)
     * 
     * @param owner  (optional)
     * @param p  (optional)
     * @param pageSize  (optional)
     * @return ApiResponse<AdminRawList?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun adminAdminListRolesWithHttpInfo(owner: kotlin.String?, p: kotlin.Int?, pageSize: kotlin.Int?) : ApiResponse<AdminRawList?> = withContext(Dispatchers.IO) {
        val localVariableConfig = adminAdminListRolesRequestConfig(owner = owner, p = p, pageSize = pageSize)

        return@withContext request<Unit, AdminRawList>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation adminAdminListRoles
     *
     * @param owner  (optional)
     * @param p  (optional)
     * @param pageSize  (optional)
     * @return RequestConfig
     */
    fun adminAdminListRolesRequestConfig(owner: kotlin.String?, p: kotlin.Int?, pageSize: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (owner != null) {
                    put("owner", listOf(owner.toString()))
                }
                if (p != null) {
                    put("p", listOf(p.toString()))
                }
                if (pageSize != null) {
                    put("pageSize", listOf(pageSize.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/admin/roles",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/admin/users
     * Cross-org user directory
     * 
     * @param org Filter to one org (owner) (optional)
     * @param p 1-based page (optional)
     * @param pageSize  (optional)
     * @param q Free-text name filter (optional)
     * @return AdminUserList
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun adminAdminListUsers(org: kotlin.String? = null, p: kotlin.Int? = null, pageSize: kotlin.Int? = null, q: kotlin.String? = null) : AdminUserList = withContext(Dispatchers.IO) {
        val localVarResponse = adminAdminListUsersWithHttpInfo(org = org, p = p, pageSize = pageSize, q = q)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AdminUserList
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/admin/users
     * Cross-org user directory
     * 
     * @param org Filter to one org (owner) (optional)
     * @param p 1-based page (optional)
     * @param pageSize  (optional)
     * @param q Free-text name filter (optional)
     * @return ApiResponse<AdminUserList?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun adminAdminListUsersWithHttpInfo(org: kotlin.String?, p: kotlin.Int?, pageSize: kotlin.Int?, q: kotlin.String?) : ApiResponse<AdminUserList?> = withContext(Dispatchers.IO) {
        val localVariableConfig = adminAdminListUsersRequestConfig(org = org, p = p, pageSize = pageSize, q = q)

        return@withContext request<Unit, AdminUserList>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation adminAdminListUsers
     *
     * @param org Filter to one org (owner) (optional)
     * @param p 1-based page (optional)
     * @param pageSize  (optional)
     * @param q Free-text name filter (optional)
     * @return RequestConfig
     */
    fun adminAdminListUsersRequestConfig(org: kotlin.String?, p: kotlin.Int?, pageSize: kotlin.Int?, q: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (org != null) {
                    put("org", listOf(org.toString()))
                }
                if (p != null) {
                    put("p", listOf(p.toString()))
                }
                if (pageSize != null) {
                    put("pageSize", listOf(pageSize.toString()))
                }
                if (q != null) {
                    put("q", listOf(q.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/admin/users",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/admin/me
     * Validated operator identity
     * 
     * @return AdminAdminMe200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun adminAdminMe() : AdminAdminMe200Response = withContext(Dispatchers.IO) {
        val localVarResponse = adminAdminMeWithHttpInfo()

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AdminAdminMe200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/admin/me
     * Validated operator identity
     * 
     * @return ApiResponse<AdminAdminMe200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun adminAdminMeWithHttpInfo() : ApiResponse<AdminAdminMe200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = adminAdminMeRequestConfig()

        return@withContext request<Unit, AdminAdminMe200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation adminAdminMe
     *
     * @return RequestConfig
     */
    fun adminAdminMeRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/admin/me",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
