/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.EngineError
import ai.hanzo.sdk.models.EngineJob
import ai.hanzo.sdk.models.EngineJobCreate
import ai.hanzo.sdk.models.EngineJobMetrics
import ai.hanzo.sdk.models.EngineListJobs200Response

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class JobsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * POST /v1/engine/jobs/{id}/cancel
     * Cancel job
     * 
     * @param id 
     * @return EngineJob
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun engineCancelJob(id: java.util.UUID) : EngineJob = withContext(Dispatchers.IO) {
        val localVarResponse = engineCancelJobWithHttpInfo(id = id)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as EngineJob
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/engine/jobs/{id}/cancel
     * Cancel job
     * 
     * @param id 
     * @return ApiResponse<EngineJob?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun engineCancelJobWithHttpInfo(id: java.util.UUID) : ApiResponse<EngineJob?> = withContext(Dispatchers.IO) {
        val localVariableConfig = engineCancelJobRequestConfig(id = id)

        return@withContext request<Unit, EngineJob>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation engineCancelJob
     *
     * @param id 
     * @return RequestConfig
     */
    fun engineCancelJobRequestConfig(id: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/engine/jobs/{id}/cancel".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/engine/jobs/{id}
     * Delete job
     * Deletes a completed or cancelled job and its artifacts.
     * @param id 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun engineDeleteJob(id: java.util.UUID) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = engineDeleteJobWithHttpInfo(id = id)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/engine/jobs/{id}
     * Delete job
     * Deletes a completed or cancelled job and its artifacts.
     * @param id 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun engineDeleteJobWithHttpInfo(id: java.util.UUID) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = engineDeleteJobRequestConfig(id = id)

        return@withContext request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation engineDeleteJob
     *
     * @param id 
     * @return RequestConfig
     */
    fun engineDeleteJobRequestConfig(id: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/engine/jobs/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/engine/jobs/{id}
     * Get job
     * 
     * @param id 
     * @return EngineJob
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun engineGetJob(id: java.util.UUID) : EngineJob = withContext(Dispatchers.IO) {
        val localVarResponse = engineGetJobWithHttpInfo(id = id)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as EngineJob
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/engine/jobs/{id}
     * Get job
     * 
     * @param id 
     * @return ApiResponse<EngineJob?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun engineGetJobWithHttpInfo(id: java.util.UUID) : ApiResponse<EngineJob?> = withContext(Dispatchers.IO) {
        val localVariableConfig = engineGetJobRequestConfig(id = id)

        return@withContext request<Unit, EngineJob>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation engineGetJob
     *
     * @param id 
     * @return RequestConfig
     */
    fun engineGetJobRequestConfig(id: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/engine/jobs/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/engine/jobs/{id}/logs
     * Get job logs
     * Returns job logs. Use Accept text/event-stream for streaming.
     * @param id 
     * @param tail Number of lines from the end (optional, default to 100)
     * @param follow Stream logs in real time (optional, default to false)
     * @return kotlin.String
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun engineGetJobLogs(id: java.util.UUID, tail: kotlin.Int? = 100, follow: kotlin.Boolean? = false) : kotlin.String = withContext(Dispatchers.IO) {
        val localVarResponse = engineGetJobLogsWithHttpInfo(id = id, tail = tail, follow = follow)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.String
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/engine/jobs/{id}/logs
     * Get job logs
     * Returns job logs. Use Accept text/event-stream for streaming.
     * @param id 
     * @param tail Number of lines from the end (optional, default to 100)
     * @param follow Stream logs in real time (optional, default to false)
     * @return ApiResponse<kotlin.String?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun engineGetJobLogsWithHttpInfo(id: java.util.UUID, tail: kotlin.Int?, follow: kotlin.Boolean?) : ApiResponse<kotlin.String?> = withContext(Dispatchers.IO) {
        val localVariableConfig = engineGetJobLogsRequestConfig(id = id, tail = tail, follow = follow)

        return@withContext request<Unit, kotlin.String>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation engineGetJobLogs
     *
     * @param id 
     * @param tail Number of lines from the end (optional, default to 100)
     * @param follow Stream logs in real time (optional, default to false)
     * @return RequestConfig
     */
    fun engineGetJobLogsRequestConfig(id: java.util.UUID, tail: kotlin.Int?, follow: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (tail != null) {
                    put("tail", listOf(tail.toString()))
                }
                if (follow != null) {
                    put("follow", listOf(follow.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "text/plain, application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/engine/jobs/{id}/logs".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/engine/jobs/{id}/metrics
     * Get job metrics
     * 
     * @param id 
     * @return EngineJobMetrics
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun engineGetJobMetrics(id: java.util.UUID) : EngineJobMetrics = withContext(Dispatchers.IO) {
        val localVarResponse = engineGetJobMetricsWithHttpInfo(id = id)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as EngineJobMetrics
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/engine/jobs/{id}/metrics
     * Get job metrics
     * 
     * @param id 
     * @return ApiResponse<EngineJobMetrics?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun engineGetJobMetricsWithHttpInfo(id: java.util.UUID) : ApiResponse<EngineJobMetrics?> = withContext(Dispatchers.IO) {
        val localVariableConfig = engineGetJobMetricsRequestConfig(id = id)

        return@withContext request<Unit, EngineJobMetrics>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation engineGetJobMetrics
     *
     * @param id 
     * @return RequestConfig
     */
    fun engineGetJobMetricsRequestConfig(id: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/engine/jobs/{id}/metrics".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter status
     */
     enum class StatusEngineListJobs(val value: kotlin.String) {
         @Json(name = "pending") pending("pending"),
         @Json(name = "scheduling") scheduling("scheduling"),
         @Json(name = "running") running("running"),
         @Json(name = "succeeded") succeeded("succeeded"),
         @Json(name = "failed") failed("failed"),
         @Json(name = "cancelled") cancelled("cancelled");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter type
     */
     enum class TypeEngineListJobs(val value: kotlin.String) {
         @Json(name = "training") training("training"),
         @Json(name = "inference") inference("inference"),
         @Json(name = "fine_tune") fine_tune("fine_tune"),
         @Json(name = "evaluation") evaluation("evaluation");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /v1/engine/jobs
     * List jobs
     * 
     * @param status  (optional)
     * @param type  (optional)
     * @param clusterId  (optional)
     * @param page  (optional, default to 1)
     * @param pageSize  (optional, default to 20)
     * @return EngineListJobs200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun engineListJobs(status: StatusEngineListJobs? = null, type: TypeEngineListJobs? = null, clusterId: java.util.UUID? = null, page: kotlin.Int? = 1, pageSize: kotlin.Int? = 20) : EngineListJobs200Response = withContext(Dispatchers.IO) {
        val localVarResponse = engineListJobsWithHttpInfo(status = status, type = type, clusterId = clusterId, page = page, pageSize = pageSize)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as EngineListJobs200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/engine/jobs
     * List jobs
     * 
     * @param status  (optional)
     * @param type  (optional)
     * @param clusterId  (optional)
     * @param page  (optional, default to 1)
     * @param pageSize  (optional, default to 20)
     * @return ApiResponse<EngineListJobs200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun engineListJobsWithHttpInfo(status: StatusEngineListJobs?, type: TypeEngineListJobs?, clusterId: java.util.UUID?, page: kotlin.Int?, pageSize: kotlin.Int?) : ApiResponse<EngineListJobs200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = engineListJobsRequestConfig(status = status, type = type, clusterId = clusterId, page = page, pageSize = pageSize)

        return@withContext request<Unit, EngineListJobs200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation engineListJobs
     *
     * @param status  (optional)
     * @param type  (optional)
     * @param clusterId  (optional)
     * @param page  (optional, default to 1)
     * @param pageSize  (optional, default to 20)
     * @return RequestConfig
     */
    fun engineListJobsRequestConfig(status: StatusEngineListJobs?, type: TypeEngineListJobs?, clusterId: java.util.UUID?, page: kotlin.Int?, pageSize: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (status != null) {
                    put("status", listOf(status.value))
                }
                if (type != null) {
                    put("type", listOf(type.value))
                }
                if (clusterId != null) {
                    put("cluster_id", listOf(clusterId.toString()))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("page_size", listOf(pageSize.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/engine/jobs",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/engine/jobs
     * Submit job
     * 
     * @param engineJobCreate 
     * @return EngineJob
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun engineSubmitJob(engineJobCreate: EngineJobCreate) : EngineJob = withContext(Dispatchers.IO) {
        val localVarResponse = engineSubmitJobWithHttpInfo(engineJobCreate = engineJobCreate)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as EngineJob
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/engine/jobs
     * Submit job
     * 
     * @param engineJobCreate 
     * @return ApiResponse<EngineJob?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun engineSubmitJobWithHttpInfo(engineJobCreate: EngineJobCreate) : ApiResponse<EngineJob?> = withContext(Dispatchers.IO) {
        val localVariableConfig = engineSubmitJobRequestConfig(engineJobCreate = engineJobCreate)

        return@withContext request<EngineJobCreate, EngineJob>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation engineSubmitJob
     *
     * @param engineJobCreate 
     * @return RequestConfig
     */
    fun engineSubmitJobRequestConfig(engineJobCreate: EngineJobCreate) : RequestConfig<EngineJobCreate> {
        val localVariableBody = engineJobCreate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/engine/jobs",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
