/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.MqError
import ai.hanzo.sdk.models.MqGetKVHistory200Response
import ai.hanzo.sdk.models.MqKVBucket
import ai.hanzo.sdk.models.MqKVBucketConfig
import ai.hanzo.sdk.models.MqKVEntry
import ai.hanzo.sdk.models.MqListKVBuckets200Response
import ai.hanzo.sdk.models.MqListKVKeys200Response
import ai.hanzo.sdk.models.MqPutKVEntry200Response
import ai.hanzo.sdk.models.MqPutKVEntryRequest
import ai.hanzo.sdk.models.PubsubKVBucketConfig
import ai.hanzo.sdk.models.PubsubKVEntry
import ai.hanzo.sdk.models.PubsubKvHistory200Response
import ai.hanzo.sdk.models.PubsubKvPut200Response

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class KeyValueApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * POST /v1/mq/kv
     * Create KV bucket
     * Creates a new key-value bucket backed by a JetStream stream. Supports configurable history depth, TTL, and replication. 
     * @param mqKVBucketConfig 
     * @return MqKVBucket
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun mqCreateKVBucket(mqKVBucketConfig: MqKVBucketConfig) : MqKVBucket = withContext(Dispatchers.IO) {
        val localVarResponse = mqCreateKVBucketWithHttpInfo(mqKVBucketConfig = mqKVBucketConfig)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MqKVBucket
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/mq/kv
     * Create KV bucket
     * Creates a new key-value bucket backed by a JetStream stream. Supports configurable history depth, TTL, and replication. 
     * @param mqKVBucketConfig 
     * @return ApiResponse<MqKVBucket?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun mqCreateKVBucketWithHttpInfo(mqKVBucketConfig: MqKVBucketConfig) : ApiResponse<MqKVBucket?> = withContext(Dispatchers.IO) {
        val localVariableConfig = mqCreateKVBucketRequestConfig(mqKVBucketConfig = mqKVBucketConfig)

        return@withContext request<MqKVBucketConfig, MqKVBucket>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation mqCreateKVBucket
     *
     * @param mqKVBucketConfig 
     * @return RequestConfig
     */
    fun mqCreateKVBucketRequestConfig(mqKVBucketConfig: MqKVBucketConfig) : RequestConfig<MqKVBucketConfig> {
        val localVariableBody = mqKVBucketConfig
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/mq/kv",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/mq/kv/{bucket}
     * Delete bucket
     * Deletes the bucket and all its keys. Irreversible.
     * @param bucket KV bucket name.
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun mqDeleteKVBucket(bucket: kotlin.String) : Unit = withContext(Dispatchers.IO) {
        val localVarResponse = mqDeleteKVBucketWithHttpInfo(bucket = bucket)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/mq/kv/{bucket}
     * Delete bucket
     * Deletes the bucket and all its keys. Irreversible.
     * @param bucket KV bucket name.
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun mqDeleteKVBucketWithHttpInfo(bucket: kotlin.String) : ApiResponse<Unit?> = withContext(Dispatchers.IO) {
        val localVariableConfig = mqDeleteKVBucketRequestConfig(bucket = bucket)

        return@withContext request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation mqDeleteKVBucket
     *
     * @param bucket KV bucket name.
     * @return RequestConfig
     */
    fun mqDeleteKVBucketRequestConfig(bucket: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/mq/kv/{bucket}".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/mq/kv/{bucket}/{key}
     * Delete key
     * Deletes the key by writing a tombstone marker. The key&#39;s history is preserved according to the bucket&#39;s history setting. 
     * @param bucket KV bucket name.
     * @param key Key name (supports dotted hierarchy).
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun mqDeleteKVEntry(bucket: kotlin.String, key: kotlin.String) : Unit = withContext(Dispatchers.IO) {
        val localVarResponse = mqDeleteKVEntryWithHttpInfo(bucket = bucket, key = key)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/mq/kv/{bucket}/{key}
     * Delete key
     * Deletes the key by writing a tombstone marker. The key&#39;s history is preserved according to the bucket&#39;s history setting. 
     * @param bucket KV bucket name.
     * @param key Key name (supports dotted hierarchy).
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun mqDeleteKVEntryWithHttpInfo(bucket: kotlin.String, key: kotlin.String) : ApiResponse<Unit?> = withContext(Dispatchers.IO) {
        val localVariableConfig = mqDeleteKVEntryRequestConfig(bucket = bucket, key = key)

        return@withContext request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation mqDeleteKVEntry
     *
     * @param bucket KV bucket name.
     * @param key Key name (supports dotted hierarchy).
     * @return RequestConfig
     */
    fun mqDeleteKVEntryRequestConfig(bucket: kotlin.String, key: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/mq/kv/{bucket}/{key}".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())).replace("{"+"key"+"}", encodeURIComponent(key.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/mq/kv/{bucket}
     * Get bucket info
     * Returns bucket configuration and current state.
     * @param bucket KV bucket name.
     * @return MqKVBucket
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun mqGetKVBucket(bucket: kotlin.String) : MqKVBucket = withContext(Dispatchers.IO) {
        val localVarResponse = mqGetKVBucketWithHttpInfo(bucket = bucket)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MqKVBucket
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/mq/kv/{bucket}
     * Get bucket info
     * Returns bucket configuration and current state.
     * @param bucket KV bucket name.
     * @return ApiResponse<MqKVBucket?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun mqGetKVBucketWithHttpInfo(bucket: kotlin.String) : ApiResponse<MqKVBucket?> = withContext(Dispatchers.IO) {
        val localVariableConfig = mqGetKVBucketRequestConfig(bucket = bucket)

        return@withContext request<Unit, MqKVBucket>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation mqGetKVBucket
     *
     * @param bucket KV bucket name.
     * @return RequestConfig
     */
    fun mqGetKVBucketRequestConfig(bucket: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/mq/kv/{bucket}".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/mq/kv/{bucket}/{key}
     * Get value
     * Returns the current value for the key. The revision number is included in the X-MQ-Revision response header. 
     * @param bucket KV bucket name.
     * @param key Key name (supports dotted hierarchy).
     * @return MqKVEntry
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun mqGetKVEntry(bucket: kotlin.String, key: kotlin.String) : MqKVEntry = withContext(Dispatchers.IO) {
        val localVarResponse = mqGetKVEntryWithHttpInfo(bucket = bucket, key = key)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MqKVEntry
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/mq/kv/{bucket}/{key}
     * Get value
     * Returns the current value for the key. The revision number is included in the X-MQ-Revision response header. 
     * @param bucket KV bucket name.
     * @param key Key name (supports dotted hierarchy).
     * @return ApiResponse<MqKVEntry?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun mqGetKVEntryWithHttpInfo(bucket: kotlin.String, key: kotlin.String) : ApiResponse<MqKVEntry?> = withContext(Dispatchers.IO) {
        val localVariableConfig = mqGetKVEntryRequestConfig(bucket = bucket, key = key)

        return@withContext request<Unit, MqKVEntry>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation mqGetKVEntry
     *
     * @param bucket KV bucket name.
     * @param key Key name (supports dotted hierarchy).
     * @return RequestConfig
     */
    fun mqGetKVEntryRequestConfig(bucket: kotlin.String, key: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/mq/kv/{bucket}/{key}".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())).replace("{"+"key"+"}", encodeURIComponent(key.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/mq/kv/{bucket}/{key}/history
     * Get key history
     * Returns all revisions of the key, from oldest to newest. The number of revisions kept is determined by the bucket&#39;s history setting. 
     * @param bucket KV bucket name.
     * @param key Key name (supports dotted hierarchy).
     * @return MqGetKVHistory200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun mqGetKVHistory(bucket: kotlin.String, key: kotlin.String) : MqGetKVHistory200Response = withContext(Dispatchers.IO) {
        val localVarResponse = mqGetKVHistoryWithHttpInfo(bucket = bucket, key = key)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MqGetKVHistory200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/mq/kv/{bucket}/{key}/history
     * Get key history
     * Returns all revisions of the key, from oldest to newest. The number of revisions kept is determined by the bucket&#39;s history setting. 
     * @param bucket KV bucket name.
     * @param key Key name (supports dotted hierarchy).
     * @return ApiResponse<MqGetKVHistory200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun mqGetKVHistoryWithHttpInfo(bucket: kotlin.String, key: kotlin.String) : ApiResponse<MqGetKVHistory200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = mqGetKVHistoryRequestConfig(bucket = bucket, key = key)

        return@withContext request<Unit, MqGetKVHistory200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation mqGetKVHistory
     *
     * @param bucket KV bucket name.
     * @param key Key name (supports dotted hierarchy).
     * @return RequestConfig
     */
    fun mqGetKVHistoryRequestConfig(bucket: kotlin.String, key: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/mq/kv/{bucket}/{key}/history".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())).replace("{"+"key"+"}", encodeURIComponent(key.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/mq/kv
     * List KV buckets
     * Returns all key-value buckets for the authenticated account.
     * @param limit Maximum number of items to return. (optional, default to 100)
     * @param offset Number of items to skip. (optional, default to 0)
     * @return MqListKVBuckets200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun mqListKVBuckets(limit: kotlin.Int? = 100, offset: kotlin.Int? = 0) : MqListKVBuckets200Response = withContext(Dispatchers.IO) {
        val localVarResponse = mqListKVBucketsWithHttpInfo(limit = limit, offset = offset)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MqListKVBuckets200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/mq/kv
     * List KV buckets
     * Returns all key-value buckets for the authenticated account.
     * @param limit Maximum number of items to return. (optional, default to 100)
     * @param offset Number of items to skip. (optional, default to 0)
     * @return ApiResponse<MqListKVBuckets200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun mqListKVBucketsWithHttpInfo(limit: kotlin.Int?, offset: kotlin.Int?) : ApiResponse<MqListKVBuckets200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = mqListKVBucketsRequestConfig(limit = limit, offset = offset)

        return@withContext request<Unit, MqListKVBuckets200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation mqListKVBuckets
     *
     * @param limit Maximum number of items to return. (optional, default to 100)
     * @param offset Number of items to skip. (optional, default to 0)
     * @return RequestConfig
     */
    fun mqListKVBucketsRequestConfig(limit: kotlin.Int?, offset: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (offset != null) {
                    put("offset", listOf(offset.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/mq/kv",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/mq/kv/{bucket}/keys
     * List keys in bucket
     * Returns all keys in the bucket, optionally filtered by pattern.
     * @param bucket KV bucket name.
     * @param filter Key filter pattern (supports wildcards). (optional)
     * @param limit Maximum number of items to return. (optional, default to 100)
     * @param offset Number of items to skip. (optional, default to 0)
     * @return MqListKVKeys200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun mqListKVKeys(bucket: kotlin.String, filter: kotlin.String? = null, limit: kotlin.Int? = 100, offset: kotlin.Int? = 0) : MqListKVKeys200Response = withContext(Dispatchers.IO) {
        val localVarResponse = mqListKVKeysWithHttpInfo(bucket = bucket, filter = filter, limit = limit, offset = offset)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MqListKVKeys200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/mq/kv/{bucket}/keys
     * List keys in bucket
     * Returns all keys in the bucket, optionally filtered by pattern.
     * @param bucket KV bucket name.
     * @param filter Key filter pattern (supports wildcards). (optional)
     * @param limit Maximum number of items to return. (optional, default to 100)
     * @param offset Number of items to skip. (optional, default to 0)
     * @return ApiResponse<MqListKVKeys200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun mqListKVKeysWithHttpInfo(bucket: kotlin.String, filter: kotlin.String?, limit: kotlin.Int?, offset: kotlin.Int?) : ApiResponse<MqListKVKeys200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = mqListKVKeysRequestConfig(bucket = bucket, filter = filter, limit = limit, offset = offset)

        return@withContext request<Unit, MqListKVKeys200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation mqListKVKeys
     *
     * @param bucket KV bucket name.
     * @param filter Key filter pattern (supports wildcards). (optional)
     * @param limit Maximum number of items to return. (optional, default to 100)
     * @param offset Number of items to skip. (optional, default to 0)
     * @return RequestConfig
     */
    fun mqListKVKeysRequestConfig(bucket: kotlin.String, filter: kotlin.String?, limit: kotlin.Int?, offset: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (filter != null) {
                    put("filter", listOf(filter.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (offset != null) {
                    put("offset", listOf(offset.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/mq/kv/{bucket}/keys".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /v1/mq/kv/{bucket}/{key}
     * Put value
     * Sets the value for the key. Returns the new revision number. Use the X-MQ-Expected-Revision header for optimistic concurrency (CAS operation). 
     * @param bucket KV bucket name.
     * @param key Key name (supports dotted hierarchy).
     * @param mqPutKVEntryRequest 
     * @param xMQExpectedRevision Expected current revision for CAS. The put fails with 409 if the current revision does not match.  (optional)
     * @return MqPutKVEntry200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun mqPutKVEntry(bucket: kotlin.String, key: kotlin.String, mqPutKVEntryRequest: MqPutKVEntryRequest, xMQExpectedRevision: kotlin.Int? = null) : MqPutKVEntry200Response = withContext(Dispatchers.IO) {
        val localVarResponse = mqPutKVEntryWithHttpInfo(bucket = bucket, key = key, mqPutKVEntryRequest = mqPutKVEntryRequest, xMQExpectedRevision = xMQExpectedRevision)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MqPutKVEntry200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /v1/mq/kv/{bucket}/{key}
     * Put value
     * Sets the value for the key. Returns the new revision number. Use the X-MQ-Expected-Revision header for optimistic concurrency (CAS operation). 
     * @param bucket KV bucket name.
     * @param key Key name (supports dotted hierarchy).
     * @param mqPutKVEntryRequest 
     * @param xMQExpectedRevision Expected current revision for CAS. The put fails with 409 if the current revision does not match.  (optional)
     * @return ApiResponse<MqPutKVEntry200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun mqPutKVEntryWithHttpInfo(bucket: kotlin.String, key: kotlin.String, mqPutKVEntryRequest: MqPutKVEntryRequest, xMQExpectedRevision: kotlin.Int?) : ApiResponse<MqPutKVEntry200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = mqPutKVEntryRequestConfig(bucket = bucket, key = key, mqPutKVEntryRequest = mqPutKVEntryRequest, xMQExpectedRevision = xMQExpectedRevision)

        return@withContext request<MqPutKVEntryRequest, MqPutKVEntry200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation mqPutKVEntry
     *
     * @param bucket KV bucket name.
     * @param key Key name (supports dotted hierarchy).
     * @param mqPutKVEntryRequest 
     * @param xMQExpectedRevision Expected current revision for CAS. The put fails with 409 if the current revision does not match.  (optional)
     * @return RequestConfig
     */
    fun mqPutKVEntryRequestConfig(bucket: kotlin.String, key: kotlin.String, mqPutKVEntryRequest: MqPutKVEntryRequest, xMQExpectedRevision: kotlin.Int?) : RequestConfig<MqPutKVEntryRequest> {
        val localVariableBody = mqPutKVEntryRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xMQExpectedRevision?.apply { localVariableHeaders["X-MQ-Expected-Revision"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/v1/mq/kv/{bucket}/{key}".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())).replace("{"+"key"+"}", encodeURIComponent(key.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/mq/kv/{bucket}/watch
     * Watch bucket changes via SSE
     * Opens a Server-Sent Events stream that emits KVEntry events for every change in the bucket. Optionally filter by key pattern. Delivers initial values followed by real-time updates. 
     * @param bucket KV bucket name.
     * @param key Key pattern filter (supports wildcards). (optional)
     * @param includeHistory Include all historical revisions before live updates. (optional, default to false)
     * @return MqKVEntry
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun mqWatchKVBucket(bucket: kotlin.String, key: kotlin.String? = null, includeHistory: kotlin.Boolean? = false) : MqKVEntry = withContext(Dispatchers.IO) {
        val localVarResponse = mqWatchKVBucketWithHttpInfo(bucket = bucket, key = key, includeHistory = includeHistory)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MqKVEntry
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/mq/kv/{bucket}/watch
     * Watch bucket changes via SSE
     * Opens a Server-Sent Events stream that emits KVEntry events for every change in the bucket. Optionally filter by key pattern. Delivers initial values followed by real-time updates. 
     * @param bucket KV bucket name.
     * @param key Key pattern filter (supports wildcards). (optional)
     * @param includeHistory Include all historical revisions before live updates. (optional, default to false)
     * @return ApiResponse<MqKVEntry?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun mqWatchKVBucketWithHttpInfo(bucket: kotlin.String, key: kotlin.String?, includeHistory: kotlin.Boolean?) : ApiResponse<MqKVEntry?> = withContext(Dispatchers.IO) {
        val localVariableConfig = mqWatchKVBucketRequestConfig(bucket = bucket, key = key, includeHistory = includeHistory)

        return@withContext request<Unit, MqKVEntry>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation mqWatchKVBucket
     *
     * @param bucket KV bucket name.
     * @param key Key pattern filter (supports wildcards). (optional)
     * @param includeHistory Include all historical revisions before live updates. (optional, default to false)
     * @return RequestConfig
     */
    fun mqWatchKVBucketRequestConfig(bucket: kotlin.String, key: kotlin.String?, includeHistory: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (key != null) {
                    put("key", listOf(key.toString()))
                }
                if (includeHistory != null) {
                    put("include_history", listOf(includeHistory.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/mq/kv/{bucket}/watch".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/pubsub/kv/{bucket}
     * Create a KV bucket
     * 
     * @param bucket 
     * @param pubsubKVBucketConfig 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun pubsubCreateKVBucket(bucket: kotlin.String, pubsubKVBucketConfig: PubsubKVBucketConfig) : Unit = withContext(Dispatchers.IO) {
        val localVarResponse = pubsubCreateKVBucketWithHttpInfo(bucket = bucket, pubsubKVBucketConfig = pubsubKVBucketConfig)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/pubsub/kv/{bucket}
     * Create a KV bucket
     * 
     * @param bucket 
     * @param pubsubKVBucketConfig 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun pubsubCreateKVBucketWithHttpInfo(bucket: kotlin.String, pubsubKVBucketConfig: PubsubKVBucketConfig) : ApiResponse<Unit?> = withContext(Dispatchers.IO) {
        val localVariableConfig = pubsubCreateKVBucketRequestConfig(bucket = bucket, pubsubKVBucketConfig = pubsubKVBucketConfig)

        return@withContext request<PubsubKVBucketConfig, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation pubsubCreateKVBucket
     *
     * @param bucket 
     * @param pubsubKVBucketConfig 
     * @return RequestConfig
     */
    fun pubsubCreateKVBucketRequestConfig(bucket: kotlin.String, pubsubKVBucketConfig: PubsubKVBucketConfig) : RequestConfig<PubsubKVBucketConfig> {
        val localVariableBody = pubsubKVBucketConfig
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/pubsub/kv/{bucket}".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/pubsub/kv/{bucket}
     * Delete a KV bucket
     * 
     * @param bucket 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun pubsubDeleteKVBucket(bucket: kotlin.String) : Unit = withContext(Dispatchers.IO) {
        val localVarResponse = pubsubDeleteKVBucketWithHttpInfo(bucket = bucket)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/pubsub/kv/{bucket}
     * Delete a KV bucket
     * 
     * @param bucket 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun pubsubDeleteKVBucketWithHttpInfo(bucket: kotlin.String) : ApiResponse<Unit?> = withContext(Dispatchers.IO) {
        val localVariableConfig = pubsubDeleteKVBucketRequestConfig(bucket = bucket)

        return@withContext request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation pubsubDeleteKVBucket
     *
     * @param bucket 
     * @return RequestConfig
     */
    fun pubsubDeleteKVBucketRequestConfig(bucket: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/pubsub/kv/{bucket}".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/pubsub/kv/{bucket}/{key}
     * Delete a key
     * 
     * @param bucket 
     * @param key 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun pubsubKvDelete(bucket: kotlin.String, key: kotlin.String) : Unit = withContext(Dispatchers.IO) {
        val localVarResponse = pubsubKvDeleteWithHttpInfo(bucket = bucket, key = key)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/pubsub/kv/{bucket}/{key}
     * Delete a key
     * 
     * @param bucket 
     * @param key 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun pubsubKvDeleteWithHttpInfo(bucket: kotlin.String, key: kotlin.String) : ApiResponse<Unit?> = withContext(Dispatchers.IO) {
        val localVariableConfig = pubsubKvDeleteRequestConfig(bucket = bucket, key = key)

        return@withContext request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation pubsubKvDelete
     *
     * @param bucket 
     * @param key 
     * @return RequestConfig
     */
    fun pubsubKvDeleteRequestConfig(bucket: kotlin.String, key: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/pubsub/kv/{bucket}/{key}".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())).replace("{"+"key"+"}", encodeURIComponent(key.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/pubsub/kv/{bucket}/{key}
     * Get a value
     * 
     * @param bucket 
     * @param key 
     * @param revision Specific revision to retrieve (optional)
     * @return PubsubKVEntry
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun pubsubKvGet(bucket: kotlin.String, key: kotlin.String, revision: kotlin.Int? = null) : PubsubKVEntry = withContext(Dispatchers.IO) {
        val localVarResponse = pubsubKvGetWithHttpInfo(bucket = bucket, key = key, revision = revision)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PubsubKVEntry
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/pubsub/kv/{bucket}/{key}
     * Get a value
     * 
     * @param bucket 
     * @param key 
     * @param revision Specific revision to retrieve (optional)
     * @return ApiResponse<PubsubKVEntry?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun pubsubKvGetWithHttpInfo(bucket: kotlin.String, key: kotlin.String, revision: kotlin.Int?) : ApiResponse<PubsubKVEntry?> = withContext(Dispatchers.IO) {
        val localVariableConfig = pubsubKvGetRequestConfig(bucket = bucket, key = key, revision = revision)

        return@withContext request<Unit, PubsubKVEntry>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation pubsubKvGet
     *
     * @param bucket 
     * @param key 
     * @param revision Specific revision to retrieve (optional)
     * @return RequestConfig
     */
    fun pubsubKvGetRequestConfig(bucket: kotlin.String, key: kotlin.String, revision: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (revision != null) {
                    put("revision", listOf(revision.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/pubsub/kv/{bucket}/{key}".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())).replace("{"+"key"+"}", encodeURIComponent(key.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/pubsub/kv/{bucket}/{key}/history
     * Get key history
     * 
     * @param bucket 
     * @param key 
     * @return PubsubKvHistory200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun pubsubKvHistory(bucket: kotlin.String, key: kotlin.String) : PubsubKvHistory200Response = withContext(Dispatchers.IO) {
        val localVarResponse = pubsubKvHistoryWithHttpInfo(bucket = bucket, key = key)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PubsubKvHistory200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/pubsub/kv/{bucket}/{key}/history
     * Get key history
     * 
     * @param bucket 
     * @param key 
     * @return ApiResponse<PubsubKvHistory200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun pubsubKvHistoryWithHttpInfo(bucket: kotlin.String, key: kotlin.String) : ApiResponse<PubsubKvHistory200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = pubsubKvHistoryRequestConfig(bucket = bucket, key = key)

        return@withContext request<Unit, PubsubKvHistory200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation pubsubKvHistory
     *
     * @param bucket 
     * @param key 
     * @return RequestConfig
     */
    fun pubsubKvHistoryRequestConfig(bucket: kotlin.String, key: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/pubsub/kv/{bucket}/{key}/history".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())).replace("{"+"key"+"}", encodeURIComponent(key.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /v1/pubsub/kv/{bucket}/{key}
     * Set a value
     * 
     * @param bucket 
     * @param key 
     * @param body 
     * @return PubsubKvPut200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun pubsubKvPut(bucket: kotlin.String, key: kotlin.String, body: java.io.File) : PubsubKvPut200Response = withContext(Dispatchers.IO) {
        val localVarResponse = pubsubKvPutWithHttpInfo(bucket = bucket, key = key, body = body)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PubsubKvPut200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /v1/pubsub/kv/{bucket}/{key}
     * Set a value
     * 
     * @param bucket 
     * @param key 
     * @param body 
     * @return ApiResponse<PubsubKvPut200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun pubsubKvPutWithHttpInfo(bucket: kotlin.String, key: kotlin.String, body: java.io.File) : ApiResponse<PubsubKvPut200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = pubsubKvPutRequestConfig(bucket = bucket, key = key, body = body)

        return@withContext request<java.io.File, PubsubKvPut200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation pubsubKvPut
     *
     * @param bucket 
     * @param key 
     * @param body 
     * @return RequestConfig
     */
    fun pubsubKvPutRequestConfig(bucket: kotlin.String, key: kotlin.String, body: java.io.File) : RequestConfig<java.io.File> {
        val localVariableBody = body
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/octet-stream"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/v1/pubsub/kv/{bucket}/{key}".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())).replace("{"+"key"+"}", encodeURIComponent(key.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
