/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.ChatGetMessages200Response
import ai.hanzo.sdk.models.ChatMessage
import ai.hanzo.sdk.models.ChatPostMessagesArtifactBymessageid200Response
import ai.hanzo.sdk.models.ChatPostMessagesArtifactBymessageidRequest
import ai.hanzo.sdk.models.ChatPostMessagesBranchRequest
import ai.hanzo.sdk.models.ChatPutMessagesByconversationidBymessageidFeedback200Response
import ai.hanzo.sdk.models.ChatPutMessagesByconversationidBymessageidFeedbackRequest
import ai.hanzo.sdk.models.ChatPutMessagesByconversationidBymessageidRequest
import ai.hanzo.sdk.models.StreamConsumeMessages200Response
import ai.hanzo.sdk.models.StreamProduceRequest
import ai.hanzo.sdk.models.StreamProduceResponse

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class MessagesApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * DELETE /v1/chat/messages/{conversationId}/{messageId}
     * Delete a message
     * 
     * @param conversationId 
     * @param messageId 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatDeleteMessagesByconversationidBymessageid(conversationId: kotlin.String, messageId: kotlin.String) : Unit = withContext(Dispatchers.IO) {
        val localVarResponse = chatDeleteMessagesByconversationidBymessageidWithHttpInfo(conversationId = conversationId, messageId = messageId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/chat/messages/{conversationId}/{messageId}
     * Delete a message
     * 
     * @param conversationId 
     * @param messageId 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatDeleteMessagesByconversationidBymessageidWithHttpInfo(conversationId: kotlin.String, messageId: kotlin.String) : ApiResponse<Unit?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatDeleteMessagesByconversationidBymessageidRequestConfig(conversationId = conversationId, messageId = messageId)

        return@withContext request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatDeleteMessagesByconversationidBymessageid
     *
     * @param conversationId 
     * @param messageId 
     * @return RequestConfig
     */
    fun chatDeleteMessagesByconversationidBymessageidRequestConfig(conversationId: kotlin.String, messageId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/chat/messages/{conversationId}/{messageId}".replace("{"+"conversationId"+"}", encodeURIComponent(conversationId.toString())).replace("{"+"messageId"+"}", encodeURIComponent(messageId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/chat/messages
     * Query messages
     * Search messages or retrieve by conversation/message ID.
     * @param conversationId  (optional)
     * @param messageId  (optional)
     * @param search  (optional)
     * @param cursor  (optional)
     * @param pageSize  (optional, default to 25)
     * @param sortBy  (optional, default to "createdAt")
     * @param sortDirection  (optional, default to "desc")
     * @return ChatGetMessages200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatGetMessages(conversationId: kotlin.String? = null, messageId: kotlin.String? = null, search: kotlin.String? = null, cursor: kotlin.String? = null, pageSize: kotlin.Int? = 25, sortBy: kotlin.String? = "createdAt", sortDirection: kotlin.String? = "desc") : ChatGetMessages200Response = withContext(Dispatchers.IO) {
        val localVarResponse = chatGetMessagesWithHttpInfo(conversationId = conversationId, messageId = messageId, search = search, cursor = cursor, pageSize = pageSize, sortBy = sortBy, sortDirection = sortDirection)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ChatGetMessages200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/chat/messages
     * Query messages
     * Search messages or retrieve by conversation/message ID.
     * @param conversationId  (optional)
     * @param messageId  (optional)
     * @param search  (optional)
     * @param cursor  (optional)
     * @param pageSize  (optional, default to 25)
     * @param sortBy  (optional, default to "createdAt")
     * @param sortDirection  (optional, default to "desc")
     * @return ApiResponse<ChatGetMessages200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatGetMessagesWithHttpInfo(conversationId: kotlin.String?, messageId: kotlin.String?, search: kotlin.String?, cursor: kotlin.String?, pageSize: kotlin.Int?, sortBy: kotlin.String?, sortDirection: kotlin.String?) : ApiResponse<ChatGetMessages200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatGetMessagesRequestConfig(conversationId = conversationId, messageId = messageId, search = search, cursor = cursor, pageSize = pageSize, sortBy = sortBy, sortDirection = sortDirection)

        return@withContext request<Unit, ChatGetMessages200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatGetMessages
     *
     * @param conversationId  (optional)
     * @param messageId  (optional)
     * @param search  (optional)
     * @param cursor  (optional)
     * @param pageSize  (optional, default to 25)
     * @param sortBy  (optional, default to "createdAt")
     * @param sortDirection  (optional, default to "desc")
     * @return RequestConfig
     */
    fun chatGetMessagesRequestConfig(conversationId: kotlin.String?, messageId: kotlin.String?, search: kotlin.String?, cursor: kotlin.String?, pageSize: kotlin.Int?, sortBy: kotlin.String?, sortDirection: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (conversationId != null) {
                    put("conversationId", listOf(conversationId.toString()))
                }
                if (messageId != null) {
                    put("messageId", listOf(messageId.toString()))
                }
                if (search != null) {
                    put("search", listOf(search.toString()))
                }
                if (cursor != null) {
                    put("cursor", listOf(cursor.toString()))
                }
                if (pageSize != null) {
                    put("pageSize", listOf(pageSize.toString()))
                }
                if (sortBy != null) {
                    put("sortBy", listOf(sortBy.toString()))
                }
                if (sortDirection != null) {
                    put("sortDirection", listOf(sortDirection.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/chat/messages",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/chat/messages/{conversationId}
     * Get all messages in a conversation
     * 
     * @param conversationId 
     * @return kotlin.collections.List<ChatMessage>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatGetMessagesByconversationid(conversationId: kotlin.String) : kotlin.collections.List<ChatMessage> = withContext(Dispatchers.IO) {
        val localVarResponse = chatGetMessagesByconversationidWithHttpInfo(conversationId = conversationId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<ChatMessage>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/chat/messages/{conversationId}
     * Get all messages in a conversation
     * 
     * @param conversationId 
     * @return ApiResponse<kotlin.collections.List<ChatMessage>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatGetMessagesByconversationidWithHttpInfo(conversationId: kotlin.String) : ApiResponse<kotlin.collections.List<ChatMessage>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatGetMessagesByconversationidRequestConfig(conversationId = conversationId)

        return@withContext request<Unit, kotlin.collections.List<ChatMessage>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatGetMessagesByconversationid
     *
     * @param conversationId 
     * @return RequestConfig
     */
    fun chatGetMessagesByconversationidRequestConfig(conversationId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/chat/messages/{conversationId}".replace("{"+"conversationId"+"}", encodeURIComponent(conversationId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/chat/messages/{conversationId}/{messageId}
     * Get a specific message
     * 
     * @param conversationId 
     * @param messageId 
     * @return ChatMessage
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatGetMessagesByconversationidBymessageid(conversationId: kotlin.String, messageId: kotlin.String) : ChatMessage = withContext(Dispatchers.IO) {
        val localVarResponse = chatGetMessagesByconversationidBymessageidWithHttpInfo(conversationId = conversationId, messageId = messageId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ChatMessage
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/chat/messages/{conversationId}/{messageId}
     * Get a specific message
     * 
     * @param conversationId 
     * @param messageId 
     * @return ApiResponse<ChatMessage?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatGetMessagesByconversationidBymessageidWithHttpInfo(conversationId: kotlin.String, messageId: kotlin.String) : ApiResponse<ChatMessage?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatGetMessagesByconversationidBymessageidRequestConfig(conversationId = conversationId, messageId = messageId)

        return@withContext request<Unit, ChatMessage>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatGetMessagesByconversationidBymessageid
     *
     * @param conversationId 
     * @param messageId 
     * @return RequestConfig
     */
    fun chatGetMessagesByconversationidBymessageidRequestConfig(conversationId: kotlin.String, messageId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/chat/messages/{conversationId}/{messageId}".replace("{"+"conversationId"+"}", encodeURIComponent(conversationId.toString())).replace("{"+"messageId"+"}", encodeURIComponent(messageId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/chat/messages/artifact/{messageId}
     * Edit artifact content in a message
     * 
     * @param messageId 
     * @param chatPostMessagesArtifactBymessageidRequest 
     * @return ChatPostMessagesArtifactBymessageid200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatPostMessagesArtifactBymessageid(messageId: kotlin.String, chatPostMessagesArtifactBymessageidRequest: ChatPostMessagesArtifactBymessageidRequest) : ChatPostMessagesArtifactBymessageid200Response = withContext(Dispatchers.IO) {
        val localVarResponse = chatPostMessagesArtifactBymessageidWithHttpInfo(messageId = messageId, chatPostMessagesArtifactBymessageidRequest = chatPostMessagesArtifactBymessageidRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ChatPostMessagesArtifactBymessageid200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/chat/messages/artifact/{messageId}
     * Edit artifact content in a message
     * 
     * @param messageId 
     * @param chatPostMessagesArtifactBymessageidRequest 
     * @return ApiResponse<ChatPostMessagesArtifactBymessageid200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatPostMessagesArtifactBymessageidWithHttpInfo(messageId: kotlin.String, chatPostMessagesArtifactBymessageidRequest: ChatPostMessagesArtifactBymessageidRequest) : ApiResponse<ChatPostMessagesArtifactBymessageid200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatPostMessagesArtifactBymessageidRequestConfig(messageId = messageId, chatPostMessagesArtifactBymessageidRequest = chatPostMessagesArtifactBymessageidRequest)

        return@withContext request<ChatPostMessagesArtifactBymessageidRequest, ChatPostMessagesArtifactBymessageid200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatPostMessagesArtifactBymessageid
     *
     * @param messageId 
     * @param chatPostMessagesArtifactBymessageidRequest 
     * @return RequestConfig
     */
    fun chatPostMessagesArtifactBymessageidRequestConfig(messageId: kotlin.String, chatPostMessagesArtifactBymessageidRequest: ChatPostMessagesArtifactBymessageidRequest) : RequestConfig<ChatPostMessagesArtifactBymessageidRequest> {
        val localVariableBody = chatPostMessagesArtifactBymessageidRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/chat/messages/artifact/{messageId}".replace("{"+"messageId"+"}", encodeURIComponent(messageId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/chat/messages/branch
     * Create a branch message
     * Branch a specific agent&#39;s content from a parallel response message.
     * @param chatPostMessagesBranchRequest 
     * @return ChatMessage
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatPostMessagesBranch(chatPostMessagesBranchRequest: ChatPostMessagesBranchRequest) : ChatMessage = withContext(Dispatchers.IO) {
        val localVarResponse = chatPostMessagesBranchWithHttpInfo(chatPostMessagesBranchRequest = chatPostMessagesBranchRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ChatMessage
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/chat/messages/branch
     * Create a branch message
     * Branch a specific agent&#39;s content from a parallel response message.
     * @param chatPostMessagesBranchRequest 
     * @return ApiResponse<ChatMessage?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatPostMessagesBranchWithHttpInfo(chatPostMessagesBranchRequest: ChatPostMessagesBranchRequest) : ApiResponse<ChatMessage?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatPostMessagesBranchRequestConfig(chatPostMessagesBranchRequest = chatPostMessagesBranchRequest)

        return@withContext request<ChatPostMessagesBranchRequest, ChatMessage>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatPostMessagesBranch
     *
     * @param chatPostMessagesBranchRequest 
     * @return RequestConfig
     */
    fun chatPostMessagesBranchRequestConfig(chatPostMessagesBranchRequest: ChatPostMessagesBranchRequest) : RequestConfig<ChatPostMessagesBranchRequest> {
        val localVariableBody = chatPostMessagesBranchRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/chat/messages/branch",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/chat/messages/{conversationId}
     * Save a message to a conversation
     * 
     * @param conversationId 
     * @param chatMessage 
     * @return ChatMessage
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatPostMessagesByconversationid(conversationId: kotlin.String, chatMessage: ChatMessage) : ChatMessage = withContext(Dispatchers.IO) {
        val localVarResponse = chatPostMessagesByconversationidWithHttpInfo(conversationId = conversationId, chatMessage = chatMessage)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ChatMessage
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/chat/messages/{conversationId}
     * Save a message to a conversation
     * 
     * @param conversationId 
     * @param chatMessage 
     * @return ApiResponse<ChatMessage?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatPostMessagesByconversationidWithHttpInfo(conversationId: kotlin.String, chatMessage: ChatMessage) : ApiResponse<ChatMessage?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatPostMessagesByconversationidRequestConfig(conversationId = conversationId, chatMessage = chatMessage)

        return@withContext request<ChatMessage, ChatMessage>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatPostMessagesByconversationid
     *
     * @param conversationId 
     * @param chatMessage 
     * @return RequestConfig
     */
    fun chatPostMessagesByconversationidRequestConfig(conversationId: kotlin.String, chatMessage: ChatMessage) : RequestConfig<ChatMessage> {
        val localVariableBody = chatMessage
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/chat/messages/{conversationId}".replace("{"+"conversationId"+"}", encodeURIComponent(conversationId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /v1/chat/messages/{conversationId}/{messageId}
     * Update a message
     * 
     * @param conversationId 
     * @param messageId 
     * @param chatPutMessagesByconversationidBymessageidRequest 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatPutMessagesByconversationidBymessageid(conversationId: kotlin.String, messageId: kotlin.String, chatPutMessagesByconversationidBymessageidRequest: ChatPutMessagesByconversationidBymessageidRequest) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = chatPutMessagesByconversationidBymessageidWithHttpInfo(conversationId = conversationId, messageId = messageId, chatPutMessagesByconversationidBymessageidRequest = chatPutMessagesByconversationidBymessageidRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /v1/chat/messages/{conversationId}/{messageId}
     * Update a message
     * 
     * @param conversationId 
     * @param messageId 
     * @param chatPutMessagesByconversationidBymessageidRequest 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatPutMessagesByconversationidBymessageidWithHttpInfo(conversationId: kotlin.String, messageId: kotlin.String, chatPutMessagesByconversationidBymessageidRequest: ChatPutMessagesByconversationidBymessageidRequest) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatPutMessagesByconversationidBymessageidRequestConfig(conversationId = conversationId, messageId = messageId, chatPutMessagesByconversationidBymessageidRequest = chatPutMessagesByconversationidBymessageidRequest)

        return@withContext request<ChatPutMessagesByconversationidBymessageidRequest, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatPutMessagesByconversationidBymessageid
     *
     * @param conversationId 
     * @param messageId 
     * @param chatPutMessagesByconversationidBymessageidRequest 
     * @return RequestConfig
     */
    fun chatPutMessagesByconversationidBymessageidRequestConfig(conversationId: kotlin.String, messageId: kotlin.String, chatPutMessagesByconversationidBymessageidRequest: ChatPutMessagesByconversationidBymessageidRequest) : RequestConfig<ChatPutMessagesByconversationidBymessageidRequest> {
        val localVariableBody = chatPutMessagesByconversationidBymessageidRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/v1/chat/messages/{conversationId}/{messageId}".replace("{"+"conversationId"+"}", encodeURIComponent(conversationId.toString())).replace("{"+"messageId"+"}", encodeURIComponent(messageId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /v1/chat/messages/{conversationId}/{messageId}/feedback
     * Update message feedback
     * 
     * @param conversationId 
     * @param messageId 
     * @param chatPutMessagesByconversationidBymessageidFeedbackRequest 
     * @return ChatPutMessagesByconversationidBymessageidFeedback200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatPutMessagesByconversationidBymessageidFeedback(conversationId: kotlin.String, messageId: kotlin.String, chatPutMessagesByconversationidBymessageidFeedbackRequest: ChatPutMessagesByconversationidBymessageidFeedbackRequest) : ChatPutMessagesByconversationidBymessageidFeedback200Response = withContext(Dispatchers.IO) {
        val localVarResponse = chatPutMessagesByconversationidBymessageidFeedbackWithHttpInfo(conversationId = conversationId, messageId = messageId, chatPutMessagesByconversationidBymessageidFeedbackRequest = chatPutMessagesByconversationidBymessageidFeedbackRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ChatPutMessagesByconversationidBymessageidFeedback200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /v1/chat/messages/{conversationId}/{messageId}/feedback
     * Update message feedback
     * 
     * @param conversationId 
     * @param messageId 
     * @param chatPutMessagesByconversationidBymessageidFeedbackRequest 
     * @return ApiResponse<ChatPutMessagesByconversationidBymessageidFeedback200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatPutMessagesByconversationidBymessageidFeedbackWithHttpInfo(conversationId: kotlin.String, messageId: kotlin.String, chatPutMessagesByconversationidBymessageidFeedbackRequest: ChatPutMessagesByconversationidBymessageidFeedbackRequest) : ApiResponse<ChatPutMessagesByconversationidBymessageidFeedback200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatPutMessagesByconversationidBymessageidFeedbackRequestConfig(conversationId = conversationId, messageId = messageId, chatPutMessagesByconversationidBymessageidFeedbackRequest = chatPutMessagesByconversationidBymessageidFeedbackRequest)

        return@withContext request<ChatPutMessagesByconversationidBymessageidFeedbackRequest, ChatPutMessagesByconversationidBymessageidFeedback200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatPutMessagesByconversationidBymessageidFeedback
     *
     * @param conversationId 
     * @param messageId 
     * @param chatPutMessagesByconversationidBymessageidFeedbackRequest 
     * @return RequestConfig
     */
    fun chatPutMessagesByconversationidBymessageidFeedbackRequestConfig(conversationId: kotlin.String, messageId: kotlin.String, chatPutMessagesByconversationidBymessageidFeedbackRequest: ChatPutMessagesByconversationidBymessageidFeedbackRequest) : RequestConfig<ChatPutMessagesByconversationidBymessageidFeedbackRequest> {
        val localVariableBody = chatPutMessagesByconversationidBymessageidFeedbackRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/v1/chat/messages/{conversationId}/{messageId}/feedback".replace("{"+"conversationId"+"}", encodeURIComponent(conversationId.toString())).replace("{"+"messageId"+"}", encodeURIComponent(messageId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/stream/topics/{topic}/messages
     * Consume messages
     * Consume messages from a topic partition via REST API. For persistent consumption, use the Kafka wire protocol with consumer groups. 
     * @param topic 
     * @param partition Partition to consume from (optional, default to 0)
     * @param offset Starting offset (earliest, latest, or numeric offset) (optional, default to "latest")
     * @param limit Maximum records to return (optional, default to 100)
     * @param timeout Long-poll timeout in milliseconds (optional, default to 5000)
     * @return StreamConsumeMessages200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun streamConsumeMessages(topic: kotlin.String, partition: kotlin.Int? = 0, offset: kotlin.String? = "latest", limit: kotlin.Int? = 100, timeout: kotlin.Int? = 5000) : StreamConsumeMessages200Response = withContext(Dispatchers.IO) {
        val localVarResponse = streamConsumeMessagesWithHttpInfo(topic = topic, partition = partition, offset = offset, limit = limit, timeout = timeout)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as StreamConsumeMessages200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/stream/topics/{topic}/messages
     * Consume messages
     * Consume messages from a topic partition via REST API. For persistent consumption, use the Kafka wire protocol with consumer groups. 
     * @param topic 
     * @param partition Partition to consume from (optional, default to 0)
     * @param offset Starting offset (earliest, latest, or numeric offset) (optional, default to "latest")
     * @param limit Maximum records to return (optional, default to 100)
     * @param timeout Long-poll timeout in milliseconds (optional, default to 5000)
     * @return ApiResponse<StreamConsumeMessages200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun streamConsumeMessagesWithHttpInfo(topic: kotlin.String, partition: kotlin.Int?, offset: kotlin.String?, limit: kotlin.Int?, timeout: kotlin.Int?) : ApiResponse<StreamConsumeMessages200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = streamConsumeMessagesRequestConfig(topic = topic, partition = partition, offset = offset, limit = limit, timeout = timeout)

        return@withContext request<Unit, StreamConsumeMessages200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation streamConsumeMessages
     *
     * @param topic 
     * @param partition Partition to consume from (optional, default to 0)
     * @param offset Starting offset (earliest, latest, or numeric offset) (optional, default to "latest")
     * @param limit Maximum records to return (optional, default to 100)
     * @param timeout Long-poll timeout in milliseconds (optional, default to 5000)
     * @return RequestConfig
     */
    fun streamConsumeMessagesRequestConfig(topic: kotlin.String, partition: kotlin.Int?, offset: kotlin.String?, limit: kotlin.Int?, timeout: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (partition != null) {
                    put("partition", listOf(partition.toString()))
                }
                if (offset != null) {
                    put("offset", listOf(offset.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (timeout != null) {
                    put("timeout", listOf(timeout.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/stream/topics/{topic}/messages".replace("{"+"topic"+"}", encodeURIComponent(topic.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/stream/topics/{topic}/messages
     * Produce messages
     * Produce one or more messages to a topic via REST API. For high throughput, use the Kafka wire protocol on port 9092. 
     * @param topic 
     * @param streamProduceRequest 
     * @return StreamProduceResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun streamProduceMessages(topic: kotlin.String, streamProduceRequest: StreamProduceRequest) : StreamProduceResponse = withContext(Dispatchers.IO) {
        val localVarResponse = streamProduceMessagesWithHttpInfo(topic = topic, streamProduceRequest = streamProduceRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as StreamProduceResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/stream/topics/{topic}/messages
     * Produce messages
     * Produce one or more messages to a topic via REST API. For high throughput, use the Kafka wire protocol on port 9092. 
     * @param topic 
     * @param streamProduceRequest 
     * @return ApiResponse<StreamProduceResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun streamProduceMessagesWithHttpInfo(topic: kotlin.String, streamProduceRequest: StreamProduceRequest) : ApiResponse<StreamProduceResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = streamProduceMessagesRequestConfig(topic = topic, streamProduceRequest = streamProduceRequest)

        return@withContext request<StreamProduceRequest, StreamProduceResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation streamProduceMessages
     *
     * @param topic 
     * @param streamProduceRequest 
     * @return RequestConfig
     */
    fun streamProduceMessagesRequestConfig(topic: kotlin.String, streamProduceRequest: StreamProduceRequest) : RequestConfig<StreamProduceRequest> {
        val localVariableBody = streamProduceRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/stream/topics/{topic}/messages".replace("{"+"topic"+"}", encodeURIComponent(topic.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
