/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.ConsoleListObservations200Response
import ai.hanzo.sdk.models.ConsoleObservation

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class ObservationsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * GET /v1/console/observations/{observationId}
     * Get an observation by ID
     * 
     * @param observationId 
     * @return ConsoleObservation
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun consoleGetObservation(observationId: kotlin.String) : ConsoleObservation = withContext(Dispatchers.IO) {
        val localVarResponse = consoleGetObservationWithHttpInfo(observationId = observationId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ConsoleObservation
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/console/observations/{observationId}
     * Get an observation by ID
     * 
     * @param observationId 
     * @return ApiResponse<ConsoleObservation?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun consoleGetObservationWithHttpInfo(observationId: kotlin.String) : ApiResponse<ConsoleObservation?> = withContext(Dispatchers.IO) {
        val localVariableConfig = consoleGetObservationRequestConfig(observationId = observationId)

        return@withContext request<Unit, ConsoleObservation>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation consoleGetObservation
     *
     * @param observationId 
     * @return RequestConfig
     */
    fun consoleGetObservationRequestConfig(observationId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/console/observations/{observationId}".replace("{"+"observationId"+"}", encodeURIComponent(observationId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter level
     */
     enum class LevelConsoleListObservations(val value: kotlin.String) {
         @Json(name = "DEBUG") DEBUG("DEBUG"),
         @Json(name = "DEFAULT") DEFAULT("DEFAULT"),
         @Json(name = "WARNING") WARNING("WARNING"),
         @Json(name = "ERROR") ERROR("ERROR");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /v1/console/observations
     * Get a list of observations
     * 
     * @param page  (optional, default to 1)
     * @param limit  (optional, default to 50)
     * @param name  (optional)
     * @param userId  (optional)
     * @param type  (optional)
     * @param traceId  (optional)
     * @param level  (optional)
     * @param parentObservationId  (optional)
     * @param environment  (optional)
     * @param fromStartTime  (optional)
     * @param toStartTime  (optional)
     * @param version  (optional)
     * @return ConsoleListObservations200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun consoleListObservations(page: kotlin.Int? = 1, limit: kotlin.Int? = 50, name: kotlin.String? = null, userId: kotlin.String? = null, type: kotlin.String? = null, traceId: kotlin.String? = null, level: LevelConsoleListObservations? = null, parentObservationId: kotlin.String? = null, environment: kotlin.collections.List<kotlin.String>? = null, fromStartTime: java.time.OffsetDateTime? = null, toStartTime: java.time.OffsetDateTime? = null, version: kotlin.String? = null) : ConsoleListObservations200Response = withContext(Dispatchers.IO) {
        val localVarResponse = consoleListObservationsWithHttpInfo(page = page, limit = limit, name = name, userId = userId, type = type, traceId = traceId, level = level, parentObservationId = parentObservationId, environment = environment, fromStartTime = fromStartTime, toStartTime = toStartTime, version = version)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ConsoleListObservations200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/console/observations
     * Get a list of observations
     * 
     * @param page  (optional, default to 1)
     * @param limit  (optional, default to 50)
     * @param name  (optional)
     * @param userId  (optional)
     * @param type  (optional)
     * @param traceId  (optional)
     * @param level  (optional)
     * @param parentObservationId  (optional)
     * @param environment  (optional)
     * @param fromStartTime  (optional)
     * @param toStartTime  (optional)
     * @param version  (optional)
     * @return ApiResponse<ConsoleListObservations200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun consoleListObservationsWithHttpInfo(page: kotlin.Int?, limit: kotlin.Int?, name: kotlin.String?, userId: kotlin.String?, type: kotlin.String?, traceId: kotlin.String?, level: LevelConsoleListObservations?, parentObservationId: kotlin.String?, environment: kotlin.collections.List<kotlin.String>?, fromStartTime: java.time.OffsetDateTime?, toStartTime: java.time.OffsetDateTime?, version: kotlin.String?) : ApiResponse<ConsoleListObservations200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = consoleListObservationsRequestConfig(page = page, limit = limit, name = name, userId = userId, type = type, traceId = traceId, level = level, parentObservationId = parentObservationId, environment = environment, fromStartTime = fromStartTime, toStartTime = toStartTime, version = version)

        return@withContext request<Unit, ConsoleListObservations200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation consoleListObservations
     *
     * @param page  (optional, default to 1)
     * @param limit  (optional, default to 50)
     * @param name  (optional)
     * @param userId  (optional)
     * @param type  (optional)
     * @param traceId  (optional)
     * @param level  (optional)
     * @param parentObservationId  (optional)
     * @param environment  (optional)
     * @param fromStartTime  (optional)
     * @param toStartTime  (optional)
     * @param version  (optional)
     * @return RequestConfig
     */
    fun consoleListObservationsRequestConfig(page: kotlin.Int?, limit: kotlin.Int?, name: kotlin.String?, userId: kotlin.String?, type: kotlin.String?, traceId: kotlin.String?, level: LevelConsoleListObservations?, parentObservationId: kotlin.String?, environment: kotlin.collections.List<kotlin.String>?, fromStartTime: java.time.OffsetDateTime?, toStartTime: java.time.OffsetDateTime?, version: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (name != null) {
                    put("name", listOf(name.toString()))
                }
                if (userId != null) {
                    put("userId", listOf(userId.toString()))
                }
                if (type != null) {
                    put("type", listOf(type.toString()))
                }
                if (traceId != null) {
                    put("traceId", listOf(traceId.toString()))
                }
                if (level != null) {
                    put("level", listOf(level.value))
                }
                if (parentObservationId != null) {
                    put("parentObservationId", listOf(parentObservationId.toString()))
                }
                if (environment != null) {
                    put("environment", toMultiValue(environment.toList(), "multi"))
                }
                if (fromStartTime != null) {
                    put("fromStartTime", listOf(parseDateToQueryString<java.time.OffsetDateTime>(fromStartTime)))
                }
                if (toStartTime != null) {
                    put("toStartTime", listOf(parseDateToQueryString<java.time.OffsetDateTime>(toStartTime)))
                }
                if (version != null) {
                    put("version", listOf(version.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/console/observations",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
