/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.AdminAdminCompute200Response
import ai.hanzo.sdk.models.AdminAdminO11y200Response
import ai.hanzo.sdk.models.InlineObject

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class ObservabilityApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * enum for parameter range
     */
     enum class RangeAdminAdminCompute(val value: kotlin.String) {
         @Json(name = "24h") _24h("24h"),
         @Json(name = "7d") _7d("7d"),
         @Json(name = "30d") _30d("30d");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /v1/admin/compute
     * Cross-tenant compute analytics
     * 
     * @param kind bot | machine | cluster | nodepool | container | function | … (optional)
     * @param org  (optional)
     * @param range  (optional, default to Range._30d)
     * @return AdminAdminCompute200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun adminAdminCompute(kind: kotlin.String? = null, org: kotlin.String? = null, range: RangeAdminAdminCompute? = RangeAdminAdminCompute._30d) : AdminAdminCompute200Response = withContext(Dispatchers.IO) {
        val localVarResponse = adminAdminComputeWithHttpInfo(kind = kind, org = org, range = range)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AdminAdminCompute200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/admin/compute
     * Cross-tenant compute analytics
     * 
     * @param kind bot | machine | cluster | nodepool | container | function | … (optional)
     * @param org  (optional)
     * @param range  (optional, default to Range._30d)
     * @return ApiResponse<AdminAdminCompute200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun adminAdminComputeWithHttpInfo(kind: kotlin.String?, org: kotlin.String?, range: RangeAdminAdminCompute?) : ApiResponse<AdminAdminCompute200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = adminAdminComputeRequestConfig(kind = kind, org = org, range = range)

        return@withContext request<Unit, AdminAdminCompute200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation adminAdminCompute
     *
     * @param kind bot | machine | cluster | nodepool | container | function | … (optional)
     * @param org  (optional)
     * @param range  (optional, default to Range._30d)
     * @return RequestConfig
     */
    fun adminAdminComputeRequestConfig(kind: kotlin.String?, org: kotlin.String?, range: RangeAdminAdminCompute?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (kind != null) {
                    put("kind", listOf(kind.toString()))
                }
                if (org != null) {
                    put("org", listOf(org.toString()))
                }
                if (range != null) {
                    put("range", listOf(range.value))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/admin/compute",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter range
     */
     enum class RangeAdminAdminO11y(val value: kotlin.String) {
         @Json(name = "24h") _24h("24h"),
         @Json(name = "7d") _7d("7d"),
         @Json(name = "30d") _30d("30d");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /v1/admin/o11y
     * Fleet-wide observability board
     * 
     * @param range  (optional, default to Range._30d)
     * @return AdminAdminO11y200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun adminAdminO11y(range: RangeAdminAdminO11y? = RangeAdminAdminO11y._30d) : AdminAdminO11y200Response = withContext(Dispatchers.IO) {
        val localVarResponse = adminAdminO11yWithHttpInfo(range = range)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AdminAdminO11y200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/admin/o11y
     * Fleet-wide observability board
     * 
     * @param range  (optional, default to Range._30d)
     * @return ApiResponse<AdminAdminO11y200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun adminAdminO11yWithHttpInfo(range: RangeAdminAdminO11y?) : ApiResponse<AdminAdminO11y200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = adminAdminO11yRequestConfig(range = range)

        return@withContext request<Unit, AdminAdminO11y200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation adminAdminO11y
     *
     * @param range  (optional, default to Range._30d)
     * @return RequestConfig
     */
    fun adminAdminO11yRequestConfig(range: RangeAdminAdminO11y?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (range != null) {
                    put("range", listOf(range.value))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/admin/o11y",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
