/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.DidGetProfileHistory200Response
import ai.hanzo.sdk.models.DidListProfiles200Response
import ai.hanzo.sdk.models.DidProfile
import ai.hanzo.sdk.models.DidUpdateProfileRequest

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class ProfilesApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * GET /v1/did/profiles/{profile_id}
     * Get a profile
     * 
     * @param profileId 
     * @return DidProfile
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun didGetProfile(profileId: kotlin.String) : DidProfile = withContext(Dispatchers.IO) {
        val localVarResponse = didGetProfileWithHttpInfo(profileId = profileId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DidProfile
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/did/profiles/{profile_id}
     * Get a profile
     * 
     * @param profileId 
     * @return ApiResponse<DidProfile?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun didGetProfileWithHttpInfo(profileId: kotlin.String) : ApiResponse<DidProfile?> = withContext(Dispatchers.IO) {
        val localVariableConfig = didGetProfileRequestConfig(profileId = profileId)

        return@withContext request<Unit, DidProfile>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation didGetProfile
     *
     * @param profileId 
     * @return RequestConfig
     */
    fun didGetProfileRequestConfig(profileId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/did/profiles/{profile_id}".replace("{"+"profile_id"+"}", encodeURIComponent(profileId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/did/profiles/{profile_id}/history
     * Get profile change history
     * 
     * @param profileId 
     * @param limit  (optional, default to 50)
     * @return DidGetProfileHistory200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun didGetProfileHistory(profileId: kotlin.String, limit: kotlin.Int? = 50) : DidGetProfileHistory200Response = withContext(Dispatchers.IO) {
        val localVarResponse = didGetProfileHistoryWithHttpInfo(profileId = profileId, limit = limit)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DidGetProfileHistory200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/did/profiles/{profile_id}/history
     * Get profile change history
     * 
     * @param profileId 
     * @param limit  (optional, default to 50)
     * @return ApiResponse<DidGetProfileHistory200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun didGetProfileHistoryWithHttpInfo(profileId: kotlin.String, limit: kotlin.Int?) : ApiResponse<DidGetProfileHistory200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = didGetProfileHistoryRequestConfig(profileId = profileId, limit = limit)

        return@withContext request<Unit, DidGetProfileHistory200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation didGetProfileHistory
     *
     * @param profileId 
     * @param limit  (optional, default to 50)
     * @return RequestConfig
     */
    fun didGetProfileHistoryRequestConfig(profileId: kotlin.String, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/did/profiles/{profile_id}/history".replace("{"+"profile_id"+"}", encodeURIComponent(profileId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter type
     */
     enum class TypeDidListProfiles(val value: kotlin.String) {
         @Json(name = "user") user("user"),
         @Json(name = "service_account") service_account("service_account"),
         @Json(name = "bot") bot("bot");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter status
     */
     enum class StatusDidListProfiles(val value: kotlin.String) {
         @Json(name = "active") active("active"),
         @Json(name = "suspended") suspended("suspended"),
         @Json(name = "deactivated") deactivated("deactivated");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /v1/did/profiles
     * List profiles
     * List all profiles in an organization, with optional filtering.
     * @param organization Organization to list profiles for
     * @param type Filter by profile type (optional)
     * @param team Filter by team membership (optional)
     * @param status Filter by status (optional)
     * @param search Search by name or email (optional)
     * @param limit  (optional, default to 50)
     * @param cursor  (optional)
     * @return DidListProfiles200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun didListProfiles(organization: kotlin.String, type: TypeDidListProfiles? = null, team: kotlin.String? = null, status: StatusDidListProfiles? = null, search: kotlin.String? = null, limit: kotlin.Int? = 50, cursor: kotlin.String? = null) : DidListProfiles200Response = withContext(Dispatchers.IO) {
        val localVarResponse = didListProfilesWithHttpInfo(organization = organization, type = type, team = team, status = status, search = search, limit = limit, cursor = cursor)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DidListProfiles200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/did/profiles
     * List profiles
     * List all profiles in an organization, with optional filtering.
     * @param organization Organization to list profiles for
     * @param type Filter by profile type (optional)
     * @param team Filter by team membership (optional)
     * @param status Filter by status (optional)
     * @param search Search by name or email (optional)
     * @param limit  (optional, default to 50)
     * @param cursor  (optional)
     * @return ApiResponse<DidListProfiles200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun didListProfilesWithHttpInfo(organization: kotlin.String, type: TypeDidListProfiles?, team: kotlin.String?, status: StatusDidListProfiles?, search: kotlin.String?, limit: kotlin.Int?, cursor: kotlin.String?) : ApiResponse<DidListProfiles200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = didListProfilesRequestConfig(organization = organization, type = type, team = team, status = status, search = search, limit = limit, cursor = cursor)

        return@withContext request<Unit, DidListProfiles200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation didListProfiles
     *
     * @param organization Organization to list profiles for
     * @param type Filter by profile type (optional)
     * @param team Filter by team membership (optional)
     * @param status Filter by status (optional)
     * @param search Search by name or email (optional)
     * @param limit  (optional, default to 50)
     * @param cursor  (optional)
     * @return RequestConfig
     */
    fun didListProfilesRequestConfig(organization: kotlin.String, type: TypeDidListProfiles?, team: kotlin.String?, status: StatusDidListProfiles?, search: kotlin.String?, limit: kotlin.Int?, cursor: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("organization", listOf(organization.toString()))
                if (type != null) {
                    put("type", listOf(type.value))
                }
                if (team != null) {
                    put("team", listOf(team.toString()))
                }
                if (status != null) {
                    put("status", listOf(status.value))
                }
                if (search != null) {
                    put("search", listOf(search.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (cursor != null) {
                    put("cursor", listOf(cursor.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/did/profiles",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /v1/did/profiles/{profile_id}
     * Update a profile
     * 
     * @param profileId 
     * @param didUpdateProfileRequest 
     * @return DidProfile
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun didUpdateProfile(profileId: kotlin.String, didUpdateProfileRequest: DidUpdateProfileRequest) : DidProfile = withContext(Dispatchers.IO) {
        val localVarResponse = didUpdateProfileWithHttpInfo(profileId = profileId, didUpdateProfileRequest = didUpdateProfileRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DidProfile
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /v1/did/profiles/{profile_id}
     * Update a profile
     * 
     * @param profileId 
     * @param didUpdateProfileRequest 
     * @return ApiResponse<DidProfile?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun didUpdateProfileWithHttpInfo(profileId: kotlin.String, didUpdateProfileRequest: DidUpdateProfileRequest) : ApiResponse<DidProfile?> = withContext(Dispatchers.IO) {
        val localVariableConfig = didUpdateProfileRequestConfig(profileId = profileId, didUpdateProfileRequest = didUpdateProfileRequest)

        return@withContext request<DidUpdateProfileRequest, DidProfile>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation didUpdateProfile
     *
     * @param profileId 
     * @param didUpdateProfileRequest 
     * @return RequestConfig
     */
    fun didUpdateProfileRequestConfig(profileId: kotlin.String, didUpdateProfileRequest: DidUpdateProfileRequest) : RequestConfig<DidUpdateProfileRequest> {
        val localVariableBody = didUpdateProfileRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/v1/did/profiles/{profile_id}".replace("{"+"profile_id"+"}", encodeURIComponent(profileId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
