/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.AutoProject
import ai.hanzo.sdk.models.AutoUpdateAppConnectionRequest
import ai.hanzo.sdk.models.ConsoleCreateProjectApiKey200Response
import ai.hanzo.sdk.models.ConsoleCreateProjectApiKeyRequest
import ai.hanzo.sdk.models.ConsoleCreateProjectRequest
import ai.hanzo.sdk.models.ConsoleDeleteProject202Response
import ai.hanzo.sdk.models.ConsoleDeleteProjectApiKey200Response
import ai.hanzo.sdk.models.ConsoleGetProject200Response
import ai.hanzo.sdk.models.ConsoleListOrganizationApiKeys200Response
import ai.hanzo.sdk.models.ConsoleProject
import ai.hanzo.sdk.models.ConsoleUpdateProjectRequest
import ai.hanzo.sdk.models.DbConnectionUri
import ai.hanzo.sdk.models.DbCreateProject201Response
import ai.hanzo.sdk.models.DbCreateProjectRequest
import ai.hanzo.sdk.models.DbError
import ai.hanzo.sdk.models.DbGetProject200Response
import ai.hanzo.sdk.models.DbListProjects200Response
import ai.hanzo.sdk.models.DbUpdateProjectRequest
import ai.hanzo.sdk.models.FlowProject
import ai.hanzo.sdk.models.InlineObject
import ai.hanzo.sdk.models.KmsCreateProject200Response
import ai.hanzo.sdk.models.KmsCreateProjectRequest
import ai.hanzo.sdk.models.KmsListProjectUsers200Response
import ai.hanzo.sdk.models.KmsUpdateProjectRequest
import ai.hanzo.sdk.models.PaasCreateOrganizationRequest
import ai.hanzo.sdk.models.PaasProject
import ai.hanzo.sdk.models.PaasUpdateOrganizationRequest
import ai.hanzo.sdk.models.ProjectsCreateProjectRequest
import ai.hanzo.sdk.models.ProjectsError
import ai.hanzo.sdk.models.ProjectsForkProjectRequest
import ai.hanzo.sdk.models.ProjectsProject
import ai.hanzo.sdk.models.ProjectsUpdateProjectRequest
import ai.hanzo.sdk.models.RegistryError
import ai.hanzo.sdk.models.RegistryProject
import ai.hanzo.sdk.models.RegistryProjectCreate
import ai.hanzo.sdk.models.RegistryUpdateProjectRequest
import ai.hanzo.sdk.models.TrackerCreateProjectRequest
import ai.hanzo.sdk.models.TrackerProject
import ai.hanzo.sdk.models.TrackerUpdateProjectRequest

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class ProjectsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * GET /v1/auto/projects/{id}
     * Get a project by id
     * 
     * @param id 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun autoGetProject(id: kotlin.String) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = autoGetProjectWithHttpInfo(id = id)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/auto/projects/{id}
     * Get a project by id
     * 
     * @param id 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun autoGetProjectWithHttpInfo(id: kotlin.String) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = autoGetProjectRequestConfig(id = id)

        return@withContext request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation autoGetProject
     *
     * @param id 
     * @return RequestConfig
     */
    fun autoGetProjectRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/auto/projects/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/auto/projects
     * List projects
     * 
     * @return kotlin.collections.List<AutoProject>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun autoListProjects() : kotlin.collections.List<AutoProject> = withContext(Dispatchers.IO) {
        val localVarResponse = autoListProjectsWithHttpInfo()

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<AutoProject>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/auto/projects
     * List projects
     * 
     * @return ApiResponse<kotlin.collections.List<AutoProject>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun autoListProjectsWithHttpInfo() : ApiResponse<kotlin.collections.List<AutoProject>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = autoListProjectsRequestConfig()

        return@withContext request<Unit, kotlin.collections.List<AutoProject>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation autoListProjects
     *
     * @return RequestConfig
     */
    fun autoListProjectsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/auto/projects",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/auto/projects/{id}
     * Update project settings
     * 
     * @param id 
     * @param autoUpdateAppConnectionRequest 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun autoUpdateProject(id: kotlin.String, autoUpdateAppConnectionRequest: AutoUpdateAppConnectionRequest) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = autoUpdateProjectWithHttpInfo(id = id, autoUpdateAppConnectionRequest = autoUpdateAppConnectionRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/auto/projects/{id}
     * Update project settings
     * 
     * @param id 
     * @param autoUpdateAppConnectionRequest 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun autoUpdateProjectWithHttpInfo(id: kotlin.String, autoUpdateAppConnectionRequest: AutoUpdateAppConnectionRequest) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = autoUpdateProjectRequestConfig(id = id, autoUpdateAppConnectionRequest = autoUpdateAppConnectionRequest)

        return@withContext request<AutoUpdateAppConnectionRequest, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation autoUpdateProject
     *
     * @param id 
     * @param autoUpdateAppConnectionRequest 
     * @return RequestConfig
     */
    fun autoUpdateProjectRequestConfig(id: kotlin.String, autoUpdateAppConnectionRequest: AutoUpdateAppConnectionRequest) : RequestConfig<AutoUpdateAppConnectionRequest> {
        val localVariableBody = autoUpdateAppConnectionRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/auto/projects/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/console/projects
     * Create a new project (requires organization-scoped API key)
     * 
     * @param consoleCreateProjectRequest 
     * @return ConsoleProject
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun consoleCreateProject(consoleCreateProjectRequest: ConsoleCreateProjectRequest) : ConsoleProject = withContext(Dispatchers.IO) {
        val localVarResponse = consoleCreateProjectWithHttpInfo(consoleCreateProjectRequest = consoleCreateProjectRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ConsoleProject
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/console/projects
     * Create a new project (requires organization-scoped API key)
     * 
     * @param consoleCreateProjectRequest 
     * @return ApiResponse<ConsoleProject?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun consoleCreateProjectWithHttpInfo(consoleCreateProjectRequest: ConsoleCreateProjectRequest) : ApiResponse<ConsoleProject?> = withContext(Dispatchers.IO) {
        val localVariableConfig = consoleCreateProjectRequestConfig(consoleCreateProjectRequest = consoleCreateProjectRequest)

        return@withContext request<ConsoleCreateProjectRequest, ConsoleProject>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation consoleCreateProject
     *
     * @param consoleCreateProjectRequest 
     * @return RequestConfig
     */
    fun consoleCreateProjectRequestConfig(consoleCreateProjectRequest: ConsoleCreateProjectRequest) : RequestConfig<ConsoleCreateProjectRequest> {
        val localVariableBody = consoleCreateProjectRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/console/projects",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/console/projects/{projectId}/apiKeys
     * Create an API key for a project
     * 
     * @param projectId 
     * @param consoleCreateProjectApiKeyRequest 
     * @return ConsoleCreateProjectApiKey200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun consoleCreateProjectApiKey(projectId: kotlin.String, consoleCreateProjectApiKeyRequest: ConsoleCreateProjectApiKeyRequest) : ConsoleCreateProjectApiKey200Response = withContext(Dispatchers.IO) {
        val localVarResponse = consoleCreateProjectApiKeyWithHttpInfo(projectId = projectId, consoleCreateProjectApiKeyRequest = consoleCreateProjectApiKeyRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ConsoleCreateProjectApiKey200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/console/projects/{projectId}/apiKeys
     * Create an API key for a project
     * 
     * @param projectId 
     * @param consoleCreateProjectApiKeyRequest 
     * @return ApiResponse<ConsoleCreateProjectApiKey200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun consoleCreateProjectApiKeyWithHttpInfo(projectId: kotlin.String, consoleCreateProjectApiKeyRequest: ConsoleCreateProjectApiKeyRequest) : ApiResponse<ConsoleCreateProjectApiKey200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = consoleCreateProjectApiKeyRequestConfig(projectId = projectId, consoleCreateProjectApiKeyRequest = consoleCreateProjectApiKeyRequest)

        return@withContext request<ConsoleCreateProjectApiKeyRequest, ConsoleCreateProjectApiKey200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation consoleCreateProjectApiKey
     *
     * @param projectId 
     * @param consoleCreateProjectApiKeyRequest 
     * @return RequestConfig
     */
    fun consoleCreateProjectApiKeyRequestConfig(projectId: kotlin.String, consoleCreateProjectApiKeyRequest: ConsoleCreateProjectApiKeyRequest) : RequestConfig<ConsoleCreateProjectApiKeyRequest> {
        val localVariableBody = consoleCreateProjectApiKeyRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/console/projects/{projectId}/apiKeys".replace("{"+"projectId"+"}", encodeURIComponent(projectId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/console/projects/{projectId}
     * Delete a project (async)
     * 
     * @param projectId 
     * @return ConsoleDeleteProject202Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun consoleDeleteProject(projectId: kotlin.String) : ConsoleDeleteProject202Response = withContext(Dispatchers.IO) {
        val localVarResponse = consoleDeleteProjectWithHttpInfo(projectId = projectId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ConsoleDeleteProject202Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/console/projects/{projectId}
     * Delete a project (async)
     * 
     * @param projectId 
     * @return ApiResponse<ConsoleDeleteProject202Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun consoleDeleteProjectWithHttpInfo(projectId: kotlin.String) : ApiResponse<ConsoleDeleteProject202Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = consoleDeleteProjectRequestConfig(projectId = projectId)

        return@withContext request<Unit, ConsoleDeleteProject202Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation consoleDeleteProject
     *
     * @param projectId 
     * @return RequestConfig
     */
    fun consoleDeleteProjectRequestConfig(projectId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/console/projects/{projectId}".replace("{"+"projectId"+"}", encodeURIComponent(projectId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/console/projects/{projectId}/apiKeys/{apiKeyId}
     * Delete a project API key
     * 
     * @param projectId 
     * @param apiKeyId 
     * @return ConsoleDeleteProjectApiKey200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun consoleDeleteProjectApiKey(projectId: kotlin.String, apiKeyId: kotlin.String) : ConsoleDeleteProjectApiKey200Response = withContext(Dispatchers.IO) {
        val localVarResponse = consoleDeleteProjectApiKeyWithHttpInfo(projectId = projectId, apiKeyId = apiKeyId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ConsoleDeleteProjectApiKey200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/console/projects/{projectId}/apiKeys/{apiKeyId}
     * Delete a project API key
     * 
     * @param projectId 
     * @param apiKeyId 
     * @return ApiResponse<ConsoleDeleteProjectApiKey200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun consoleDeleteProjectApiKeyWithHttpInfo(projectId: kotlin.String, apiKeyId: kotlin.String) : ApiResponse<ConsoleDeleteProjectApiKey200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = consoleDeleteProjectApiKeyRequestConfig(projectId = projectId, apiKeyId = apiKeyId)

        return@withContext request<Unit, ConsoleDeleteProjectApiKey200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation consoleDeleteProjectApiKey
     *
     * @param projectId 
     * @param apiKeyId 
     * @return RequestConfig
     */
    fun consoleDeleteProjectApiKeyRequestConfig(projectId: kotlin.String, apiKeyId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/console/projects/{projectId}/apiKeys/{apiKeyId}".replace("{"+"projectId"+"}", encodeURIComponent(projectId.toString())).replace("{"+"apiKeyId"+"}", encodeURIComponent(apiKeyId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/console/projects
     * Get project associated with API key
     * 
     * @return ConsoleGetProject200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun consoleGetProject() : ConsoleGetProject200Response = withContext(Dispatchers.IO) {
        val localVarResponse = consoleGetProjectWithHttpInfo()

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ConsoleGetProject200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/console/projects
     * Get project associated with API key
     * 
     * @return ApiResponse<ConsoleGetProject200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun consoleGetProjectWithHttpInfo() : ApiResponse<ConsoleGetProject200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = consoleGetProjectRequestConfig()

        return@withContext request<Unit, ConsoleGetProject200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation consoleGetProject
     *
     * @return RequestConfig
     */
    fun consoleGetProjectRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/console/projects",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/console/projects/{projectId}
     * Get a project by ID
     * 
     * @param projectId 
     * @return ConsoleProject
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun consoleGetProjectById(projectId: kotlin.String) : ConsoleProject = withContext(Dispatchers.IO) {
        val localVarResponse = consoleGetProjectByIdWithHttpInfo(projectId = projectId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ConsoleProject
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/console/projects/{projectId}
     * Get a project by ID
     * 
     * @param projectId 
     * @return ApiResponse<ConsoleProject?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun consoleGetProjectByIdWithHttpInfo(projectId: kotlin.String) : ApiResponse<ConsoleProject?> = withContext(Dispatchers.IO) {
        val localVariableConfig = consoleGetProjectByIdRequestConfig(projectId = projectId)

        return@withContext request<Unit, ConsoleProject>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation consoleGetProjectById
     *
     * @param projectId 
     * @return RequestConfig
     */
    fun consoleGetProjectByIdRequestConfig(projectId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/console/projects/{projectId}".replace("{"+"projectId"+"}", encodeURIComponent(projectId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/console/projects/{projectId}/apiKeys
     * Get all API keys for a project
     * 
     * @param projectId 
     * @return ConsoleListOrganizationApiKeys200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun consoleListProjectApiKeys(projectId: kotlin.String) : ConsoleListOrganizationApiKeys200Response = withContext(Dispatchers.IO) {
        val localVarResponse = consoleListProjectApiKeysWithHttpInfo(projectId = projectId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ConsoleListOrganizationApiKeys200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/console/projects/{projectId}/apiKeys
     * Get all API keys for a project
     * 
     * @param projectId 
     * @return ApiResponse<ConsoleListOrganizationApiKeys200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun consoleListProjectApiKeysWithHttpInfo(projectId: kotlin.String) : ApiResponse<ConsoleListOrganizationApiKeys200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = consoleListProjectApiKeysRequestConfig(projectId = projectId)

        return@withContext request<Unit, ConsoleListOrganizationApiKeys200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation consoleListProjectApiKeys
     *
     * @param projectId 
     * @return RequestConfig
     */
    fun consoleListProjectApiKeysRequestConfig(projectId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/console/projects/{projectId}/apiKeys".replace("{"+"projectId"+"}", encodeURIComponent(projectId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /v1/console/projects/{projectId}
     * Update a project
     * 
     * @param projectId 
     * @param consoleUpdateProjectRequest 
     * @return ConsoleProject
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun consoleUpdateProject(projectId: kotlin.String, consoleUpdateProjectRequest: ConsoleUpdateProjectRequest) : ConsoleProject = withContext(Dispatchers.IO) {
        val localVarResponse = consoleUpdateProjectWithHttpInfo(projectId = projectId, consoleUpdateProjectRequest = consoleUpdateProjectRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ConsoleProject
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /v1/console/projects/{projectId}
     * Update a project
     * 
     * @param projectId 
     * @param consoleUpdateProjectRequest 
     * @return ApiResponse<ConsoleProject?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun consoleUpdateProjectWithHttpInfo(projectId: kotlin.String, consoleUpdateProjectRequest: ConsoleUpdateProjectRequest) : ApiResponse<ConsoleProject?> = withContext(Dispatchers.IO) {
        val localVariableConfig = consoleUpdateProjectRequestConfig(projectId = projectId, consoleUpdateProjectRequest = consoleUpdateProjectRequest)

        return@withContext request<ConsoleUpdateProjectRequest, ConsoleProject>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation consoleUpdateProject
     *
     * @param projectId 
     * @param consoleUpdateProjectRequest 
     * @return RequestConfig
     */
    fun consoleUpdateProjectRequestConfig(projectId: kotlin.String, consoleUpdateProjectRequest: ConsoleUpdateProjectRequest) : RequestConfig<ConsoleUpdateProjectRequest> {
        val localVariableBody = consoleUpdateProjectRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/v1/console/projects/{projectId}".replace("{"+"projectId"+"}", encodeURIComponent(projectId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/db/projects
     * Create project
     * 
     * @param dbCreateProjectRequest 
     * @return DbCreateProject201Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun dbCreateProject(dbCreateProjectRequest: DbCreateProjectRequest) : DbCreateProject201Response = withContext(Dispatchers.IO) {
        val localVarResponse = dbCreateProjectWithHttpInfo(dbCreateProjectRequest = dbCreateProjectRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DbCreateProject201Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/db/projects
     * Create project
     * 
     * @param dbCreateProjectRequest 
     * @return ApiResponse<DbCreateProject201Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun dbCreateProjectWithHttpInfo(dbCreateProjectRequest: DbCreateProjectRequest) : ApiResponse<DbCreateProject201Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = dbCreateProjectRequestConfig(dbCreateProjectRequest = dbCreateProjectRequest)

        return@withContext request<DbCreateProjectRequest, DbCreateProject201Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation dbCreateProject
     *
     * @param dbCreateProjectRequest 
     * @return RequestConfig
     */
    fun dbCreateProjectRequestConfig(dbCreateProjectRequest: DbCreateProjectRequest) : RequestConfig<DbCreateProjectRequest> {
        val localVariableBody = dbCreateProjectRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/db/projects",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/db/projects/{id}
     * Delete project
     * 
     * @param id 
     * @return DbGetProject200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun dbDeleteProject(id: kotlin.String) : DbGetProject200Response = withContext(Dispatchers.IO) {
        val localVarResponse = dbDeleteProjectWithHttpInfo(id = id)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DbGetProject200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/db/projects/{id}
     * Delete project
     * 
     * @param id 
     * @return ApiResponse<DbGetProject200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun dbDeleteProjectWithHttpInfo(id: kotlin.String) : ApiResponse<DbGetProject200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = dbDeleteProjectRequestConfig(id = id)

        return@withContext request<Unit, DbGetProject200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation dbDeleteProject
     *
     * @param id 
     * @return RequestConfig
     */
    fun dbDeleteProjectRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/db/projects/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/db/projects/{id}/connection_uri
     * Get connection URI
     * 
     * @param id 
     * @param roleName 
     * @param branchId  (optional)
     * @param endpointId  (optional)
     * @param databaseName  (optional, default to "neondb")
     * @param pooled  (optional, default to true)
     * @return DbConnectionUri
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun dbGetConnectionUri(id: kotlin.String, roleName: kotlin.String, branchId: kotlin.String? = null, endpointId: kotlin.String? = null, databaseName: kotlin.String? = "neondb", pooled: kotlin.Boolean? = true) : DbConnectionUri = withContext(Dispatchers.IO) {
        val localVarResponse = dbGetConnectionUriWithHttpInfo(id = id, roleName = roleName, branchId = branchId, endpointId = endpointId, databaseName = databaseName, pooled = pooled)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DbConnectionUri
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/db/projects/{id}/connection_uri
     * Get connection URI
     * 
     * @param id 
     * @param roleName 
     * @param branchId  (optional)
     * @param endpointId  (optional)
     * @param databaseName  (optional, default to "neondb")
     * @param pooled  (optional, default to true)
     * @return ApiResponse<DbConnectionUri?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun dbGetConnectionUriWithHttpInfo(id: kotlin.String, roleName: kotlin.String, branchId: kotlin.String?, endpointId: kotlin.String?, databaseName: kotlin.String?, pooled: kotlin.Boolean?) : ApiResponse<DbConnectionUri?> = withContext(Dispatchers.IO) {
        val localVariableConfig = dbGetConnectionUriRequestConfig(id = id, roleName = roleName, branchId = branchId, endpointId = endpointId, databaseName = databaseName, pooled = pooled)

        return@withContext request<Unit, DbConnectionUri>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation dbGetConnectionUri
     *
     * @param id 
     * @param roleName 
     * @param branchId  (optional)
     * @param endpointId  (optional)
     * @param databaseName  (optional, default to "neondb")
     * @param pooled  (optional, default to true)
     * @return RequestConfig
     */
    fun dbGetConnectionUriRequestConfig(id: kotlin.String, roleName: kotlin.String, branchId: kotlin.String?, endpointId: kotlin.String?, databaseName: kotlin.String?, pooled: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (branchId != null) {
                    put("branch_id", listOf(branchId.toString()))
                }
                if (endpointId != null) {
                    put("endpoint_id", listOf(endpointId.toString()))
                }
                if (databaseName != null) {
                    put("database_name", listOf(databaseName.toString()))
                }
                put("role_name", listOf(roleName.toString()))
                if (pooled != null) {
                    put("pooled", listOf(pooled.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/db/projects/{id}/connection_uri".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/db/projects/{id}
     * Get project
     * 
     * @param id 
     * @return DbGetProject200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun dbGetProject(id: kotlin.String) : DbGetProject200Response = withContext(Dispatchers.IO) {
        val localVarResponse = dbGetProjectWithHttpInfo(id = id)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DbGetProject200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/db/projects/{id}
     * Get project
     * 
     * @param id 
     * @return ApiResponse<DbGetProject200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun dbGetProjectWithHttpInfo(id: kotlin.String) : ApiResponse<DbGetProject200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = dbGetProjectRequestConfig(id = id)

        return@withContext request<Unit, DbGetProject200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation dbGetProject
     *
     * @param id 
     * @return RequestConfig
     */
    fun dbGetProjectRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/db/projects/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/db/projects
     * List projects
     * 
     * @param cursor  (optional)
     * @param limit  (optional, default to 10)
     * @return DbListProjects200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun dbListProjects(cursor: kotlin.String? = null, limit: kotlin.Int? = 10) : DbListProjects200Response = withContext(Dispatchers.IO) {
        val localVarResponse = dbListProjectsWithHttpInfo(cursor = cursor, limit = limit)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DbListProjects200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/db/projects
     * List projects
     * 
     * @param cursor  (optional)
     * @param limit  (optional, default to 10)
     * @return ApiResponse<DbListProjects200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun dbListProjectsWithHttpInfo(cursor: kotlin.String?, limit: kotlin.Int?) : ApiResponse<DbListProjects200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = dbListProjectsRequestConfig(cursor = cursor, limit = limit)

        return@withContext request<Unit, DbListProjects200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation dbListProjects
     *
     * @param cursor  (optional)
     * @param limit  (optional, default to 10)
     * @return RequestConfig
     */
    fun dbListProjectsRequestConfig(cursor: kotlin.String?, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (cursor != null) {
                    put("cursor", listOf(cursor.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/db/projects",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /v1/db/projects/{id}
     * Update project
     * 
     * @param id 
     * @param dbUpdateProjectRequest 
     * @return DbGetProject200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun dbUpdateProject(id: kotlin.String, dbUpdateProjectRequest: DbUpdateProjectRequest) : DbGetProject200Response = withContext(Dispatchers.IO) {
        val localVarResponse = dbUpdateProjectWithHttpInfo(id = id, dbUpdateProjectRequest = dbUpdateProjectRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DbGetProject200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /v1/db/projects/{id}
     * Update project
     * 
     * @param id 
     * @param dbUpdateProjectRequest 
     * @return ApiResponse<DbGetProject200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun dbUpdateProjectWithHttpInfo(id: kotlin.String, dbUpdateProjectRequest: DbUpdateProjectRequest) : ApiResponse<DbGetProject200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = dbUpdateProjectRequestConfig(id = id, dbUpdateProjectRequest = dbUpdateProjectRequest)

        return@withContext request<DbUpdateProjectRequest, DbGetProject200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation dbUpdateProject
     *
     * @param id 
     * @param dbUpdateProjectRequest 
     * @return RequestConfig
     */
    fun dbUpdateProjectRequestConfig(id: kotlin.String, dbUpdateProjectRequest: DbUpdateProjectRequest) : RequestConfig<DbUpdateProjectRequest> {
        val localVariableBody = dbUpdateProjectRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/v1/db/projects/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/flow/projects/{id}
     * Get a project by id
     * 
     * @param id 
     * @return FlowProject
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun flowGetProject(id: kotlin.String) : FlowProject = withContext(Dispatchers.IO) {
        val localVarResponse = flowGetProjectWithHttpInfo(id = id)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as FlowProject
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/flow/projects/{id}
     * Get a project by id
     * 
     * @param id 
     * @return ApiResponse<FlowProject?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun flowGetProjectWithHttpInfo(id: kotlin.String) : ApiResponse<FlowProject?> = withContext(Dispatchers.IO) {
        val localVariableConfig = flowGetProjectRequestConfig(id = id)

        return@withContext request<Unit, FlowProject>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation flowGetProject
     *
     * @param id 
     * @return RequestConfig
     */
    fun flowGetProjectRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/flow/projects/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/flow/projects
     * List projects
     * 
     * @return kotlin.collections.List<FlowProject>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun flowListProjects() : kotlin.collections.List<FlowProject> = withContext(Dispatchers.IO) {
        val localVarResponse = flowListProjectsWithHttpInfo()

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<FlowProject>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/flow/projects
     * List projects
     * 
     * @return ApiResponse<kotlin.collections.List<FlowProject>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun flowListProjectsWithHttpInfo() : ApiResponse<kotlin.collections.List<FlowProject>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = flowListProjectsRequestConfig()

        return@withContext request<Unit, kotlin.collections.List<FlowProject>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation flowListProjects
     *
     * @return RequestConfig
     */
    fun flowListProjectsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/flow/projects",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/flow/projects/{id}
     * Update project settings
     * 
     * @param id 
     * @param autoUpdateAppConnectionRequest 
     * @return FlowProject
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun flowUpdateProject(id: kotlin.String, autoUpdateAppConnectionRequest: AutoUpdateAppConnectionRequest) : FlowProject = withContext(Dispatchers.IO) {
        val localVarResponse = flowUpdateProjectWithHttpInfo(id = id, autoUpdateAppConnectionRequest = autoUpdateAppConnectionRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as FlowProject
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/flow/projects/{id}
     * Update project settings
     * 
     * @param id 
     * @param autoUpdateAppConnectionRequest 
     * @return ApiResponse<FlowProject?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun flowUpdateProjectWithHttpInfo(id: kotlin.String, autoUpdateAppConnectionRequest: AutoUpdateAppConnectionRequest) : ApiResponse<FlowProject?> = withContext(Dispatchers.IO) {
        val localVariableConfig = flowUpdateProjectRequestConfig(id = id, autoUpdateAppConnectionRequest = autoUpdateAppConnectionRequest)

        return@withContext request<AutoUpdateAppConnectionRequest, FlowProject>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation flowUpdateProject
     *
     * @param id 
     * @param autoUpdateAppConnectionRequest 
     * @return RequestConfig
     */
    fun flowUpdateProjectRequestConfig(id: kotlin.String, autoUpdateAppConnectionRequest: AutoUpdateAppConnectionRequest) : RequestConfig<AutoUpdateAppConnectionRequest> {
        val localVariableBody = autoUpdateAppConnectionRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/flow/projects/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/kms/projects
     * Create a project
     * 
     * @param kmsCreateProjectRequest 
     * @return KmsCreateProject200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun kmsCreateProject(kmsCreateProjectRequest: KmsCreateProjectRequest) : KmsCreateProject200Response = withContext(Dispatchers.IO) {
        val localVarResponse = kmsCreateProjectWithHttpInfo(kmsCreateProjectRequest = kmsCreateProjectRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as KmsCreateProject200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/kms/projects
     * Create a project
     * 
     * @param kmsCreateProjectRequest 
     * @return ApiResponse<KmsCreateProject200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun kmsCreateProjectWithHttpInfo(kmsCreateProjectRequest: KmsCreateProjectRequest) : ApiResponse<KmsCreateProject200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = kmsCreateProjectRequestConfig(kmsCreateProjectRequest = kmsCreateProjectRequest)

        return@withContext request<KmsCreateProjectRequest, KmsCreateProject200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation kmsCreateProject
     *
     * @param kmsCreateProjectRequest 
     * @return RequestConfig
     */
    fun kmsCreateProjectRequestConfig(kmsCreateProjectRequest: KmsCreateProjectRequest) : RequestConfig<KmsCreateProjectRequest> {
        val localVariableBody = kmsCreateProjectRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/kms/projects",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/kms/projects/{projectId}
     * Delete a project
     * 
     * @param projectId 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun kmsDeleteProject(projectId: java.util.UUID) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = kmsDeleteProjectWithHttpInfo(projectId = projectId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/kms/projects/{projectId}
     * Delete a project
     * 
     * @param projectId 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun kmsDeleteProjectWithHttpInfo(projectId: java.util.UUID) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = kmsDeleteProjectRequestConfig(projectId = projectId)

        return@withContext request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation kmsDeleteProject
     *
     * @param projectId 
     * @return RequestConfig
     */
    fun kmsDeleteProjectRequestConfig(projectId: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/kms/projects/{projectId}".replace("{"+"projectId"+"}", encodeURIComponent(projectId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/kms/projects/{projectId}
     * Get a project by ID
     * 
     * @param projectId 
     * @return KmsCreateProject200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun kmsGetProject(projectId: java.util.UUID) : KmsCreateProject200Response = withContext(Dispatchers.IO) {
        val localVarResponse = kmsGetProjectWithHttpInfo(projectId = projectId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as KmsCreateProject200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/kms/projects/{projectId}
     * Get a project by ID
     * 
     * @param projectId 
     * @return ApiResponse<KmsCreateProject200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun kmsGetProjectWithHttpInfo(projectId: java.util.UUID) : ApiResponse<KmsCreateProject200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = kmsGetProjectRequestConfig(projectId = projectId)

        return@withContext request<Unit, KmsCreateProject200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation kmsGetProject
     *
     * @param projectId 
     * @return RequestConfig
     */
    fun kmsGetProjectRequestConfig(projectId: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/kms/projects/{projectId}".replace("{"+"projectId"+"}", encodeURIComponent(projectId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/kms/projects/{projectId}/users
     * List project members
     * 
     * @param projectId 
     * @param includeGroupMembers  (optional, default to false)
     * @return KmsListProjectUsers200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun kmsListProjectUsers(projectId: java.util.UUID, includeGroupMembers: kotlin.Boolean? = false) : KmsListProjectUsers200Response = withContext(Dispatchers.IO) {
        val localVarResponse = kmsListProjectUsersWithHttpInfo(projectId = projectId, includeGroupMembers = includeGroupMembers)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as KmsListProjectUsers200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/kms/projects/{projectId}/users
     * List project members
     * 
     * @param projectId 
     * @param includeGroupMembers  (optional, default to false)
     * @return ApiResponse<KmsListProjectUsers200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun kmsListProjectUsersWithHttpInfo(projectId: java.util.UUID, includeGroupMembers: kotlin.Boolean?) : ApiResponse<KmsListProjectUsers200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = kmsListProjectUsersRequestConfig(projectId = projectId, includeGroupMembers = includeGroupMembers)

        return@withContext request<Unit, KmsListProjectUsers200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation kmsListProjectUsers
     *
     * @param projectId 
     * @param includeGroupMembers  (optional, default to false)
     * @return RequestConfig
     */
    fun kmsListProjectUsersRequestConfig(projectId: java.util.UUID, includeGroupMembers: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (includeGroupMembers != null) {
                    put("includeGroupMembers", listOf(includeGroupMembers.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/kms/projects/{projectId}/users".replace("{"+"projectId"+"}", encodeURIComponent(projectId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /v1/kms/projects/{projectId}
     * Update a project
     * 
     * @param projectId 
     * @param kmsUpdateProjectRequest 
     * @return KmsCreateProject200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun kmsUpdateProject(projectId: java.util.UUID, kmsUpdateProjectRequest: KmsUpdateProjectRequest) : KmsCreateProject200Response = withContext(Dispatchers.IO) {
        val localVarResponse = kmsUpdateProjectWithHttpInfo(projectId = projectId, kmsUpdateProjectRequest = kmsUpdateProjectRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as KmsCreateProject200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /v1/kms/projects/{projectId}
     * Update a project
     * 
     * @param projectId 
     * @param kmsUpdateProjectRequest 
     * @return ApiResponse<KmsCreateProject200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun kmsUpdateProjectWithHttpInfo(projectId: java.util.UUID, kmsUpdateProjectRequest: KmsUpdateProjectRequest) : ApiResponse<KmsCreateProject200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = kmsUpdateProjectRequestConfig(projectId = projectId, kmsUpdateProjectRequest = kmsUpdateProjectRequest)

        return@withContext request<KmsUpdateProjectRequest, KmsCreateProject200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation kmsUpdateProject
     *
     * @param projectId 
     * @param kmsUpdateProjectRequest 
     * @return RequestConfig
     */
    fun kmsUpdateProjectRequestConfig(projectId: java.util.UUID, kmsUpdateProjectRequest: KmsUpdateProjectRequest) : RequestConfig<KmsUpdateProjectRequest> {
        val localVariableBody = kmsUpdateProjectRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/v1/kms/projects/{projectId}".replace("{"+"projectId"+"}", encodeURIComponent(projectId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/paas/org/{orgId}/project
     * Create project
     * 
     * @param orgId 
     * @param paasCreateOrganizationRequest 
     * @return PaasProject
[...]
