/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.MqError
import ai.hanzo.sdk.models.MqMessage
import ai.hanzo.sdk.models.MqPublishRequest
import ai.hanzo.sdk.models.MqPublishResponse
import ai.hanzo.sdk.models.MqRequestReply
import ai.hanzo.sdk.models.PubsubError
import ai.hanzo.sdk.models.PubsubPublishRequest
import ai.hanzo.sdk.models.PubsubPublishResponse

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class PublishApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * POST /v1/mq/publish
     * Publish message to subject
     * Publish a message to the specified subject. Supports optional headers and reply-to subject for request/reply patterns. If the subject is bound to a JetStream stream, the message is persisted. 
     * @param mqPublishRequest 
     * @return MqPublishResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun mqPublishMessage(mqPublishRequest: MqPublishRequest) : MqPublishResponse = withContext(Dispatchers.IO) {
        val localVarResponse = mqPublishMessageWithHttpInfo(mqPublishRequest = mqPublishRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MqPublishResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/mq/publish
     * Publish message to subject
     * Publish a message to the specified subject. Supports optional headers and reply-to subject for request/reply patterns. If the subject is bound to a JetStream stream, the message is persisted. 
     * @param mqPublishRequest 
     * @return ApiResponse<MqPublishResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun mqPublishMessageWithHttpInfo(mqPublishRequest: MqPublishRequest) : ApiResponse<MqPublishResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = mqPublishMessageRequestConfig(mqPublishRequest = mqPublishRequest)

        return@withContext request<MqPublishRequest, MqPublishResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation mqPublishMessage
     *
     * @param mqPublishRequest 
     * @return RequestConfig
     */
    fun mqPublishMessageRequestConfig(mqPublishRequest: MqPublishRequest) : RequestConfig<MqPublishRequest> {
        val localVariableBody = mqPublishRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/mq/publish",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/mq/request
     * Request/reply pattern
     * Publishes a message and waits for a single reply within the specified timeout. Uses an ephemeral inbox subject for the reply. Returns the reply message or a timeout error. 
     * @param mqRequestReply 
     * @return MqMessage
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun mqRequestReply(mqRequestReply: MqRequestReply) : MqMessage = withContext(Dispatchers.IO) {
        val localVarResponse = mqRequestReplyWithHttpInfo(mqRequestReply = mqRequestReply)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MqMessage
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/mq/request
     * Request/reply pattern
     * Publishes a message and waits for a single reply within the specified timeout. Uses an ephemeral inbox subject for the reply. Returns the reply message or a timeout error. 
     * @param mqRequestReply 
     * @return ApiResponse<MqMessage?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun mqRequestReplyWithHttpInfo(mqRequestReply: MqRequestReply) : ApiResponse<MqMessage?> = withContext(Dispatchers.IO) {
        val localVariableConfig = mqRequestReplyRequestConfig(mqRequestReply = mqRequestReply)

        return@withContext request<MqRequestReply, MqMessage>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation mqRequestReply
     *
     * @param mqRequestReply 
     * @return RequestConfig
     */
    fun mqRequestReplyRequestConfig(mqRequestReply: MqRequestReply) : RequestConfig<MqRequestReply> {
        val localVariableBody = mqRequestReply
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/mq/request",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/pubsub/publish
     * Publish a message
     * Publish a message to a subject. If the subject is captured by a JetStream stream, the message is durably stored.
     * @param pubsubPublishRequest 
     * @return PubsubPublishResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun pubsubPublishMessage(pubsubPublishRequest: PubsubPublishRequest) : PubsubPublishResponse = withContext(Dispatchers.IO) {
        val localVarResponse = pubsubPublishMessageWithHttpInfo(pubsubPublishRequest = pubsubPublishRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PubsubPublishResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/pubsub/publish
     * Publish a message
     * Publish a message to a subject. If the subject is captured by a JetStream stream, the message is durably stored.
     * @param pubsubPublishRequest 
     * @return ApiResponse<PubsubPublishResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun pubsubPublishMessageWithHttpInfo(pubsubPublishRequest: PubsubPublishRequest) : ApiResponse<PubsubPublishResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = pubsubPublishMessageRequestConfig(pubsubPublishRequest = pubsubPublishRequest)

        return@withContext request<PubsubPublishRequest, PubsubPublishResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation pubsubPublishMessage
     *
     * @param pubsubPublishRequest 
     * @return RequestConfig
     */
    fun pubsubPublishMessageRequestConfig(pubsubPublishRequest: PubsubPublishRequest) : RequestConfig<PubsubPublishRequest> {
        val localVariableBody = pubsubPublishRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/pubsub/publish",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
