/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.ReferralsClaimRequest
import ai.hanzo.sdk.models.ReferralsClaimResponse
import ai.hanzo.sdk.models.ReferralsError
import ai.hanzo.sdk.models.ReferralsMyReferralsResponse

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class ReferralsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * POST /v1/referrals/claim
     * Claim a referral from a ?ref code
     * Records a referral. The REFEREE is the validated caller (never client- supplied); the referrer is resolved from the code. Idempotent (one per referee, first-touch wins); self-referral is blocked; an unknown code is rejected. Returns 201 when a new referral was created, 200 when it already existed. 
     * @param referralsClaimRequest 
     * @return ReferralsClaimResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun referralsClaimReferral(referralsClaimRequest: ReferralsClaimRequest) : ReferralsClaimResponse = withContext(Dispatchers.IO) {
        val localVarResponse = referralsClaimReferralWithHttpInfo(referralsClaimRequest = referralsClaimRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ReferralsClaimResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/referrals/claim
     * Claim a referral from a ?ref code
     * Records a referral. The REFEREE is the validated caller (never client- supplied); the referrer is resolved from the code. Idempotent (one per referee, first-touch wins); self-referral is blocked; an unknown code is rejected. Returns 201 when a new referral was created, 200 when it already existed. 
     * @param referralsClaimRequest 
     * @return ApiResponse<ReferralsClaimResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun referralsClaimReferralWithHttpInfo(referralsClaimRequest: ReferralsClaimRequest) : ApiResponse<ReferralsClaimResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = referralsClaimReferralRequestConfig(referralsClaimRequest = referralsClaimRequest)

        return@withContext request<ReferralsClaimRequest, ReferralsClaimResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation referralsClaimReferral
     *
     * @param referralsClaimRequest 
     * @return RequestConfig
     */
    fun referralsClaimReferralRequestConfig(referralsClaimRequest: ReferralsClaimRequest) : RequestConfig<ReferralsClaimRequest> {
        val localVariableBody = referralsClaimRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/referrals/claim",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/referrals
     * Get my referral code, link, and referrals
     * Returns the caller org&#39;s stable referral code and link, the referrals they have made (with per-referral status and credit earned), a status tally, and the total credit earned. Opportunistically runs the qualify check for the caller&#39;s own pending referees, so the page is self-updating. 
     * @return ReferralsMyReferralsResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun referralsGetMyReferrals() : ReferralsMyReferralsResponse = withContext(Dispatchers.IO) {
        val localVarResponse = referralsGetMyReferralsWithHttpInfo()

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ReferralsMyReferralsResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/referrals
     * Get my referral code, link, and referrals
     * Returns the caller org&#39;s stable referral code and link, the referrals they have made (with per-referral status and credit earned), a status tally, and the total credit earned. Opportunistically runs the qualify check for the caller&#39;s own pending referees, so the page is self-updating. 
     * @return ApiResponse<ReferralsMyReferralsResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun referralsGetMyReferralsWithHttpInfo() : ApiResponse<ReferralsMyReferralsResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = referralsGetMyReferralsRequestConfig()

        return@withContext request<Unit, ReferralsMyReferralsResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation referralsGetMyReferrals
     *
     * @return RequestConfig
     */
    fun referralsGetMyReferralsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/referrals",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
