/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.IamControllersResponse
import ai.hanzo.sdk.models.IamObjectResource

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class ResourcesApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * POST /v1/iam/resources
     * Api Controller Add Resource
     * 
     * @param iamObjectResource Resource object
     * @return IamControllersResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun iamApiControllerAddResource(iamObjectResource: IamObjectResource) : IamControllersResponse = withContext(Dispatchers.IO) {
        val localVarResponse = iamApiControllerAddResourceWithHttpInfo(iamObjectResource = iamObjectResource)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as IamControllersResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/iam/resources
     * Api Controller Add Resource
     * 
     * @param iamObjectResource Resource object
     * @return ApiResponse<IamControllersResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun iamApiControllerAddResourceWithHttpInfo(iamObjectResource: IamObjectResource) : ApiResponse<IamControllersResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = iamApiControllerAddResourceRequestConfig(iamObjectResource = iamObjectResource)

        return@withContext request<IamObjectResource, IamControllersResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation iamApiControllerAddResource
     *
     * @param iamObjectResource Resource object
     * @return RequestConfig
     */
    fun iamApiControllerAddResourceRequestConfig(iamObjectResource: IamObjectResource) : RequestConfig<IamObjectResource> {
        val localVariableBody = iamObjectResource
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/iam/resources",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/iam/resources/{id}
     * Api Controller Delete Resource
     * 
     * @param id Resource identifier (owner/name)
     * @param iamObjectResource Resource object
     * @return IamControllersResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun iamApiControllerDeleteResource(id: kotlin.String, iamObjectResource: IamObjectResource) : IamControllersResponse = withContext(Dispatchers.IO) {
        val localVarResponse = iamApiControllerDeleteResourceWithHttpInfo(id = id, iamObjectResource = iamObjectResource)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as IamControllersResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/iam/resources/{id}
     * Api Controller Delete Resource
     * 
     * @param id Resource identifier (owner/name)
     * @param iamObjectResource Resource object
     * @return ApiResponse<IamControllersResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun iamApiControllerDeleteResourceWithHttpInfo(id: kotlin.String, iamObjectResource: IamObjectResource) : ApiResponse<IamControllersResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = iamApiControllerDeleteResourceRequestConfig(id = id, iamObjectResource = iamObjectResource)

        return@withContext request<IamObjectResource, IamControllersResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation iamApiControllerDeleteResource
     *
     * @param id Resource identifier (owner/name)
     * @param iamObjectResource Resource object
     * @return RequestConfig
     */
    fun iamApiControllerDeleteResourceRequestConfig(id: kotlin.String, iamObjectResource: IamObjectResource) : RequestConfig<IamObjectResource> {
        val localVariableBody = iamObjectResource
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/iam/resources/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/iam/resources/{id}
     * Api Controller Get Resource
     * get resource
     * @param id The id ( owner/name ) of resource
     * @return IamObjectResource
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun iamApiControllerGetResource(id: kotlin.String) : IamObjectResource = withContext(Dispatchers.IO) {
        val localVarResponse = iamApiControllerGetResourceWithHttpInfo(id = id)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as IamObjectResource
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/iam/resources/{id}
     * Api Controller Get Resource
     * get resource
     * @param id The id ( owner/name ) of resource
     * @return ApiResponse<IamObjectResource?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun iamApiControllerGetResourceWithHttpInfo(id: kotlin.String) : ApiResponse<IamObjectResource?> = withContext(Dispatchers.IO) {
        val localVariableConfig = iamApiControllerGetResourceRequestConfig(id = id)

        return@withContext request<Unit, IamObjectResource>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation iamApiControllerGetResource
     *
     * @param id The id ( owner/name ) of resource
     * @return RequestConfig
     */
    fun iamApiControllerGetResourceRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/iam/resources/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/iam/resources
     * Api Controller Get Resources
     * get resources
     * @param owner Owner
     * @param user User
     * @param pageSize Page Size (optional)
     * @param p Page Number (optional)
     * @param `field` Field (optional)
     * @param `value` Value (optional)
     * @param sortField Sort Field (optional)
     * @param sortOrder Sort Order (optional)
     * @return kotlin.collections.List<IamObjectResource>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun iamApiControllerGetResources(owner: kotlin.String, user: kotlin.String, pageSize: kotlin.Int? = null, p: kotlin.Int? = null, `field`: kotlin.String? = null, `value`: kotlin.String? = null, sortField: kotlin.String? = null, sortOrder: kotlin.String? = null) : kotlin.collections.List<IamObjectResource> = withContext(Dispatchers.IO) {
        val localVarResponse = iamApiControllerGetResourcesWithHttpInfo(owner = owner, user = user, pageSize = pageSize, p = p, `field` = `field`, `value` = `value`, sortField = sortField, sortOrder = sortOrder)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<IamObjectResource>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/iam/resources
     * Api Controller Get Resources
     * get resources
     * @param owner Owner
     * @param user User
     * @param pageSize Page Size (optional)
     * @param p Page Number (optional)
     * @param `field` Field (optional)
     * @param `value` Value (optional)
     * @param sortField Sort Field (optional)
     * @param sortOrder Sort Order (optional)
     * @return ApiResponse<kotlin.collections.List<IamObjectResource>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun iamApiControllerGetResourcesWithHttpInfo(owner: kotlin.String, user: kotlin.String, pageSize: kotlin.Int?, p: kotlin.Int?, `field`: kotlin.String?, `value`: kotlin.String?, sortField: kotlin.String?, sortOrder: kotlin.String?) : ApiResponse<kotlin.collections.List<IamObjectResource>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = iamApiControllerGetResourcesRequestConfig(owner = owner, user = user, pageSize = pageSize, p = p, `field` = `field`, `value` = `value`, sortField = sortField, sortOrder = sortOrder)

        return@withContext request<Unit, kotlin.collections.List<IamObjectResource>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation iamApiControllerGetResources
     *
     * @param owner Owner
     * @param user User
     * @param pageSize Page Size (optional)
     * @param p Page Number (optional)
     * @param `field` Field (optional)
     * @param `value` Value (optional)
     * @param sortField Sort Field (optional)
     * @param sortOrder Sort Order (optional)
     * @return RequestConfig
     */
    fun iamApiControllerGetResourcesRequestConfig(owner: kotlin.String, user: kotlin.String, pageSize: kotlin.Int?, p: kotlin.Int?, `field`: kotlin.String?, `value`: kotlin.String?, sortField: kotlin.String?, sortOrder: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("owner", listOf(owner.toString()))
                put("user", listOf(user.toString()))
                if (pageSize != null) {
                    put("pageSize", listOf(pageSize.toString()))
                }
                if (p != null) {
                    put("p", listOf(p.toString()))
                }
                if (`field` != null) {
                    put("field", listOf(`field`.toString()))
                }
                if (`value` != null) {
                    put("value", listOf(`value`.toString()))
                }
                if (sortField != null) {
                    put("sortField", listOf(sortField.toString()))
                }
                if (sortOrder != null) {
                    put("sortOrder", listOf(sortOrder.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/iam/resources",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /v1/iam/resources/{id}
     * Api Controller Update Resource
     * get resource
     * @param id The id ( owner/name ) of resource
     * @param iamObjectResource The resource object
     * @return IamControllersResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun iamApiControllerUpdateResource(id: kotlin.String, iamObjectResource: IamObjectResource) : IamControllersResponse = withContext(Dispatchers.IO) {
        val localVarResponse = iamApiControllerUpdateResourceWithHttpInfo(id = id, iamObjectResource = iamObjectResource)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as IamControllersResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /v1/iam/resources/{id}
     * Api Controller Update Resource
     * get resource
     * @param id The id ( owner/name ) of resource
     * @param iamObjectResource The resource object
     * @return ApiResponse<IamControllersResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun iamApiControllerUpdateResourceWithHttpInfo(id: kotlin.String, iamObjectResource: IamObjectResource) : ApiResponse<IamControllersResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = iamApiControllerUpdateResourceRequestConfig(id = id, iamObjectResource = iamObjectResource)

        return@withContext request<IamObjectResource, IamControllersResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation iamApiControllerUpdateResource
     *
     * @param id The id ( owner/name ) of resource
     * @param iamObjectResource The resource object
     * @return RequestConfig
     */
    fun iamApiControllerUpdateResourceRequestConfig(id: kotlin.String, iamObjectResource: IamObjectResource) : RequestConfig<IamObjectResource> {
        val localVariableBody = iamObjectResource
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/v1/iam/resources/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/iam/resources/upload
     * Api Controller Upload Resource
     * 
     * @param owner Owner
     * @param user User
     * @param application Application
     * @param fullFilePath Full File Path
     * @param file Resource file
     * @param tag Tag (optional)
     * @param parent Parent (optional)
     * @param createdTime Created Time (optional)
     * @param description Description (optional)
     * @return IamObjectResource
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun iamApiControllerUploadResource(owner: kotlin.String, user: kotlin.String, application: kotlin.String, fullFilePath: kotlin.String, file: java.io.File, tag: kotlin.String? = null, parent: kotlin.String? = null, createdTime: kotlin.String? = null, description: kotlin.String? = null) : IamObjectResource = withContext(Dispatchers.IO) {
        val localVarResponse = iamApiControllerUploadResourceWithHttpInfo(owner = owner, user = user, application = application, fullFilePath = fullFilePath, file = file, tag = tag, parent = parent, createdTime = createdTime, description = description)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as IamObjectResource
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/iam/resources/upload
     * Api Controller Upload Resource
     * 
     * @param owner Owner
     * @param user User
     * @param application Application
     * @param fullFilePath Full File Path
     * @param file Resource file
     * @param tag Tag (optional)
     * @param parent Parent (optional)
     * @param createdTime Created Time (optional)
     * @param description Description (optional)
     * @return ApiResponse<IamObjectResource?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun iamApiControllerUploadResourceWithHttpInfo(owner: kotlin.String, user: kotlin.String, application: kotlin.String, fullFilePath: kotlin.String, file: java.io.File, tag: kotlin.String?, parent: kotlin.String?, createdTime: kotlin.String?, description: kotlin.String?) : ApiResponse<IamObjectResource?> = withContext(Dispatchers.IO) {
        val localVariableConfig = iamApiControllerUploadResourceRequestConfig(owner = owner, user = user, application = application, fullFilePath = fullFilePath, file = file, tag = tag, parent = parent, createdTime = createdTime, description = description)

        return@withContext request<Map<String, PartConfig<*>>, IamObjectResource>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation iamApiControllerUploadResource
     *
     * @param owner Owner
     * @param user User
     * @param application Application
     * @param fullFilePath Full File Path
     * @param file Resource file
     * @param tag Tag (optional)
     * @param parent Parent (optional)
     * @param createdTime Created Time (optional)
     * @param description Description (optional)
     * @return RequestConfig
     */
    fun iamApiControllerUploadResourceRequestConfig(owner: kotlin.String, user: kotlin.String, application: kotlin.String, fullFilePath: kotlin.String, file: java.io.File, tag: kotlin.String?, parent: kotlin.String?, createdTime: kotlin.String?, description: kotlin.String?) : RequestConfig<Map<String, PartConfig<*>>> {
        val localVariableBody = mapOf(
            "file" to PartConfig(body = file, headers = mutableMapOf()),)
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("owner", listOf(owner.toString()))
                put("user", listOf(user.toString()))
                put("application", listOf(application.toString()))
                if (tag != null) {
                    put("tag", listOf(tag.toString()))
                }
                if (parent != null) {
                    put("parent", listOf(parent.toString()))
                }
                put("fullFilePath", listOf(fullFilePath.toString()))
                if (createdTime != null) {
                    put("createdTime", listOf(createdTime.toString()))
                }
                if (description != null) {
                    put("description", listOf(description.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "multipart/form-data")
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/iam/resources/upload",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
