/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.GuardError
import ai.hanzo.sdk.models.GuardSanitizeRequest
import ai.hanzo.sdk.models.GuardSanitizeResult

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class SanitizeApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * POST /v1/guard/sanitize/input
     * Sanitize user input
     * Sanitize user input before sending to an LLM. Runs all 5 stages: rate limiting → injection detection → PII redaction → content filtering → audit logging. 
     * @param guardSanitizeRequest 
     * @return GuardSanitizeResult
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun guardSanitizeInput(guardSanitizeRequest: GuardSanitizeRequest) : GuardSanitizeResult = withContext(Dispatchers.IO) {
        val localVarResponse = guardSanitizeInputWithHttpInfo(guardSanitizeRequest = guardSanitizeRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GuardSanitizeResult
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/guard/sanitize/input
     * Sanitize user input
     * Sanitize user input before sending to an LLM. Runs all 5 stages: rate limiting → injection detection → PII redaction → content filtering → audit logging. 
     * @param guardSanitizeRequest 
     * @return ApiResponse<GuardSanitizeResult?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun guardSanitizeInputWithHttpInfo(guardSanitizeRequest: GuardSanitizeRequest) : ApiResponse<GuardSanitizeResult?> = withContext(Dispatchers.IO) {
        val localVariableConfig = guardSanitizeInputRequestConfig(guardSanitizeRequest = guardSanitizeRequest)

        return@withContext request<GuardSanitizeRequest, GuardSanitizeResult>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation guardSanitizeInput
     *
     * @param guardSanitizeRequest 
     * @return RequestConfig
     */
    fun guardSanitizeInputRequestConfig(guardSanitizeRequest: GuardSanitizeRequest) : RequestConfig<GuardSanitizeRequest> {
        val localVariableBody = guardSanitizeRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/guard/sanitize/input",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/guard/sanitize/output
     * Sanitize LLM output
     * Sanitize LLM output before returning to the user. Runs PII redaction and content filtering stages. 
     * @param guardSanitizeRequest 
     * @return GuardSanitizeResult
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun guardSanitizeOutput(guardSanitizeRequest: GuardSanitizeRequest) : GuardSanitizeResult = withContext(Dispatchers.IO) {
        val localVarResponse = guardSanitizeOutputWithHttpInfo(guardSanitizeRequest = guardSanitizeRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GuardSanitizeResult
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/guard/sanitize/output
     * Sanitize LLM output
     * Sanitize LLM output before returning to the user. Runs PII redaction and content filtering stages. 
     * @param guardSanitizeRequest 
     * @return ApiResponse<GuardSanitizeResult?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun guardSanitizeOutputWithHttpInfo(guardSanitizeRequest: GuardSanitizeRequest) : ApiResponse<GuardSanitizeResult?> = withContext(Dispatchers.IO) {
        val localVariableConfig = guardSanitizeOutputRequestConfig(guardSanitizeRequest = guardSanitizeRequest)

        return@withContext request<GuardSanitizeRequest, GuardSanitizeResult>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation guardSanitizeOutput
     *
     * @param guardSanitizeRequest 
     * @return RequestConfig
     */
    fun guardSanitizeOutputRequestConfig(guardSanitizeRequest: GuardSanitizeRequest) : RequestConfig<GuardSanitizeRequest> {
        val localVariableBody = guardSanitizeRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/guard/sanitize/output",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
