/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.ConsoleCreateComment200Response
import ai.hanzo.sdk.models.ConsoleCreateScoreRequest
import ai.hanzo.sdk.models.ConsoleListScores200Response
import ai.hanzo.sdk.models.ConsoleScore
import ai.hanzo.sdk.models.EvalsGetV1EvalsScores200Response
import ai.hanzo.sdk.models.InlineObject

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class ScoresApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * POST /v1/console/scores
     * Create a score
     * 
     * @param consoleCreateScoreRequest 
     * @return ConsoleCreateComment200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun consoleCreateScore(consoleCreateScoreRequest: ConsoleCreateScoreRequest) : ConsoleCreateComment200Response = withContext(Dispatchers.IO) {
        val localVarResponse = consoleCreateScoreWithHttpInfo(consoleCreateScoreRequest = consoleCreateScoreRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ConsoleCreateComment200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/console/scores
     * Create a score
     * 
     * @param consoleCreateScoreRequest 
     * @return ApiResponse<ConsoleCreateComment200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun consoleCreateScoreWithHttpInfo(consoleCreateScoreRequest: ConsoleCreateScoreRequest) : ApiResponse<ConsoleCreateComment200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = consoleCreateScoreRequestConfig(consoleCreateScoreRequest = consoleCreateScoreRequest)

        return@withContext request<ConsoleCreateScoreRequest, ConsoleCreateComment200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation consoleCreateScore
     *
     * @param consoleCreateScoreRequest 
     * @return RequestConfig
     */
    fun consoleCreateScoreRequestConfig(consoleCreateScoreRequest: ConsoleCreateScoreRequest) : RequestConfig<ConsoleCreateScoreRequest> {
        val localVariableBody = consoleCreateScoreRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/console/scores",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/console/scores/{scoreId}
     * Delete a score
     * 
     * @param scoreId 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun consoleDeleteScore(scoreId: kotlin.String) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = consoleDeleteScoreWithHttpInfo(scoreId = scoreId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/console/scores/{scoreId}
     * Delete a score
     * 
     * @param scoreId 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun consoleDeleteScoreWithHttpInfo(scoreId: kotlin.String) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = consoleDeleteScoreRequestConfig(scoreId = scoreId)

        return@withContext request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation consoleDeleteScore
     *
     * @param scoreId 
     * @return RequestConfig
     */
    fun consoleDeleteScoreRequestConfig(scoreId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/console/scores/{scoreId}".replace("{"+"scoreId"+"}", encodeURIComponent(scoreId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/console/scores/{scoreId}
     * Get a score by ID
     * 
     * @param scoreId 
     * @return ConsoleScore
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun consoleGetScore(scoreId: kotlin.String) : ConsoleScore = withContext(Dispatchers.IO) {
        val localVarResponse = consoleGetScoreWithHttpInfo(scoreId = scoreId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ConsoleScore
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/console/scores/{scoreId}
     * Get a score by ID
     * 
     * @param scoreId 
     * @return ApiResponse<ConsoleScore?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun consoleGetScoreWithHttpInfo(scoreId: kotlin.String) : ApiResponse<ConsoleScore?> = withContext(Dispatchers.IO) {
        val localVariableConfig = consoleGetScoreRequestConfig(scoreId = scoreId)

        return@withContext request<Unit, ConsoleScore>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation consoleGetScore
     *
     * @param scoreId 
     * @return RequestConfig
     */
    fun consoleGetScoreRequestConfig(scoreId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/console/scores/{scoreId}".replace("{"+"scoreId"+"}", encodeURIComponent(scoreId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter source
     */
     enum class SourceConsoleListScores(val value: kotlin.String) {
         @Json(name = "API") API("API"),
         @Json(name = "EVAL") EVAL("EVAL"),
         @Json(name = "ANNOTATION") ANNOTATION("ANNOTATION");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter dataType
     */
     enum class DataTypeConsoleListScores(val value: kotlin.String) {
         @Json(name = "NUMERIC") NUMERIC("NUMERIC"),
         @Json(name = "CATEGORICAL") CATEGORICAL("CATEGORICAL"),
         @Json(name = "BOOLEAN") BOOLEAN("BOOLEAN");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /v1/console/scores
     * Get all scores
     * 
     * @param page  (optional, default to 1)
     * @param limit  (optional, default to 50)
     * @param userId  (optional)
     * @param name  (optional)
     * @param fromTimestamp  (optional)
     * @param toTimestamp  (optional)
     * @param source  (optional)
     * @param `operator`  (optional)
     * @param `value`  (optional)
     * @param scoreIds  (optional)
     * @param configId  (optional)
     * @param dataType  (optional)
     * @param environment  (optional)
     * @return ConsoleListScores200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun consoleListScores(page: kotlin.Int? = 1, limit: kotlin.Int? = 50, userId: kotlin.String? = null, name: kotlin.String? = null, fromTimestamp: java.time.OffsetDateTime? = null, toTimestamp: java.time.OffsetDateTime? = null, source: SourceConsoleListScores? = null, `operator`: kotlin.String? = null, `value`: java.math.BigDecimal? = null, scoreIds: kotlin.String? = null, configId: kotlin.String? = null, dataType: DataTypeConsoleListScores? = null, environment: kotlin.collections.List<kotlin.String>? = null) : ConsoleListScores200Response = withContext(Dispatchers.IO) {
        val localVarResponse = consoleListScoresWithHttpInfo(page = page, limit = limit, userId = userId, name = name, fromTimestamp = fromTimestamp, toTimestamp = toTimestamp, source = source, `operator` = `operator`, `value` = `value`, scoreIds = scoreIds, configId = configId, dataType = dataType, environment = environment)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ConsoleListScores200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/console/scores
     * Get all scores
     * 
     * @param page  (optional, default to 1)
     * @param limit  (optional, default to 50)
     * @param userId  (optional)
     * @param name  (optional)
     * @param fromTimestamp  (optional)
     * @param toTimestamp  (optional)
     * @param source  (optional)
     * @param `operator`  (optional)
     * @param `value`  (optional)
     * @param scoreIds  (optional)
     * @param configId  (optional)
     * @param dataType  (optional)
     * @param environment  (optional)
     * @return ApiResponse<ConsoleListScores200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun consoleListScoresWithHttpInfo(page: kotlin.Int?, limit: kotlin.Int?, userId: kotlin.String?, name: kotlin.String?, fromTimestamp: java.time.OffsetDateTime?, toTimestamp: java.time.OffsetDateTime?, source: SourceConsoleListScores?, `operator`: kotlin.String?, `value`: java.math.BigDecimal?, scoreIds: kotlin.String?, configId: kotlin.String?, dataType: DataTypeConsoleListScores?, environment: kotlin.collections.List<kotlin.String>?) : ApiResponse<ConsoleListScores200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = consoleListScoresRequestConfig(page = page, limit = limit, userId = userId, name = name, fromTimestamp = fromTimestamp, toTimestamp = toTimestamp, source = source, `operator` = `operator`, `value` = `value`, scoreIds = scoreIds, configId = configId, dataType = dataType, environment = environment)

        return@withContext request<Unit, ConsoleListScores200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation consoleListScores
     *
     * @param page  (optional, default to 1)
     * @param limit  (optional, default to 50)
     * @param userId  (optional)
     * @param name  (optional)
     * @param fromTimestamp  (optional)
     * @param toTimestamp  (optional)
     * @param source  (optional)
     * @param `operator`  (optional)
     * @param `value`  (optional)
     * @param scoreIds  (optional)
     * @param configId  (optional)
     * @param dataType  (optional)
     * @param environment  (optional)
     * @return RequestConfig
     */
    fun consoleListScoresRequestConfig(page: kotlin.Int?, limit: kotlin.Int?, userId: kotlin.String?, name: kotlin.String?, fromTimestamp: java.time.OffsetDateTime?, toTimestamp: java.time.OffsetDateTime?, source: SourceConsoleListScores?, `operator`: kotlin.String?, `value`: java.math.BigDecimal?, scoreIds: kotlin.String?, configId: kotlin.String?, dataType: DataTypeConsoleListScores?, environment: kotlin.collections.List<kotlin.String>?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (userId != null) {
                    put("userId", listOf(userId.toString()))
                }
                if (name != null) {
                    put("name", listOf(name.toString()))
                }
                if (fromTimestamp != null) {
                    put("fromTimestamp", listOf(parseDateToQueryString<java.time.OffsetDateTime>(fromTimestamp)))
                }
                if (toTimestamp != null) {
                    put("toTimestamp", listOf(parseDateToQueryString<java.time.OffsetDateTime>(toTimestamp)))
                }
                if (source != null) {
                    put("source", listOf(source.value))
                }
                if (`operator` != null) {
                    put("operator", listOf(`operator`.toString()))
                }
                if (`value` != null) {
                    put("value", listOf(`value`.toString()))
                }
                if (scoreIds != null) {
                    put("scoreIds", listOf(scoreIds.toString()))
                }
                if (configId != null) {
                    put("configId", listOf(configId.toString()))
                }
                if (dataType != null) {
                    put("dataType", listOf(dataType.value))
                }
                if (environment != null) {
                    put("environment", toMultiValue(environment.toList(), "multi"))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/console/scores",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/evals/scores
     * List scores
     * 
     * @param runName  (optional)
     * @param limit  (optional, default to 50)
     * @return EvalsGetV1EvalsScores200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun evalsGetV1EvalsScores(runName: kotlin.String? = null, limit: kotlin.Int? = 50) : EvalsGetV1EvalsScores200Response = withContext(Dispatchers.IO) {
        val localVarResponse = evalsGetV1EvalsScoresWithHttpInfo(runName = runName, limit = limit)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as EvalsGetV1EvalsScores200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/evals/scores
     * List scores
     * 
     * @param runName  (optional)
     * @param limit  (optional, default to 50)
     * @return ApiResponse<EvalsGetV1EvalsScores200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun evalsGetV1EvalsScoresWithHttpInfo(runName: kotlin.String?, limit: kotlin.Int?) : ApiResponse<EvalsGetV1EvalsScores200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = evalsGetV1EvalsScoresRequestConfig(runName = runName, limit = limit)

        return@withContext request<Unit, EvalsGetV1EvalsScores200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation evalsGetV1EvalsScores
     *
     * @param runName  (optional)
     * @param limit  (optional, default to 50)
     * @return RequestConfig
     */
    fun evalsGetV1EvalsScoresRequestConfig(runName: kotlin.String?, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (runName != null) {
                    put("runName", listOf(runName.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/evals/scores",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
