/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.BotSearchPersonas200Response
import ai.hanzo.sdk.models.CommerceNote
import ai.hanzo.sdk.models.CommerceOrder
import ai.hanzo.sdk.models.CommerceSearchNotesRequest
import ai.hanzo.sdk.models.CommerceUser
import ai.hanzo.sdk.models.InlineObject
import ai.hanzo.sdk.models.InlineObject1
import ai.hanzo.sdk.models.KbKbSearch200Response
import ai.hanzo.sdk.models.KbSearchRequest
import ai.hanzo.sdk.models.ProductError
import ai.hanzo.sdk.models.ProductListSearchIndexes200Response
import ai.hanzo.sdk.models.ProductSearchStats
import ai.hanzo.sdk.models.ProvisioningCreateRequest
import ai.hanzo.sdk.models.ProvisioningCreateResponse
import ai.hanzo.sdk.models.ProvisioningError
import ai.hanzo.sdk.models.ProvisioningGetResponse
import ai.hanzo.sdk.models.ProvisioningListItem
import ai.hanzo.sdk.models.SearchResponseError
import ai.hanzo.sdk.models.SearchSearchQuery
import ai.hanzo.sdk.models.SearchSearchResult
import ai.hanzo.sdk.models.VectorRecommendPoints200Response
import ai.hanzo.sdk.models.VectorRecommendPointsRequest
import ai.hanzo.sdk.models.VectorSearchBatch200Response
import ai.hanzo.sdk.models.VectorSearchBatchRequest
import ai.hanzo.sdk.models.VectorSearchRequest
import ai.hanzo.sdk.models.WebsearchSearchResponse

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class SearchApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * GET /v1/bot/search/personas
     * Lexical search for personas
     * 
     * @param q 
     * @param limit  (optional, default to 20)
     * @return BotSearchPersonas200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun botSearchPersonas(q: kotlin.String, limit: kotlin.Int? = 20) : BotSearchPersonas200Response = withContext(Dispatchers.IO) {
        val localVarResponse = botSearchPersonasWithHttpInfo(q = q, limit = limit)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as BotSearchPersonas200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/bot/search/personas
     * Lexical search for personas
     * 
     * @param q 
     * @param limit  (optional, default to 20)
     * @return ApiResponse<BotSearchPersonas200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun botSearchPersonasWithHttpInfo(q: kotlin.String, limit: kotlin.Int?) : ApiResponse<BotSearchPersonas200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = botSearchPersonasRequestConfig(q = q, limit = limit)

        return@withContext request<Unit, BotSearchPersonas200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation botSearchPersonas
     *
     * @param q 
     * @param limit  (optional, default to 20)
     * @return RequestConfig
     */
    fun botSearchPersonasRequestConfig(q: kotlin.String, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("q", listOf(q.toString()))
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/bot/search/personas",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/bot/search/skills
     * Hybrid vector + lexical search for skills
     * 
     * @param q Search query
     * @param limit  (optional, default to 20)
     * @return BotSearchPersonas200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun botSearchSkills(q: kotlin.String, limit: kotlin.Int? = 20) : BotSearchPersonas200Response = withContext(Dispatchers.IO) {
        val localVarResponse = botSearchSkillsWithHttpInfo(q = q, limit = limit)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as BotSearchPersonas200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/bot/search/skills
     * Hybrid vector + lexical search for skills
     * 
     * @param q Search query
     * @param limit  (optional, default to 20)
     * @return ApiResponse<BotSearchPersonas200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun botSearchSkillsWithHttpInfo(q: kotlin.String, limit: kotlin.Int?) : ApiResponse<BotSearchPersonas200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = botSearchSkillsRequestConfig(q = q, limit = limit)

        return@withContext request<Unit, BotSearchPersonas200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation botSearchSkills
     *
     * @param q Search query
     * @param limit  (optional, default to 20)
     * @return RequestConfig
     */
    fun botSearchSkillsRequestConfig(q: kotlin.String, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("q", listOf(q.toString()))
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/bot/search/skills",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/chat/search/enable
     * Check if search is enabled
     * 
     * @return kotlin.Boolean
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatGetSearchEnable() : kotlin.Boolean = withContext(Dispatchers.IO) {
        val localVarResponse = chatGetSearchEnableWithHttpInfo()

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Boolean
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/chat/search/enable
     * Check if search is enabled
     * 
     * @return ApiResponse<kotlin.Boolean?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatGetSearchEnableWithHttpInfo() : ApiResponse<kotlin.Boolean?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatGetSearchEnableRequestConfig()

        return@withContext request<Unit, kotlin.Boolean>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatGetSearchEnable
     *
     * @return RequestConfig
     */
    fun chatGetSearchEnableRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/chat/search/enable",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/commerce/search/note
     * Search notes
     * 
     * @param commerceSearchNotesRequest 
     * @return kotlin.collections.List<CommerceNote>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun commerceSearchNotes(commerceSearchNotesRequest: CommerceSearchNotesRequest) : kotlin.collections.List<CommerceNote> = withContext(Dispatchers.IO) {
        val localVarResponse = commerceSearchNotesWithHttpInfo(commerceSearchNotesRequest = commerceSearchNotesRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<CommerceNote>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/commerce/search/note
     * Search notes
     * 
     * @param commerceSearchNotesRequest 
     * @return ApiResponse<kotlin.collections.List<CommerceNote>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun commerceSearchNotesWithHttpInfo(commerceSearchNotesRequest: CommerceSearchNotesRequest) : ApiResponse<kotlin.collections.List<CommerceNote>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = commerceSearchNotesRequestConfig(commerceSearchNotesRequest = commerceSearchNotesRequest)

        return@withContext request<CommerceSearchNotesRequest, kotlin.collections.List<CommerceNote>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation commerceSearchNotes
     *
     * @param commerceSearchNotesRequest 
     * @return RequestConfig
     */
    fun commerceSearchNotesRequestConfig(commerceSearchNotesRequest: CommerceSearchNotesRequest) : RequestConfig<CommerceSearchNotesRequest> {
        val localVariableBody = commerceSearchNotesRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/commerce/search/note",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/commerce/search/order
     * Search orders
     * 
     * @param q 
     * @return kotlin.collections.List<CommerceOrder>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun commerceSearchOrders(q: kotlin.String) : kotlin.collections.List<CommerceOrder> = withContext(Dispatchers.IO) {
        val localVarResponse = commerceSearchOrdersWithHttpInfo(q = q)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<CommerceOrder>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/commerce/search/order
     * Search orders
     * 
     * @param q 
     * @return ApiResponse<kotlin.collections.List<CommerceOrder>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun commerceSearchOrdersWithHttpInfo(q: kotlin.String) : ApiResponse<kotlin.collections.List<CommerceOrder>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = commerceSearchOrdersRequestConfig(q = q)

        return@withContext request<Unit, kotlin.collections.List<CommerceOrder>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation commerceSearchOrders
     *
     * @param q 
     * @return RequestConfig
     */
    fun commerceSearchOrdersRequestConfig(q: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("q", listOf(q.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/commerce/search/order",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/commerce/search/user
     * Search users
     * 
     * @param q 
     * @return kotlin.collections.List<CommerceUser>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun commerceSearchUsers(q: kotlin.String) : kotlin.collections.List<CommerceUser> = withContext(Dispatchers.IO) {
        val localVarResponse = commerceSearchUsersWithHttpInfo(q = q)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<CommerceUser>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/commerce/search/user
     * Search users
     * 
     * @param q 
     * @return ApiResponse<kotlin.collections.List<CommerceUser>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun commerceSearchUsersWithHttpInfo(q: kotlin.String) : ApiResponse<kotlin.collections.List<CommerceUser>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = commerceSearchUsersRequestConfig(q = q)

        return@withContext request<Unit, kotlin.collections.List<CommerceUser>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation commerceSearchUsers
     *
     * @param q 
     * @return RequestConfig
     */
    fun commerceSearchUsersRequestConfig(q: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("q", listOf(q.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/commerce/search/user",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/kb/search
     * Semantic search over the org&#39;s knowledge
     * 
     * @param kbSearchRequest 
     * @return KbKbSearch200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun kbKbSearch(kbSearchRequest: KbSearchRequest) : KbKbSearch200Response = withContext(Dispatchers.IO) {
        val localVarResponse = kbKbSearchWithHttpInfo(kbSearchRequest = kbSearchRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as KbKbSearch200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/kb/search
     * Semantic search over the org&#39;s knowledge
     * 
     * @param kbSearchRequest 
     * @return ApiResponse<KbKbSearch200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun kbKbSearchWithHttpInfo(kbSearchRequest: KbSearchRequest) : ApiResponse<KbKbSearch200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = kbKbSearchRequestConfig(kbSearchRequest = kbSearchRequest)

        return@withContext request<KbSearchRequest, KbKbSearch200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation kbKbSearch
     *
     * @param kbSearchRequest 
     * @return RequestConfig
     */
    fun kbKbSearchRequestConfig(kbSearchRequest: KbSearchRequest) : RequestConfig<KbSearchRequest> {
        val localVariableBody = kbSearchRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/kb/search",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/search-docs/stats
     * Get aggregate search statistics
     * Returns the total document count across all Meilisearch indexes. Meilisearch keeps no query-history counters, so &#x60;totalSearches&#x60;, &#x60;totalSessions&#x60;, and the &#x60;searchesPerDay&#x60; series are reported as an honest zero/empty rather than a fabricated number. If the upstream is unreachable, returns HTTP 200 with all counters zeroed. Authenticated with the opaque search service key. 
     * @return ProductSearchStats
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun productGetSearchStats() : ProductSearchStats = withContext(Dispatchers.IO) {
        val localVarResponse = productGetSearchStatsWithHttpInfo()

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ProductSearchStats
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/search-docs/stats
     * Get aggregate search statistics
     * Returns the total document count across all Meilisearch indexes. Meilisearch keeps no query-history counters, so &#x60;totalSearches&#x60;, &#x60;totalSessions&#x60;, and the &#x60;searchesPerDay&#x60; series are reported as an honest zero/empty rather than a fabricated number. If the upstream is unreachable, returns HTTP 200 with all counters zeroed. Authenticated with the opaque search service key. 
     * @return ApiResponse<ProductSearchStats?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun productGetSearchStatsWithHttpInfo() : ApiResponse<ProductSearchStats?> = withContext(Dispatchers.IO) {
        val localVariableConfig = productGetSearchStatsRequestConfig()

        return@withContext request<Unit, ProductSearchStats>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation productGetSearchStats
     *
     * @return RequestConfig
     */
    fun productGetSearchStatsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/search-docs/stats",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/search-docs/indexes
     * List search indexes
     * Returns every Meilisearch index with its document count and, on a best-effort basis, its created/last-indexed timestamps. If the upstream Meilisearch is unreachable, returns HTTP 200 with an empty &#x60;indexes&#x60; array. Authenticated with the opaque search service key. 
     * @return ProductListSearchIndexes200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun productListSearchIndexes() : ProductListSearchIndexes200Response = withContext(Dispatchers.IO) {
        val localVarResponse = productListSearchIndexesWithHttpInfo()

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ProductListSearchIndexes200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/search-docs/indexes
     * List search indexes
     * Returns every Meilisearch index with its document count and, on a best-effort basis, its created/last-indexed timestamps. If the upstream Meilisearch is unreachable, returns HTTP 200 with an empty &#x60;indexes&#x60; array. Authenticated with the opaque search service key. 
     * @return ApiResponse<ProductListSearchIndexes200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun productListSearchIndexesWithHttpInfo() : ApiResponse<ProductListSearchIndexes200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = productListSearchIndexesRequestConfig()

        return@withContext request<Unit, ProductListSearchIndexes200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation productListSearchIndexes
     *
     * @return RequestConfig
     */
    fun productListSearchIndexesRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/search-docs/indexes",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/search
     * Provision a search resource
     * 
     * @param provisioningCreateRequest 
     * @return ProvisioningCreateResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun provisioningCreateSearch(provisioningCreateRequest: ProvisioningCreateRequest) : ProvisioningCreateResponse = withContext(Dispatchers.IO) {
        val localVarResponse = provisioningCreateSearchWithHttpInfo(provisioningCreateRequest = provisioningCreateRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ProvisioningCreateResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/search
     * Provision a search resource
     * 
     * @param provisioningCreateRequest 
     * @return ApiResponse<ProvisioningCreateResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun provisioningCreateSearchWithHttpInfo(provisioningCreateRequest: ProvisioningCreateRequest) : ApiResponse<ProvisioningCreateResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = provisioningCreateSearchRequestConfig(provisioningCreateRequest = provisioningCreateRequest)

        return@withContext request<ProvisioningCreateRequest, ProvisioningCreateResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation provisioningCreateSearch
     *
     * @param provisioningCreateRequest 
     * @return RequestConfig
     */
    fun provisioningCreateSearchRequestConfig(provisioningCreateRequest: ProvisioningCreateRequest) : RequestConfig<ProvisioningCreateRequest> {
        val localVariableBody = provisioningCreateRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/search",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/search/{name}
     * Deprovision a search resource
     * 
     * @param name The user-supplied resource name (slug). Lowercased and trimmed server-side; must match &#x60;^[a-z0-9]([a-z0-9-]{0,38}[a-z0-9])?$&#x60;. 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun provisioningDeleteSearch(name: kotlin.String) : Unit = withContext(Dispatchers.IO) {
        val localVarResponse = provisioningDeleteSearchWithHttpInfo(name = name)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/search/{name}
     * Deprovision a search resource
     * 
     * @param name The user-supplied resource name (slug). Lowercased and trimmed server-side; must match &#x60;^[a-z0-9]([a-z0-9-]{0,38}[a-z0-9])?$&#x60;. 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun provisioningDeleteSearchWithHttpInfo(name: kotlin.String) : ApiResponse<Unit?> = withContext(Dispatchers.IO) {
        val localVariableConfig = provisioningDeleteSearchRequestConfig(name = name)

        return@withContext request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation provisioningDeleteSearch
     *
     * @param name The user-supplied resource name (slug). Lowercased and trimmed server-side; must match &#x60;^[a-z0-9]([a-z0-9-]{0,38}[a-z0-9])?$&#x60;. 
     * @return RequestConfig
     */
    fun provisioningDeleteSearchRequestConfig(name: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/search/{name}".replace("{"+"name"+"}", encodeURIComponent(name.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/search/{name}
     * Get one search resource
     * 
     * @param name The user-supplied resource name (slug). Lowercased and trimmed server-side; must match &#x60;^[a-z0-9]([a-z0-9-]{0,38}[a-z0-9])?$&#x60;. 
     * @return ProvisioningGetResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun provisioningGetSearch(name: kotlin.String) : ProvisioningGetResponse = withContext(Dispatchers.IO) {
        val localVarResponse = provisioningGetSearchWithHttpInfo(name = name)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ProvisioningGetResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/search/{name}
     * Get one search resource
     * 
     * @param name The user-supplied resource name (slug). Lowercased and trimmed server-side; must match &#x60;^[a-z0-9]([a-z0-9-]{0,38}[a-z0-9])?$&#x60;. 
     * @return ApiResponse<ProvisioningGetResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun provisioningGetSearchWithHttpInfo(name: kotlin.String) : ApiResponse<ProvisioningGetResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = provisioningGetSearchRequestConfig(name = name)

        return@withContext request<Unit, ProvisioningGetResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation provisioningGetSearch
     *
     * @param name The user-supplied resource name (slug). Lowercased and trimmed server-side; must match &#x60;^[a-z0-9]([a-z0-9-]{0,38}[a-z0-9])?$&#x60;. 
     * @return RequestConfig
     */
    fun provisioningGetSearchRequestConfig(name: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/search/{name}".replace("{"+"name"+"}", encodeURIComponent(name.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/search
     * List search resources for the caller&#39;s org
     * 
     * @return kotlin.collections.List<ProvisioningListItem>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun provisioningListSearch() : kotlin.collections.List<ProvisioningListItem> = withContext(Dispatchers.IO) {
        val localVarResponse = provisioningListSearchWithHttpInfo()

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<ProvisioningListItem>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/search
     * List search resources for the caller&#39;s org
     * 
     * @return ApiResponse<kotlin.collections.List<ProvisioningListItem>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun provisioningListSearchWithHttpInfo() : ApiResponse<kotlin.collections.List<ProvisioningListItem>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = provisioningListSearchRequestConfig()

        return@withContext request<Unit, kotlin.collections.List<ProvisioningListItem>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation provisioningListSearch
     *
     * @return RequestConfig
     */
    fun provisioningListSearchRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/search",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter matchingStrategy
     */
     enum class MatchingStrategySearchSearchGet(val value: kotlin.String) {
         @Json(name = "last") last("last"),
         @Json(name = "all") all("all"),
         @Json(name = "frequency") frequency("frequency");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /v1/search/indexes/{indexUid}/search
     * Search documents (GET)
     * 
     * @param indexUid Unique index identifier
     * @param q Search query (optional)
     * @param offset  (optional, default to 0)
     * @param limit  (optional, default to 20)
     * @param attributesToRetrieve Comma-separated list of attributes to return (optional)
     * @param attributesToHighlight  (optional)
     * @param attributesToCrop  (optional)
     * @param cropLength  (optional, default to 10)
     * @param filter Filter expression (optional)
     * @param sort Comma-separated sort rules (optional)
     * @param facets Comma-separated facet attributes (optional)
     * @param showMatchesPosition  (optional)
     * @param showRankingScore  (optional)
     * @param matchingStrategy  (optional)
     * @return SearchSearchResult
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun searchSearchGet(indexUid: kotlin.String, q: kotlin.String? = null, offset: kotlin.Int? = 0, limit: kotlin.Int? = 20, attributesToRetrieve: kotlin.String? = null, attributesToHighlight: kotlin.String? = null, attributesToCrop: kotlin.String? = null, cropLength: kotlin.Int? = 10, filter: kotlin.String? = null, sort: kotlin.String? = null, facets: kotlin.String? = null, showMatchesPosition: kotlin.Boolean? = null, showRankingScore: kotlin.Boolean? = null, matchingStrategy: MatchingStrategySearchSearchGet? = null) : SearchSearchResult = withContext(Dispatchers.IO) {
        val localVarResponse = searchSearchGetWithHttpInfo(indexUid = indexUid, q = q, offset = offset, limit = limit, attributesToRetrieve = attributesToRetrieve, attributesToHighlight = attributesToHighlight, attributesToCrop = attributesToCrop, cropLength = cropLength, filter = filter, sort = sort, facets = facets, showMatchesPosition = showMatchesPosition, showRankingScore = showRankingScore, matchingStrategy = matchingStrategy)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SearchSearchResult
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/search/indexes/{indexUid}/search
     * Search documents (GET)
     * 
     * @param indexUid Unique index identifier
     * @param q Search query (optional)
     * @param offset  (optional, default to 0)
     * @param limit  (optional, default to 20)
     * @param attributesToRetrieve Comma-separated list of attributes to return (optional)
     * @param attributesToHighlight  (optional)
     * @param attributesToCrop  (optional)
     * @param cropLength  (optional, default to 10)
     * @param filter Filter expression (optional)
     * @param sort Comma-separated sort rules (optional)
     * @param facets Comma-separated facet attributes (optional)
     * @param showMatchesPosition  (optional)
     * @param showRankingScore  (optional)
     * @param matchingStrategy  (optional)
     * @return ApiResponse<SearchSearchResult?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun searchSearchGetWithHttpInfo(indexUid: kotlin.String, q: kotlin.String?, offset: kotlin.Int?, limit: kotlin.Int?, attributesToRetrieve: kotlin.String?, attributesToHighlight: kotlin.String?, attributesToCrop: kotlin.String?, cropLength: kotlin.Int?, filter: kotlin.String?, sort: kotlin.String?, facets: kotlin.String?, showMatchesPosition: kotlin.Boolean?, showRankingScore: kotlin.Boolean?, matchingStrategy: MatchingStrategySearchSearchGet?) : ApiResponse<SearchSearchResult?> = withContext(Dispatchers.IO) {
        val localVariableConfig = searchSearchGetRequestConfig(indexUid = indexUid, q = q, offset = offset, limit = limit, attributesToRetrieve = attributesToRetrieve, attributesToHighlight = attributesToHighlight, attributesToCrop = attributesToCrop, cropLength = cropLength, filter = filter, sort = sort, facets = facets, showMatchesPosition = showMatchesPosition, showRankingScore = showRankingScore, matchingStrategy = matchingStrategy)

        return@withContext request<Unit, SearchSearchResult>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation searchSearchGet
     *
     * @param indexUid Unique index identifier
     * @param q Search query (optional)
     * @param offset  (optional, default to 0)
     * @param limit  (optional, default to 20)
     * @param attributesToRetrieve Comma-separated list of attributes to return (optional)
     * @param attributesToHighlight  (optional)
     * @param attributesToCrop  (optional)
     * @param cropLength  (optional, default to 10)
     * @param filter Filter expression (optional)
     * @param sort Comma-separated sort rules (optional)
     * @param facets Comma-separated facet attributes (optional)
     * @param showMatchesPosition  (optional)
     * @param showRankingScore  (optional)
     * @param matchingStrategy  (optional)
     * @return RequestConfig
     */
    fun searchSearchGetRequestConfig(indexUid: kotlin.String, q: kotlin.String?, offset: kotlin.Int?, limit: kotlin.Int?, attributesToRetrieve: kotlin.String?, attributesToHighlight: kotlin.String?, attributesToCrop: kotlin.String?, cropLength: kotlin.Int?, filter: kotlin.String?, sort: kotlin.String?, facets: kotlin.String?, showMatchesPosition: kotlin.Boolean?, showRankingScore: kotlin.Boolean?, matchingStrategy: MatchingStrategySearchSearchGet?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (q != null) {
                    put("q", listOf(q.toString()))
                }
                if (offset != null) {
                    put("offset", listOf(offset.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (attributesToRetrieve != null) {
                    put("attributesToRetrieve", listOf(attributesToRetrieve.toString()))
                }
                if (attributesToHighlight != null) {
                    put("attributesToHighlight", listOf(attributesToHighlight.toString()))
                }
                if (attributesToCrop != null) {
                    put("attributesToCrop", listOf(attributesToCrop.toString()))
                }
                if (cropLength != null) {
                    put("cropLength", listOf(cropLength.toString()))
                }
                if (filter != null) {
                    put("filter", listOf(filter.toString()))
                }
                if (sort != null) {
                    put("sort", listOf(sort.toString()))
                }
                if (facets != null) {
                    put("facets", listOf(facets.toString()))
                }
                if (showMatchesPosition != null) {
                    put("showMatchesPosition", listOf(showMatchesPosition.toString()))
                }
                if (showRankingScore != null) {
                    put("showRankingScore", listOf(showRankingScore.toString()))
                }
                if (matchingStrategy != null) {
                    put("matchingStrategy", listOf(matchingStrategy.value))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/search/indexes/{indexUid}/search".replace("{"+"indexUid"+"}", encodeURIComponent(indexUid.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/search/indexes/{indexUid}/search
     * Search documents (POST)
     * 
     * @param indexUid Unique index identifier
     * @param searchSearchQuery 
     * @return SearchSearchResult
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun searchSearchPost(indexUid: kotlin.String, searchSearchQuery: SearchSearchQuery) : SearchSearchResult = withContext(Dispatchers.IO) {
        val localVarResponse = searchSearchPostWithHttpInfo(indexUid = indexUid, searchSearchQuery = searchSearchQuery)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SearchSearchResult
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/search/indexes/{indexUid}/search
     * Search documents (POST)
     * 
     * @param indexUid Unique index identifier
     * @param searchSearchQuery 
     * @return ApiResponse<SearchSearchResult?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun searchSearchPostWithHttpInfo(indexUid: kotlin.String, searchSearchQuery: SearchSearchQuery) : ApiResponse<SearchSearchResult?> = withContext(Dispatchers.IO) {
        val localVariableConfig = searchSearchPostRequestConfig(indexUid = indexUid, searchSearchQuery = searchSearchQuery)

        return@withContext request<SearchSearchQuery, SearchSearchResult>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation searchSearchPost
     *
     * @param indexUid Unique index identifier
     * @param searchSearchQuery 
     * @return RequestConfig
     */
    fun searchSearchPostRequestConfig(indexUid: kotlin.String, searchSearchQuery: SearchSearchQuery) : RequestConfig<SearchSearchQuery> {
        val localVariableBody = searchSearchQuery
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/search/indexes/{indexUid}/search".replace("{"+"indexUid"+"}", encodeURIComponent(indexUid.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/vector/collections/{collection_name}/points/recommend
     * Recommend points
     * 
     * @param collectionName 
     * @param vectorRecommendPointsRequest 
     * @return VectorRecommendPoints200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun vectorRecommendPoints(collectionName: kotlin.String, vectorRecommendPointsRequest: VectorRecommendPointsRequest) : VectorRecommendPoints200Response = withContext(Dispatchers.IO) {
        val localVarResponse = vectorRecommendPointsWithHttpInfo(collectionName = collectionName, vectorRecommendPointsRequest = vectorRecommendPointsRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as VectorRecommendPoints200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/vector/collections/{collection_name}/points/recommend
     * Recommend points
     * 
     * @param collectionName 
     * @param vectorRecommendPointsRequest 
     * @return ApiResponse<VectorRecommendPoints200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun vectorRecommendPointsWithHttpInfo(collectionName: kotlin.String, vectorRecommendPointsRequest: VectorRecommendPointsRequest) : ApiResponse<VectorRecommendPoints200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = vectorRecommendPointsRequestConfig(collectionName = collectionName, vectorRecommendPointsRequest = vectorRecommendPointsRequest)

        return@withContext request<VectorRecommendPointsRequest, VectorRecommendPoints200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation vectorRecommendPoints
     *
     * @param collectionName 
     * @param vectorRecommendPointsRequest 
     * @return RequestConfig
     */
    fun vectorRecommendPointsRequestConfig(collectionName: kotlin.String, vectorRecommendPointsRequest: VectorRecommendPointsRequest) : RequestConfig<VectorRecommendPointsRequest> {
        val localVariableBody = vectorRecommendPointsRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/vector/collections/{collection_name}/points/recommend".replace("{"+"collection_name"+"}", encodeURIComponent(collectionName.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/vector/collections/{collection_name}/points/search/batch
     * Batch search
     * 
     * @param collectionName 
     * @param vectorSearchBatchRequest 
     * @return VectorSearchBatch200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun vectorSearchBatch(collectionName: kotlin.String, vectorSearchBatchRequest: VectorSearchBatchRequest) : VectorSearchBatch200Response = withContext(Dispatchers.IO) {
        val localVarResponse = vectorSearchBatchWithHttpInfo(collectionName = collectionName, vectorSearchBatchRequest = vectorSearchBatchRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as VectorSearchBatch200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/vector/collections/{collection_name}/points/search/batch
     * Batch search
     * 
     * @param collectionName 
     * @param vectorSearchBatchRequest 
     * @return ApiResponse<VectorSearchBatch200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun vectorSearchBatchWithHttpInfo(collectionName: kotlin.String, vectorSearchBatchRequest: VectorSearchBatchRequest) : ApiResponse<VectorSearchBatch200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = vectorSearchBatchRequestConfig(collectionName = collectionName, vectorSearchBatchRequest = vectorSearchBatchRequest)

        return@withContext request<VectorSearchBatchRequest, VectorSearchBatch200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation vectorSearchBatch
     *
     * @param collectionName 
     * @param vectorSearchBatchRequest 
     * @return RequestConfig
     */
    fun vectorSearchBatchRequestConfig(collectionName: kotlin.String, vectorSearchBatchRequest: VectorSearchBatchRequest) : RequestConfig<VectorSearchBatchRequest> {
        val localVariableBody = vectorSearchBatchRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/vector/collections/{collection_name}/points/search/batch".replace("{"+"collection_name"+"}", encodeURIComponent(collectionName.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/vector/collections/{collection_name}/points/search
     * Search points
     * 
     * @param collectionName 
     * @param vectorSearchRequest 
     * @return VectorRecommendPoints200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun vectorSearchPoints(collectionName: kotlin.String, vectorSearchRequest: VectorSearchRequest) : VectorRecommendPoints200Response = withContext(Dispatchers.IO) {
        val localVarResponse = vectorSearchPointsWithHttpInfo(collectionName = collectionName, vectorSearchRequest = vectorSearchRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as VectorRecommendPoints200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/vector/collections/{collection_name}/points/search
     * Search points
     * 
     * @param collectionName 
     * @param vectorSearchRequest 
     * @return ApiResponse<VectorRecommendPoints200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun vectorSearchPointsWithHttpInfo(collectionName: kotlin.String, vectorSearchRequest: VectorSearchRequest) : ApiResponse<VectorRecommendPoints200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = vectorSearchPointsRequestConfig(collectionName = collectionName, vectorSearchRequest = vectorSearchRequest)

        return@withContext request<VectorSearchRequest, VectorRecommendPoints200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation vectorSearchPoints
     *
     * @param collectionName 
     * @param vectorSearchRequest 
     * @return RequestConfig
     */
    fun vectorSearchPointsRequestConfig(collectionName: kotlin.String, vectorSearchRequest: VectorSearchRequest) : RequestConfig<VectorSearchRequest> {
        val localVariableBody = vectorSearchRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/vector/collections/{collection_name}/points/search".replace("{"+"collection_name"+"}", encodeURIComponent(collectionName.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter format
     */
     enum class FormatWebsearchWebSearch(val value: kotlin.String) {
         @Json(name = "json") json("json");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /v1/websearch/search
     * Search the web (SearXNG JSON contract, proxied verbatim)
     * 
     * @param q Search query
     * @param format  (optional, default to Format.json)
     * @return WebsearchSearchResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun websearchWebSearch(q: kotlin.String, format: FormatWebsearchWebSearch? = FormatWebsearchWebSearch.json) : WebsearchSearchResponse = withContext(Dispatchers.IO) {
        val localVarResponse = websearchWebSearchWithHttpInfo(q = q, format = format)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as WebsearchSearchResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/websearch/search
     * Search the web (SearXNG JSON contract, proxied verbatim)
     * 
     * @param q Search query
     * @param format  (optional, default to Format.json)
     * @return ApiResponse<WebsearchSearchResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun websearchWebSearchWithHttpInfo(q: kotlin.String, format: FormatWebsearchWebSearch?) : ApiResponse<WebsearchSearchResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = websearchWebSearchRequestConfig(q = q, format = format)

        return@withContext request<Unit, WebsearchSearchResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation websearchWebSearch
     *
     * @param q Search query
     * @param format  (optional, default to Format.json)
     * @return RequestConfig
     */
    fun websearchWebSearchRequestConfig(q: kotlin.String, format: FormatWebsearchWebSearch?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("q", listOf(q.toString()))
                if (format != null) {
                    put("format", listOf(format.value))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/websearch/search",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
