/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.AnalyticsHeartbeat200Response
import ai.hanzo.sdk.models.EdgeError
import ai.hanzo.sdk.models.EdgeListSecrets200ResponseInner
import ai.hanzo.sdk.models.EdgeSecret
import ai.hanzo.sdk.models.EdgeSecretCreate
import ai.hanzo.sdk.models.EdgeUpdateSecretRequest
import ai.hanzo.sdk.models.KmsBatchSecretRequest
import ai.hanzo.sdk.models.KmsBatchSecrets200Response
import ai.hanzo.sdk.models.KmsCreateSecretRequest
import ai.hanzo.sdk.models.KmsGetSecret200Response
import ai.hanzo.sdk.models.KmsKmsGetOrgSecret200Response
import ai.hanzo.sdk.models.KmsKmsListOrgSecrets200Response
import ai.hanzo.sdk.models.KmsKmsPutOrgSecret200Response
import ai.hanzo.sdk.models.KmsKmsPutOrgSecretRequest
import ai.hanzo.sdk.models.KmsKmsRotateOrgSecretRequest
import ai.hanzo.sdk.models.KmsListSecrets200Response
import ai.hanzo.sdk.models.KmsUpdateSecretRequest

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class SecretsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * POST /v1/edge/secrets
     * Create secret
     * 
     * @param edgeSecretCreate 
     * @return EdgeSecret
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun edgeCreateSecret(edgeSecretCreate: EdgeSecretCreate) : EdgeSecret = withContext(Dispatchers.IO) {
        val localVarResponse = edgeCreateSecretWithHttpInfo(edgeSecretCreate = edgeSecretCreate)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as EdgeSecret
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/edge/secrets
     * Create secret
     * 
     * @param edgeSecretCreate 
     * @return ApiResponse<EdgeSecret?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun edgeCreateSecretWithHttpInfo(edgeSecretCreate: EdgeSecretCreate) : ApiResponse<EdgeSecret?> = withContext(Dispatchers.IO) {
        val localVariableConfig = edgeCreateSecretRequestConfig(edgeSecretCreate = edgeSecretCreate)

        return@withContext request<EdgeSecretCreate, EdgeSecret>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation edgeCreateSecret
     *
     * @param edgeSecretCreate 
     * @return RequestConfig
     */
    fun edgeCreateSecretRequestConfig(edgeSecretCreate: EdgeSecretCreate) : RequestConfig<EdgeSecretCreate> {
        val localVariableBody = edgeSecretCreate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/edge/secrets",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/edge/secrets/{name}
     * Delete secret
     * 
     * @param name 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun edgeDeleteSecret(name: kotlin.String) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = edgeDeleteSecretWithHttpInfo(name = name)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/edge/secrets/{name}
     * Delete secret
     * 
     * @param name 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun edgeDeleteSecretWithHttpInfo(name: kotlin.String) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = edgeDeleteSecretRequestConfig(name = name)

        return@withContext request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation edgeDeleteSecret
     *
     * @param name 
     * @return RequestConfig
     */
    fun edgeDeleteSecretRequestConfig(name: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/edge/secrets/{name}".replace("{"+"name"+"}", encodeURIComponent(name.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/edge/secrets
     * List secrets
     * Returns secret names only; values are never exposed after creation.
     * @return kotlin.collections.List<EdgeListSecrets200ResponseInner>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun edgeListSecrets() : kotlin.collections.List<EdgeListSecrets200ResponseInner> = withContext(Dispatchers.IO) {
        val localVarResponse = edgeListSecretsWithHttpInfo()

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<EdgeListSecrets200ResponseInner>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/edge/secrets
     * List secrets
     * Returns secret names only; values are never exposed after creation.
     * @return ApiResponse<kotlin.collections.List<EdgeListSecrets200ResponseInner>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun edgeListSecretsWithHttpInfo() : ApiResponse<kotlin.collections.List<EdgeListSecrets200ResponseInner>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = edgeListSecretsRequestConfig()

        return@withContext request<Unit, kotlin.collections.List<EdgeListSecrets200ResponseInner>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation edgeListSecrets
     *
     * @return RequestConfig
     */
    fun edgeListSecretsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/edge/secrets",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /v1/edge/secrets/{name}
     * Update secret
     * 
     * @param name 
     * @param edgeUpdateSecretRequest 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun edgeUpdateSecret(name: kotlin.String, edgeUpdateSecretRequest: EdgeUpdateSecretRequest) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = edgeUpdateSecretWithHttpInfo(name = name, edgeUpdateSecretRequest = edgeUpdateSecretRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /v1/edge/secrets/{name}
     * Update secret
     * 
     * @param name 
     * @param edgeUpdateSecretRequest 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun edgeUpdateSecretWithHttpInfo(name: kotlin.String, edgeUpdateSecretRequest: EdgeUpdateSecretRequest) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = edgeUpdateSecretRequestConfig(name = name, edgeUpdateSecretRequest = edgeUpdateSecretRequest)

        return@withContext request<EdgeUpdateSecretRequest, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation edgeUpdateSecret
     *
     * @param name 
     * @param edgeUpdateSecretRequest 
     * @return RequestConfig
     */
    fun edgeUpdateSecretRequestConfig(name: kotlin.String, edgeUpdateSecretRequest: EdgeUpdateSecretRequest) : RequestConfig<EdgeUpdateSecretRequest> {
        val localVariableBody = edgeUpdateSecretRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/v1/edge/secrets/{name}".replace("{"+"name"+"}", encodeURIComponent(name.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/kms/v4/secrets/batch
     * Batch create, update, and delete secrets
     * 
     * @param workspaceId 
     * @param kmsBatchSecretRequest 
     * @return KmsBatchSecrets200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun kmsBatchSecrets(workspaceId: java.util.UUID, kmsBatchSecretRequest: KmsBatchSecretRequest) : KmsBatchSecrets200Response = withContext(Dispatchers.IO) {
        val localVarResponse = kmsBatchSecretsWithHttpInfo(workspaceId = workspaceId, kmsBatchSecretRequest = kmsBatchSecretRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as KmsBatchSecrets200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/kms/v4/secrets/batch
     * Batch create, update, and delete secrets
     * 
     * @param workspaceId 
     * @param kmsBatchSecretRequest 
     * @return ApiResponse<KmsBatchSecrets200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun kmsBatchSecretsWithHttpInfo(workspaceId: java.util.UUID, kmsBatchSecretRequest: KmsBatchSecretRequest) : ApiResponse<KmsBatchSecrets200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = kmsBatchSecretsRequestConfig(workspaceId = workspaceId, kmsBatchSecretRequest = kmsBatchSecretRequest)

        return@withContext request<KmsBatchSecretRequest, KmsBatchSecrets200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation kmsBatchSecrets
     *
     * @param workspaceId 
     * @param kmsBatchSecretRequest 
     * @return RequestConfig
     */
    fun kmsBatchSecretsRequestConfig(workspaceId: java.util.UUID, kmsBatchSecretRequest: KmsBatchSecretRequest) : RequestConfig<KmsBatchSecretRequest> {
        val localVariableBody = kmsBatchSecretRequest
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("workspaceId", listOf(workspaceId.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/kms/v4/secrets/batch",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/kms/v4/secrets/{secretKey}
     * Create a secret
     * 
     * @param secretKey 
     * @param kmsCreateSecretRequest 
     * @return KmsGetSecret200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun kmsCreateSecret(secretKey: kotlin.String, kmsCreateSecretRequest: KmsCreateSecretRequest) : KmsGetSecret200Response = withContext(Dispatchers.IO) {
        val localVarResponse = kmsCreateSecretWithHttpInfo(secretKey = secretKey, kmsCreateSecretRequest = kmsCreateSecretRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as KmsGetSecret200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/kms/v4/secrets/{secretKey}
     * Create a secret
     * 
     * @param secretKey 
     * @param kmsCreateSecretRequest 
     * @return ApiResponse<KmsGetSecret200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun kmsCreateSecretWithHttpInfo(secretKey: kotlin.String, kmsCreateSecretRequest: KmsCreateSecretRequest) : ApiResponse<KmsGetSecret200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = kmsCreateSecretRequestConfig(secretKey = secretKey, kmsCreateSecretRequest = kmsCreateSecretRequest)

        return@withContext request<KmsCreateSecretRequest, KmsGetSecret200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation kmsCreateSecret
     *
     * @param secretKey 
     * @param kmsCreateSecretRequest 
     * @return RequestConfig
     */
    fun kmsCreateSecretRequestConfig(secretKey: kotlin.String, kmsCreateSecretRequest: KmsCreateSecretRequest) : RequestConfig<KmsCreateSecretRequest> {
        val localVariableBody = kmsCreateSecretRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/kms/v4/secrets/{secretKey}".replace("{"+"secretKey"+"}", encodeURIComponent(secretKey.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/kms/v4/secrets/{secretKey}
     * Delete a secret
     * 
     * @param secretKey 
     * @param workspaceId 
     * @param environment 
     * @param secretPath  (optional, default to "/")
     * @return KmsGetSecret200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun kmsDeleteSecret(secretKey: kotlin.String, workspaceId: java.util.UUID, environment: kotlin.String, secretPath: kotlin.String? = "/") : KmsGetSecret200Response = withContext(Dispatchers.IO) {
        val localVarResponse = kmsDeleteSecretWithHttpInfo(secretKey = secretKey, workspaceId = workspaceId, environment = environment, secretPath = secretPath)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as KmsGetSecret200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/kms/v4/secrets/{secretKey}
     * Delete a secret
     * 
     * @param secretKey 
     * @param workspaceId 
     * @param environment 
     * @param secretPath  (optional, default to "/")
     * @return ApiResponse<KmsGetSecret200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun kmsDeleteSecretWithHttpInfo(secretKey: kotlin.String, workspaceId: java.util.UUID, environment: kotlin.String, secretPath: kotlin.String?) : ApiResponse<KmsGetSecret200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = kmsDeleteSecretRequestConfig(secretKey = secretKey, workspaceId = workspaceId, environment = environment, secretPath = secretPath)

        return@withContext request<Unit, KmsGetSecret200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation kmsDeleteSecret
     *
     * @param secretKey 
     * @param workspaceId 
     * @param environment 
     * @param secretPath  (optional, default to "/")
     * @return RequestConfig
     */
    fun kmsDeleteSecretRequestConfig(secretKey: kotlin.String, workspaceId: java.util.UUID, environment: kotlin.String, secretPath: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("workspaceId", listOf(workspaceId.toString()))
                put("environment", listOf(environment.toString()))
                if (secretPath != null) {
                    put("secretPath", listOf(secretPath.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/kms/v4/secrets/{secretKey}".replace("{"+"secretKey"+"}", encodeURIComponent(secretKey.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/kms/v4/secrets/{secretKey}
     * Get a secret by key
     * 
     * @param secretKey 
     * @param workspaceId 
     * @param environment 
     * @param secretPath  (optional, default to "/")
     * @param expandSecretReferences  (optional, default to true)
     * @param version  (optional)
     * @return KmsGetSecret200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun kmsGetSecret(secretKey: kotlin.String, workspaceId: java.util.UUID, environment: kotlin.String, secretPath: kotlin.String? = "/", expandSecretReferences: kotlin.Boolean? = true, version: kotlin.Int? = null) : KmsGetSecret200Response = withContext(Dispatchers.IO) {
        val localVarResponse = kmsGetSecretWithHttpInfo(secretKey = secretKey, workspaceId = workspaceId, environment = environment, secretPath = secretPath, expandSecretReferences = expandSecretReferences, version = version)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as KmsGetSecret200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/kms/v4/secrets/{secretKey}
     * Get a secret by key
     * 
     * @param secretKey 
     * @param workspaceId 
     * @param environment 
     * @param secretPath  (optional, default to "/")
     * @param expandSecretReferences  (optional, default to true)
     * @param version  (optional)
     * @return ApiResponse<KmsGetSecret200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun kmsGetSecretWithHttpInfo(secretKey: kotlin.String, workspaceId: java.util.UUID, environment: kotlin.String, secretPath: kotlin.String?, expandSecretReferences: kotlin.Boolean?, version: kotlin.Int?) : ApiResponse<KmsGetSecret200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = kmsGetSecretRequestConfig(secretKey = secretKey, workspaceId = workspaceId, environment = environment, secretPath = secretPath, expandSecretReferences = expandSecretReferences, version = version)

        return@withContext request<Unit, KmsGetSecret200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation kmsGetSecret
     *
     * @param secretKey 
     * @param workspaceId 
     * @param environment 
     * @param secretPath  (optional, default to "/")
     * @param expandSecretReferences  (optional, default to true)
     * @param version  (optional)
     * @return RequestConfig
     */
    fun kmsGetSecretRequestConfig(secretKey: kotlin.String, workspaceId: java.util.UUID, environment: kotlin.String, secretPath: kotlin.String?, expandSecretReferences: kotlin.Boolean?, version: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("workspaceId", listOf(workspaceId.toString()))
                put("environment", listOf(environment.toString()))
                if (secretPath != null) {
                    put("secretPath", listOf(secretPath.toString()))
                }
                if (expandSecretReferences != null) {
                    put("expandSecretReferences", listOf(expandSecretReferences.toString()))
                }
                if (version != null) {
                    put("version", listOf(version.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/kms/v4/secrets/{secretKey}".replace("{"+"secretKey"+"}", encodeURIComponent(secretKey.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/kms/orgs/{org}/secrets/{rest}
     * Delete a secret
     * 
     * @param org 
     * @param rest The secret&#39;s path + name joined (a/b/c/name).
     * @param env  (optional)
     * @return AnalyticsHeartbeat200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun kmsKmsDeleteOrgSecret(org: kotlin.String, rest: kotlin.String, env: kotlin.String? = null) : AnalyticsHeartbeat200Response = withContext(Dispatchers.IO) {
        val localVarResponse = kmsKmsDeleteOrgSecretWithHttpInfo(org = org, rest = rest, env = env)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AnalyticsHeartbeat200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/kms/orgs/{org}/secrets/{rest}
     * Delete a secret
     * 
     * @param org 
     * @param rest The secret&#39;s path + name joined (a/b/c/name).
     * @param env  (optional)
     * @return ApiResponse<AnalyticsHeartbeat200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun kmsKmsDeleteOrgSecretWithHttpInfo(org: kotlin.String, rest: kotlin.String, env: kotlin.String?) : ApiResponse<AnalyticsHeartbeat200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = kmsKmsDeleteOrgSecretRequestConfig(org = org, rest = rest, env = env)

        return@withContext request<Unit, AnalyticsHeartbeat200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation kmsKmsDeleteOrgSecret
     *
     * @param org 
     * @param rest The secret&#39;s path + name joined (a/b/c/name).
     * @param env  (optional)
     * @return RequestConfig
     */
    fun kmsKmsDeleteOrgSecretRequestConfig(org: kotlin.String, rest: kotlin.String, env: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (env != null) {
                    put("env", listOf(env.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/kms/orgs/{org}/secrets/{rest}".replace("{"+"org"+"}", encodeURIComponent(org.toString())).replace("{"+"rest"+"}", encodeURIComponent(rest.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/kms/orgs/{org}/secrets/{rest}
     * Reveal one secret value
     * 
     * @param org 
     * @param rest The secret&#39;s path + name joined (a/b/c/name).
     * @param env  (optional)
     * @return KmsKmsGetOrgSecret200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun kmsKmsGetOrgSecret(org: kotlin.String, rest: kotlin.String, env: kotlin.String? = null) : KmsKmsGetOrgSecret200Response = withContext(Dispatchers.IO) {
        val localVarResponse = kmsKmsGetOrgSecretWithHttpInfo(org = org, rest = rest, env = env)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as KmsKmsGetOrgSecret200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/kms/orgs/{org}/secrets/{rest}
     * Reveal one secret value
     * 
     * @param org 
     * @param rest The secret&#39;s path + name joined (a/b/c/name).
     * @param env  (optional)
     * @return ApiResponse<KmsKmsGetOrgSecret200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun kmsKmsGetOrgSecretWithHttpInfo(org: kotlin.String, rest: kotlin.String, env: kotlin.String?) : ApiResponse<KmsKmsGetOrgSecret200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = kmsKmsGetOrgSecretRequestConfig(org = org, rest = rest, env = env)

        return@withContext request<Unit, KmsKmsGetOrgSecret200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation kmsKmsGetOrgSecret
     *
     * @param org 
     * @param rest The secret&#39;s path + name joined (a/b/c/name).
     * @param env  (optional)
     * @return RequestConfig
     */
    fun kmsKmsGetOrgSecretRequestConfig(org: kotlin.String, rest: kotlin.String, env: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (env != null) {
                    put("env", listOf(env.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/kms/orgs/{org}/secrets/{rest}".replace("{"+"org"+"}", encodeURIComponent(org.toString())).replace("{"+"rest"+"}", encodeURIComponent(rest.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/kms/orgs/{org}/secrets
     * List an org&#39;s secret metadata (names only, never values)
     * 
     * @param org 
     * @param env Environment slug (devnet, testnet, mainnet, production, …). Default \&quot;default\&quot;. (optional)
     * @param prefix Restrict the scan to a subpath within brand/{org}. (optional)
     * @return KmsKmsListOrgSecrets200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun kmsKmsListOrgSecrets(org: kotlin.String, env: kotlin.String? = null, prefix: kotlin.String? = null) : KmsKmsListOrgSecrets200Response = withContext(Dispatchers.IO) {
        val localVarResponse = kmsKmsListOrgSecretsWithHttpInfo(org = org, env = env, prefix = prefix)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as KmsKmsListOrgSecrets200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/kms/orgs/{org}/secrets
     * List an org&#39;s secret metadata (names only, never values)
     * 
     * @param org 
     * @param env Environment slug (devnet, testnet, mainnet, production, …). Default \&quot;default\&quot;. (optional)
     * @param prefix Restrict the scan to a subpath within brand/{org}. (optional)
     * @return ApiResponse<KmsKmsListOrgSecrets200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun kmsKmsListOrgSecretsWithHttpInfo(org: kotlin.String, env: kotlin.String?, prefix: kotlin.String?) : ApiResponse<KmsKmsListOrgSecrets200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = kmsKmsListOrgSecretsRequestConfig(org = org, env = env, prefix = prefix)

        return@withContext request<Unit, KmsKmsListOrgSecrets200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation kmsKmsListOrgSecrets
     *
     * @param org 
     * @param env Environment slug (devnet, testnet, mainnet, production, …). Default \&quot;default\&quot;. (optional)
     * @param prefix Restrict the scan to a subpath within brand/{org}. (optional)
     * @return RequestConfig
     */
    fun kmsKmsListOrgSecretsRequestConfig(org: kotlin.String, env: kotlin.String?, prefix: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (env != null) {
                    put("env", listOf(env.toString()))
                }
                if (prefix != null) {
                    put("prefix", listOf(prefix.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/kms/orgs/{org}/secrets".replace("{"+"org"+"}", encodeURIComponent(org.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/kms/orgs/{org}/secrets
     * Create or upsert a secret (value write-only; version bumps)
     * 
     * @param org 
     * @param kmsKmsPutOrgSecretRequest 
     * @return KmsKmsPutOrgSecret200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun kmsKmsPutOrgSecret(org: kotlin.String, kmsKmsPutOrgSecretRequest: KmsKmsPutOrgSecretRequest) : KmsKmsPutOrgSecret200Response = withContext(Dispatchers.IO) {
        val localVarResponse = kmsKmsPutOrgSecretWithHttpInfo(org = org, kmsKmsPutOrgSecretRequest = kmsKmsPutOrgSecretRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as KmsKmsPutOrgSecret200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/kms/orgs/{org}/secrets
     * Create or upsert a secret (value write-only; version bumps)
     * 
     * @param org 
     * @param kmsKmsPutOrgSecretRequest 
     * @return ApiResponse<KmsKmsPutOrgSecret200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun kmsKmsPutOrgSecretWithHttpInfo(org: kotlin.String, kmsKmsPutOrgSecretRequest: KmsKmsPutOrgSecretRequest) : ApiResponse<KmsKmsPutOrgSecret200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = kmsKmsPutOrgSecretRequestConfig(org = org, kmsKmsPutOrgSecretRequest = kmsKmsPutOrgSecretRequest)

        return@withContext request<KmsKmsPutOrgSecretRequest, KmsKmsPutOrgSecret200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation kmsKmsPutOrgSecret
     *
     * @param org 
     * @param kmsKmsPutOrgSecretRequest 
     * @return RequestConfig
     */
    fun kmsKmsPutOrgSecretRequestConfig(org: kotlin.String, kmsKmsPutOrgSecretRequest: KmsKmsPutOrgSecretRequest) : RequestConfig<KmsKmsPutOrgSecretRequest> {
        val localVariableBody = kmsKmsPutOrgSecretRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/kms/orgs/{org}/secrets".replace("{"+"org"+"}", encodeURIComponent(org.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /v1/kms/orgs/{org}/secrets/{rest}
     * Rotate a secret (compare-and-set on version)
     * 
     * @param org 
     * @param rest The secret&#39;s path + name joined (a/b/c/name).
     * @param kmsKmsRotateOrgSecretRequest 
     * @param ifMatch Current version for the compare-and-set (replay protection). (optional)
     * @return KmsKmsPutOrgSecret200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun kmsKmsRotateOrgSecret(org: kotlin.String, rest: kotlin.String, kmsKmsRotateOrgSecretRequest: KmsKmsRotateOrgSecretRequest, ifMatch: kotlin.String? = null) : KmsKmsPutOrgSecret200Response = withContext(Dispatchers.IO) {
        val localVarResponse = kmsKmsRotateOrgSecretWithHttpInfo(org = org, rest = rest, kmsKmsRotateOrgSecretRequest = kmsKmsRotateOrgSecretRequest, ifMatch = ifMatch)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as KmsKmsPutOrgSecret200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /v1/kms/orgs/{org}/secrets/{rest}
     * Rotate a secret (compare-and-set on version)
     * 
     * @param org 
     * @param rest The secret&#39;s path + name joined (a/b/c/name).
     * @param kmsKmsRotateOrgSecretRequest 
     * @param ifMatch Current version for the compare-and-set (replay protection). (optional)
     * @return ApiResponse<KmsKmsPutOrgSecret200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun kmsKmsRotateOrgSecretWithHttpInfo(org: kotlin.String, rest: kotlin.String, kmsKmsRotateOrgSecretRequest: KmsKmsRotateOrgSecretRequest, ifMatch: kotlin.String?) : ApiResponse<KmsKmsPutOrgSecret200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = kmsKmsRotateOrgSecretRequestConfig(org = org, rest = rest, kmsKmsRotateOrgSecretRequest = kmsKmsRotateOrgSecretRequest, ifMatch = ifMatch)

        return@withContext request<KmsKmsRotateOrgSecretRequest, KmsKmsPutOrgSecret200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation kmsKmsRotateOrgSecret
     *
     * @param org 
     * @param rest The secret&#39;s path + name joined (a/b/c/name).
     * @param kmsKmsRotateOrgSecretRequest 
     * @param ifMatch Current version for the compare-and-set (replay protection). (optional)
     * @return RequestConfig
     */
    fun kmsKmsRotateOrgSecretRequestConfig(org: kotlin.String, rest: kotlin.String, kmsKmsRotateOrgSecretRequest: KmsKmsRotateOrgSecretRequest, ifMatch: kotlin.String?) : RequestConfig<KmsKmsRotateOrgSecretRequest> {
        val localVariableBody = kmsKmsRotateOrgSecretRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        ifMatch?.apply { localVariableHeaders["If-Match"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/v1/kms/orgs/{org}/secrets/{rest}".replace("{"+"org"+"}", encodeURIComponent(org.toString())).replace("{"+"rest"+"}", encodeURIComponent(rest.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/kms/v4/secrets
     * List secrets
     * 
     * @param workspaceId 
     * @param environment 
     * @param secretPath  (optional, default to "/")
     * @param expandSecretReferences  (optional, default to true)
     * @param recursive  (optional, default to false)
     * @param includeImports  (optional, default to false)
     * @param tagSlugs  (optional)
     * @param metadataFilter  (optional)
     * @return KmsListSecrets200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun kmsListSecrets(workspaceId: java.util.UUID, environment: kotlin.String, secretPath: kotlin.String? = "/", expandSecretReferences: kotlin.Boolean? = true, recursive: kotlin.Boolean? = false, includeImports: kotlin.Boolean? = false, tagSlugs: kotlin.String? = null, metadataFilter: kotlin.String? = null) : KmsListSecrets200Response = withContext(Dispatchers.IO) {
        val localVarResponse = kmsListSecretsWithHttpInfo(workspaceId = workspaceId, environment = environment, secretPath = secretPath, expandSecretReferences = expandSecretReferences, recursive = recursive, includeImports = includeImports, tagSlugs = tagSlugs, metadataFilter = metadataFilter)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as KmsListSecrets200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/kms/v4/secrets
     * List secrets
     * 
     * @param workspaceId 
     * @param environment 
     * @param secretPath  (optional, default to "/")
     * @param expandSecretReferences  (optional, default to true)
     * @param recursive  (optional, default to false)
     * @param includeImports  (optional, default to false)
     * @param tagSlugs  (optional)
     * @param metadataFilter  (optional)
     * @return ApiResponse<KmsListSecrets200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun kmsListSecretsWithHttpInfo(workspaceId: java.util.UUID, environment: kotlin.String, secretPath: kotlin.String?, expandSecretReferences: kotlin.Boolean?, recursive: kotlin.Boolean?, includeImports: kotlin.Boolean?, tagSlugs: kotlin.String?, metadataFilter: kotlin.String?) : ApiResponse<KmsListSecrets200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = kmsListSecretsRequestConfig(workspaceId = workspaceId, environment = environment, secretPath = secretPath, expandSecretReferences = expandSecretReferences, recursive = recursive, includeImports = includeImports, tagSlugs = tagSlugs, metadataFilter = metadataFilter)

        return@withContext request<Unit, KmsListSecrets200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation kmsListSecrets
     *
     * @param workspaceId 
     * @param environment 
     * @param secretPath  (optional, default to "/")
     * @param expandSecretReferences  (optional, default to true)
     * @param recursive  (optional, default to false)
     * @param includeImports  (optional, default to false)
     * @param tagSlugs  (optional)
     * @param metadataFilter  (optional)
     * @return RequestConfig
     */
    fun kmsListSecretsRequestConfig(workspaceId: java.util.UUID, environment: kotlin.String, secretPath: kotlin.String?, expandSecretReferences: kotlin.Boolean?, recursive: kotlin.Boolean?, includeImports: kotlin.Boolean?, tagSlugs: kotlin.String?, metadataFilter: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("workspaceId", listOf(workspaceId.toString()))
                put("environment", listOf(environment.toString()))
                if (secretPath != null) {
                    put("secretPath", listOf(secretPath.toString()))
                }
                if (expandSecretReferences != null) {
                    put("expandSecretReferences", listOf(expandSecretReferences.toString()))
                }
                if (recursive != null) {
                    put("recursive", listOf(recursive.toString()))
                }
                if (includeImports != null) {
                    put("include_imports", listOf(includeImports.toString()))
                }
                if (tagSlugs != null) {
                    put("tagSlugs", listOf(tagSlugs.toString()))
                }
                if (metadataFilter != null) {
                    put("metadataFilter", listOf(metadataFilter.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/kms/v4/secrets",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /v1/kms/v4/secrets/{secretKey}
     * Update a secret
     * 
     * @param secretKey 
     * @param kmsUpdateSecretRequest 
     * @return KmsGetSecret200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun kmsUpdateSecret(secretKey: kotlin.String, kmsUpdateSecretRequest: KmsUpdateSecretRequest) : KmsGetSecret200Response = withContext(Dispatchers.IO) {
        val localVarResponse = kmsUpdateSecretWithHttpInfo(secretKey = secretKey, kmsUpdateSecretRequest = kmsUpdateSecretRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as KmsGetSecret200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /v1/kms/v4/secrets/{secretKey}
     * Update a secret
     * 
     * @param secretKey 
     * @param kmsUpdateSecretRequest 
     * @return ApiResponse<KmsGetSecret200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun kmsUpdateSecretWithHttpInfo(secretKey: kotlin.String, kmsUpdateSecretRequest: KmsUpdateSecretRequest) : ApiResponse<KmsGetSecret200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = kmsUpdateSecretRequestConfig(secretKey = secretKey, kmsUpdateSecretRequest = kmsUpdateSecretRequest)

        return@withContext request<KmsUpdateSecretRequest, KmsGetSecret200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation kmsUpdateSecret
     *
     * @param secretKey 
     * @param kmsUpdateSecretRequest 
     * @return RequestConfig
     */
    fun kmsUpdateSecretRequestConfig(secretKey: kotlin.String, kmsUpdateSecretRequest: KmsUpdateSecretRequest) : RequestConfig<KmsUpdateSecretRequest> {
        val localVariableBody = kmsUpdateSecretRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/v1/kms/v4/secrets/{secretKey}".replace("{"+"secretKey"+"}", encodeURIComponent(secretKey.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
