/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.EngineError
import ai.hanzo.sdk.models.EngineListServingEndpoints200Response
import ai.hanzo.sdk.models.EngineServingEndpoint
import ai.hanzo.sdk.models.EngineServingEndpointCreate
import ai.hanzo.sdk.models.EngineServingMetrics
import ai.hanzo.sdk.models.EngineUpdateServingEndpointRequest

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class ServeApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * POST /v1/engine/serve/endpoints
     * Create serving endpoint
     * 
     * @param engineServingEndpointCreate 
     * @return EngineServingEndpoint
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun engineCreateServingEndpoint(engineServingEndpointCreate: EngineServingEndpointCreate) : EngineServingEndpoint = withContext(Dispatchers.IO) {
        val localVarResponse = engineCreateServingEndpointWithHttpInfo(engineServingEndpointCreate = engineServingEndpointCreate)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as EngineServingEndpoint
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/engine/serve/endpoints
     * Create serving endpoint
     * 
     * @param engineServingEndpointCreate 
     * @return ApiResponse<EngineServingEndpoint?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun engineCreateServingEndpointWithHttpInfo(engineServingEndpointCreate: EngineServingEndpointCreate) : ApiResponse<EngineServingEndpoint?> = withContext(Dispatchers.IO) {
        val localVariableConfig = engineCreateServingEndpointRequestConfig(engineServingEndpointCreate = engineServingEndpointCreate)

        return@withContext request<EngineServingEndpointCreate, EngineServingEndpoint>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation engineCreateServingEndpoint
     *
     * @param engineServingEndpointCreate 
     * @return RequestConfig
     */
    fun engineCreateServingEndpointRequestConfig(engineServingEndpointCreate: EngineServingEndpointCreate) : RequestConfig<EngineServingEndpointCreate> {
        val localVariableBody = engineServingEndpointCreate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/engine/serve/endpoints",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/engine/serve/endpoints/{name}
     * Delete serving endpoint
     * 
     * @param name 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun engineDeleteServingEndpoint(name: kotlin.String) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = engineDeleteServingEndpointWithHttpInfo(name = name)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/engine/serve/endpoints/{name}
     * Delete serving endpoint
     * 
     * @param name 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun engineDeleteServingEndpointWithHttpInfo(name: kotlin.String) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = engineDeleteServingEndpointRequestConfig(name = name)

        return@withContext request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation engineDeleteServingEndpoint
     *
     * @param name 
     * @return RequestConfig
     */
    fun engineDeleteServingEndpointRequestConfig(name: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/engine/serve/endpoints/{name}".replace("{"+"name"+"}", encodeURIComponent(name.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/engine/serve/endpoints/{name}
     * Get serving endpoint
     * 
     * @param name 
     * @return EngineServingEndpoint
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun engineGetServingEndpoint(name: kotlin.String) : EngineServingEndpoint = withContext(Dispatchers.IO) {
        val localVarResponse = engineGetServingEndpointWithHttpInfo(name = name)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as EngineServingEndpoint
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/engine/serve/endpoints/{name}
     * Get serving endpoint
     * 
     * @param name 
     * @return ApiResponse<EngineServingEndpoint?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun engineGetServingEndpointWithHttpInfo(name: kotlin.String) : ApiResponse<EngineServingEndpoint?> = withContext(Dispatchers.IO) {
        val localVariableConfig = engineGetServingEndpointRequestConfig(name = name)

        return@withContext request<Unit, EngineServingEndpoint>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation engineGetServingEndpoint
     *
     * @param name 
     * @return RequestConfig
     */
    fun engineGetServingEndpointRequestConfig(name: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/engine/serve/endpoints/{name}".replace("{"+"name"+"}", encodeURIComponent(name.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter granularity
     */
     enum class GranularityEngineGetServingMetrics(val value: kotlin.String) {
         @Json(name = "minute") minute("minute"),
         @Json(name = "hour") hour("hour"),
         @Json(name = "day") day("day");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /v1/engine/serve/endpoints/{name}/metrics
     * Get serving endpoint metrics
     * 
     * @param name 
     * @param from  (optional)
     * @param to  (optional)
     * @param granularity  (optional, default to Granularity.hour)
     * @return kotlin.collections.List<EngineServingMetrics>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun engineGetServingMetrics(name: kotlin.String, from: java.time.OffsetDateTime? = null, to: java.time.OffsetDateTime? = null, granularity: GranularityEngineGetServingMetrics? = GranularityEngineGetServingMetrics.hour) : kotlin.collections.List<EngineServingMetrics> = withContext(Dispatchers.IO) {
        val localVarResponse = engineGetServingMetricsWithHttpInfo(name = name, from = from, to = to, granularity = granularity)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<EngineServingMetrics>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/engine/serve/endpoints/{name}/metrics
     * Get serving endpoint metrics
     * 
     * @param name 
     * @param from  (optional)
     * @param to  (optional)
     * @param granularity  (optional, default to Granularity.hour)
     * @return ApiResponse<kotlin.collections.List<EngineServingMetrics>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun engineGetServingMetricsWithHttpInfo(name: kotlin.String, from: java.time.OffsetDateTime?, to: java.time.OffsetDateTime?, granularity: GranularityEngineGetServingMetrics?) : ApiResponse<kotlin.collections.List<EngineServingMetrics>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = engineGetServingMetricsRequestConfig(name = name, from = from, to = to, granularity = granularity)

        return@withContext request<Unit, kotlin.collections.List<EngineServingMetrics>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation engineGetServingMetrics
     *
     * @param name 
     * @param from  (optional)
     * @param to  (optional)
     * @param granularity  (optional, default to Granularity.hour)
     * @return RequestConfig
     */
    fun engineGetServingMetricsRequestConfig(name: kotlin.String, from: java.time.OffsetDateTime?, to: java.time.OffsetDateTime?, granularity: GranularityEngineGetServingMetrics?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (from != null) {
                    put("from", listOf(parseDateToQueryString<java.time.OffsetDateTime>(from)))
                }
                if (to != null) {
                    put("to", listOf(parseDateToQueryString<java.time.OffsetDateTime>(to)))
                }
                if (granularity != null) {
                    put("granularity", listOf(granularity.value))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/engine/serve/endpoints/{name}/metrics".replace("{"+"name"+"}", encodeURIComponent(name.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter status
     */
     enum class StatusEngineListServingEndpoints(val value: kotlin.String) {
         @Json(name = "provisioning") provisioning("provisioning"),
         @Json(name = "running") running("running"),
         @Json(name = "scaling") scaling("scaling"),
         @Json(name = "failed") failed("failed"),
         @Json(name = "stopped") stopped("stopped");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /v1/engine/serve/endpoints
     * List serving endpoints
     * 
     * @param status  (optional)
     * @param page  (optional, default to 1)
     * @param pageSize  (optional, default to 20)
     * @return EngineListServingEndpoints200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun engineListServingEndpoints(status: StatusEngineListServingEndpoints? = null, page: kotlin.Int? = 1, pageSize: kotlin.Int? = 20) : EngineListServingEndpoints200Response = withContext(Dispatchers.IO) {
        val localVarResponse = engineListServingEndpointsWithHttpInfo(status = status, page = page, pageSize = pageSize)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as EngineListServingEndpoints200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/engine/serve/endpoints
     * List serving endpoints
     * 
     * @param status  (optional)
     * @param page  (optional, default to 1)
     * @param pageSize  (optional, default to 20)
     * @return ApiResponse<EngineListServingEndpoints200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun engineListServingEndpointsWithHttpInfo(status: StatusEngineListServingEndpoints?, page: kotlin.Int?, pageSize: kotlin.Int?) : ApiResponse<EngineListServingEndpoints200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = engineListServingEndpointsRequestConfig(status = status, page = page, pageSize = pageSize)

        return@withContext request<Unit, EngineListServingEndpoints200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation engineListServingEndpoints
     *
     * @param status  (optional)
     * @param page  (optional, default to 1)
     * @param pageSize  (optional, default to 20)
     * @return RequestConfig
     */
    fun engineListServingEndpointsRequestConfig(status: StatusEngineListServingEndpoints?, page: kotlin.Int?, pageSize: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (status != null) {
                    put("status", listOf(status.value))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("page_size", listOf(pageSize.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/engine/serve/endpoints",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /v1/engine/serve/endpoints/{name}
     * Update serving endpoint
     * 
     * @param name 
     * @param engineUpdateServingEndpointRequest 
     * @return EngineServingEndpoint
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun engineUpdateServingEndpoint(name: kotlin.String, engineUpdateServingEndpointRequest: EngineUpdateServingEndpointRequest) : EngineServingEndpoint = withContext(Dispatchers.IO) {
        val localVarResponse = engineUpdateServingEndpointWithHttpInfo(name = name, engineUpdateServingEndpointRequest = engineUpdateServingEndpointRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as EngineServingEndpoint
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /v1/engine/serve/endpoints/{name}
     * Update serving endpoint
     * 
     * @param name 
     * @param engineUpdateServingEndpointRequest 
     * @return ApiResponse<EngineServingEndpoint?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun engineUpdateServingEndpointWithHttpInfo(name: kotlin.String, engineUpdateServingEndpointRequest: EngineUpdateServingEndpointRequest) : ApiResponse<EngineServingEndpoint?> = withContext(Dispatchers.IO) {
        val localVariableConfig = engineUpdateServingEndpointRequestConfig(name = name, engineUpdateServingEndpointRequest = engineUpdateServingEndpointRequest)

        return@withContext request<EngineUpdateServingEndpointRequest, EngineServingEndpoint>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation engineUpdateServingEndpoint
     *
     * @param name 
     * @param engineUpdateServingEndpointRequest 
     * @return RequestConfig
     */
    fun engineUpdateServingEndpointRequestConfig(name: kotlin.String, engineUpdateServingEndpointRequest: EngineUpdateServingEndpointRequest) : RequestConfig<EngineUpdateServingEndpointRequest> {
        val localVariableBody = engineUpdateServingEndpointRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/v1/engine/serve/endpoints/{name}".replace("{"+"name"+"}", encodeURIComponent(name.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
