/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.AnalyticsGetSessionActivity200ResponseInner
import ai.hanzo.sdk.models.AnalyticsGetSessionStats200ResponseValue
import ai.hanzo.sdk.models.AnalyticsSession
import ai.hanzo.sdk.models.ConsoleListSessions200Response
import ai.hanzo.sdk.models.ConsoleSessionWithTraces
import ai.hanzo.sdk.models.IamControllersResponse
import ai.hanzo.sdk.models.IamObjectSession

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class SessionsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/sessions/{sessionId}
     * Get a single session by ID
     * 
     * @param websiteId 
     * @param sessionId 
     * @return AnalyticsSession
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsGetSession(websiteId: java.util.UUID, sessionId: java.util.UUID) : AnalyticsSession = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsGetSessionWithHttpInfo(websiteId = websiteId, sessionId = sessionId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AnalyticsSession
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/sessions/{sessionId}
     * Get a single session by ID
     * 
     * @param websiteId 
     * @param sessionId 
     * @return ApiResponse<AnalyticsSession?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsGetSessionWithHttpInfo(websiteId: java.util.UUID, sessionId: java.util.UUID) : ApiResponse<AnalyticsSession?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsGetSessionRequestConfig(websiteId = websiteId, sessionId = sessionId)

        return@withContext request<Unit, AnalyticsSession>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsGetSession
     *
     * @param websiteId 
     * @param sessionId 
     * @return RequestConfig
     */
    fun analyticsGetSessionRequestConfig(websiteId: java.util.UUID, sessionId: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/analytics/websites/{websiteId}/sessions/{sessionId}".replace("{"+"websiteId"+"}", encodeURIComponent(websiteId.toString())).replace("{"+"sessionId"+"}", encodeURIComponent(sessionId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/sessions/{sessionId}/activity
     * Get activity log for a session
     * 
     * @param websiteId 
     * @param sessionId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @return kotlin.collections.List<AnalyticsGetSessionActivity200ResponseInner>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsGetSessionActivity(websiteId: java.util.UUID, sessionId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long) : kotlin.collections.List<AnalyticsGetSessionActivity200ResponseInner> = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsGetSessionActivityWithHttpInfo(websiteId = websiteId, sessionId = sessionId, startAt = startAt, endAt = endAt)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<AnalyticsGetSessionActivity200ResponseInner>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/sessions/{sessionId}/activity
     * Get activity log for a session
     * 
     * @param websiteId 
     * @param sessionId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @return ApiResponse<kotlin.collections.List<AnalyticsGetSessionActivity200ResponseInner>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsGetSessionActivityWithHttpInfo(websiteId: java.util.UUID, sessionId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long) : ApiResponse<kotlin.collections.List<AnalyticsGetSessionActivity200ResponseInner>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsGetSessionActivityRequestConfig(websiteId = websiteId, sessionId = sessionId, startAt = startAt, endAt = endAt)

        return@withContext request<Unit, kotlin.collections.List<AnalyticsGetSessionActivity200ResponseInner>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsGetSessionActivity
     *
     * @param websiteId 
     * @param sessionId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @return RequestConfig
     */
    fun analyticsGetSessionActivityRequestConfig(websiteId: java.util.UUID, sessionId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("startAt", listOf(startAt.toString()))
                put("endAt", listOf(endAt.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/analytics/websites/{websiteId}/sessions/{sessionId}/activity".replace("{"+"websiteId"+"}", encodeURIComponent(websiteId.toString())).replace("{"+"sessionId"+"}", encodeURIComponent(sessionId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/session-data/properties
     * Get distinct session data property names
     * 
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @param propertyName  (optional)
     * @return kotlin.collections.List<kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsGetSessionDataProperties(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long, propertyName: kotlin.String? = null) : kotlin.collections.List<kotlin.Any> = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsGetSessionDataPropertiesWithHttpInfo(websiteId = websiteId, startAt = startAt, endAt = endAt, propertyName = propertyName)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/session-data/properties
     * Get distinct session data property names
     * 
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @param propertyName  (optional)
     * @return ApiResponse<kotlin.collections.List<kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsGetSessionDataPropertiesWithHttpInfo(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long, propertyName: kotlin.String?) : ApiResponse<kotlin.collections.List<kotlin.Any>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsGetSessionDataPropertiesRequestConfig(websiteId = websiteId, startAt = startAt, endAt = endAt, propertyName = propertyName)

        return@withContext request<Unit, kotlin.collections.List<kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsGetSessionDataProperties
     *
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @param propertyName  (optional)
     * @return RequestConfig
     */
    fun analyticsGetSessionDataPropertiesRequestConfig(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long, propertyName: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("startAt", listOf(startAt.toString()))
                put("endAt", listOf(endAt.toString()))
                if (propertyName != null) {
                    put("propertyName", listOf(propertyName.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/analytics/websites/{websiteId}/session-data/properties".replace("{"+"websiteId"+"}", encodeURIComponent(websiteId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/session-data/values
     * Get session data values for a property
     * 
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @param propertyName  (optional)
     * @return kotlin.collections.List<kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsGetSessionDataValues(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long, propertyName: kotlin.String? = null) : kotlin.collections.List<kotlin.Any> = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsGetSessionDataValuesWithHttpInfo(websiteId = websiteId, startAt = startAt, endAt = endAt, propertyName = propertyName)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/session-data/values
     * Get session data values for a property
     * 
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @param propertyName  (optional)
     * @return ApiResponse<kotlin.collections.List<kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsGetSessionDataValuesWithHttpInfo(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long, propertyName: kotlin.String?) : ApiResponse<kotlin.collections.List<kotlin.Any>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsGetSessionDataValuesRequestConfig(websiteId = websiteId, startAt = startAt, endAt = endAt, propertyName = propertyName)

        return@withContext request<Unit, kotlin.collections.List<kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsGetSessionDataValues
     *
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @param propertyName  (optional)
     * @return RequestConfig
     */
    fun analyticsGetSessionDataValuesRequestConfig(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long, propertyName: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("startAt", listOf(startAt.toString()))
                put("endAt", listOf(endAt.toString()))
                if (propertyName != null) {
                    put("propertyName", listOf(propertyName.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/analytics/websites/{websiteId}/session-data/values".replace("{"+"websiteId"+"}", encodeURIComponent(websiteId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/sessions/{sessionId}/properties
     * Get custom session data properties
     * 
     * @param websiteId 
     * @param sessionId 
     * @return kotlin.collections.List<kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsGetSessionProperties(websiteId: java.util.UUID, sessionId: java.util.UUID) : kotlin.collections.List<kotlin.Any> = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsGetSessionPropertiesWithHttpInfo(websiteId = websiteId, sessionId = sessionId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/sessions/{sessionId}/properties
     * Get custom session data properties
     * 
     * @param websiteId 
     * @param sessionId 
     * @return ApiResponse<kotlin.collections.List<kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsGetSessionPropertiesWithHttpInfo(websiteId: java.util.UUID, sessionId: java.util.UUID) : ApiResponse<kotlin.collections.List<kotlin.Any>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsGetSessionPropertiesRequestConfig(websiteId = websiteId, sessionId = sessionId)

        return@withContext request<Unit, kotlin.collections.List<kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsGetSessionProperties
     *
     * @param websiteId 
     * @param sessionId 
     * @return RequestConfig
     */
    fun analyticsGetSessionPropertiesRequestConfig(websiteId: java.util.UUID, sessionId: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/analytics/websites/{websiteId}/sessions/{sessionId}/properties".replace("{"+"websiteId"+"}", encodeURIComponent(websiteId.toString())).replace("{"+"sessionId"+"}", encodeURIComponent(sessionId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/sessions/stats
     * Get aggregate session statistics
     * 
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @param url  (optional)
     * @param referrer  (optional)
     * @param title  (optional)
     * @param os  (optional)
     * @param browser  (optional)
     * @param device  (optional)
     * @param country  (optional)
     * @param region  (optional)
     * @param city  (optional)
     * @param tag  (optional)
     * @param host  (optional)
     * @param language  (optional)
     * @param event  (optional)
     * @return kotlin.collections.Map<kotlin.String, AnalyticsGetSessionStats200ResponseValue>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsGetSessionStats(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long, url: kotlin.String? = null, referrer: kotlin.String? = null, title: kotlin.String? = null, os: kotlin.String? = null, browser: kotlin.String? = null, device: kotlin.String? = null, country: kotlin.String? = null, region: kotlin.String? = null, city: kotlin.String? = null, tag: kotlin.String? = null, host: kotlin.String? = null, language: kotlin.String? = null, event: kotlin.String? = null) : kotlin.collections.Map<kotlin.String, AnalyticsGetSessionStats200ResponseValue> = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsGetSessionStatsWithHttpInfo(websiteId = websiteId, startAt = startAt, endAt = endAt, url = url, referrer = referrer, title = title, os = os, browser = browser, device = device, country = country, region = region, city = city, tag = tag, host = host, language = language, event = event)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Map<kotlin.String, AnalyticsGetSessionStats200ResponseValue>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/sessions/stats
     * Get aggregate session statistics
     * 
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @param url  (optional)
     * @param referrer  (optional)
     * @param title  (optional)
     * @param os  (optional)
     * @param browser  (optional)
     * @param device  (optional)
     * @param country  (optional)
     * @param region  (optional)
     * @param city  (optional)
     * @param tag  (optional)
     * @param host  (optional)
     * @param language  (optional)
     * @param event  (optional)
     * @return ApiResponse<kotlin.collections.Map<kotlin.String, AnalyticsGetSessionStats200ResponseValue>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsGetSessionStatsWithHttpInfo(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long, url: kotlin.String?, referrer: kotlin.String?, title: kotlin.String?, os: kotlin.String?, browser: kotlin.String?, device: kotlin.String?, country: kotlin.String?, region: kotlin.String?, city: kotlin.String?, tag: kotlin.String?, host: kotlin.String?, language: kotlin.String?, event: kotlin.String?) : ApiResponse<kotlin.collections.Map<kotlin.String, AnalyticsGetSessionStats200ResponseValue>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsGetSessionStatsRequestConfig(websiteId = websiteId, startAt = startAt, endAt = endAt, url = url, referrer = referrer, title = title, os = os, browser = browser, device = device, country = country, region = region, city = city, tag = tag, host = host, language = language, event = event)

        return@withContext request<Unit, kotlin.collections.Map<kotlin.String, AnalyticsGetSessionStats200ResponseValue>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsGetSessionStats
     *
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @param url  (optional)
     * @param referrer  (optional)
     * @param title  (optional)
     * @param os  (optional)
     * @param browser  (optional)
     * @param device  (optional)
     * @param country  (optional)
     * @param region  (optional)
     * @param city  (optional)
     * @param tag  (optional)
     * @param host  (optional)
     * @param language  (optional)
     * @param event  (optional)
     * @return RequestConfig
     */
    fun analyticsGetSessionStatsRequestConfig(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long, url: kotlin.String?, referrer: kotlin.String?, title: kotlin.String?, os: kotlin.String?, browser: kotlin.String?, device: kotlin.String?, country: kotlin.String?, region: kotlin.String?, city: kotlin.String?, tag: kotlin.String?, host: kotlin.String?, language: kotlin.String?, event: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("startAt", listOf(startAt.toString()))
                put("endAt", listOf(endAt.toString()))
                if (url != null) {
                    put("url", listOf(url.toString()))
                }
                if (referrer != null) {
                    put("referrer", listOf(referrer.toString()))
                }
                if (title != null) {
                    put("title", listOf(title.toString()))
                }
                if (os != null) {
                    put("os", listOf(os.toString()))
                }
                if (browser != null) {
                    put("browser", listOf(browser.toString()))
                }
                if (device != null) {
                    put("device", listOf(device.toString()))
                }
                if (country != null) {
                    put("country", listOf(country.toString()))
                }
                if (region != null) {
                    put("region", listOf(region.toString()))
                }
                if (city != null) {
                    put("city", listOf(city.toString()))
                }
                if (tag != null) {
                    put("tag", listOf(tag.toString()))
                }
                if (host != null) {
                    put("host", listOf(host.toString()))
                }
                if (language != null) {
                    put("language", listOf(language.toString()))
                }
                if (event != null) {
                    put("event", listOf(event.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/analytics/websites/{websiteId}/sessions/stats".replace("{"+"websiteId"+"}", encodeURIComponent(websiteId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/sessions
     * Get paginated list of sessions
     * 
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderBy  (optional)
     * @param search  (optional)
     * @return kotlin.collections.List<AnalyticsSession>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsGetSessions(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long, page: kotlin.Int? = null, pageSize: kotlin.Int? = null, orderBy: kotlin.String? = null, search: kotlin.String? = null) : kotlin.collections.List<AnalyticsSession> = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsGetSessionsWithHttpInfo(websiteId = websiteId, startAt = startAt, endAt = endAt, page = page, pageSize = pageSize, orderBy = orderBy, search = search)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<AnalyticsSession>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/sessions
     * Get paginated list of sessions
     * 
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderBy  (optional)
     * @param search  (optional)
     * @return ApiResponse<kotlin.collections.List<AnalyticsSession>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsGetSessionsWithHttpInfo(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long, page: kotlin.Int?, pageSize: kotlin.Int?, orderBy: kotlin.String?, search: kotlin.String?) : ApiResponse<kotlin.collections.List<AnalyticsSession>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsGetSessionsRequestConfig(websiteId = websiteId, startAt = startAt, endAt = endAt, page = page, pageSize = pageSize, orderBy = orderBy, search = search)

        return@withContext request<Unit, kotlin.collections.List<AnalyticsSession>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsGetSessions
     *
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderBy  (optional)
     * @param search  (optional)
     * @return RequestConfig
     */
    fun analyticsGetSessionsRequestConfig(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long, page: kotlin.Int?, pageSize: kotlin.Int?, orderBy: kotlin.String?, search: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("startAt", listOf(startAt.toString()))
                put("endAt", listOf(endAt.toString()))
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("pageSize", listOf(pageSize.toString()))
                }
                if (orderBy != null) {
                    put("orderBy", listOf(orderBy.toString()))
                }
                if (search != null) {
                    put("search", listOf(search.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/analytics/websites/{websiteId}/sessions".replace("{"+"websiteId"+"}", encodeURIComponent(websiteId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/sessions/weekly
     * Get weekly session breakdown
     * 
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @param timezone  (optional)
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderBy  (optional)
     * @param search  (optional)
     * @return kotlin.collections.List<kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsGetSessionsWeekly(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long, timezone: kotlin.String? = null, page: kotlin.Int? = null, pageSize: kotlin.Int? = null, orderBy: kotlin.String? = null, search: kotlin.String? = null) : kotlin.collections.List<kotlin.Any> = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsGetSessionsWeeklyWithHttpInfo(websiteId = websiteId, startAt = startAt, endAt = endAt, timezone = timezone, page = page, pageSize = pageSize, orderBy = orderBy, search = search)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/sessions/weekly
     * Get weekly session breakdown
     * 
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @param timezone  (optional)
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderBy  (optional)
     * @param search  (optional)
     * @return ApiResponse<kotlin.collections.List<kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsGetSessionsWeeklyWithHttpInfo(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long, timezone: kotlin.String?, page: kotlin.Int?, pageSize: kotlin.Int?, orderBy: kotlin.String?, search: kotlin.String?) : ApiResponse<kotlin.collections.List<kotlin.Any>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsGetSessionsWeeklyRequestConfig(websiteId = websiteId, startAt = startAt, endAt = endAt, timezone = timezone, page = page, pageSize = pageSize, orderBy = orderBy, search = search)

        return@withContext request<Unit, kotlin.collections.List<kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsGetSessionsWeekly
     *
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @param timezone  (optional)
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderBy  (optional)
     * @param search  (optional)
     * @return RequestConfig
     */
    fun analyticsGetSessionsWeeklyRequestConfig(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long, timezone: kotlin.String?, page: kotlin.Int?, pageSize: kotlin.Int?, orderBy: kotlin.String?, search: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("startAt", listOf(startAt.toString()))
                put("endAt", listOf(endAt.toString()))
                if (timezone != null) {
                    put("timezone", listOf(timezone.toString()))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("pageSize", listOf(pageSize.toString()))
                }
                if (orderBy != null) {
                    put("orderBy", listOf(orderBy.toString()))
                }
                if (search != null) {
                    put("search", listOf(search.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/analytics/websites/{websiteId}/sessions/weekly".replace("{"+"websiteId"+"}", encodeURIComponent(websiteId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/console/sessions/{sessionId}
     * Get a session with its traces
     * 
     * @param sessionId 
     * @return ConsoleSessionWithTraces
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun consoleGetSession(sessionId: kotlin.String) : ConsoleSessionWithTraces = withContext(Dispatchers.IO) {
        val localVarResponse = consoleGetSessionWithHttpInfo(sessionId = sessionId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ConsoleSessionWithTraces
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/console/sessions/{sessionId}
     * Get a session with its traces
     * 
     * @param sessionId 
     * @return ApiResponse<ConsoleSessionWithTraces?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun consoleGetSessionWithHttpInfo(sessionId: kotlin.String) : ApiResponse<ConsoleSessionWithTraces?> = withContext(Dispatchers.IO) {
        val localVariableConfig = consoleGetSessionRequestConfig(sessionId = sessionId)

        return@withContext request<Unit, ConsoleSessionWithTraces>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation consoleGetSession
     *
     * @param sessionId 
     * @return RequestConfig
     */
    fun consoleGetSessionRequestConfig(sessionId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/console/sessions/{sessionId}".replace("{"+"sessionId"+"}", encodeURIComponent(sessionId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/console/sessions
     * Get sessions
     * 
     * @param page  (optional, default to 1)
     * @param limit  (optional, default to 50)
     * @param fromTimestamp  (optional)
     * @param toTimestamp  (optional)
     * @param environment  (optional)
     * @return ConsoleListSessions200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun consoleListSessions(page: kotlin.Int? = 1, limit: kotlin.Int? = 50, fromTimestamp: java.time.OffsetDateTime? = null, toTimestamp: java.time.OffsetDateTime? = null, environment: kotlin.collections.List<kotlin.String>? = null) : ConsoleListSessions200Response = withContext(Dispatchers.IO) {
        val localVarResponse = consoleListSessionsWithHttpInfo(page = page, limit = limit, fromTimestamp = fromTimestamp, toTimestamp = toTimestamp, environment = environment)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ConsoleListSessions200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/console/sessions
     * Get sessions
     * 
     * @param page  (optional, default to 1)
     * @param limit  (optional, default to 50)
     * @param fromTimestamp  (optional)
     * @param toTimestamp  (optional)
     * @param environment  (optional)
     * @return ApiResponse<ConsoleListSessions200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun consoleListSessionsWithHttpInfo(page: kotlin.Int?, limit: kotlin.Int?, fromTimestamp: java.time.OffsetDateTime?, toTimestamp: java.time.OffsetDateTime?, environment: kotlin.collections.List<kotlin.String>?) : ApiResponse<ConsoleListSessions200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = consoleListSessionsRequestConfig(page = page, limit = limit, fromTimestamp = fromTimestamp, toTimestamp = toTimestamp, environment = environment)

        return@withContext request<Unit, ConsoleListSessions200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation consoleListSessions
     *
     * @param page  (optional, default to 1)
     * @param limit  (optional, default to 50)
     * @param fromTimestamp  (optional)
     * @param toTimestamp  (optional)
     * @param environment  (optional)
     * @return RequestConfig
     */
    fun consoleListSessionsRequestConfig(page: kotlin.Int?, limit: kotlin.Int?, fromTimestamp: java.time.OffsetDateTime?, toTimestamp: java.time.OffsetDateTime?, environment: kotlin.collections.List<kotlin.String>?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (fromTimestamp != null) {
                    put("fromTimestamp", listOf(parseDateToQueryString<java.time.OffsetDateTime>(fromTimestamp)))
                }
                if (toTimestamp != null) {
                    put("toTimestamp", listOf(parseDateToQueryString<java.time.OffsetDateTime>(toTimestamp)))
                }
                if (environment != null) {
                    put("environment", toMultiValue(environment.toList(), "multi"))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/console/sessions",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/iam/sessions
     * Api Controller Add Session
     * Add session for one user in one application. If there are other existing sessions, join the session into the list.
     * @param iamObjectSession The session object to add
     * @return IamControllersResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun iamApiControllerAddSession(iamObjectSession: IamObjectSession) : IamControllersResponse = withContext(Dispatchers.IO) {
        val localVarResponse = iamApiControllerAddSessionWithHttpInfo(iamObjectSession = iamObjectSession)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as IamControllersResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/iam/sessions
     * Api Controller Add Session
     * Add session for one user in one application. If there are other existing sessions, join the session into the list.
     * @param iamObjectSession The session object to add
     * @return ApiResponse<IamControllersResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun iamApiControllerAddSessionWithHttpInfo(iamObjectSession: IamObjectSession) : ApiResponse<IamControllersResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = iamApiControllerAddSessionRequestConfig(iamObjectSession = iamObjectSession)

        return@withContext request<IamObjectSession, IamControllersResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation iamApiControllerAddSession
     *
     * @param iamObjectSession The session object to add
     * @return RequestConfig
     */
    fun iamApiControllerAddSessionRequestConfig(iamObjectSession: IamObjectSession) : RequestConfig<IamObjectSession> {
        val localVariableBody = iamObjectSession
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/iam/sessions",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/iam/sessions/{id}
     * Api Controller Delete Session
     * Delete session for one user in one application.
     * @param id Resource identifier (owner/name)
     * @param iamObjectSession The session object to delete
     * @return IamControllersResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun iamApiControllerDeleteSession(id: kotlin.String, iamObjectSession: IamObjectSession) : IamControllersResponse = withContext(Dispatchers.IO) {
        val localVarResponse = iamApiControllerDeleteSessionWithHttpInfo(id = id, iamObjectSession = iamObjectSession)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as IamControllersResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/iam/sessions/{id}
     * Api Controller Delete Session
     * Delete session for one user in one application.
     * @param id Resource identifier (owner/name)
     * @param iamObjectSession The session object to delete
     * @return ApiResponse<IamControllersResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun iamApiControllerDeleteSessionWithHttpInfo(id: kotlin.String, iamObjectSession: IamObjectSession) : ApiResponse<IamControllersResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = iamApiControllerDeleteSessionRequestConfig(id = id, iamObjectSession = iamObjectSession)

        return@withContext request<IamObjectSession, IamControllersResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation iamApiControllerDeleteSession
     *
     * @param id Resource identifier (owner/name)
     * @param iamObjectSession The session object to delete
     * @return RequestConfig
     */
    fun iamApiControllerDeleteSessionRequestConfig(id: kotlin.String, iamObjectSession: IamObjectSession) : RequestConfig<IamObjectSession> {
        val localVariableBody = iamObjectSession
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/iam/sessions/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/iam/sessions
     * Api Controller Get Sessions
     * Get organization user sessions.
     * @param owner The organization name
     * @return kotlin.collections.List<kotlin.String>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun iamApiControllerGetSessions(owner: kotlin.String) : kotlin.collections.List<kotlin.String> = withContext(Dispatchers.IO) {
        val localVarResponse = iamApiControllerGetSessionsWithHttpInfo(owner = owner)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<kotlin.String>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/iam/sessions
     * Api Controller Get Sessions
     * Get organization user sessions.
     * @param owner The organization name
     * @return ApiResponse<kotlin.collections.List<kotlin.String>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun iamApiControllerGetSessionsWithHttpInfo(owner: kotlin.String) : ApiResponse<kotlin.collections.List<kotlin.String>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = iamApiControllerGetSessionsRequestConfig(owner = owner)

        return@withContext request<Unit, kotlin.collections.List<kotlin.String>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation iamApiControllerGetSessions
     *
     * @param owner The organization name
     * @return RequestConfig
     */
    fun iamApiControllerGetSessionsRequestConfig(owner: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("owner", listOf(owner.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/iam/sessions",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/iam/sessions/{id}
     * Api Controller Get Single Session
     * Get session for one user in one application.
     * @param id Resource identifier (owner/name)
     * @param sessionPkId The session ID in format: organization/user/application (e.g., built-in/admin/app-built-in)
     * @return kotlin.collections.List<kotlin.String>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun iamApiControllerGetSingleSession(id: kotlin.String, sessionPkId: kotlin.String) : kotlin.collections.List<kotlin.String> = withContext(Dispatchers.IO) {
        val localVarResponse = iamApiControllerGetSingleSessionWithHttpInfo(id = id, sessionPkId = sessionPkId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<kotlin.String>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/iam/sessions/{id}
     * Api Controller Get Single Session
     * Get session for one user in one application.
     * @param id Resource identifier (owner/name)
     * @param sessionPkId The session ID in format: organization/user/application (e.g., built-in/admin/app-built-in)
     * @return ApiResponse<kotlin.collections.List<kotlin.String>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun iamApiControllerGetSingleSessionWithHttpInfo(id: kotlin.String, sessionPkId: kotlin.String) : ApiResponse<kotlin.collections.List<kotlin.String>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = iamApiControllerGetSingleSessionRequestConfig(id = id, sessionPkId = sessionPkId)

        return@withContext request<Unit, kotlin.collections.List<kotlin.String>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation iamApiControllerGetSingleSession
     *
     * @param id Resource identifier (owner/name)
     * @param sessionPkId The session ID in format: organization/user/application (e.g., built-in/admin/app-built-in)
     * @return RequestConfig
     */
    fun iamApiControllerGetSingleSessionRequestConfig(id: kotlin.String, sessionPkId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("sessionPkId", listOf(sessionPkId.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/iam/sessions/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/iam/is-session-duplicated
     * Api Controller Is Session Duplicated
     * Check if there are other different sessions for one user in one application.
     * @param sessionPkId The session ID in format: organization/user/application (e.g., built-in/admin/app-built-in)
     * @param sessionId The specific session ID to check
     * @return kotlin.collections.List<kotlin.String>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun iamApiControllerIsSessionDuplicated(sessionPkId: kotlin.String, sessionId: kotlin.String) : kotlin.collections.List<kotlin.String> = withContext(Dispatchers.IO) {
        val localVarResponse = iamApiControllerIsSessionDuplicatedWithHttpInfo(sessionPkId = sessionPkId, sessionId = sessionId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<kotlin.String>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/iam/is-session-duplicated
     * Api Controller Is Session Duplicated
     * Check if there are other different sessions for one user in one application.
     * @param sessionPkId The session ID in format: organization/user/application (e.g., built-in/admin/app-built-in)
     * @param sessionId The specific session ID to check
     * @return ApiResponse<kotlin.collections.List<kotlin.String>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun iamApiControllerIsSessionDuplicatedWithHttpInfo(sessionPkId: kotlin.String, sessionId: kotlin.String) : ApiResponse<kotlin.collections.List<kotlin.String>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = iamApiControllerIsSessionDuplicatedRequestConfig(sessionPkId = sessionPkId, sessionId = sessionId)

        return@withContext request<Unit, kotlin.collections.List<kotlin.String>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation iamApiControllerIsSessionDuplicated
     *
     * @param sessionPkId The session ID in format: organization/user/application (e.g., built-in/admin/app-built-in)
     * @param sessionId The specific session ID to check
     * @return RequestConfig
     */
    fun iamApiControllerIsSessionDuplicatedRequestConfig(sessionPkId: kotlin.String, sessionId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("sessionPkId", listOf(sessionPkId.toString()))
                put("sessionId", listOf(sessionId.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/iam/is-session-duplicated",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /v1/iam/sessions/{id}
     * Api Controller Update Session
     * Update session for one user in one application.
     * @param id Resource identifier (owner/name)
     * @param iamObjectSession The session object to update
     * @return IamControllersResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun iamApiControllerUpdateSession(id: kotlin.String, iamObjectSession: IamObjectSession) : IamControllersResponse = withContext(Dispatchers.IO) {
        val localVarResponse = iamApiControllerUpdateSessionWithHttpInfo(id = id, iamObjectSession = iamObjectSession)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as IamControllersResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /v1/iam/sessions/{id}
     * Api Controller Update Session
     * Update session for one user in one application.
     * @param id Resource identifier (owner/name)
     * @param iamObjectSession The session object to update
     * @return ApiResponse<IamControllersResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun iamApiControllerUpdateSessionWithHttpInfo(id: kotlin.String, iamObjectSession: IamObjectSession) : ApiResponse<IamControllersResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = iamApiControllerUpdateSessionRequestConfig(id = id, iamObjectSession = iamObjectSession)

        return@withContext request<IamObjectSession, IamControllersResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation iamApiControllerUpdateSession
     *
     * @param id Resource identifier (owner/name)
     * @param iamObjectSession The session object to update
     * @return RequestConfig
     */
    fun iamApiControllerUpdateSessionRequestConfig(id: kotlin.String, iamObjectSession: IamObjectSession) : RequestConfig<IamObjectSession> {
        val localVariableBody = iamObjectSession
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/v1/iam/sessions/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
