/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.AnalyticsGetSharedWebsite200Response
import ai.hanzo.sdk.models.ChatGetShare200Response
import ai.hanzo.sdk.models.ChatGetShareLinkByconversationid200Response
import ai.hanzo.sdk.models.ChatPostShareByconversationidRequest

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class ShareApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * GET /v1/analytics/share/{shareId}
     * Get a shared website by share ID (no auth required)
     * 
     * @param shareId 
     * @return AnalyticsGetSharedWebsite200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsGetSharedWebsite(shareId: kotlin.String) : AnalyticsGetSharedWebsite200Response = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsGetSharedWebsiteWithHttpInfo(shareId = shareId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AnalyticsGetSharedWebsite200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/analytics/share/{shareId}
     * Get a shared website by share ID (no auth required)
     * 
     * @param shareId 
     * @return ApiResponse<AnalyticsGetSharedWebsite200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsGetSharedWebsiteWithHttpInfo(shareId: kotlin.String) : ApiResponse<AnalyticsGetSharedWebsite200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsGetSharedWebsiteRequestConfig(shareId = shareId)

        return@withContext request<Unit, AnalyticsGetSharedWebsite200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsGetSharedWebsite
     *
     * @param shareId 
     * @return RequestConfig
     */
    fun analyticsGetSharedWebsiteRequestConfig(shareId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/analytics/share/{shareId}".replace("{"+"shareId"+"}", encodeURIComponent(shareId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/chat/share/{shareId}
     * Delete a shared link
     * 
     * @param shareId 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatDeleteShareByshareid(shareId: kotlin.String) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = chatDeleteShareByshareidWithHttpInfo(shareId = shareId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/chat/share/{shareId}
     * Delete a shared link
     * 
     * @param shareId 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatDeleteShareByshareidWithHttpInfo(shareId: kotlin.String) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatDeleteShareByshareidRequestConfig(shareId = shareId)

        return@withContext request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatDeleteShareByshareid
     *
     * @param shareId 
     * @return RequestConfig
     */
    fun chatDeleteShareByshareidRequestConfig(shareId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/chat/share/{shareId}".replace("{"+"shareId"+"}", encodeURIComponent(shareId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/chat/share
     * List shared links
     * 
     * @param cursor  (optional)
     * @param pageSize  (optional, default to 10)
     * @param isPublic  (optional)
     * @param sortBy  (optional, default to "createdAt")
     * @param sortDirection  (optional, default to "desc")
     * @param search  (optional)
     * @return ChatGetShare200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatGetShare(cursor: kotlin.String? = null, pageSize: kotlin.Int? = 10, isPublic: kotlin.String? = null, sortBy: kotlin.String? = "createdAt", sortDirection: kotlin.String? = "desc", search: kotlin.String? = null) : ChatGetShare200Response = withContext(Dispatchers.IO) {
        val localVarResponse = chatGetShareWithHttpInfo(cursor = cursor, pageSize = pageSize, isPublic = isPublic, sortBy = sortBy, sortDirection = sortDirection, search = search)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ChatGetShare200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/chat/share
     * List shared links
     * 
     * @param cursor  (optional)
     * @param pageSize  (optional, default to 10)
     * @param isPublic  (optional)
     * @param sortBy  (optional, default to "createdAt")
     * @param sortDirection  (optional, default to "desc")
     * @param search  (optional)
     * @return ApiResponse<ChatGetShare200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatGetShareWithHttpInfo(cursor: kotlin.String?, pageSize: kotlin.Int?, isPublic: kotlin.String?, sortBy: kotlin.String?, sortDirection: kotlin.String?, search: kotlin.String?) : ApiResponse<ChatGetShare200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatGetShareRequestConfig(cursor = cursor, pageSize = pageSize, isPublic = isPublic, sortBy = sortBy, sortDirection = sortDirection, search = search)

        return@withContext request<Unit, ChatGetShare200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatGetShare
     *
     * @param cursor  (optional)
     * @param pageSize  (optional, default to 10)
     * @param isPublic  (optional)
     * @param sortBy  (optional, default to "createdAt")
     * @param sortDirection  (optional, default to "desc")
     * @param search  (optional)
     * @return RequestConfig
     */
    fun chatGetShareRequestConfig(cursor: kotlin.String?, pageSize: kotlin.Int?, isPublic: kotlin.String?, sortBy: kotlin.String?, sortDirection: kotlin.String?, search: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (cursor != null) {
                    put("cursor", listOf(cursor.toString()))
                }
                if (pageSize != null) {
                    put("pageSize", listOf(pageSize.toString()))
                }
                if (isPublic != null) {
                    put("isPublic", listOf(isPublic.toString()))
                }
                if (sortBy != null) {
                    put("sortBy", listOf(sortBy.toString()))
                }
                if (sortDirection != null) {
                    put("sortDirection", listOf(sortDirection.toString()))
                }
                if (search != null) {
                    put("search", listOf(search.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/chat/share",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/chat/share/{shareId}
     * Get shared conversation messages
     * 
     * @param shareId 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatGetShareByshareid(shareId: kotlin.String) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = chatGetShareByshareidWithHttpInfo(shareId = shareId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/chat/share/{shareId}
     * Get shared conversation messages
     * 
     * @param shareId 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatGetShareByshareidWithHttpInfo(shareId: kotlin.String) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatGetShareByshareidRequestConfig(shareId = shareId)

        return@withContext request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatGetShareByshareid
     *
     * @param shareId 
     * @return RequestConfig
     */
    fun chatGetShareByshareidRequestConfig(shareId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/chat/share/{shareId}".replace("{"+"shareId"+"}", encodeURIComponent(shareId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/chat/share/link/{conversationId}
     * Get shared link for a conversation
     * 
     * @param conversationId 
     * @return ChatGetShareLinkByconversationid200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatGetShareLinkByconversationid(conversationId: kotlin.String) : ChatGetShareLinkByconversationid200Response = withContext(Dispatchers.IO) {
        val localVarResponse = chatGetShareLinkByconversationidWithHttpInfo(conversationId = conversationId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ChatGetShareLinkByconversationid200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/chat/share/link/{conversationId}
     * Get shared link for a conversation
     * 
     * @param conversationId 
     * @return ApiResponse<ChatGetShareLinkByconversationid200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatGetShareLinkByconversationidWithHttpInfo(conversationId: kotlin.String) : ApiResponse<ChatGetShareLinkByconversationid200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatGetShareLinkByconversationidRequestConfig(conversationId = conversationId)

        return@withContext request<Unit, ChatGetShareLinkByconversationid200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatGetShareLinkByconversationid
     *
     * @param conversationId 
     * @return RequestConfig
     */
    fun chatGetShareLinkByconversationidRequestConfig(conversationId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/chat/share/link/{conversationId}".replace("{"+"conversationId"+"}", encodeURIComponent(conversationId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /v1/chat/share/{shareId}
     * Update a shared link
     * 
     * @param shareId 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatPatchShareByshareid(shareId: kotlin.String) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = chatPatchShareByshareidWithHttpInfo(shareId = shareId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /v1/chat/share/{shareId}
     * Update a shared link
     * 
     * @param shareId 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatPatchShareByshareidWithHttpInfo(shareId: kotlin.String) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatPatchShareByshareidRequestConfig(shareId = shareId)

        return@withContext request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatPatchShareByshareid
     *
     * @param shareId 
     * @return RequestConfig
     */
    fun chatPatchShareByshareidRequestConfig(shareId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/v1/chat/share/{shareId}".replace("{"+"shareId"+"}", encodeURIComponent(shareId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/chat/share/{conversationId}
     * Create a shared link
     * 
     * @param conversationId 
     * @param chatPostShareByconversationidRequest  (optional)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun chatPostShareByconversationid(conversationId: kotlin.String, chatPostShareByconversationidRequest: ChatPostShareByconversationidRequest? = null) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = chatPostShareByconversationidWithHttpInfo(conversationId = conversationId, chatPostShareByconversationidRequest = chatPostShareByconversationidRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/chat/share/{conversationId}
     * Create a shared link
     * 
     * @param conversationId 
     * @param chatPostShareByconversationidRequest  (optional)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun chatPostShareByconversationidWithHttpInfo(conversationId: kotlin.String, chatPostShareByconversationidRequest: ChatPostShareByconversationidRequest?) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = chatPostShareByconversationidRequestConfig(conversationId = conversationId, chatPostShareByconversationidRequest = chatPostShareByconversationidRequest)

        return@withContext request<ChatPostShareByconversationidRequest, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation chatPostShareByconversationid
     *
     * @param conversationId 
     * @param chatPostShareByconversationidRequest  (optional)
     * @return RequestConfig
     */
    fun chatPostShareByconversationidRequestConfig(conversationId: kotlin.String, chatPostShareByconversationidRequest: ChatPostShareByconversationidRequest?) : RequestConfig<ChatPostShareByconversationidRequest> {
        val localVariableBody = chatPostShareByconversationidRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/chat/share/{conversationId}".replace("{"+"conversationId"+"}", encodeURIComponent(conversationId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
