/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.ProjectsBuildSiteRequest
import ai.hanzo.sdk.models.ProjectsDeploySiteRequest
import ai.hanzo.sdk.models.ProjectsError
import ai.hanzo.sdk.models.ProjectsSite
import ai.hanzo.sdk.models.ProjectsSiteDeployResult

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class SitesApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * POST /v1/sites
     * Build a site from a brief and deploy it
     * Generate a self-contained, mobile-responsive static site from a natural-language &#x60;brief&#x60; (one inference call), then deploy it through the one publish core. Writes into the SAME org-scoped projects store as &#x60;/v1/projects&#x60;: it ensures a &#x60;project&#x60; (framework &#x60;static&#x60;) for the resolved slug and records a &#x60;deployment&#x60;. &#x60;/v1/sites&#x60; is the brief-build/raw-manifest entrypoint; &#x60;/v1/projects/{slug}/deploy&#x60; is the artifact/git entrypoint — one store, one publish core, not a second copy of project state. The brief is capped at 8 KiB. Responds &#x60;200&#x60; with the published-site result. 
     * @param projectsBuildSiteRequest 
     * @return ProjectsSiteDeployResult
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun projectsBuildSite(projectsBuildSiteRequest: ProjectsBuildSiteRequest) : ProjectsSiteDeployResult = withContext(Dispatchers.IO) {
        val localVarResponse = projectsBuildSiteWithHttpInfo(projectsBuildSiteRequest = projectsBuildSiteRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ProjectsSiteDeployResult
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/sites
     * Build a site from a brief and deploy it
     * Generate a self-contained, mobile-responsive static site from a natural-language &#x60;brief&#x60; (one inference call), then deploy it through the one publish core. Writes into the SAME org-scoped projects store as &#x60;/v1/projects&#x60;: it ensures a &#x60;project&#x60; (framework &#x60;static&#x60;) for the resolved slug and records a &#x60;deployment&#x60;. &#x60;/v1/sites&#x60; is the brief-build/raw-manifest entrypoint; &#x60;/v1/projects/{slug}/deploy&#x60; is the artifact/git entrypoint — one store, one publish core, not a second copy of project state. The brief is capped at 8 KiB. Responds &#x60;200&#x60; with the published-site result. 
     * @param projectsBuildSiteRequest 
     * @return ApiResponse<ProjectsSiteDeployResult?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun projectsBuildSiteWithHttpInfo(projectsBuildSiteRequest: ProjectsBuildSiteRequest) : ApiResponse<ProjectsSiteDeployResult?> = withContext(Dispatchers.IO) {
        val localVariableConfig = projectsBuildSiteRequestConfig(projectsBuildSiteRequest = projectsBuildSiteRequest)

        return@withContext request<ProjectsBuildSiteRequest, ProjectsSiteDeployResult>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation projectsBuildSite
     *
     * @param projectsBuildSiteRequest 
     * @return RequestConfig
     */
    fun projectsBuildSiteRequestConfig(projectsBuildSiteRequest: ProjectsBuildSiteRequest) : RequestConfig<ProjectsBuildSiteRequest> {
        val localVariableBody = projectsBuildSiteRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/sites",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/sites/deploy
     * Deploy a raw file manifest
     * Deploy a caller-supplied file manifest (the same &#x60;{path, content}&#x60; shape the brief build emits) through the one publish core. Every file passes the same guards as the brief build: index.html required at the root; absolute and traversal paths rejected; a mobile viewport tag injected into HTML when absent. Writes into the SAME org-scoped projects store as &#x60;/v1/projects&#x60;: it ensures a &#x60;project&#x60; (framework &#x60;static&#x60;) for the resolved slug and records a &#x60;deployment&#x60;. &#x60;/v1/sites&#x60; is the brief-build/raw-manifest entrypoint; &#x60;/v1/projects/{slug}/deploy&#x60; is the artifact/git entrypoint — one store, one publish core, not a second copy of project state. Responds &#x60;200&#x60; with the published-site result. 
     * @param projectsDeploySiteRequest 
     * @return ProjectsSiteDeployResult
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun projectsDeploySite(projectsDeploySiteRequest: ProjectsDeploySiteRequest) : ProjectsSiteDeployResult = withContext(Dispatchers.IO) {
        val localVarResponse = projectsDeploySiteWithHttpInfo(projectsDeploySiteRequest = projectsDeploySiteRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ProjectsSiteDeployResult
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/sites/deploy
     * Deploy a raw file manifest
     * Deploy a caller-supplied file manifest (the same &#x60;{path, content}&#x60; shape the brief build emits) through the one publish core. Every file passes the same guards as the brief build: index.html required at the root; absolute and traversal paths rejected; a mobile viewport tag injected into HTML when absent. Writes into the SAME org-scoped projects store as &#x60;/v1/projects&#x60;: it ensures a &#x60;project&#x60; (framework &#x60;static&#x60;) for the resolved slug and records a &#x60;deployment&#x60;. &#x60;/v1/sites&#x60; is the brief-build/raw-manifest entrypoint; &#x60;/v1/projects/{slug}/deploy&#x60; is the artifact/git entrypoint — one store, one publish core, not a second copy of project state. Responds &#x60;200&#x60; with the published-site result. 
     * @param projectsDeploySiteRequest 
     * @return ApiResponse<ProjectsSiteDeployResult?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun projectsDeploySiteWithHttpInfo(projectsDeploySiteRequest: ProjectsDeploySiteRequest) : ApiResponse<ProjectsSiteDeployResult?> = withContext(Dispatchers.IO) {
        val localVariableConfig = projectsDeploySiteRequestConfig(projectsDeploySiteRequest = projectsDeploySiteRequest)

        return@withContext request<ProjectsDeploySiteRequest, ProjectsSiteDeployResult>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation projectsDeploySite
     *
     * @param projectsDeploySiteRequest 
     * @return RequestConfig
     */
    fun projectsDeploySiteRequestConfig(projectsDeploySiteRequest: ProjectsDeploySiteRequest) : RequestConfig<ProjectsDeploySiteRequest> {
        val localVariableBody = projectsDeploySiteRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/sites/deploy",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/sites
     * List the org&#39;s live sites
     * List the org&#39;s &#x60;live&#x60; projects as sites at their canonical live URL &#x60;https://&lt;slug&gt;.&lt;apex&gt;&#x60;. Reads the SAME org-scoped projects store as &#x60;/v1/projects&#x60;; a project that is not &#x60;live&#x60; is omitted. 
     * @return kotlin.collections.List<ProjectsSite>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun projectsListSites() : kotlin.collections.List<ProjectsSite> = withContext(Dispatchers.IO) {
        val localVarResponse = projectsListSitesWithHttpInfo()

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<ProjectsSite>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/sites
     * List the org&#39;s live sites
     * List the org&#39;s &#x60;live&#x60; projects as sites at their canonical live URL &#x60;https://&lt;slug&gt;.&lt;apex&gt;&#x60;. Reads the SAME org-scoped projects store as &#x60;/v1/projects&#x60;; a project that is not &#x60;live&#x60; is omitted. 
     * @return ApiResponse<kotlin.collections.List<ProjectsSite>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun projectsListSitesWithHttpInfo() : ApiResponse<kotlin.collections.List<ProjectsSite>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = projectsListSitesRequestConfig()

        return@withContext request<Unit, kotlin.collections.List<ProjectsSite>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation projectsListSites
     *
     * @return RequestConfig
     */
    fun projectsListSitesRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/sites",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
