/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.KvStreamAdd201Response
import ai.hanzo.sdk.models.KvStreamAddRequest
import ai.hanzo.sdk.models.KvStreamInfo200Response
import ai.hanzo.sdk.models.KvStreamRead200Response
import ai.hanzo.sdk.models.MqError
import ai.hanzo.sdk.models.MqGetStreamMessages200Response
import ai.hanzo.sdk.models.MqListStreams200Response
import ai.hanzo.sdk.models.MqPurgeStream200Response
import ai.hanzo.sdk.models.MqPurgeStreamRequest
import ai.hanzo.sdk.models.MqStream
import ai.hanzo.sdk.models.MqStreamConfig
import ai.hanzo.sdk.models.PubsubError
import ai.hanzo.sdk.models.PubsubListStreams200Response
import ai.hanzo.sdk.models.PubsubStreamConfig
import ai.hanzo.sdk.models.PubsubStreamInfo

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class StreamsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * POST /v1/kv/streams/{key}/add
     * Add entry to stream
     * 
     * @param key 
     * @param kvStreamAddRequest 
     * @param namespace  (optional)
     * @return KvStreamAdd201Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun kvStreamAdd(key: kotlin.String, kvStreamAddRequest: KvStreamAddRequest, namespace: kotlin.String? = null) : KvStreamAdd201Response = withContext(Dispatchers.IO) {
        val localVarResponse = kvStreamAddWithHttpInfo(key = key, kvStreamAddRequest = kvStreamAddRequest, namespace = namespace)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as KvStreamAdd201Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/kv/streams/{key}/add
     * Add entry to stream
     * 
     * @param key 
     * @param kvStreamAddRequest 
     * @param namespace  (optional)
     * @return ApiResponse<KvStreamAdd201Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun kvStreamAddWithHttpInfo(key: kotlin.String, kvStreamAddRequest: KvStreamAddRequest, namespace: kotlin.String?) : ApiResponse<KvStreamAdd201Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = kvStreamAddRequestConfig(key = key, kvStreamAddRequest = kvStreamAddRequest, namespace = namespace)

        return@withContext request<KvStreamAddRequest, KvStreamAdd201Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation kvStreamAdd
     *
     * @param key 
     * @param kvStreamAddRequest 
     * @param namespace  (optional)
     * @return RequestConfig
     */
    fun kvStreamAddRequestConfig(key: kotlin.String, kvStreamAddRequest: KvStreamAddRequest, namespace: kotlin.String?) : RequestConfig<KvStreamAddRequest> {
        val localVariableBody = kvStreamAddRequest
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (namespace != null) {
                    put("namespace", listOf(namespace.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/kv/streams/{key}/add".replace("{"+"key"+"}", encodeURIComponent(key.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/kv/streams/{key}/info
     * Get stream info
     * 
     * @param key 
     * @param namespace  (optional)
     * @return KvStreamInfo200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun kvStreamInfo(key: kotlin.String, namespace: kotlin.String? = null) : KvStreamInfo200Response = withContext(Dispatchers.IO) {
        val localVarResponse = kvStreamInfoWithHttpInfo(key = key, namespace = namespace)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as KvStreamInfo200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/kv/streams/{key}/info
     * Get stream info
     * 
     * @param key 
     * @param namespace  (optional)
     * @return ApiResponse<KvStreamInfo200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun kvStreamInfoWithHttpInfo(key: kotlin.String, namespace: kotlin.String?) : ApiResponse<KvStreamInfo200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = kvStreamInfoRequestConfig(key = key, namespace = namespace)

        return@withContext request<Unit, KvStreamInfo200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation kvStreamInfo
     *
     * @param key 
     * @param namespace  (optional)
     * @return RequestConfig
     */
    fun kvStreamInfoRequestConfig(key: kotlin.String, namespace: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (namespace != null) {
                    put("namespace", listOf(namespace.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/kv/streams/{key}/info".replace("{"+"key"+"}", encodeURIComponent(key.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/kv/streams/{key}
     * Read stream entries
     * 
     * @param key 
     * @param start Start ID (- for beginning) (optional, default to "-")
     * @param end End ID (+ for latest) (optional, default to "+")
     * @param count  (optional, default to 100)
     * @param namespace  (optional)
     * @return KvStreamRead200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun kvStreamRead(key: kotlin.String, start: kotlin.String? = "-", end: kotlin.String? = "+", count: kotlin.Int? = 100, namespace: kotlin.String? = null) : KvStreamRead200Response = withContext(Dispatchers.IO) {
        val localVarResponse = kvStreamReadWithHttpInfo(key = key, start = start, end = end, count = count, namespace = namespace)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as KvStreamRead200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/kv/streams/{key}
     * Read stream entries
     * 
     * @param key 
     * @param start Start ID (- for beginning) (optional, default to "-")
     * @param end End ID (+ for latest) (optional, default to "+")
     * @param count  (optional, default to 100)
     * @param namespace  (optional)
     * @return ApiResponse<KvStreamRead200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun kvStreamReadWithHttpInfo(key: kotlin.String, start: kotlin.String?, end: kotlin.String?, count: kotlin.Int?, namespace: kotlin.String?) : ApiResponse<KvStreamRead200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = kvStreamReadRequestConfig(key = key, start = start, end = end, count = count, namespace = namespace)

        return@withContext request<Unit, KvStreamRead200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation kvStreamRead
     *
     * @param key 
     * @param start Start ID (- for beginning) (optional, default to "-")
     * @param end End ID (+ for latest) (optional, default to "+")
     * @param count  (optional, default to 100)
     * @param namespace  (optional)
     * @return RequestConfig
     */
    fun kvStreamReadRequestConfig(key: kotlin.String, start: kotlin.String?, end: kotlin.String?, count: kotlin.Int?, namespace: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (start != null) {
                    put("start", listOf(start.toString()))
                }
                if (end != null) {
                    put("end", listOf(end.toString()))
                }
                if (count != null) {
                    put("count", listOf(count.toString()))
                }
                if (namespace != null) {
                    put("namespace", listOf(namespace.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/kv/streams/{key}".replace("{"+"key"+"}", encodeURIComponent(key.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/mq/streams
     * Create stream
     * Creates a new JetStream stream with the specified configuration. Streams provide durable, replicated message storage with configurable retention policies. 
     * @param mqStreamConfig 
     * @return MqStream
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun mqCreateStream(mqStreamConfig: MqStreamConfig) : MqStream = withContext(Dispatchers.IO) {
        val localVarResponse = mqCreateStreamWithHttpInfo(mqStreamConfig = mqStreamConfig)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MqStream
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/mq/streams
     * Create stream
     * Creates a new JetStream stream with the specified configuration. Streams provide durable, replicated message storage with configurable retention policies. 
     * @param mqStreamConfig 
     * @return ApiResponse<MqStream?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun mqCreateStreamWithHttpInfo(mqStreamConfig: MqStreamConfig) : ApiResponse<MqStream?> = withContext(Dispatchers.IO) {
        val localVariableConfig = mqCreateStreamRequestConfig(mqStreamConfig = mqStreamConfig)

        return@withContext request<MqStreamConfig, MqStream>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation mqCreateStream
     *
     * @param mqStreamConfig 
     * @return RequestConfig
     */
    fun mqCreateStreamRequestConfig(mqStreamConfig: MqStreamConfig) : RequestConfig<MqStreamConfig> {
        val localVariableBody = mqStreamConfig
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/mq/streams",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/mq/streams/{name}
     * Delete stream
     * Deletes a stream and all its messages and consumers. This operation is irreversible. 
     * @param name Stream name.
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun mqDeleteStream(name: kotlin.String) : Unit = withContext(Dispatchers.IO) {
        val localVarResponse = mqDeleteStreamWithHttpInfo(name = name)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/mq/streams/{name}
     * Delete stream
     * Deletes a stream and all its messages and consumers. This operation is irreversible. 
     * @param name Stream name.
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun mqDeleteStreamWithHttpInfo(name: kotlin.String) : ApiResponse<Unit?> = withContext(Dispatchers.IO) {
        val localVariableConfig = mqDeleteStreamRequestConfig(name = name)

        return@withContext request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation mqDeleteStream
     *
     * @param name Stream name.
     * @return RequestConfig
     */
    fun mqDeleteStreamRequestConfig(name: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/mq/streams/{name}".replace("{"+"name"+"}", encodeURIComponent(name.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/mq/streams/{name}/messages/{seq}
     * Delete specific message
     * Deletes a specific message from the stream by sequence number. The sequence gap remains; subsequent messages are not renumbered. 
     * @param name Stream name.
     * @param seq Message sequence number.
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun mqDeleteStreamMessage(name: kotlin.String, seq: kotlin.Int) : Unit = withContext(Dispatchers.IO) {
        val localVarResponse = mqDeleteStreamMessageWithHttpInfo(name = name, seq = seq)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/mq/streams/{name}/messages/{seq}
     * Delete specific message
     * Deletes a specific message from the stream by sequence number. The sequence gap remains; subsequent messages are not renumbered. 
     * @param name Stream name.
     * @param seq Message sequence number.
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun mqDeleteStreamMessageWithHttpInfo(name: kotlin.String, seq: kotlin.Int) : ApiResponse<Unit?> = withContext(Dispatchers.IO) {
        val localVariableConfig = mqDeleteStreamMessageRequestConfig(name = name, seq = seq)

        return@withContext request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation mqDeleteStreamMessage
     *
     * @param name Stream name.
     * @param seq Message sequence number.
     * @return RequestConfig
     */
    fun mqDeleteStreamMessageRequestConfig(name: kotlin.String, seq: kotlin.Int) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/mq/streams/{name}/messages/{seq}".replace("{"+"name"+"}", encodeURIComponent(name.toString())).replace("{"+"seq"+"}", encodeURIComponent(seq.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/mq/streams/{name}
     * Get stream info
     * Returns stream configuration and current state including message count, byte size, and consumer count. 
     * @param name Stream name.
     * @return MqStream
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun mqGetStream(name: kotlin.String) : MqStream = withContext(Dispatchers.IO) {
        val localVarResponse = mqGetStreamWithHttpInfo(name = name)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MqStream
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/mq/streams/{name}
     * Get stream info
     * Returns stream configuration and current state including message count, byte size, and consumer count. 
     * @param name Stream name.
     * @return ApiResponse<MqStream?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun mqGetStreamWithHttpInfo(name: kotlin.String) : ApiResponse<MqStream?> = withContext(Dispatchers.IO) {
        val localVariableConfig = mqGetStreamRequestConfig(name = name)

        return@withContext request<Unit, MqStream>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation mqGetStream
     *
     * @param name Stream name.
     * @return RequestConfig
     */
    fun mqGetStreamRequestConfig(name: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/mq/streams/{name}".replace("{"+"name"+"}", encodeURIComponent(name.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/mq/streams/{name}/messages
     * Get stream messages
     * Retrieves messages from the stream by sequence number or subject. Use for direct message access without a consumer. 
     * @param name Stream name.
     * @param seq Get message at this sequence number. (optional)
     * @param lastBySubject Get last message for the given subject. (optional)
     * @param nextBySubject Get next message for the given subject (requires seq param as starting point).  (optional)
     * @param limit Maximum number of items to return. (optional, default to 100)
     * @return MqGetStreamMessages200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun mqGetStreamMessages(name: kotlin.String, seq: kotlin.Int? = null, lastBySubject: kotlin.String? = null, nextBySubject: kotlin.String? = null, limit: kotlin.Int? = 100) : MqGetStreamMessages200Response = withContext(Dispatchers.IO) {
        val localVarResponse = mqGetStreamMessagesWithHttpInfo(name = name, seq = seq, lastBySubject = lastBySubject, nextBySubject = nextBySubject, limit = limit)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MqGetStreamMessages200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/mq/streams/{name}/messages
     * Get stream messages
     * Retrieves messages from the stream by sequence number or subject. Use for direct message access without a consumer. 
     * @param name Stream name.
     * @param seq Get message at this sequence number. (optional)
     * @param lastBySubject Get last message for the given subject. (optional)
     * @param nextBySubject Get next message for the given subject (requires seq param as starting point).  (optional)
     * @param limit Maximum number of items to return. (optional, default to 100)
     * @return ApiResponse<MqGetStreamMessages200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun mqGetStreamMessagesWithHttpInfo(name: kotlin.String, seq: kotlin.Int?, lastBySubject: kotlin.String?, nextBySubject: kotlin.String?, limit: kotlin.Int?) : ApiResponse<MqGetStreamMessages200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = mqGetStreamMessagesRequestConfig(name = name, seq = seq, lastBySubject = lastBySubject, nextBySubject = nextBySubject, limit = limit)

        return@withContext request<Unit, MqGetStreamMessages200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation mqGetStreamMessages
     *
     * @param name Stream name.
     * @param seq Get message at this sequence number. (optional)
     * @param lastBySubject Get last message for the given subject. (optional)
     * @param nextBySubject Get next message for the given subject (requires seq param as starting point).  (optional)
     * @param limit Maximum number of items to return. (optional, default to 100)
     * @return RequestConfig
     */
    fun mqGetStreamMessagesRequestConfig(name: kotlin.String, seq: kotlin.Int?, lastBySubject: kotlin.String?, nextBySubject: kotlin.String?, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (seq != null) {
                    put("seq", listOf(seq.toString()))
                }
                if (lastBySubject != null) {
                    put("last_by_subject", listOf(lastBySubject.toString()))
                }
                if (nextBySubject != null) {
                    put("next_by_subject", listOf(nextBySubject.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/mq/streams/{name}/messages".replace("{"+"name"+"}", encodeURIComponent(name.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/mq/streams
     * List streams
     * Returns all JetStream streams for the authenticated account.
     * @param limit Maximum number of items to return. (optional, default to 100)
     * @param offset Number of items to skip. (optional, default to 0)
     * @return MqListStreams200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun mqListStreams(limit: kotlin.Int? = 100, offset: kotlin.Int? = 0) : MqListStreams200Response = withContext(Dispatchers.IO) {
        val localVarResponse = mqListStreamsWithHttpInfo(limit = limit, offset = offset)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MqListStreams200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/mq/streams
     * List streams
     * Returns all JetStream streams for the authenticated account.
     * @param limit Maximum number of items to return. (optional, default to 100)
     * @param offset Number of items to skip. (optional, default to 0)
     * @return ApiResponse<MqListStreams200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun mqListStreamsWithHttpInfo(limit: kotlin.Int?, offset: kotlin.Int?) : ApiResponse<MqListStreams200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = mqListStreamsRequestConfig(limit = limit, offset = offset)

        return@withContext request<Unit, MqListStreams200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation mqListStreams
     *
     * @param limit Maximum number of items to return. (optional, default to 100)
     * @param offset Number of items to skip. (optional, default to 0)
     * @return RequestConfig
     */
    fun mqListStreamsRequestConfig(limit: kotlin.Int?, offset: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (offset != null) {
                    put("offset", listOf(offset.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/mq/streams",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/mq/streams/{name}/purge
     * Purge stream messages
     * Removes all messages from the stream. Consumers are not deleted. Optionally filter by subject to purge only matching messages. 
     * @param name Stream name.
     * @param mqPurgeStreamRequest  (optional)
     * @return MqPurgeStream200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun mqPurgeStream(name: kotlin.String, mqPurgeStreamRequest: MqPurgeStreamRequest? = null) : MqPurgeStream200Response = withContext(Dispatchers.IO) {
        val localVarResponse = mqPurgeStreamWithHttpInfo(name = name, mqPurgeStreamRequest = mqPurgeStreamRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MqPurgeStream200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/mq/streams/{name}/purge
     * Purge stream messages
     * Removes all messages from the stream. Consumers are not deleted. Optionally filter by subject to purge only matching messages. 
     * @param name Stream name.
     * @param mqPurgeStreamRequest  (optional)
     * @return ApiResponse<MqPurgeStream200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun mqPurgeStreamWithHttpInfo(name: kotlin.String, mqPurgeStreamRequest: MqPurgeStreamRequest?) : ApiResponse<MqPurgeStream200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = mqPurgeStreamRequestConfig(name = name, mqPurgeStreamRequest = mqPurgeStreamRequest)

        return@withContext request<MqPurgeStreamRequest, MqPurgeStream200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation mqPurgeStream
     *
     * @param name Stream name.
     * @param mqPurgeStreamRequest  (optional)
     * @return RequestConfig
     */
    fun mqPurgeStreamRequestConfig(name: kotlin.String, mqPurgeStreamRequest: MqPurgeStreamRequest?) : RequestConfig<MqPurgeStreamRequest> {
        val localVariableBody = mqPurgeStreamRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/mq/streams/{name}/purge".replace("{"+"name"+"}", encodeURIComponent(name.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /v1/mq/streams/{name}
     * Update stream config
     * Updates an existing stream&#39;s configuration. Not all fields are mutable after creation (e.g., storage type cannot change). 
     * @param name Stream name.
     * @param mqStreamConfig 
     * @return MqStream
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun mqUpdateStream(name: kotlin.String, mqStreamConfig: MqStreamConfig) : MqStream = withContext(Dispatchers.IO) {
        val localVarResponse = mqUpdateStreamWithHttpInfo(name = name, mqStreamConfig = mqStreamConfig)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MqStream
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /v1/mq/streams/{name}
     * Update stream config
     * Updates an existing stream&#39;s configuration. Not all fields are mutable after creation (e.g., storage type cannot change). 
     * @param name Stream name.
     * @param mqStreamConfig 
     * @return ApiResponse<MqStream?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun mqUpdateStreamWithHttpInfo(name: kotlin.String, mqStreamConfig: MqStreamConfig) : ApiResponse<MqStream?> = withContext(Dispatchers.IO) {
        val localVariableConfig = mqUpdateStreamRequestConfig(name = name, mqStreamConfig = mqStreamConfig)

        return@withContext request<MqStreamConfig, MqStream>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation mqUpdateStream
     *
     * @param name Stream name.
     * @param mqStreamConfig 
     * @return RequestConfig
     */
    fun mqUpdateStreamRequestConfig(name: kotlin.String, mqStreamConfig: MqStreamConfig) : RequestConfig<MqStreamConfig> {
        val localVariableBody = mqStreamConfig
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/v1/mq/streams/{name}".replace("{"+"name"+"}", encodeURIComponent(name.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/pubsub/jetstream/streams
     * Create a stream
     * Create a new JetStream stream for persistent message storage.
     * @param pubsubStreamConfig 
     * @return PubsubStreamInfo
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun pubsubCreateStream(pubsubStreamConfig: PubsubStreamConfig) : PubsubStreamInfo = withContext(Dispatchers.IO) {
        val localVarResponse = pubsubCreateStreamWithHttpInfo(pubsubStreamConfig = pubsubStreamConfig)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PubsubStreamInfo
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/pubsub/jetstream/streams
     * Create a stream
     * Create a new JetStream stream for persistent message storage.
     * @param pubsubStreamConfig 
     * @return ApiResponse<PubsubStreamInfo?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun pubsubCreateStreamWithHttpInfo(pubsubStreamConfig: PubsubStreamConfig) : ApiResponse<PubsubStreamInfo?> = withContext(Dispatchers.IO) {
        val localVariableConfig = pubsubCreateStreamRequestConfig(pubsubStreamConfig = pubsubStreamConfig)

        return@withContext request<PubsubStreamConfig, PubsubStreamInfo>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation pubsubCreateStream
     *
     * @param pubsubStreamConfig 
     * @return RequestConfig
     */
    fun pubsubCreateStreamRequestConfig(pubsubStreamConfig: PubsubStreamConfig) : RequestConfig<PubsubStreamConfig> {
        val localVariableBody = pubsubStreamConfig
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/pubsub/jetstream/streams",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/pubsub/jetstream/streams/{stream}
     * Delete a stream
     * 
     * @param stream 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun pubsubDeleteStream(stream: kotlin.String) : Unit = withContext(Dispatchers.IO) {
        val localVarResponse = pubsubDeleteStreamWithHttpInfo(stream = stream)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/pubsub/jetstream/streams/{stream}
     * Delete a stream
     * 
     * @param stream 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun pubsubDeleteStreamWithHttpInfo(stream: kotlin.String) : ApiResponse<Unit?> = withContext(Dispatchers.IO) {
        val localVariableConfig = pubsubDeleteStreamRequestConfig(stream = stream)

        return@withContext request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation pubsubDeleteStream
     *
     * @param stream 
     * @return RequestConfig
     */
    fun pubsubDeleteStreamRequestConfig(stream: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/pubsub/jetstream/streams/{stream}".replace("{"+"stream"+"}", encodeURIComponent(stream.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/pubsub/jetstream/streams/{stream}
     * Get stream info
     * 
     * @param stream 
     * @return PubsubStreamInfo
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun pubsubGetStream(stream: kotlin.String) : PubsubStreamInfo = withContext(Dispatchers.IO) {
        val localVarResponse = pubsubGetStreamWithHttpInfo(stream = stream)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PubsubStreamInfo
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/pubsub/jetstream/streams/{stream}
     * Get stream info
     * 
     * @param stream 
     * @return ApiResponse<PubsubStreamInfo?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun pubsubGetStreamWithHttpInfo(stream: kotlin.String) : ApiResponse<PubsubStreamInfo?> = withContext(Dispatchers.IO) {
        val localVariableConfig = pubsubGetStreamRequestConfig(stream = stream)

        return@withContext request<Unit, PubsubStreamInfo>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation pubsubGetStream
     *
     * @param stream 
     * @return RequestConfig
     */
    fun pubsubGetStreamRequestConfig(stream: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/pubsub/jetstream/streams/{stream}".replace("{"+"stream"+"}", encodeURIComponent(stream.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/pubsub/jetstream/streams
     * List streams
     * List all JetStream streams.
     * @return PubsubListStreams200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun pubsubListStreams() : PubsubListStreams200Response = withContext(Dispatchers.IO) {
        val localVarResponse = pubsubListStreamsWithHttpInfo()

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PubsubListStreams200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/pubsub/jetstream/streams
     * List streams
     * List all JetStream streams.
     * @return ApiResponse<PubsubListStreams200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun pubsubListStreamsWithHttpInfo() : ApiResponse<PubsubListStreams200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = pubsubListStreamsRequestConfig()

        return@withContext request<Unit, PubsubListStreams200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation pubsubListStreams
     *
     * @return RequestConfig
     */
    fun pubsubListStreamsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/pubsub/jetstream/streams",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /v1/pubsub/jetstream/streams/{stream}
     * Update stream config
     * 
     * @param stream 
     * @param pubsubStreamConfig 
     * @return PubsubStreamInfo
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun pubsubUpdateStream(stream: kotlin.String, pubsubStreamConfig: PubsubStreamConfig) : PubsubStreamInfo = withContext(Dispatchers.IO) {
        val localVarResponse = pubsubUpdateStreamWithHttpInfo(stream = stream, pubsubStreamConfig = pubsubStreamConfig)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PubsubStreamInfo
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /v1/pubsub/jetstream/streams/{stream}
     * Update stream config
     * 
     * @param stream 
     * @param pubsubStreamConfig 
     * @return ApiResponse<PubsubStreamInfo?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun pubsubUpdateStreamWithHttpInfo(stream: kotlin.String, pubsubStreamConfig: PubsubStreamConfig) : ApiResponse<PubsubStreamInfo?> = withContext(Dispatchers.IO) {
        val localVariableConfig = pubsubUpdateStreamRequestConfig(stream = stream, pubsubStreamConfig = pubsubStreamConfig)

        return@withContext request<PubsubStreamConfig, PubsubStreamInfo>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation pubsubUpdateStream
     *
     * @param stream 
     * @param pubsubStreamConfig 
     * @return RequestConfig
     */
    fun pubsubUpdateStreamRequestConfig(stream: kotlin.String, pubsubStreamConfig: PubsubStreamConfig) : RequestConfig<PubsubStreamConfig> {
        val localVariableBody = pubsubStreamConfig
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/v1/pubsub/jetstream/streams/{stream}".replace("{"+"stream"+"}", encodeURIComponent(stream.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
