/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.MqError
import ai.hanzo.sdk.models.MqListSubjects200Response
import ai.hanzo.sdk.models.MqSubjectInfo

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class SubjectsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * GET /v1/mq/subjects/{subject}/info
     * Get subject info
     * Returns detailed information about a specific subject, including subscriber count and message throughput. 
     * @param subject 
     * @return MqSubjectInfo
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun mqGetSubjectInfo(subject: kotlin.String) : MqSubjectInfo = withContext(Dispatchers.IO) {
        val localVarResponse = mqGetSubjectInfoWithHttpInfo(subject = subject)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MqSubjectInfo
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/mq/subjects/{subject}/info
     * Get subject info
     * Returns detailed information about a specific subject, including subscriber count and message throughput. 
     * @param subject 
     * @return ApiResponse<MqSubjectInfo?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun mqGetSubjectInfoWithHttpInfo(subject: kotlin.String) : ApiResponse<MqSubjectInfo?> = withContext(Dispatchers.IO) {
        val localVariableConfig = mqGetSubjectInfoRequestConfig(subject = subject)

        return@withContext request<Unit, MqSubjectInfo>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation mqGetSubjectInfo
     *
     * @param subject 
     * @return RequestConfig
     */
    fun mqGetSubjectInfoRequestConfig(subject: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/mq/subjects/{subject}/info".replace("{"+"subject"+"}", encodeURIComponent(subject.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/mq/subjects
     * List active subjects
     * Returns all active subjects visible to the authenticated account, with subscriber counts and message rates. 
     * @param limit Maximum number of items to return. (optional, default to 100)
     * @param offset Number of items to skip. (optional, default to 0)
     * @param filter Subject filter pattern (supports wildcards). (optional)
     * @return MqListSubjects200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun mqListSubjects(limit: kotlin.Int? = 100, offset: kotlin.Int? = 0, filter: kotlin.String? = null) : MqListSubjects200Response = withContext(Dispatchers.IO) {
        val localVarResponse = mqListSubjectsWithHttpInfo(limit = limit, offset = offset, filter = filter)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MqListSubjects200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/mq/subjects
     * List active subjects
     * Returns all active subjects visible to the authenticated account, with subscriber counts and message rates. 
     * @param limit Maximum number of items to return. (optional, default to 100)
     * @param offset Number of items to skip. (optional, default to 0)
     * @param filter Subject filter pattern (supports wildcards). (optional)
     * @return ApiResponse<MqListSubjects200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun mqListSubjectsWithHttpInfo(limit: kotlin.Int?, offset: kotlin.Int?, filter: kotlin.String?) : ApiResponse<MqListSubjects200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = mqListSubjectsRequestConfig(limit = limit, offset = offset, filter = filter)

        return@withContext request<Unit, MqListSubjects200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation mqListSubjects
     *
     * @param limit Maximum number of items to return. (optional, default to 100)
     * @param offset Number of items to skip. (optional, default to 0)
     * @param filter Subject filter pattern (supports wildcards). (optional)
     * @return RequestConfig
     */
    fun mqListSubjectsRequestConfig(limit: kotlin.Int?, offset: kotlin.Int?, filter: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (offset != null) {
                    put("offset", listOf(offset.toString()))
                }
                if (filter != null) {
                    put("filter", listOf(filter.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/mq/subjects",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
