/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.MqError
import ai.hanzo.sdk.models.MqMessage
import ai.hanzo.sdk.models.PubsubMessage

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class SubscribeApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * GET /v1/mq/subscribe/{subject}
     * Subscribe to subject via SSE
     * Opens a Server-Sent Events stream for messages on the given subject. Supports NATS wildcard tokens: &#x60;*&#x60; matches a single token, &#x60;&gt;&#x60; matches one or more tokens. The connection stays open until the client disconnects. 
     * @param subject Subject to subscribe to. Supports wildcards (&#x60;events.*&#x60;, &#x60;logs.&gt;&#x60;). 
     * @param queue Queue group name for load-balanced delivery. (optional)
     * @return MqMessage
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun mqSubscribe(subject: kotlin.String, queue: kotlin.String? = null) : MqMessage = withContext(Dispatchers.IO) {
        val localVarResponse = mqSubscribeWithHttpInfo(subject = subject, queue = queue)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MqMessage
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/mq/subscribe/{subject}
     * Subscribe to subject via SSE
     * Opens a Server-Sent Events stream for messages on the given subject. Supports NATS wildcard tokens: &#x60;*&#x60; matches a single token, &#x60;&gt;&#x60; matches one or more tokens. The connection stays open until the client disconnects. 
     * @param subject Subject to subscribe to. Supports wildcards (&#x60;events.*&#x60;, &#x60;logs.&gt;&#x60;). 
     * @param queue Queue group name for load-balanced delivery. (optional)
     * @return ApiResponse<MqMessage?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun mqSubscribeWithHttpInfo(subject: kotlin.String, queue: kotlin.String?) : ApiResponse<MqMessage?> = withContext(Dispatchers.IO) {
        val localVariableConfig = mqSubscribeRequestConfig(subject = subject, queue = queue)

        return@withContext request<Unit, MqMessage>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation mqSubscribe
     *
     * @param subject Subject to subscribe to. Supports wildcards (&#x60;events.*&#x60;, &#x60;logs.&gt;&#x60;). 
     * @param queue Queue group name for load-balanced delivery. (optional)
     * @return RequestConfig
     */
    fun mqSubscribeRequestConfig(subject: kotlin.String, queue: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (queue != null) {
                    put("queue", listOf(queue.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/mq/subscribe/{subject}".replace("{"+"subject"+"}", encodeURIComponent(subject.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/pubsub/subscribe
     * Subscribe to a subject (SSE)
     * Subscribe to messages on a subject using Server-Sent Events. Supports wildcard subscriptions (&#x60;&gt;&#x60; for multi-level, &#x60;*&#x60; for single-level). 
     * @param subject Subject to subscribe to (supports wildcards)
     * @param queue Queue group name for load-balanced delivery (optional)
     * @return PubsubMessage
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun pubsubSubscribe(subject: kotlin.String, queue: kotlin.String? = null) : PubsubMessage = withContext(Dispatchers.IO) {
        val localVarResponse = pubsubSubscribeWithHttpInfo(subject = subject, queue = queue)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PubsubMessage
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/pubsub/subscribe
     * Subscribe to a subject (SSE)
     * Subscribe to messages on a subject using Server-Sent Events. Supports wildcard subscriptions (&#x60;&gt;&#x60; for multi-level, &#x60;*&#x60; for single-level). 
     * @param subject Subject to subscribe to (supports wildcards)
     * @param queue Queue group name for load-balanced delivery (optional)
     * @return ApiResponse<PubsubMessage?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun pubsubSubscribeWithHttpInfo(subject: kotlin.String, queue: kotlin.String?) : ApiResponse<PubsubMessage?> = withContext(Dispatchers.IO) {
        val localVariableConfig = pubsubSubscribeRequestConfig(subject = subject, queue = queue)

        return@withContext request<Unit, PubsubMessage>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation pubsubSubscribe
     *
     * @param subject Subject to subscribe to (supports wildcards)
     * @param queue Queue group name for load-balanced delivery (optional)
     * @return RequestConfig
     */
    fun pubsubSubscribeRequestConfig(subject: kotlin.String, queue: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("subject", listOf(subject.toString()))
                if (queue != null) {
                    put("queue", listOf(queue.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/pubsub/subscribe",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
