/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.InlineObject2
import ai.hanzo.sdk.models.InlineObject3
import ai.hanzo.sdk.models.SearchListTasks200Response
import ai.hanzo.sdk.models.SearchResponseError
import ai.hanzo.sdk.models.SearchSummarizedTaskView
import ai.hanzo.sdk.models.SearchTaskView

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class TasksApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * POST /v1/search/tasks/cancel
     * Cancel enqueued or processing tasks
     * 
     * @param uids  (optional)
     * @param statuses  (optional)
     * @param types  (optional)
     * @param indexUids  (optional)
     * @return SearchSummarizedTaskView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun searchCancelTasks(uids: kotlin.String? = null, statuses: kotlin.String? = null, types: kotlin.String? = null, indexUids: kotlin.String? = null) : SearchSummarizedTaskView = withContext(Dispatchers.IO) {
        val localVarResponse = searchCancelTasksWithHttpInfo(uids = uids, statuses = statuses, types = types, indexUids = indexUids)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SearchSummarizedTaskView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/search/tasks/cancel
     * Cancel enqueued or processing tasks
     * 
     * @param uids  (optional)
     * @param statuses  (optional)
     * @param types  (optional)
     * @param indexUids  (optional)
     * @return ApiResponse<SearchSummarizedTaskView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun searchCancelTasksWithHttpInfo(uids: kotlin.String?, statuses: kotlin.String?, types: kotlin.String?, indexUids: kotlin.String?) : ApiResponse<SearchSummarizedTaskView?> = withContext(Dispatchers.IO) {
        val localVariableConfig = searchCancelTasksRequestConfig(uids = uids, statuses = statuses, types = types, indexUids = indexUids)

        return@withContext request<Unit, SearchSummarizedTaskView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation searchCancelTasks
     *
     * @param uids  (optional)
     * @param statuses  (optional)
     * @param types  (optional)
     * @param indexUids  (optional)
     * @return RequestConfig
     */
    fun searchCancelTasksRequestConfig(uids: kotlin.String?, statuses: kotlin.String?, types: kotlin.String?, indexUids: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (uids != null) {
                    put("uids", listOf(uids.toString()))
                }
                if (statuses != null) {
                    put("statuses", listOf(statuses.toString()))
                }
                if (types != null) {
                    put("types", listOf(types.toString()))
                }
                if (indexUids != null) {
                    put("indexUids", listOf(indexUids.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/search/tasks/cancel",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/search/tasks
     * Delete completed tasks
     * 
     * @param uids  (optional)
     * @param statuses  (optional)
     * @param types  (optional)
     * @param indexUids  (optional)
     * @return SearchSummarizedTaskView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun searchDeleteTasks(uids: kotlin.String? = null, statuses: kotlin.String? = null, types: kotlin.String? = null, indexUids: kotlin.String? = null) : SearchSummarizedTaskView = withContext(Dispatchers.IO) {
        val localVarResponse = searchDeleteTasksWithHttpInfo(uids = uids, statuses = statuses, types = types, indexUids = indexUids)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SearchSummarizedTaskView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/search/tasks
     * Delete completed tasks
     * 
     * @param uids  (optional)
     * @param statuses  (optional)
     * @param types  (optional)
     * @param indexUids  (optional)
     * @return ApiResponse<SearchSummarizedTaskView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun searchDeleteTasksWithHttpInfo(uids: kotlin.String?, statuses: kotlin.String?, types: kotlin.String?, indexUids: kotlin.String?) : ApiResponse<SearchSummarizedTaskView?> = withContext(Dispatchers.IO) {
        val localVariableConfig = searchDeleteTasksRequestConfig(uids = uids, statuses = statuses, types = types, indexUids = indexUids)

        return@withContext request<Unit, SearchSummarizedTaskView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation searchDeleteTasks
     *
     * @param uids  (optional)
     * @param statuses  (optional)
     * @param types  (optional)
     * @param indexUids  (optional)
     * @return RequestConfig
     */
    fun searchDeleteTasksRequestConfig(uids: kotlin.String?, statuses: kotlin.String?, types: kotlin.String?, indexUids: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (uids != null) {
                    put("uids", listOf(uids.toString()))
                }
                if (statuses != null) {
                    put("statuses", listOf(statuses.toString()))
                }
                if (types != null) {
                    put("types", listOf(types.toString()))
                }
                if (indexUids != null) {
                    put("indexUids", listOf(indexUids.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/search/tasks",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/search/tasks/{taskUid}
     * Get task details
     * 
     * @param taskUid 
     * @return SearchTaskView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun searchGetTask(taskUid: kotlin.Int) : SearchTaskView = withContext(Dispatchers.IO) {
        val localVarResponse = searchGetTaskWithHttpInfo(taskUid = taskUid)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SearchTaskView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/search/tasks/{taskUid}
     * Get task details
     * 
     * @param taskUid 
     * @return ApiResponse<SearchTaskView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun searchGetTaskWithHttpInfo(taskUid: kotlin.Int) : ApiResponse<SearchTaskView?> = withContext(Dispatchers.IO) {
        val localVariableConfig = searchGetTaskRequestConfig(taskUid = taskUid)

        return@withContext request<Unit, SearchTaskView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation searchGetTask
     *
     * @param taskUid 
     * @return RequestConfig
     */
    fun searchGetTaskRequestConfig(taskUid: kotlin.Int) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/search/tasks/{taskUid}".replace("{"+"taskUid"+"}", encodeURIComponent(taskUid.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/search/tasks
     * List all tasks
     * 
     * @param limit  (optional, default to 20)
     * @param from Task UID to start from (optional)
     * @param uids Comma-separated task UIDs (optional)
     * @param statuses Comma-separated statuses (enqueued, processing, succeeded, failed, canceled) (optional)
     * @param types Comma-separated task types (optional)
     * @param indexUids Comma-separated index UIDs (optional)
     * @return SearchListTasks200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun searchListTasks(limit: kotlin.Int? = 20, from: kotlin.Int? = null, uids: kotlin.String? = null, statuses: kotlin.String? = null, types: kotlin.String? = null, indexUids: kotlin.String? = null) : SearchListTasks200Response = withContext(Dispatchers.IO) {
        val localVarResponse = searchListTasksWithHttpInfo(limit = limit, from = from, uids = uids, statuses = statuses, types = types, indexUids = indexUids)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SearchListTasks200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/search/tasks
     * List all tasks
     * 
     * @param limit  (optional, default to 20)
     * @param from Task UID to start from (optional)
     * @param uids Comma-separated task UIDs (optional)
     * @param statuses Comma-separated statuses (enqueued, processing, succeeded, failed, canceled) (optional)
     * @param types Comma-separated task types (optional)
     * @param indexUids Comma-separated index UIDs (optional)
     * @return ApiResponse<SearchListTasks200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun searchListTasksWithHttpInfo(limit: kotlin.Int?, from: kotlin.Int?, uids: kotlin.String?, statuses: kotlin.String?, types: kotlin.String?, indexUids: kotlin.String?) : ApiResponse<SearchListTasks200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = searchListTasksRequestConfig(limit = limit, from = from, uids = uids, statuses = statuses, types = types, indexUids = indexUids)

        return@withContext request<Unit, SearchListTasks200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation searchListTasks
     *
     * @param limit  (optional, default to 20)
     * @param from Task UID to start from (optional)
     * @param uids Comma-separated task UIDs (optional)
     * @param statuses Comma-separated statuses (enqueued, processing, succeeded, failed, canceled) (optional)
     * @param types Comma-separated task types (optional)
     * @param indexUids Comma-separated index UIDs (optional)
     * @return RequestConfig
     */
    fun searchListTasksRequestConfig(limit: kotlin.Int?, from: kotlin.Int?, uids: kotlin.String?, statuses: kotlin.String?, types: kotlin.String?, indexUids: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (from != null) {
                    put("from", listOf(from.toString()))
                }
                if (uids != null) {
                    put("uids", listOf(uids.toString()))
                }
                if (statuses != null) {
                    put("statuses", listOf(statuses.toString()))
                }
                if (types != null) {
                    put("types", listOf(types.toString()))
                }
                if (indexUids != null) {
                    put("indexUids", listOf(indexUids.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/search/tasks",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/tasks/events
     * Realtime event stream (SSE, identity-gated)
     * 
     * @return kotlin.String
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun tasksTasksEvents() : kotlin.String = withContext(Dispatchers.IO) {
        val localVarResponse = tasksTasksEventsWithHttpInfo()

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.String
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/tasks/events
     * Realtime event stream (SSE, identity-gated)
     * 
     * @return ApiResponse<kotlin.String?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun tasksTasksEventsWithHttpInfo() : ApiResponse<kotlin.String?> = withContext(Dispatchers.IO) {
        val localVariableConfig = tasksTasksEventsRequestConfig()

        return@withContext request<Unit, kotlin.String>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation tasksTasksEvents
     *
     * @return RequestConfig
     */
    fun tasksTasksEventsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/tasks/events",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/tasks/{resource}
     * Engine JSON API (namespaces, workflows, activities, …), identity-gated
     * 
     * @param resource &#39;Engine resource path (e.g. namespaces, nexus)&#39;
     * @return kotlin.collections.Map<kotlin.String, kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun tasksTasksGet(resource: kotlin.String) : kotlin.collections.Map<kotlin.String, kotlin.Any> = withContext(Dispatchers.IO) {
        val localVarResponse = tasksTasksGetWithHttpInfo(resource = resource)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Map<kotlin.String, kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/tasks/{resource}
     * Engine JSON API (namespaces, workflows, activities, …), identity-gated
     * 
     * @param resource &#39;Engine resource path (e.g. namespaces, nexus)&#39;
     * @return ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun tasksTasksGetWithHttpInfo(resource: kotlin.String) : ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = tasksTasksGetRequestConfig(resource = resource)

        return@withContext request<Unit, kotlin.collections.Map<kotlin.String, kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation tasksTasksGet
     *
     * @param resource &#39;Engine resource path (e.g. namespaces, nexus)&#39;
     * @return RequestConfig
     */
    fun tasksTasksGetRequestConfig(resource: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/tasks/{resource}".replace("{"+"resource"+"}", encodeURIComponent(resource.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/tasks/mcp
     * Tasks MCP tool surface (JSON-RPC, identity-gated)
     * 
     * @param requestBody 
     * @return kotlin.collections.Map<kotlin.String, kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun tasksTasksMcp(requestBody: kotlin.collections.Map<kotlin.String, kotlin.Any?>) : kotlin.collections.Map<kotlin.String, kotlin.Any> = withContext(Dispatchers.IO) {
        val localVarResponse = tasksTasksMcpWithHttpInfo(requestBody = requestBody)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Map<kotlin.String, kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/tasks/mcp
     * Tasks MCP tool surface (JSON-RPC, identity-gated)
     * 
     * @param requestBody 
     * @return ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun tasksTasksMcpWithHttpInfo(requestBody: kotlin.collections.Map<kotlin.String, kotlin.Any?>) : ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = tasksTasksMcpRequestConfig(requestBody = requestBody)

        return@withContext request<kotlin.collections.Map<kotlin.String, kotlin.Any?>, kotlin.collections.Map<kotlin.String, kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation tasksTasksMcp
     *
     * @param requestBody 
     * @return RequestConfig
     */
    fun tasksTasksMcpRequestConfig(requestBody: kotlin.collections.Map<kotlin.String, kotlin.Any?>) : RequestConfig<kotlin.collections.Map<kotlin.String, kotlin.Any?>> {
        val localVariableBody = requestBody
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/tasks/mcp",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/tasks/{resource}
     * Engine JSON API write (identity-gated)
     * 
     * @param resource 
     * @param requestBody 
     * @return kotlin.collections.Map<kotlin.String, kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun tasksTasksPost(resource: kotlin.String, requestBody: kotlin.collections.Map<kotlin.String, kotlin.Any>) : kotlin.collections.Map<kotlin.String, kotlin.Any> = withContext(Dispatchers.IO) {
        val localVarResponse = tasksTasksPostWithHttpInfo(resource = resource, requestBody = requestBody)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Map<kotlin.String, kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/tasks/{resource}
     * Engine JSON API write (identity-gated)
     * 
     * @param resource 
     * @param requestBody 
     * @return ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun tasksTasksPostWithHttpInfo(resource: kotlin.String, requestBody: kotlin.collections.Map<kotlin.String, kotlin.Any>) : ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = tasksTasksPostRequestConfig(resource = resource, requestBody = requestBody)

        return@withContext request<kotlin.collections.Map<kotlin.String, kotlin.Any>, kotlin.collections.Map<kotlin.String, kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation tasksTasksPost
     *
     * @param resource 
     * @param requestBody 
     * @return RequestConfig
     */
    fun tasksTasksPostRequestConfig(resource: kotlin.String, requestBody: kotlin.collections.Map<kotlin.String, kotlin.Any>) : RequestConfig<kotlin.collections.Map<kotlin.String, kotlin.Any>> {
        val localVariableBody = requestBody
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/tasks/{resource}".replace("{"+"resource"+"}", encodeURIComponent(resource.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
