/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.AnalyticsAddTeamUserRequest
import ai.hanzo.sdk.models.AnalyticsCreateTeamRequest
import ai.hanzo.sdk.models.AnalyticsJoinTeamRequest
import ai.hanzo.sdk.models.AnalyticsTeam
import ai.hanzo.sdk.models.AnalyticsTeamUser
import ai.hanzo.sdk.models.AnalyticsUpdateTeamRequest
import ai.hanzo.sdk.models.AnalyticsUpdateTeamUserRequest
import ai.hanzo.sdk.models.AnalyticsWebsite
import ai.hanzo.sdk.models.GatewayCreateTeamRequest
import ai.hanzo.sdk.models.GatewayTeam

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class TeamsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * POST /v1/analytics/teams/{teamId}/users
     * Add a user to a team
     * 
     * @param teamId 
     * @param analyticsAddTeamUserRequest 
     * @return AnalyticsTeamUser
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsAddTeamUser(teamId: java.util.UUID, analyticsAddTeamUserRequest: AnalyticsAddTeamUserRequest) : AnalyticsTeamUser = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsAddTeamUserWithHttpInfo(teamId = teamId, analyticsAddTeamUserRequest = analyticsAddTeamUserRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AnalyticsTeamUser
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/analytics/teams/{teamId}/users
     * Add a user to a team
     * 
     * @param teamId 
     * @param analyticsAddTeamUserRequest 
     * @return ApiResponse<AnalyticsTeamUser?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsAddTeamUserWithHttpInfo(teamId: java.util.UUID, analyticsAddTeamUserRequest: AnalyticsAddTeamUserRequest) : ApiResponse<AnalyticsTeamUser?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsAddTeamUserRequestConfig(teamId = teamId, analyticsAddTeamUserRequest = analyticsAddTeamUserRequest)

        return@withContext request<AnalyticsAddTeamUserRequest, AnalyticsTeamUser>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsAddTeamUser
     *
     * @param teamId 
     * @param analyticsAddTeamUserRequest 
     * @return RequestConfig
     */
    fun analyticsAddTeamUserRequestConfig(teamId: java.util.UUID, analyticsAddTeamUserRequest: AnalyticsAddTeamUserRequest) : RequestConfig<AnalyticsAddTeamUserRequest> {
        val localVariableBody = analyticsAddTeamUserRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/analytics/teams/{teamId}/users".replace("{"+"teamId"+"}", encodeURIComponent(teamId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/analytics/teams
     * Create a new team
     * 
     * @param analyticsCreateTeamRequest 
     * @return AnalyticsTeam
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsCreateTeam(analyticsCreateTeamRequest: AnalyticsCreateTeamRequest) : AnalyticsTeam = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsCreateTeamWithHttpInfo(analyticsCreateTeamRequest = analyticsCreateTeamRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AnalyticsTeam
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/analytics/teams
     * Create a new team
     * 
     * @param analyticsCreateTeamRequest 
     * @return ApiResponse<AnalyticsTeam?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsCreateTeamWithHttpInfo(analyticsCreateTeamRequest: AnalyticsCreateTeamRequest) : ApiResponse<AnalyticsTeam?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsCreateTeamRequestConfig(analyticsCreateTeamRequest = analyticsCreateTeamRequest)

        return@withContext request<AnalyticsCreateTeamRequest, AnalyticsTeam>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsCreateTeam
     *
     * @param analyticsCreateTeamRequest 
     * @return RequestConfig
     */
    fun analyticsCreateTeamRequestConfig(analyticsCreateTeamRequest: AnalyticsCreateTeamRequest) : RequestConfig<AnalyticsCreateTeamRequest> {
        val localVariableBody = analyticsCreateTeamRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/analytics/teams",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/analytics/teams/{teamId}
     * Delete team (owner only)
     * 
     * @param teamId 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsDeleteTeam(teamId: java.util.UUID) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsDeleteTeamWithHttpInfo(teamId = teamId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/analytics/teams/{teamId}
     * Delete team (owner only)
     * 
     * @param teamId 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsDeleteTeamWithHttpInfo(teamId: java.util.UUID) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsDeleteTeamRequestConfig(teamId = teamId)

        return@withContext request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsDeleteTeam
     *
     * @param teamId 
     * @return RequestConfig
     */
    fun analyticsDeleteTeamRequestConfig(teamId: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/analytics/teams/{teamId}".replace("{"+"teamId"+"}", encodeURIComponent(teamId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/analytics/teams/{teamId}
     * Get team by ID (includes members)
     * 
     * @param teamId 
     * @return AnalyticsTeam
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsGetTeam(teamId: java.util.UUID) : AnalyticsTeam = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsGetTeamWithHttpInfo(teamId = teamId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AnalyticsTeam
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/analytics/teams/{teamId}
     * Get team by ID (includes members)
     * 
     * @param teamId 
     * @return ApiResponse<AnalyticsTeam?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsGetTeamWithHttpInfo(teamId: java.util.UUID) : ApiResponse<AnalyticsTeam?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsGetTeamRequestConfig(teamId = teamId)

        return@withContext request<Unit, AnalyticsTeam>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsGetTeam
     *
     * @param teamId 
     * @return RequestConfig
     */
    fun analyticsGetTeamRequestConfig(teamId: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/analytics/teams/{teamId}".replace("{"+"teamId"+"}", encodeURIComponent(teamId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/analytics/teams/{teamId}/users/{userId}
     * Get a team member
     * 
     * @param teamId 
     * @param userId 
     * @return AnalyticsTeamUser
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsGetTeamUser(teamId: java.util.UUID, userId: java.util.UUID) : AnalyticsTeamUser = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsGetTeamUserWithHttpInfo(teamId = teamId, userId = userId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AnalyticsTeamUser
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/analytics/teams/{teamId}/users/{userId}
     * Get a team member
     * 
     * @param teamId 
     * @param userId 
     * @return ApiResponse<AnalyticsTeamUser?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsGetTeamUserWithHttpInfo(teamId: java.util.UUID, userId: java.util.UUID) : ApiResponse<AnalyticsTeamUser?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsGetTeamUserRequestConfig(teamId = teamId, userId = userId)

        return@withContext request<Unit, AnalyticsTeamUser>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsGetTeamUser
     *
     * @param teamId 
     * @param userId 
     * @return RequestConfig
     */
    fun analyticsGetTeamUserRequestConfig(teamId: java.util.UUID, userId: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/analytics/teams/{teamId}/users/{userId}".replace("{"+"teamId"+"}", encodeURIComponent(teamId.toString())).replace("{"+"userId"+"}", encodeURIComponent(userId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/analytics/teams/{teamId}/users
     * List team members
     * 
     * @param teamId 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderBy  (optional)
     * @param search  (optional)
     * @return kotlin.collections.List<AnalyticsTeamUser>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsGetTeamUsers(teamId: java.util.UUID, page: kotlin.Int? = null, pageSize: kotlin.Int? = null, orderBy: kotlin.String? = null, search: kotlin.String? = null) : kotlin.collections.List<AnalyticsTeamUser> = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsGetTeamUsersWithHttpInfo(teamId = teamId, page = page, pageSize = pageSize, orderBy = orderBy, search = search)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<AnalyticsTeamUser>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/analytics/teams/{teamId}/users
     * List team members
     * 
     * @param teamId 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderBy  (optional)
     * @param search  (optional)
     * @return ApiResponse<kotlin.collections.List<AnalyticsTeamUser>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsGetTeamUsersWithHttpInfo(teamId: java.util.UUID, page: kotlin.Int?, pageSize: kotlin.Int?, orderBy: kotlin.String?, search: kotlin.String?) : ApiResponse<kotlin.collections.List<AnalyticsTeamUser>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsGetTeamUsersRequestConfig(teamId = teamId, page = page, pageSize = pageSize, orderBy = orderBy, search = search)

        return@withContext request<Unit, kotlin.collections.List<AnalyticsTeamUser>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsGetTeamUsers
     *
     * @param teamId 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderBy  (optional)
     * @param search  (optional)
     * @return RequestConfig
     */
    fun analyticsGetTeamUsersRequestConfig(teamId: java.util.UUID, page: kotlin.Int?, pageSize: kotlin.Int?, orderBy: kotlin.String?, search: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("pageSize", listOf(pageSize.toString()))
                }
                if (orderBy != null) {
                    put("orderBy", listOf(orderBy.toString()))
                }
                if (search != null) {
                    put("search", listOf(search.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/analytics/teams/{teamId}/users".replace("{"+"teamId"+"}", encodeURIComponent(teamId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/analytics/teams/{teamId}/websites
     * List websites belonging to a team
     * 
     * @param teamId 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderBy  (optional)
     * @param search  (optional)
     * @return kotlin.collections.List<AnalyticsWebsite>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsGetTeamWebsites(teamId: java.util.UUID, page: kotlin.Int? = null, pageSize: kotlin.Int? = null, orderBy: kotlin.String? = null, search: kotlin.String? = null) : kotlin.collections.List<AnalyticsWebsite> = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsGetTeamWebsitesWithHttpInfo(teamId = teamId, page = page, pageSize = pageSize, orderBy = orderBy, search = search)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<AnalyticsWebsite>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/analytics/teams/{teamId}/websites
     * List websites belonging to a team
     * 
     * @param teamId 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderBy  (optional)
     * @param search  (optional)
     * @return ApiResponse<kotlin.collections.List<AnalyticsWebsite>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsGetTeamWebsitesWithHttpInfo(teamId: java.util.UUID, page: kotlin.Int?, pageSize: kotlin.Int?, orderBy: kotlin.String?, search: kotlin.String?) : ApiResponse<kotlin.collections.List<AnalyticsWebsite>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsGetTeamWebsitesRequestConfig(teamId = teamId, page = page, pageSize = pageSize, orderBy = orderBy, search = search)

        return@withContext request<Unit, kotlin.collections.List<AnalyticsWebsite>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsGetTeamWebsites
     *
     * @param teamId 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderBy  (optional)
     * @param search  (optional)
     * @return RequestConfig
     */
    fun analyticsGetTeamWebsitesRequestConfig(teamId: java.util.UUID, page: kotlin.Int?, pageSize: kotlin.Int?, orderBy: kotlin.String?, search: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("pageSize", listOf(pageSize.toString()))
                }
                if (orderBy != null) {
                    put("orderBy", listOf(orderBy.toString()))
                }
                if (search != null) {
                    put("search", listOf(search.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/analytics/teams/{teamId}/websites".replace("{"+"teamId"+"}", encodeURIComponent(teamId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/analytics/teams/join
     * Join a team using an access code
     * 
     * @param analyticsJoinTeamRequest 
     * @return AnalyticsTeamUser
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsJoinTeam(analyticsJoinTeamRequest: AnalyticsJoinTeamRequest) : AnalyticsTeamUser = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsJoinTeamWithHttpInfo(analyticsJoinTeamRequest = analyticsJoinTeamRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AnalyticsTeamUser
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/analytics/teams/join
     * Join a team using an access code
     * 
     * @param analyticsJoinTeamRequest 
     * @return ApiResponse<AnalyticsTeamUser?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsJoinTeamWithHttpInfo(analyticsJoinTeamRequest: AnalyticsJoinTeamRequest) : ApiResponse<AnalyticsTeamUser?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsJoinTeamRequestConfig(analyticsJoinTeamRequest = analyticsJoinTeamRequest)

        return@withContext request<AnalyticsJoinTeamRequest, AnalyticsTeamUser>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsJoinTeam
     *
     * @param analyticsJoinTeamRequest 
     * @return RequestConfig
     */
    fun analyticsJoinTeamRequestConfig(analyticsJoinTeamRequest: AnalyticsJoinTeamRequest) : RequestConfig<AnalyticsJoinTeamRequest> {
        val localVariableBody = analyticsJoinTeamRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/analytics/teams/join",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/analytics/teams/{teamId}/users/{userId}
     * Remove user from team
     * 
     * @param teamId 
     * @param userId 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsRemoveTeamUser(teamId: java.util.UUID, userId: java.util.UUID) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsRemoveTeamUserWithHttpInfo(teamId = teamId, userId = userId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/analytics/teams/{teamId}/users/{userId}
     * Remove user from team
     * 
     * @param teamId 
     * @param userId 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsRemoveTeamUserWithHttpInfo(teamId: java.util.UUID, userId: java.util.UUID) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsRemoveTeamUserRequestConfig(teamId = teamId, userId = userId)

        return@withContext request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsRemoveTeamUser
     *
     * @param teamId 
     * @param userId 
     * @return RequestConfig
     */
    fun analyticsRemoveTeamUserRequestConfig(teamId: java.util.UUID, userId: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/analytics/teams/{teamId}/users/{userId}".replace("{"+"teamId"+"}", encodeURIComponent(teamId.toString())).replace("{"+"userId"+"}", encodeURIComponent(userId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/analytics/teams/{teamId}
     * Update team (owner only)
     * 
     * @param teamId 
     * @param analyticsUpdateTeamRequest 
     * @return AnalyticsTeam
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsUpdateTeam(teamId: java.util.UUID, analyticsUpdateTeamRequest: AnalyticsUpdateTeamRequest) : AnalyticsTeam = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsUpdateTeamWithHttpInfo(teamId = teamId, analyticsUpdateTeamRequest = analyticsUpdateTeamRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AnalyticsTeam
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/analytics/teams/{teamId}
     * Update team (owner only)
     * 
     * @param teamId 
     * @param analyticsUpdateTeamRequest 
     * @return ApiResponse<AnalyticsTeam?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsUpdateTeamWithHttpInfo(teamId: java.util.UUID, analyticsUpdateTeamRequest: AnalyticsUpdateTeamRequest) : ApiResponse<AnalyticsTeam?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsUpdateTeamRequestConfig(teamId = teamId, analyticsUpdateTeamRequest = analyticsUpdateTeamRequest)

        return@withContext request<AnalyticsUpdateTeamRequest, AnalyticsTeam>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsUpdateTeam
     *
     * @param teamId 
     * @param analyticsUpdateTeamRequest 
     * @return RequestConfig
     */
    fun analyticsUpdateTeamRequestConfig(teamId: java.util.UUID, analyticsUpdateTeamRequest: AnalyticsUpdateTeamRequest) : RequestConfig<AnalyticsUpdateTeamRequest> {
        val localVariableBody = analyticsUpdateTeamRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/analytics/teams/{teamId}".replace("{"+"teamId"+"}", encodeURIComponent(teamId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/analytics/teams/{teamId}/users/{userId}
     * Update team member role (owner only)
     * 
     * @param teamId 
     * @param userId 
     * @param analyticsUpdateTeamUserRequest 
     * @return AnalyticsTeamUser
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsUpdateTeamUser(teamId: java.util.UUID, userId: java.util.UUID, analyticsUpdateTeamUserRequest: AnalyticsUpdateTeamUserRequest) : AnalyticsTeamUser = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsUpdateTeamUserWithHttpInfo(teamId = teamId, userId = userId, analyticsUpdateTeamUserRequest = analyticsUpdateTeamUserRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AnalyticsTeamUser
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/analytics/teams/{teamId}/users/{userId}
     * Update team member role (owner only)
     * 
     * @param teamId 
     * @param userId 
     * @param analyticsUpdateTeamUserRequest 
     * @return ApiResponse<AnalyticsTeamUser?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsUpdateTeamUserWithHttpInfo(teamId: java.util.UUID, userId: java.util.UUID, analyticsUpdateTeamUserRequest: AnalyticsUpdateTeamUserRequest) : ApiResponse<AnalyticsTeamUser?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsUpdateTeamUserRequestConfig(teamId = teamId, userId = userId, analyticsUpdateTeamUserRequest = analyticsUpdateTeamUserRequest)

        return@withContext request<AnalyticsUpdateTeamUserRequest, AnalyticsTeamUser>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsUpdateTeamUser
     *
     * @param teamId 
     * @param userId 
     * @param analyticsUpdateTeamUserRequest 
     * @return RequestConfig
     */
    fun analyticsUpdateTeamUserRequestConfig(teamId: java.util.UUID, userId: java.util.UUID, analyticsUpdateTeamUserRequest: AnalyticsUpdateTeamUserRequest) : RequestConfig<AnalyticsUpdateTeamUserRequest> {
        val localVariableBody = analyticsUpdateTeamUserRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/analytics/teams/{teamId}/users/{userId}".replace("{"+"teamId"+"}", encodeURIComponent(teamId.toString())).replace("{"+"userId"+"}", encodeURIComponent(userId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/gateway/team/new
     * Create team
     * 
     * @param gatewayCreateTeamRequest 
     * @return GatewayTeam
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun gatewayCreateTeam(gatewayCreateTeamRequest: GatewayCreateTeamRequest) : GatewayTeam = withContext(Dispatchers.IO) {
        val localVarResponse = gatewayCreateTeamWithHttpInfo(gatewayCreateTeamRequest = gatewayCreateTeamRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GatewayTeam
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/gateway/team/new
     * Create team
     * 
     * @param gatewayCreateTeamRequest 
     * @return ApiResponse<GatewayTeam?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun gatewayCreateTeamWithHttpInfo(gatewayCreateTeamRequest: GatewayCreateTeamRequest) : ApiResponse<GatewayTeam?> = withContext(Dispatchers.IO) {
        val localVariableConfig = gatewayCreateTeamRequestConfig(gatewayCreateTeamRequest = gatewayCreateTeamRequest)

        return@withContext request<GatewayCreateTeamRequest, GatewayTeam>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation gatewayCreateTeam
     *
     * @param gatewayCreateTeamRequest 
     * @return RequestConfig
     */
    fun gatewayCreateTeamRequestConfig(gatewayCreateTeamRequest: GatewayCreateTeamRequest) : RequestConfig<GatewayCreateTeamRequest> {
        val localVariableBody = gatewayCreateTeamRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/gateway/team/new",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/gateway/team/info
     * Get team info
     * 
     * @param teamId 
     * @return GatewayTeam
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun gatewayGetTeamInfo(teamId: kotlin.String) : GatewayTeam = withContext(Dispatchers.IO) {
        val localVarResponse = gatewayGetTeamInfoWithHttpInfo(teamId = teamId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GatewayTeam
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/gateway/team/info
     * Get team info
     * 
     * @param teamId 
     * @return ApiResponse<GatewayTeam?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun gatewayGetTeamInfoWithHttpInfo(teamId: kotlin.String) : ApiResponse<GatewayTeam?> = withContext(Dispatchers.IO) {
        val localVariableConfig = gatewayGetTeamInfoRequestConfig(teamId = teamId)

        return@withContext request<Unit, GatewayTeam>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation gatewayGetTeamInfo
     *
     * @param teamId 
     * @return RequestConfig
     */
    fun gatewayGetTeamInfoRequestConfig(teamId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("team_id", listOf(teamId.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/gateway/team/info",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/gateway/team/list
     * List teams
     * 
     * @return kotlin.collections.List<GatewayTeam>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun gatewayListTeams() : kotlin.collections.List<GatewayTeam> = withContext(Dispatchers.IO) {
        val localVarResponse = gatewayListTeamsWithHttpInfo()

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<GatewayTeam>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/gateway/team/list
     * List teams
     * 
     * @return ApiResponse<kotlin.collections.List<GatewayTeam>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun gatewayListTeamsWithHttpInfo() : ApiResponse<kotlin.collections.List<GatewayTeam>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = gatewayListTeamsRequestConfig()

        return@withContext request<Unit, kotlin.collections.List<GatewayTeam>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation gatewayListTeams
     *
     * @return RequestConfig
     */
    fun gatewayListTeamsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/gateway/team/list",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
