/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.ConsoleDeleteDatasetItem200Response
import ai.hanzo.sdk.models.ConsoleDeleteTracesRequest
import ai.hanzo.sdk.models.ConsoleListTraces200Response
import ai.hanzo.sdk.models.ConsoleTraceWithFullDetails

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class TracesApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * DELETE /v1/console/traces/{traceId}
     * Delete a specific trace
     * 
     * @param traceId 
     * @return ConsoleDeleteDatasetItem200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun consoleDeleteTrace(traceId: kotlin.String) : ConsoleDeleteDatasetItem200Response = withContext(Dispatchers.IO) {
        val localVarResponse = consoleDeleteTraceWithHttpInfo(traceId = traceId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ConsoleDeleteDatasetItem200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/console/traces/{traceId}
     * Delete a specific trace
     * 
     * @param traceId 
     * @return ApiResponse<ConsoleDeleteDatasetItem200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun consoleDeleteTraceWithHttpInfo(traceId: kotlin.String) : ApiResponse<ConsoleDeleteDatasetItem200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = consoleDeleteTraceRequestConfig(traceId = traceId)

        return@withContext request<Unit, ConsoleDeleteDatasetItem200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation consoleDeleteTrace
     *
     * @param traceId 
     * @return RequestConfig
     */
    fun consoleDeleteTraceRequestConfig(traceId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/console/traces/{traceId}".replace("{"+"traceId"+"}", encodeURIComponent(traceId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/console/traces
     * Delete multiple traces
     * 
     * @param consoleDeleteTracesRequest 
     * @return ConsoleDeleteDatasetItem200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun consoleDeleteTraces(consoleDeleteTracesRequest: ConsoleDeleteTracesRequest) : ConsoleDeleteDatasetItem200Response = withContext(Dispatchers.IO) {
        val localVarResponse = consoleDeleteTracesWithHttpInfo(consoleDeleteTracesRequest = consoleDeleteTracesRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ConsoleDeleteDatasetItem200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/console/traces
     * Delete multiple traces
     * 
     * @param consoleDeleteTracesRequest 
     * @return ApiResponse<ConsoleDeleteDatasetItem200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun consoleDeleteTracesWithHttpInfo(consoleDeleteTracesRequest: ConsoleDeleteTracesRequest) : ApiResponse<ConsoleDeleteDatasetItem200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = consoleDeleteTracesRequestConfig(consoleDeleteTracesRequest = consoleDeleteTracesRequest)

        return@withContext request<ConsoleDeleteTracesRequest, ConsoleDeleteDatasetItem200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation consoleDeleteTraces
     *
     * @param consoleDeleteTracesRequest 
     * @return RequestConfig
     */
    fun consoleDeleteTracesRequestConfig(consoleDeleteTracesRequest: ConsoleDeleteTracesRequest) : RequestConfig<ConsoleDeleteTracesRequest> {
        val localVariableBody = consoleDeleteTracesRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/console/traces",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/console/traces/{traceId}
     * Get a specific trace with full details
     * 
     * @param traceId 
     * @return ConsoleTraceWithFullDetails
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun consoleGetTrace(traceId: kotlin.String) : ConsoleTraceWithFullDetails = withContext(Dispatchers.IO) {
        val localVarResponse = consoleGetTraceWithHttpInfo(traceId = traceId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ConsoleTraceWithFullDetails
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/console/traces/{traceId}
     * Get a specific trace with full details
     * 
     * @param traceId 
     * @return ApiResponse<ConsoleTraceWithFullDetails?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun consoleGetTraceWithHttpInfo(traceId: kotlin.String) : ApiResponse<ConsoleTraceWithFullDetails?> = withContext(Dispatchers.IO) {
        val localVariableConfig = consoleGetTraceRequestConfig(traceId = traceId)

        return@withContext request<Unit, ConsoleTraceWithFullDetails>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation consoleGetTrace
     *
     * @param traceId 
     * @return RequestConfig
     */
    fun consoleGetTraceRequestConfig(traceId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/console/traces/{traceId}".replace("{"+"traceId"+"}", encodeURIComponent(traceId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/console/traces
     * Get list of traces
     * 
     * @param page  (optional, default to 1)
     * @param limit  (optional, default to 50)
     * @param userId  (optional)
     * @param name  (optional)
     * @param sessionId  (optional)
     * @param fromTimestamp  (optional)
     * @param toTimestamp  (optional)
     * @param orderBy Format: field.asc|desc (e.g., timestamp.desc) (optional)
     * @param tags  (optional)
     * @param version  (optional)
     * @param release  (optional)
     * @param environment  (optional)
     * @param filter JSON array of filter conditions (overrides other filters when provided) (optional)
     * @return ConsoleListTraces200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun consoleListTraces(page: kotlin.Int? = 1, limit: kotlin.Int? = 50, userId: kotlin.String? = null, name: kotlin.String? = null, sessionId: kotlin.String? = null, fromTimestamp: java.time.OffsetDateTime? = null, toTimestamp: java.time.OffsetDateTime? = null, orderBy: kotlin.String? = null, tags: kotlin.collections.List<kotlin.String>? = null, version: kotlin.String? = null, release: kotlin.String? = null, environment: kotlin.collections.List<kotlin.String>? = null, filter: kotlin.String? = null) : ConsoleListTraces200Response = withContext(Dispatchers.IO) {
        val localVarResponse = consoleListTracesWithHttpInfo(page = page, limit = limit, userId = userId, name = name, sessionId = sessionId, fromTimestamp = fromTimestamp, toTimestamp = toTimestamp, orderBy = orderBy, tags = tags, version = version, release = release, environment = environment, filter = filter)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ConsoleListTraces200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/console/traces
     * Get list of traces
     * 
     * @param page  (optional, default to 1)
     * @param limit  (optional, default to 50)
     * @param userId  (optional)
     * @param name  (optional)
     * @param sessionId  (optional)
     * @param fromTimestamp  (optional)
     * @param toTimestamp  (optional)
     * @param orderBy Format: field.asc|desc (e.g., timestamp.desc) (optional)
     * @param tags  (optional)
     * @param version  (optional)
     * @param release  (optional)
     * @param environment  (optional)
     * @param filter JSON array of filter conditions (overrides other filters when provided) (optional)
     * @return ApiResponse<ConsoleListTraces200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun consoleListTracesWithHttpInfo(page: kotlin.Int?, limit: kotlin.Int?, userId: kotlin.String?, name: kotlin.String?, sessionId: kotlin.String?, fromTimestamp: java.time.OffsetDateTime?, toTimestamp: java.time.OffsetDateTime?, orderBy: kotlin.String?, tags: kotlin.collections.List<kotlin.String>?, version: kotlin.String?, release: kotlin.String?, environment: kotlin.collections.List<kotlin.String>?, filter: kotlin.String?) : ApiResponse<ConsoleListTraces200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = consoleListTracesRequestConfig(page = page, limit = limit, userId = userId, name = name, sessionId = sessionId, fromTimestamp = fromTimestamp, toTimestamp = toTimestamp, orderBy = orderBy, tags = tags, version = version, release = release, environment = environment, filter = filter)

        return@withContext request<Unit, ConsoleListTraces200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation consoleListTraces
     *
     * @param page  (optional, default to 1)
     * @param limit  (optional, default to 50)
     * @param userId  (optional)
     * @param name  (optional)
     * @param sessionId  (optional)
     * @param fromTimestamp  (optional)
     * @param toTimestamp  (optional)
     * @param orderBy Format: field.asc|desc (e.g., timestamp.desc) (optional)
     * @param tags  (optional)
     * @param version  (optional)
     * @param release  (optional)
     * @param environment  (optional)
     * @param filter JSON array of filter conditions (overrides other filters when provided) (optional)
     * @return RequestConfig
     */
    fun consoleListTracesRequestConfig(page: kotlin.Int?, limit: kotlin.Int?, userId: kotlin.String?, name: kotlin.String?, sessionId: kotlin.String?, fromTimestamp: java.time.OffsetDateTime?, toTimestamp: java.time.OffsetDateTime?, orderBy: kotlin.String?, tags: kotlin.collections.List<kotlin.String>?, version: kotlin.String?, release: kotlin.String?, environment: kotlin.collections.List<kotlin.String>?, filter: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (userId != null) {
                    put("userId", listOf(userId.toString()))
                }
                if (name != null) {
                    put("name", listOf(name.toString()))
                }
                if (sessionId != null) {
                    put("sessionId", listOf(sessionId.toString()))
                }
                if (fromTimestamp != null) {
                    put("fromTimestamp", listOf(parseDateToQueryString<java.time.OffsetDateTime>(fromTimestamp)))
                }
                if (toTimestamp != null) {
                    put("toTimestamp", listOf(parseDateToQueryString<java.time.OffsetDateTime>(toTimestamp)))
                }
                if (orderBy != null) {
                    put("orderBy", listOf(orderBy.toString()))
                }
                if (tags != null) {
                    put("tags", toMultiValue(tags.toList(), "multi"))
                }
                if (version != null) {
                    put("version", listOf(version.toString()))
                }
                if (release != null) {
                    put("release", listOf(release.toString()))
                }
                if (environment != null) {
                    put("environment", toMultiValue(environment.toList(), "multi"))
                }
                if (filter != null) {
                    put("filter", listOf(filter.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/console/traces",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
