/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.AnalyticsCreateUserRequest
import ai.hanzo.sdk.models.AnalyticsGetUserUsage200Response
import ai.hanzo.sdk.models.AnalyticsHeartbeat200Response
import ai.hanzo.sdk.models.AnalyticsTeam
import ai.hanzo.sdk.models.AnalyticsUpdateUserRequest
import ai.hanzo.sdk.models.AnalyticsUser
import ai.hanzo.sdk.models.AnalyticsWebsite
import ai.hanzo.sdk.models.BotListUserSkills200Response
import ai.hanzo.sdk.models.BotListUserStars200Response
import ai.hanzo.sdk.models.BotUpdateProfileRequest
import ai.hanzo.sdk.models.BotUser
import ai.hanzo.sdk.models.CommerceCreateWalletAccountRequest
import ai.hanzo.sdk.models.CommerceError
import ai.hanzo.sdk.models.CommerceOrder
import ai.hanzo.sdk.models.CommercePaginatedUsers
import ai.hanzo.sdk.models.CommercePaymentMethod
import ai.hanzo.sdk.models.CommerceReferral
import ai.hanzo.sdk.models.CommerceReferrer
import ai.hanzo.sdk.models.CommerceTransactionData
import ai.hanzo.sdk.models.CommerceUser
import ai.hanzo.sdk.models.CommerceWallet
import ai.hanzo.sdk.models.CommerceWalletAccount
import ai.hanzo.sdk.models.CommerceWalletPayRequest
import ai.hanzo.sdk.models.FlowListUsers200Response
import ai.hanzo.sdk.models.FlowUser
import ai.hanzo.sdk.models.IamControllersLaravelResponse
import ai.hanzo.sdk.models.IamControllersLdapResp
import ai.hanzo.sdk.models.IamControllersLdapSyncResp
import ai.hanzo.sdk.models.IamControllersResponse
import ai.hanzo.sdk.models.IamObjectLdap
import ai.hanzo.sdk.models.IamObjectUser
import ai.hanzo.sdk.models.IamObjectUserinfo
import ai.hanzo.sdk.models.KmsGetCurrentUser200Response

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class UsersApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * POST /v1/analytics/users
     * Create a new user (admin only)
     * 
     * @param analyticsCreateUserRequest 
     * @return AnalyticsUser
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsCreateUser(analyticsCreateUserRequest: AnalyticsCreateUserRequest) : AnalyticsUser = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsCreateUserWithHttpInfo(analyticsCreateUserRequest = analyticsCreateUserRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AnalyticsUser
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/analytics/users
     * Create a new user (admin only)
     * 
     * @param analyticsCreateUserRequest 
     * @return ApiResponse<AnalyticsUser?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsCreateUserWithHttpInfo(analyticsCreateUserRequest: AnalyticsCreateUserRequest) : ApiResponse<AnalyticsUser?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsCreateUserRequestConfig(analyticsCreateUserRequest = analyticsCreateUserRequest)

        return@withContext request<AnalyticsCreateUserRequest, AnalyticsUser>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsCreateUser
     *
     * @param analyticsCreateUserRequest 
     * @return RequestConfig
     */
    fun analyticsCreateUserRequestConfig(analyticsCreateUserRequest: AnalyticsCreateUserRequest) : RequestConfig<AnalyticsCreateUserRequest> {
        val localVariableBody = analyticsCreateUserRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/analytics/users",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/analytics/users/{userId}
     * Delete user (admin only)
     * 
     * @param userId 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsDeleteUser(userId: java.util.UUID) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsDeleteUserWithHttpInfo(userId = userId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/analytics/users/{userId}
     * Delete user (admin only)
     * 
     * @param userId 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsDeleteUserWithHttpInfo(userId: java.util.UUID) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsDeleteUserRequestConfig(userId = userId)

        return@withContext request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsDeleteUser
     *
     * @param userId 
     * @return RequestConfig
     */
    fun analyticsDeleteUserRequestConfig(userId: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/analytics/users/{userId}".replace("{"+"userId"+"}", encodeURIComponent(userId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/analytics/users/{userId}
     * Get user by ID
     * 
     * @param userId 
     * @return AnalyticsUser
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsGetUser(userId: java.util.UUID) : AnalyticsUser = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsGetUserWithHttpInfo(userId = userId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AnalyticsUser
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/analytics/users/{userId}
     * Get user by ID
     * 
     * @param userId 
     * @return ApiResponse<AnalyticsUser?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsGetUserWithHttpInfo(userId: java.util.UUID) : ApiResponse<AnalyticsUser?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsGetUserRequestConfig(userId = userId)

        return@withContext request<Unit, AnalyticsUser>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsGetUser
     *
     * @param userId 
     * @return RequestConfig
     */
    fun analyticsGetUserRequestConfig(userId: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/analytics/users/{userId}".replace("{"+"userId"+"}", encodeURIComponent(userId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/analytics/users/{userId}/teams
     * List teams a user belongs to
     * 
     * @param userId 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderBy  (optional)
     * @param search  (optional)
     * @return kotlin.collections.List<AnalyticsTeam>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsGetUserTeams(userId: java.util.UUID, page: kotlin.Int? = null, pageSize: kotlin.Int? = null, orderBy: kotlin.String? = null, search: kotlin.String? = null) : kotlin.collections.List<AnalyticsTeam> = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsGetUserTeamsWithHttpInfo(userId = userId, page = page, pageSize = pageSize, orderBy = orderBy, search = search)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<AnalyticsTeam>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/analytics/users/{userId}/teams
     * List teams a user belongs to
     * 
     * @param userId 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderBy  (optional)
     * @param search  (optional)
     * @return ApiResponse<kotlin.collections.List<AnalyticsTeam>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsGetUserTeamsWithHttpInfo(userId: java.util.UUID, page: kotlin.Int?, pageSize: kotlin.Int?, orderBy: kotlin.String?, search: kotlin.String?) : ApiResponse<kotlin.collections.List<AnalyticsTeam>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsGetUserTeamsRequestConfig(userId = userId, page = page, pageSize = pageSize, orderBy = orderBy, search = search)

        return@withContext request<Unit, kotlin.collections.List<AnalyticsTeam>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsGetUserTeams
     *
     * @param userId 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderBy  (optional)
     * @param search  (optional)
     * @return RequestConfig
     */
    fun analyticsGetUserTeamsRequestConfig(userId: java.util.UUID, page: kotlin.Int?, pageSize: kotlin.Int?, orderBy: kotlin.String?, search: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("pageSize", listOf(pageSize.toString()))
                }
                if (orderBy != null) {
                    put("orderBy", listOf(orderBy.toString()))
                }
                if (search != null) {
                    put("search", listOf(search.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/analytics/users/{userId}/teams".replace("{"+"userId"+"}", encodeURIComponent(userId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/analytics/users/{userId}/usage
     * Get event usage breakdown for a user (admin only)
     * 
     * @param userId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @return AnalyticsGetUserUsage200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsGetUserUsage(userId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long) : AnalyticsGetUserUsage200Response = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsGetUserUsageWithHttpInfo(userId = userId, startAt = startAt, endAt = endAt)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AnalyticsGetUserUsage200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/analytics/users/{userId}/usage
     * Get event usage breakdown for a user (admin only)
     * 
     * @param userId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @return ApiResponse<AnalyticsGetUserUsage200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsGetUserUsageWithHttpInfo(userId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long) : ApiResponse<AnalyticsGetUserUsage200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsGetUserUsageRequestConfig(userId = userId, startAt = startAt, endAt = endAt)

        return@withContext request<Unit, AnalyticsGetUserUsage200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsGetUserUsage
     *
     * @param userId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @return RequestConfig
     */
    fun analyticsGetUserUsageRequestConfig(userId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("startAt", listOf(startAt.toString()))
                put("endAt", listOf(endAt.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/analytics/users/{userId}/usage".replace("{"+"userId"+"}", encodeURIComponent(userId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/analytics/users/{userId}/websites
     * List websites owned by a user
     * 
     * @param userId 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderBy  (optional)
     * @param search  (optional)
     * @return kotlin.collections.List<AnalyticsWebsite>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsGetUserWebsites(userId: java.util.UUID, page: kotlin.Int? = null, pageSize: kotlin.Int? = null, orderBy: kotlin.String? = null, search: kotlin.String? = null) : kotlin.collections.List<AnalyticsWebsite> = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsGetUserWebsitesWithHttpInfo(userId = userId, page = page, pageSize = pageSize, orderBy = orderBy, search = search)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<AnalyticsWebsite>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/analytics/users/{userId}/websites
     * List websites owned by a user
     * 
     * @param userId 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderBy  (optional)
     * @param search  (optional)
     * @return ApiResponse<kotlin.collections.List<AnalyticsWebsite>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsGetUserWebsitesWithHttpInfo(userId: java.util.UUID, page: kotlin.Int?, pageSize: kotlin.Int?, orderBy: kotlin.String?, search: kotlin.String?) : ApiResponse<kotlin.collections.List<AnalyticsWebsite>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsGetUserWebsitesRequestConfig(userId = userId, page = page, pageSize = pageSize, orderBy = orderBy, search = search)

        return@withContext request<Unit, kotlin.collections.List<AnalyticsWebsite>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsGetUserWebsites
     *
     * @param userId 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderBy  (optional)
     * @param search  (optional)
     * @return RequestConfig
     */
    fun analyticsGetUserWebsitesRequestConfig(userId: java.util.UUID, page: kotlin.Int?, pageSize: kotlin.Int?, orderBy: kotlin.String?, search: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("pageSize", listOf(pageSize.toString()))
                }
                if (orderBy != null) {
                    put("orderBy", listOf(orderBy.toString()))
                }
                if (search != null) {
                    put("search", listOf(search.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/analytics/users/{userId}/websites".replace("{"+"userId"+"}", encodeURIComponent(userId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/analytics/users/{userId}
     * Update user
     * 
     * @param userId 
     * @param analyticsUpdateUserRequest 
     * @return AnalyticsUser
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsUpdateUser(userId: java.util.UUID, analyticsUpdateUserRequest: AnalyticsUpdateUserRequest) : AnalyticsUser = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsUpdateUserWithHttpInfo(userId = userId, analyticsUpdateUserRequest = analyticsUpdateUserRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AnalyticsUser
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/analytics/users/{userId}
     * Update user
     * 
     * @param userId 
     * @param analyticsUpdateUserRequest 
     * @return ApiResponse<AnalyticsUser?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsUpdateUserWithHttpInfo(userId: java.util.UUID, analyticsUpdateUserRequest: AnalyticsUpdateUserRequest) : ApiResponse<AnalyticsUser?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsUpdateUserRequestConfig(userId = userId, analyticsUpdateUserRequest = analyticsUpdateUserRequest)

        return@withContext request<AnalyticsUpdateUserRequest, AnalyticsUser>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsUpdateUser
     *
     * @param userId 
     * @param analyticsUpdateUserRequest 
     * @return RequestConfig
     */
    fun analyticsUpdateUserRequestConfig(userId: java.util.UUID, analyticsUpdateUserRequest: AnalyticsUpdateUserRequest) : RequestConfig<AnalyticsUpdateUserRequest> {
        val localVariableBody = analyticsUpdateUserRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/analytics/users/{userId}".replace("{"+"userId"+"}", encodeURIComponent(userId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/auto/users
     * List platform users
     * 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun autoListUsers() : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = autoListUsersWithHttpInfo()

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/auto/users
     * List platform users
     * 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun autoListUsersWithHttpInfo() : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = autoListUsersRequestConfig()

        return@withContext request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation autoListUsers
     *
     * @return RequestConfig
     */
    fun autoListUsersRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/auto/users",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/bot/users/{handle}
     * Get user profile by handle
     * 
     * @param handle 
     * @return BotUser
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun botGetUser(handle: kotlin.String) : BotUser = withContext(Dispatchers.IO) {
        val localVarResponse = botGetUserWithHttpInfo(handle = handle)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as BotUser
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/bot/users/{handle}
     * Get user profile by handle
     * 
     * @param handle 
     * @return ApiResponse<BotUser?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun botGetUserWithHttpInfo(handle: kotlin.String) : ApiResponse<BotUser?> = withContext(Dispatchers.IO) {
        val localVariableConfig = botGetUserRequestConfig(handle = handle)

        return@withContext request<Unit, BotUser>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation botGetUser
     *
     * @param handle 
     * @return RequestConfig
     */
    fun botGetUserRequestConfig(handle: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/bot/users/{handle}".replace("{"+"handle"+"}", encodeURIComponent(handle.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/bot/users/{handle}/skills
     * List skills published by a user
     * 
     * @param handle 
     * @return BotListUserSkills200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun botListUserSkills(handle: kotlin.String) : BotListUserSkills200Response = withContext(Dispatchers.IO) {
        val localVarResponse = botListUserSkillsWithHttpInfo(handle = handle)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as BotListUserSkills200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/bot/users/{handle}/skills
     * List skills published by a user
     * 
     * @param handle 
     * @return ApiResponse<BotListUserSkills200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun botListUserSkillsWithHttpInfo(handle: kotlin.String) : ApiResponse<BotListUserSkills200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = botListUserSkillsRequestConfig(handle = handle)

        return@withContext request<Unit, BotListUserSkills200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation botListUserSkills
     *
     * @param handle 
     * @return RequestConfig
     */
    fun botListUserSkillsRequestConfig(handle: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/bot/users/{handle}/skills".replace("{"+"handle"+"}", encodeURIComponent(handle.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/bot/users/{handle}/stars
     * List skills starred by a user
     * 
     * @param handle 
     * @return BotListUserStars200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun botListUserStars(handle: kotlin.String) : BotListUserStars200Response = withContext(Dispatchers.IO) {
        val localVarResponse = botListUserStarsWithHttpInfo(handle = handle)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as BotListUserStars200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/bot/users/{handle}/stars
     * List skills starred by a user
     * 
     * @param handle 
     * @return ApiResponse<BotListUserStars200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun botListUserStarsWithHttpInfo(handle: kotlin.String) : ApiResponse<BotListUserStars200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = botListUserStarsRequestConfig(handle = handle)

        return@withContext request<Unit, BotListUserStars200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation botListUserStars
     *
     * @param handle 
     * @return RequestConfig
     */
    fun botListUserStarsRequestConfig(handle: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/bot/users/{handle}/stars".replace("{"+"handle"+"}", encodeURIComponent(handle.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * PATCH /v1/bot/users/me
     * Update current user&#39;s profile
     * 
     * @param botUpdateProfileRequest 
     * @return AnalyticsHeartbeat200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun botUpdateProfile(botUpdateProfileRequest: BotUpdateProfileRequest) : AnalyticsHeartbeat200Response = withContext(Dispatchers.IO) {
        val localVarResponse = botUpdateProfileWithHttpInfo(botUpdateProfileRequest = botUpdateProfileRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AnalyticsHeartbeat200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /v1/bot/users/me
     * Update current user&#39;s profile
     * 
     * @param botUpdateProfileRequest 
     * @return ApiResponse<AnalyticsHeartbeat200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun botUpdateProfileWithHttpInfo(botUpdateProfileRequest: BotUpdateProfileRequest) : ApiResponse<AnalyticsHeartbeat200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = botUpdateProfileRequestConfig(botUpdateProfileRequest = botUpdateProfileRequest)

        return@withContext request<BotUpdateProfileRequest, AnalyticsHeartbeat200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation botUpdateProfile
     *
     * @param botUpdateProfileRequest 
     * @return RequestConfig
     */
    fun botUpdateProfileRequestConfig(botUpdateProfileRequest: BotUpdateProfileRequest) : RequestConfig<BotUpdateProfileRequest> {
        val localVariableBody = botUpdateProfileRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/v1/bot/users/me",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/commerce/user
     * Create user
     * 
     * @param commerceUser 
     * @return CommerceUser
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun commerceCreateUser(commerceUser: CommerceUser) : CommerceUser = withContext(Dispatchers.IO) {
        val localVarResponse = commerceCreateUserWithHttpInfo(commerceUser = commerceUser)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CommerceUser
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/commerce/user
     * Create user
     * 
     * @param commerceUser 
     * @return ApiResponse<CommerceUser?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun commerceCreateUserWithHttpInfo(commerceUser: CommerceUser) : ApiResponse<CommerceUser?> = withContext(Dispatchers.IO) {
        val localVariableConfig = commerceCreateUserRequestConfig(commerceUser = commerceUser)

        return@withContext request<CommerceUser, CommerceUser>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation commerceCreateUser
     *
     * @param commerceUser 
     * @return RequestConfig
     */
    fun commerceCreateUserRequestConfig(commerceUser: CommerceUser) : RequestConfig<CommerceUser> {
        val localVariableBody = commerceUser
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/commerce/user",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/commerce/user/{userid}/wallet/account
     * Create wallet account
     * 
     * @param userid 
     * @param commerceCreateWalletAccountRequest 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun commerceCreateWalletAccount(userid: kotlin.String, commerceCreateWalletAccountRequest: CommerceCreateWalletAccountRequest) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = commerceCreateWalletAccountWithHttpInfo(userid = userid, commerceCreateWalletAccountRequest = commerceCreateWalletAccountRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/commerce/user/{userid}/wallet/account
     * Create wallet account
     * 
     * @param userid 
     * @param commerceCreateWalletAccountRequest 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun commerceCreateWalletAccountWithHttpInfo(userid: kotlin.String, commerceCreateWalletAccountRequest: CommerceCreateWalletAccountRequest) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = commerceCreateWalletAccountRequestConfig(userid = userid, commerceCreateWalletAccountRequest = commerceCreateWalletAccountRequest)

        return@withContext request<CommerceCreateWalletAccountRequest, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation commerceCreateWalletAccount
     *
     * @param userid 
     * @param commerceCreateWalletAccountRequest 
     * @return RequestConfig
     */
    fun commerceCreateWalletAccountRequestConfig(userid: kotlin.String, commerceCreateWalletAccountRequest: CommerceCreateWalletAccountRequest) : RequestConfig<CommerceCreateWalletAccountRequest> {
        val localVariableBody = commerceCreateWalletAccountRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/commerce/user/{userid}/wallet/account".replace("{"+"userid"+"}", encodeURIComponent(userid.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/commerce/user/{userid}
     * Delete user
     * 
     * @param userid 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun commerceDeleteUser(userid: kotlin.String) : Unit = withContext(Dispatchers.IO) {
        val localVarResponse = commerceDeleteUserWithHttpInfo(userid = userid)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/commerce/user/{userid}
     * Delete user
     * 
     * @param userid 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun commerceDeleteUserWithHttpInfo(userid: kotlin.String) : ApiResponse<Unit?> = withContext(Dispatchers.IO) {
        val localVariableConfig = commerceDeleteUserRequestConfig(userid = userid)

        return@withContext request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation commerceDeleteUser
     *
     * @param userid 
     * @return RequestConfig
     */
    fun commerceDeleteUserRequestConfig(userid: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/commerce/user/{userid}".replace("{"+"userid"+"}", encodeURIComponent(userid.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/commerce/user/{userid}
     * Get user
     * 
     * @param userid 
     * @return CommerceUser
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun commerceGetUser(userid: kotlin.String) : CommerceUser = withContext(Dispatchers.IO) {
        val localVarResponse = commerceGetUserWithHttpInfo(userid = userid)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CommerceUser
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/commerce/user/{userid}
     * Get user
     * 
     * @param userid 
     * @return ApiResponse<CommerceUser?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun commerceGetUserWithHttpInfo(userid: kotlin.String) : ApiResponse<CommerceUser?> = withContext(Dispatchers.IO) {
        val localVariableConfig = commerceGetUserRequestConfig(userid = userid)

        return@withContext request<Unit, CommerceUser>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation commerceGetUser
     *
     * @param userid 
     * @return RequestConfig
     */
    fun commerceGetUserRequestConfig(userid: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/commerce/user/{userid}".replace("{"+"userid"+"}", encodeURIComponent(userid.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/commerce/user/{userid}/orders
     * Get user orders
     * 
     * @param userid 
     * @return kotlin.collections.List<CommerceOrder>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun commerceGetUserOrders(userid: kotlin.String) : kotlin.collections.List<CommerceOrder> = withContext(Dispatchers.IO) {
        val localVarResponse = commerceGetUserOrdersWithHttpInfo(userid = userid)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<CommerceOrder>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/commerce/user/{userid}/orders
     * Get user orders
     * 
     * @param userid 
     * @return ApiResponse<kotlin.collections.List<CommerceOrder>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun commerceGetUserOrdersWithHttpInfo(userid: kotlin.String) : ApiResponse<kotlin.collections.List<CommerceOrder>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = commerceGetUserOrdersRequestConfig(userid = userid)

        return@withContext request<Unit, kotlin.collections.List<CommerceOrder>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation commerceGetUserOrders
     *
     * @param userid 
     * @return RequestConfig
     */
    fun commerceGetUserOrdersRequestConfig(userid: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/commerce/user/{userid}/orders".replace("{"+"userid"+"}", encodeURIComponent(userid.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/commerce/user/{userid}/paymentmethods
     * Get user payment methods
     * 
     * @param userid 
     * @return kotlin.collections.List<CommercePaymentMethod>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun commerceGetUserPaymentMethods(userid: kotlin.String) : kotlin.collections.List<CommercePaymentMethod> = withContext(Dispatchers.IO) {
        val localVarResponse = commerceGetUserPaymentMethodsWithHttpInfo(userid = userid)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<CommercePaymentMethod>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/commerce/user/{userid}/paymentmethods
     * Get user payment methods
     * 
     * @param userid 
     * @return ApiResponse<kotlin.collections.List<CommercePaymentMethod>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun commerceGetUserPaymentMethodsWithHttpInfo(userid: kotlin.String) : ApiResponse<kotlin.collections.List<CommercePaymentMethod>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = commerceGetUserPaymentMethodsRequestConfig(userid = userid)

        return@withContext request<Unit, kotlin.collections.List<CommercePaymentMethod>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation commerceGetUserPaymentMethods
     *
     * @param userid 
     * @return RequestConfig
     */
    fun commerceGetUserPaymentMethodsRequestConfig(userid: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/commerce/user/{userid}/paymentmethods".replace("{"+"userid"+"}", encodeURIComponent(userid.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/commerce/user/{userid}/referrals
     * Get user referrals
     * 
     * @param userid 
     * @return kotlin.collections.List<CommerceReferral>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun commerceGetUserReferrals(userid: kotlin.String) : kotlin.collections.List<CommerceReferral> = withContext(Dispatchers.IO) {
        val localVarResponse = commerceGetUserReferralsWithHttpInfo(userid = userid)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<CommerceReferral>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/commerce/user/{userid}/referrals
     * Get user referrals
     * 
     * @param userid 
     * @return ApiResponse<kotlin.collections.List<CommerceReferral>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun commerceGetUserReferralsWithHttpInfo(userid: kotlin.String) : ApiResponse<kotlin.collections.List<CommerceReferral>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = commerceGetUserReferralsRequestConfig(userid = userid)

        return@withContext request<Unit, kotlin.collections.List<CommerceReferral>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation commerceGetUserReferrals
     *
     * @param userid 
     * @return RequestConfig
     */
    fun commerceGetUserReferralsRequestConfig(userid: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/commerce/user/{userid}/referrals".replace("{"+"userid"+"}", encodeURIComponent(userid.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/commerce/user/{userid}/referrers
     * Get user referrers
     * 
     * @param userid 
     * @return kotlin.collections.List<CommerceReferrer>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun commerceGetUserReferrers(userid: kotlin.String) : kotlin.collections.List<CommerceReferrer> = withContext(Dispatchers.IO) {
        val localVarResponse = commerceGetUserReferrersWithHttpInfo(userid = userid)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<CommerceReferrer>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/commerce/user/{userid}/referrers
     * Get user referrers
     * 
     * @param userid 
     * @return ApiResponse<kotlin.collections.List<CommerceReferrer>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun commerceGetUserReferrersWithHttpInfo(userid: kotlin.String) : ApiResponse<kotlin.collections.List<CommerceReferrer>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = commerceGetUserReferrersRequestConfig(userid = userid)

        return@withContext request<Unit, kotlin.collections.List<CommerceReferrer>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation commerceGetUserReferrers
     *
     * @param userid 
     * @return RequestConfig
     */
    fun commerceGetUserReferrersRequestConfig(userid: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/commerce/user/{userid}/referrers".replace("{"+"userid"+"}", encodeURIComponent(userid.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/commerce/user/{userid}/transactions
     * Get user transactions
     * 
     * @param userid 
     * @return kotlin.collections.Map<kotlin.String, CommerceTransactionData>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun commerceGetUserTransactions(userid: kotlin.String) : kotlin.collections.Map<kotlin.String, CommerceTransactionData> = withContext(Dispatchers.IO) {
        val localVarResponse = commerceGetUserTransactionsWithHttpInfo(userid = userid)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Map<kotlin.String, CommerceTransactionData>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/commerce/user/{userid}/transactions
     * Get user transactions
     * 
     * @param userid 
     * @return ApiResponse<kotlin.collections.Map<kotlin.String, CommerceTransactionData>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun commerceGetUserTransactionsWithHttpInfo(userid: kotlin.String) : ApiResponse<kotlin.collections.Map<kotlin.String, CommerceTransactionData>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = commerceGetUserTransactionsRequestConfig(userid = userid)

        return@withContext request<Unit, kotlin.collections.Map<kotlin.String, CommerceTransactionData>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation commerceGetUserTransactions
     *
     * @param userid 
     * @return RequestConfig
     */
    fun commerceGetUserTransactionsRequestConfig(userid: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/commerce/user/{userid}/transactions".replace("{"+"userid"+"}", encodeURIComponent(userid.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/commerce/user/{userid}/wallet
     * Get user wallet
     * 
     * @param userid 
     * @return CommerceWallet
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun commerceGetUserWallet(userid: kotlin.String) : CommerceWallet = withContext(Dispatchers.IO) {
        val localVarResponse = commerceGetUserWalletWithHttpInfo(userid = userid)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CommerceWallet
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/commerce/user/{userid}/wallet
     * Get user wallet
     * 
     * @param userid 
     * @return ApiResponse<CommerceWallet?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun commerceGetUserWalletWithHttpInfo(userid: kotlin.String) : ApiResponse<CommerceWallet?> = withContext(Dispatchers.IO) {
        val localVariableConfig = commerceGetUserWalletRequestConfig(userid = userid)

        return@withContext request<Unit, CommerceWallet>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation commerceGetUserWallet
     *
     * @param userid 
     * @return RequestConfig
     */
    fun commerceGetUserWalletRequestConfig(userid: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/commerce/user/{userid}/wallet".replace("{"+"userid"+"}", encodeURIComponent(userid.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/commerce/user/{userid}/wallet/account/{name}
     * Get wallet account
     * 
     * @param userid 
     * @param name 
     * @return CommerceWalletAccount
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun commerceGetWalletAccount(userid: kotlin.String, name: kotlin.String) : CommerceWalletAccount = withContext(Dispatchers.IO) {
        val localVarResponse = commerceGetWalletAccountWithHttpInfo(userid = userid, name = name)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CommerceWalletAccount
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/commerce/user/{userid}/wallet/account/{name}
     * Get wallet account
     * 
     * @param userid 
     * @param name 
     * @return ApiResponse<CommerceWalletAccount?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun commerceGetWalletAccountWithHttpInfo(userid: kotlin.String, name: kotlin.String) : ApiResponse<CommerceWalletAccount?> = withContext(Dispatchers.IO) {
        val localVariableConfig = commerceGetWalletAccountRequestConfig(userid = userid, name = name)

        return@withContext request<Unit, CommerceWalletAccount>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation commerceGetWalletAccount
     *
     * @param userid 
     * @param name 
     * @return RequestConfig
     */
    fun commerceGetWalletAccountRequestConfig(userid: kotlin.String, name: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/commerce/user/{userid}/wallet/account/{name}".replace("{"+"userid"+"}", encodeURIComponent(userid.toString())).replace("{"+"name"+"}", encodeURIComponent(name.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/commerce/user
     * List users
     * 
     * @param page Page number (1-indexed) (optional, default to 1)
     * @param display Number of items per page (optional, default to 20)
     * @param sort Sort field (prefix with - for descending) (optional, default to "-UpdatedAt")
     * @param q Search query (optional)
     * @return CommercePaginatedUsers
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun commerceListUsers(page: kotlin.Int? = 1, display: kotlin.Int? = 20, sort: kotlin.String? = "-UpdatedAt", q: kotlin.String? = null) : CommercePaginatedUsers = withContext(Dispatchers.IO) {
        val localVarResponse = commerceListUsersWithHttpInfo(page = page, display = display, sort = sort, q = q)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CommercePaginatedUsers
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/commerce/user
     * List users
     * 
     * @param page Page number (1-indexed) (optional, default to 1)
     * @param display Number of items per page (optional, default to 20)
     * @param sort Sort field (prefix with - for descending) (optional, default to "-UpdatedAt")
     * @param q Search query (optional)
     * @return ApiResponse<CommercePaginatedUsers?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun commerceListUsersWithHttpInfo(page: kotlin.Int?, display: kotlin.Int?, sort: kotlin.String?, q: kotlin.String?) : ApiResponse<CommercePaginatedUsers?> = withContext(Dispatchers.IO) {
        val localVariableConfig = commerceListUsersRequestConfig(page = page, display = display, sort = sort, q = q)

        return@withContext request<Unit, CommercePaginatedUsers>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation commerceListUsers
     *
     * @param page Page number (1-indexed) (optional, default to 1)
     * @param display Number of items per page (optional, default to 20)
     * @param sort Sort field (prefix with - for descending) (optional, default to "-UpdatedAt")
     * @param q Search query (optional)
     * @return RequestConfig
     */
    fun commerceListUsersRequestConfig(page: kotlin.Int?, display: kotlin.Int?, sort: kotlin.String?, q: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (display != null) {
                    put("display", listOf(display.toString()))
                }
                if (sort != null) {
                    put("sort", listOf(sort.toString()))
                }
                if (q != null) {
                    put("q", listOf(q.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/commerce/user",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /v1/commerce/user/{userid}
     * Partially update user
     * 
     * @param userid 
     * @param commerceUser 
     * @return CommerceUser
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun commercePatchUser(userid: kotlin.String, commerceUser: CommerceUser) : CommerceUser = withContext(Dispatchers.IO) {
        val localVarResponse = commercePatchUserWithHttpInfo(userid = userid, commerceUser = commerceUser)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CommerceUser
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /v1/commerce/user/{userid}
     * Partially update user
     * 
     * @param userid 
     * @param commerceUser 
     * @return ApiResponse<CommerceUser?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun commercePatchUserWithHttpInfo(userid: kotlin.String, commerceUser: CommerceUser) : ApiResponse<CommerceUser?> = withContext(Dispatchers.IO) {
        val localVariableConfig = commercePatchUserRequestConfig(userid = userid, commerceUser = commerceUser)

        return@withContext request<CommerceUser, CommerceUser>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation commercePatchUser
     *
     * @param userid 
     * @param commerceUser 
     * @return RequestConfig
     */
    fun commercePatchUserRequestConfig(userid: kotlin.String, commerceUser: CommerceUser) : RequestConfig<CommerceUser> {
        val localVariableBody = commerceUser
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
[...]
