/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.hanzo.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.sdk.models.AnalyticsCreateWebsiteRequest
import ai.hanzo.sdk.models.AnalyticsGetActiveVisitors200Response
import ai.hanzo.sdk.models.AnalyticsGetWebsiteDateRange200Response
import ai.hanzo.sdk.models.AnalyticsTransferWebsiteRequest
import ai.hanzo.sdk.models.AnalyticsUpdateWebsiteRequest
import ai.hanzo.sdk.models.AnalyticsWebsite

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.hanzo.sdk.infrastructure.ApiClient
import ai.hanzo.sdk.infrastructure.ApiResponse
import ai.hanzo.sdk.infrastructure.ClientException
import ai.hanzo.sdk.infrastructure.ClientError
import ai.hanzo.sdk.infrastructure.ServerException
import ai.hanzo.sdk.infrastructure.ServerError
import ai.hanzo.sdk.infrastructure.MultiValueMap
import ai.hanzo.sdk.infrastructure.PartConfig
import ai.hanzo.sdk.infrastructure.RequestConfig
import ai.hanzo.sdk.infrastructure.RequestMethod
import ai.hanzo.sdk.infrastructure.ResponseType
import ai.hanzo.sdk.infrastructure.Success
import ai.hanzo.sdk.infrastructure.toMultiValue

open class WebsitesApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.hanzo.ai")
        }
    }

    /**
     * POST /v1/analytics/websites
     * Create a new website
     * 
     * @param analyticsCreateWebsiteRequest 
     * @return AnalyticsWebsite
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsCreateWebsite(analyticsCreateWebsiteRequest: AnalyticsCreateWebsiteRequest) : AnalyticsWebsite = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsCreateWebsiteWithHttpInfo(analyticsCreateWebsiteRequest = analyticsCreateWebsiteRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AnalyticsWebsite
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/analytics/websites
     * Create a new website
     * 
     * @param analyticsCreateWebsiteRequest 
     * @return ApiResponse<AnalyticsWebsite?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsCreateWebsiteWithHttpInfo(analyticsCreateWebsiteRequest: AnalyticsCreateWebsiteRequest) : ApiResponse<AnalyticsWebsite?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsCreateWebsiteRequestConfig(analyticsCreateWebsiteRequest = analyticsCreateWebsiteRequest)

        return@withContext request<AnalyticsCreateWebsiteRequest, AnalyticsWebsite>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsCreateWebsite
     *
     * @param analyticsCreateWebsiteRequest 
     * @return RequestConfig
     */
    fun analyticsCreateWebsiteRequestConfig(analyticsCreateWebsiteRequest: AnalyticsCreateWebsiteRequest) : RequestConfig<AnalyticsCreateWebsiteRequest> {
        val localVariableBody = analyticsCreateWebsiteRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/analytics/websites",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/analytics/websites/{websiteId}
     * Delete website
     * 
     * @param websiteId 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsDeleteWebsite(websiteId: java.util.UUID) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsDeleteWebsiteWithHttpInfo(websiteId = websiteId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/analytics/websites/{websiteId}
     * Delete website
     * 
     * @param websiteId 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsDeleteWebsiteWithHttpInfo(websiteId: java.util.UUID) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsDeleteWebsiteRequestConfig(websiteId = websiteId)

        return@withContext request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsDeleteWebsite
     *
     * @param websiteId 
     * @return RequestConfig
     */
    fun analyticsDeleteWebsiteRequestConfig(websiteId: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/analytics/websites/{websiteId}".replace("{"+"websiteId"+"}", encodeURIComponent(websiteId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/active
     * Get count of active visitors
     * 
     * @param websiteId 
     * @return AnalyticsGetActiveVisitors200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsGetActiveVisitors(websiteId: java.util.UUID) : AnalyticsGetActiveVisitors200Response = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsGetActiveVisitorsWithHttpInfo(websiteId = websiteId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AnalyticsGetActiveVisitors200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/active
     * Get count of active visitors
     * 
     * @param websiteId 
     * @return ApiResponse<AnalyticsGetActiveVisitors200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsGetActiveVisitorsWithHttpInfo(websiteId: java.util.UUID) : ApiResponse<AnalyticsGetActiveVisitors200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsGetActiveVisitorsRequestConfig(websiteId = websiteId)

        return@withContext request<Unit, AnalyticsGetActiveVisitors200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsGetActiveVisitors
     *
     * @param websiteId 
     * @return RequestConfig
     */
    fun analyticsGetActiveVisitorsRequestConfig(websiteId: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/analytics/websites/{websiteId}/active".replace("{"+"websiteId"+"}", encodeURIComponent(websiteId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/analytics/websites/{websiteId}
     * Get website by ID
     * 
     * @param websiteId 
     * @return AnalyticsWebsite
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsGetWebsite(websiteId: java.util.UUID) : AnalyticsWebsite = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsGetWebsiteWithHttpInfo(websiteId = websiteId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AnalyticsWebsite
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/analytics/websites/{websiteId}
     * Get website by ID
     * 
     * @param websiteId 
     * @return ApiResponse<AnalyticsWebsite?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsGetWebsiteWithHttpInfo(websiteId: java.util.UUID) : ApiResponse<AnalyticsWebsite?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsGetWebsiteRequestConfig(websiteId = websiteId)

        return@withContext request<Unit, AnalyticsWebsite>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsGetWebsite
     *
     * @param websiteId 
     * @return RequestConfig
     */
    fun analyticsGetWebsiteRequestConfig(websiteId: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/analytics/websites/{websiteId}".replace("{"+"websiteId"+"}", encodeURIComponent(websiteId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/daterange
     * Get the date range of data available for a website
     * 
     * @param websiteId 
     * @return AnalyticsGetWebsiteDateRange200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsGetWebsiteDateRange(websiteId: java.util.UUID) : AnalyticsGetWebsiteDateRange200Response = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsGetWebsiteDateRangeWithHttpInfo(websiteId = websiteId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AnalyticsGetWebsiteDateRange200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/daterange
     * Get the date range of data available for a website
     * 
     * @param websiteId 
     * @return ApiResponse<AnalyticsGetWebsiteDateRange200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsGetWebsiteDateRangeWithHttpInfo(websiteId: java.util.UUID) : ApiResponse<AnalyticsGetWebsiteDateRange200Response?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsGetWebsiteDateRangeRequestConfig(websiteId = websiteId)

        return@withContext request<Unit, AnalyticsGetWebsiteDateRange200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsGetWebsiteDateRange
     *
     * @param websiteId 
     * @return RequestConfig
     */
    fun analyticsGetWebsiteDateRangeRequestConfig(websiteId: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/analytics/websites/{websiteId}/daterange".replace("{"+"websiteId"+"}", encodeURIComponent(websiteId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/values
     * Get distinct values for a given column type
     * 
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @param type Column type (e.g. browser, os, device, country, url, referrer, title, event, tag, language, region, city, host)
     * @param search  (optional)
     * @return kotlin.collections.List<kotlin.String>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsGetWebsiteValues(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long, type: kotlin.String, search: kotlin.String? = null) : kotlin.collections.List<kotlin.String> = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsGetWebsiteValuesWithHttpInfo(websiteId = websiteId, startAt = startAt, endAt = endAt, type = type, search = search)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<kotlin.String>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/values
     * Get distinct values for a given column type
     * 
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @param type Column type (e.g. browser, os, device, country, url, referrer, title, event, tag, language, region, city, host)
     * @param search  (optional)
     * @return ApiResponse<kotlin.collections.List<kotlin.String>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsGetWebsiteValuesWithHttpInfo(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long, type: kotlin.String, search: kotlin.String?) : ApiResponse<kotlin.collections.List<kotlin.String>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsGetWebsiteValuesRequestConfig(websiteId = websiteId, startAt = startAt, endAt = endAt, type = type, search = search)

        return@withContext request<Unit, kotlin.collections.List<kotlin.String>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsGetWebsiteValues
     *
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @param type Column type (e.g. browser, os, device, country, url, referrer, title, event, tag, language, region, city, host)
     * @param search  (optional)
     * @return RequestConfig
     */
    fun analyticsGetWebsiteValuesRequestConfig(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long, type: kotlin.String, search: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("startAt", listOf(startAt.toString()))
                put("endAt", listOf(endAt.toString()))
                put("type", listOf(type.toString()))
                if (search != null) {
                    put("search", listOf(search.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/analytics/websites/{websiteId}/values".replace("{"+"websiteId"+"}", encodeURIComponent(websiteId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/analytics/websites
     * List websites owned by current user
     * 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderBy  (optional)
     * @param search  (optional)
     * @return kotlin.collections.List<AnalyticsWebsite>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsListWebsites(page: kotlin.Int? = null, pageSize: kotlin.Int? = null, orderBy: kotlin.String? = null, search: kotlin.String? = null) : kotlin.collections.List<AnalyticsWebsite> = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsListWebsitesWithHttpInfo(page = page, pageSize = pageSize, orderBy = orderBy, search = search)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<AnalyticsWebsite>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/analytics/websites
     * List websites owned by current user
     * 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderBy  (optional)
     * @param search  (optional)
     * @return ApiResponse<kotlin.collections.List<AnalyticsWebsite>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsListWebsitesWithHttpInfo(page: kotlin.Int?, pageSize: kotlin.Int?, orderBy: kotlin.String?, search: kotlin.String?) : ApiResponse<kotlin.collections.List<AnalyticsWebsite>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsListWebsitesRequestConfig(page = page, pageSize = pageSize, orderBy = orderBy, search = search)

        return@withContext request<Unit, kotlin.collections.List<AnalyticsWebsite>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsListWebsites
     *
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderBy  (optional)
     * @param search  (optional)
     * @return RequestConfig
     */
    fun analyticsListWebsitesRequestConfig(page: kotlin.Int?, pageSize: kotlin.Int?, orderBy: kotlin.String?, search: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("pageSize", listOf(pageSize.toString()))
                }
                if (orderBy != null) {
                    put("orderBy", listOf(orderBy.toString()))
                }
                if (search != null) {
                    put("search", listOf(search.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/analytics/websites",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/analytics/websites/{websiteId}/reset
     * Reset all data for a website
     * 
     * @param websiteId 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsResetWebsite(websiteId: java.util.UUID) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsResetWebsiteWithHttpInfo(websiteId = websiteId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/analytics/websites/{websiteId}/reset
     * Reset all data for a website
     * 
     * @param websiteId 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsResetWebsiteWithHttpInfo(websiteId: java.util.UUID) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsResetWebsiteRequestConfig(websiteId = websiteId)

        return@withContext request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsResetWebsite
     *
     * @param websiteId 
     * @return RequestConfig
     */
    fun analyticsResetWebsiteRequestConfig(websiteId: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/analytics/websites/{websiteId}/reset".replace("{"+"websiteId"+"}", encodeURIComponent(websiteId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/analytics/websites/{websiteId}/transfer
     * Transfer website ownership to another user or team
     * 
     * @param websiteId 
     * @param analyticsTransferWebsiteRequest 
     * @return AnalyticsWebsite
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsTransferWebsite(websiteId: java.util.UUID, analyticsTransferWebsiteRequest: AnalyticsTransferWebsiteRequest) : AnalyticsWebsite = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsTransferWebsiteWithHttpInfo(websiteId = websiteId, analyticsTransferWebsiteRequest = analyticsTransferWebsiteRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AnalyticsWebsite
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/analytics/websites/{websiteId}/transfer
     * Transfer website ownership to another user or team
     * 
     * @param websiteId 
     * @param analyticsTransferWebsiteRequest 
     * @return ApiResponse<AnalyticsWebsite?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsTransferWebsiteWithHttpInfo(websiteId: java.util.UUID, analyticsTransferWebsiteRequest: AnalyticsTransferWebsiteRequest) : ApiResponse<AnalyticsWebsite?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsTransferWebsiteRequestConfig(websiteId = websiteId, analyticsTransferWebsiteRequest = analyticsTransferWebsiteRequest)

        return@withContext request<AnalyticsTransferWebsiteRequest, AnalyticsWebsite>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsTransferWebsite
     *
     * @param websiteId 
     * @param analyticsTransferWebsiteRequest 
     * @return RequestConfig
     */
    fun analyticsTransferWebsiteRequestConfig(websiteId: java.util.UUID, analyticsTransferWebsiteRequest: AnalyticsTransferWebsiteRequest) : RequestConfig<AnalyticsTransferWebsiteRequest> {
        val localVariableBody = analyticsTransferWebsiteRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/analytics/websites/{websiteId}/transfer".replace("{"+"websiteId"+"}", encodeURIComponent(websiteId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/analytics/websites/{websiteId}
     * Update website
     * 
     * @param websiteId 
     * @param analyticsUpdateWebsiteRequest 
     * @return AnalyticsWebsite
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun analyticsUpdateWebsite(websiteId: java.util.UUID, analyticsUpdateWebsiteRequest: AnalyticsUpdateWebsiteRequest) : AnalyticsWebsite = withContext(Dispatchers.IO) {
        val localVarResponse = analyticsUpdateWebsiteWithHttpInfo(websiteId = websiteId, analyticsUpdateWebsiteRequest = analyticsUpdateWebsiteRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AnalyticsWebsite
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/analytics/websites/{websiteId}
     * Update website
     * 
     * @param websiteId 
     * @param analyticsUpdateWebsiteRequest 
     * @return ApiResponse<AnalyticsWebsite?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun analyticsUpdateWebsiteWithHttpInfo(websiteId: java.util.UUID, analyticsUpdateWebsiteRequest: AnalyticsUpdateWebsiteRequest) : ApiResponse<AnalyticsWebsite?> = withContext(Dispatchers.IO) {
        val localVariableConfig = analyticsUpdateWebsiteRequestConfig(websiteId = websiteId, analyticsUpdateWebsiteRequest = analyticsUpdateWebsiteRequest)

        return@withContext request<AnalyticsUpdateWebsiteRequest, AnalyticsWebsite>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsUpdateWebsite
     *
     * @param websiteId 
     * @param analyticsUpdateWebsiteRequest 
     * @return RequestConfig
     */
    fun analyticsUpdateWebsiteRequestConfig(websiteId: java.util.UUID, analyticsUpdateWebsiteRequest: AnalyticsUpdateWebsiteRequest) : RequestConfig<AnalyticsUpdateWebsiteRequest> {
        val localVariableBody = analyticsUpdateWebsiteRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/analytics/websites/{websiteId}".replace("{"+"websiteId"+"}", encodeURIComponent(websiteId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
